Repository pagopa/io-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, sd-jwt, apps, docs, ci, infra, changeset

Adding env variables for the MailUp service
  apps/io-wallet-user-func/host.json
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
Labels: apps

add id for psn
  infra/resources/_modules/ids/README.md
  infra/resources/_modules/ids/main.tf
  infra/resources/_modules/ids/outputs.tf
  infra/resources/_modules/ids/psn_identity.tf
  infra/resources/_modules/ids/variables.tf
  infra/resources/prod/README.md
  infra/resources/prod/main.tf
Labels: infra

[CES-526] Add user-assigned managed identity to federate with PSN (#299)
  infra/resources/_modules/ids/README.md
  infra/resources/_modules/ids/main.tf
  infra/resources/_modules/ids/outputs.tf
  infra/resources/_modules/ids/psn_identity.tf
  infra/resources/_modules/ids/variables.tf
  infra/resources/prod/README.md
  infra/resources/prod/main.tf
Labels: infra

[CES-526] Add user-assigned managed identity to federate with PSN (#299)
  infra/resources/_modules/ids/README.md
  infra/resources/_modules/ids/main.tf
  infra/resources/_modules/ids/outputs.tf
  infra/resources/_modules/ids/psn_identity.tf
  infra/resources/_modules/ids/variables.tf
  infra/resources/prod/README.md
  infra/resources/prod/main.tf
Labels: infra

add lock and update id name
  infra/resources/_modules/apim/README.md
  infra/resources/_modules/function_apps/README.md
  infra/resources/_modules/ids/README.md
  infra/resources/_modules/ids/psn_identity.tf
Labels: infra

[CES-526] Add lock to Id federated with PSN and update Id name (#300)
  infra/resources/_modules/apim/README.md
  infra/resources/_modules/function_apps/README.md
  infra/resources/_modules/ids/README.md
  infra/resources/_modules/ids/psn_identity.tf
Labels: infra

[CES-526] Add lock to Id federated with PSN and update Id name (#300)
  infra/resources/_modules/apim/README.md
  infra/resources/_modules/function_apps/README.md
  infra/resources/_modules/ids/README.md
  infra/resources/_modules/ids/psn_identity.tf
Labels: infra

First try integrating the SendMessage API of the MailUp Service
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/package.json
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/email-provider.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  yarn.lock
Labels: apps

Adding to dos
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
Labels: apps

add containers to comsos 2 and remove container modules
  infra/resources/_modules/cosmos/README.md
  infra/resources/_modules/cosmos/cosmos_accounts.tf
  infra/resources/_modules/cosmos/cosmos_containers.tf
  infra/resources/_modules/cosmos/cosmos_databases.tf
  infra/resources/_modules/cosmos/locals.tf
  infra/resources/_modules/cosmos/networking.tf
  infra/resources/_modules/cosmos/variables.tf
  infra/resources/_modules/ids/README.md
  infra/resources/_modules/ids/outputs.tf
  infra/resources/prod/main.tf
Labels: infra

[CES-529] Add database and containers to Cosmos 02 (#301)
  infra/resources/_modules/cosmos/README.md
  infra/resources/_modules/cosmos/cosmos_accounts.tf
  infra/resources/_modules/cosmos/cosmos_containers.tf
  infra/resources/_modules/cosmos/cosmos_databases.tf
  infra/resources/_modules/cosmos/locals.tf
  infra/resources/_modules/cosmos/networking.tf
  infra/resources/_modules/cosmos/variables.tf
  infra/resources/_modules/ids/README.md
  infra/resources/_modules/ids/outputs.tf
  infra/resources/prod/main.tf
Labels: infra

[CES-529] Add database and containers to Cosmos 02 (#301)
  infra/resources/_modules/cosmos/README.md
  infra/resources/_modules/cosmos/cosmos_accounts.tf
  infra/resources/_modules/cosmos/cosmos_containers.tf
  infra/resources/_modules/cosmos/cosmos_databases.tf
  infra/resources/_modules/cosmos/locals.tf
  infra/resources/_modules/cosmos/networking.tf
  infra/resources/_modules/cosmos/variables.tf
  infra/resources/_modules/ids/README.md
  infra/resources/_modules/ids/outputs.tf
  infra/resources/prod/main.tf
Labels: infra

added migrateWalletInstances function
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/functions/migrate-wallet-instances.ts
  apps/io-wallet-user-func/src/infra/handlers/migrate-wallet-instances.ts
Labels: apps

chore: updated IO Wallet Dependencies
  apps/io-wallet-support-func/package.json
  apps/io-wallet-user-func/host.json
  apps/io-wallet-user-func/package.json
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/health.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-current-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-wallet-instance-status.spec.ts
  package.json
  packages/io-wallet-common/package.json
  turbo.json
  yarn.lock
Labels: internal, apps

chore: updated IO Wallet Dependencies
  apps/io-wallet-support-func/package.json
  apps/io-wallet-user-func/host.json
  apps/io-wallet-user-func/package.json
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/health.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-current-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-wallet-instance-status.spec.ts
  package.json
  packages/io-wallet-common/package.json
  turbo.json
  yarn.lock
Labels: internal, apps

added CosmosDbConnectionStringTemp app setting
  infra/resources/prod/locals.tf
Labels: infra

move leases definition outside
  infra/resources/_modules/cosmos/README.md
  infra/resources/_modules/cosmos/cosmos_containers.tf
  infra/resources/_modules/cosmos/locals.tf
  infra/resources/prod/cosmos_moved.tf
  infra/resources/prod/moved.tf
Labels: infra

remove unused file
  infra/resources/prod/moved.tf
Labels: infra

[CES-538] Create leases container only for cosno-01 (#303)
  infra/resources/_modules/cosmos/README.md
  infra/resources/_modules/cosmos/cosmos_containers.tf
  infra/resources/_modules/cosmos/locals.tf
  infra/resources/prod/cosmos_moved.tf
Labels: infra

[CES-538] Create leases container only for cosno-01 (#303)
  infra/resources/_modules/cosmos/README.md
  infra/resources/_modules/cosmos/cosmos_containers.tf
  infra/resources/_modules/cosmos/locals.tf
  infra/resources/prod/cosmos_moved.tf
Labels: infra

updated max_throughput value
  infra/resources/_modules/cosmos/locals.tf
Labels: infra

feat: added migrateWalletInstances function
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/functions/migrate-wallet-instances.ts
  apps/io-wallet-user-func/src/infra/handlers/migrate-wallet-instances.ts
  infra/resources/_modules/cosmos/locals.tf
  infra/resources/prod/locals.tf
Labels: apps, infra

feat: added migrateWalletInstances function
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/functions/migrate-wallet-instances.ts
  apps/io-wallet-user-func/src/infra/handlers/migrate-wallet-instances.ts
  infra/resources/_modules/cosmos/locals.tf
  infra/resources/prod/locals.tf
Labels: apps, infra

run changeset
  .changeset/fuzzy-garlics-design.md
Labels: changeset

run changeset
  .changeset/fuzzy-garlics-design.md
Labels: changeset

run changeset
  .changeset/fuzzy-garlics-design.md
Labels: changeset

set turbo version
  package.json
Labels: none

chore: set turbo version
  package.json
Labels: none

chore: set turbo version
  package.json
Labels: none

run changeset
  .changeset/quiet-flowers-sing.md
Labels: changeset

run changeset
  .changeset/quiet-flowers-sing.md
Labels: changeset

updated yarn lock file
  yarn.lock
Labels: none

fix: updated yarn lock file
  yarn.lock
Labels: none

fix: updated yarn lock file
  yarn.lock
Labels: none

updated turbo.json file
  turbo.json
Labels: none

fix: updated turbo.json file
  turbo.json
Labels: none

fix: updated turbo.json file
  turbo.json
Labels: none

removed createLeaseCollectionIfNotExists property
  .changeset/hip-rockets-fry.md
  apps/io-wallet-user-func/src/app/main.ts
Labels: apps, changeset

chore: removed createLeaseCollectionIfNotExists property
  .changeset/hip-rockets-fry.md
  apps/io-wallet-user-func/src/app/main.ts
Labels: apps, changeset

chore: removed createLeaseCollectionIfNotExists property
  .changeset/hip-rockets-fry.md
  apps/io-wallet-user-func/src/app/main.ts
Labels: apps, changeset

.github/labeler.yml:

internal: packages/**/*
sd-jwt: packages/sd-jwt/*
apps: apps/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*
