Repository pagopa/io-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, infra, changeset

chore: updated createWalletAttestation handler - removed signing key from env vars
  .changeset/cyan-candies-buy.md
  .changeset/cyan-moments-tan.md
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/encoders/wallet-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/create-key-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/create-wallet-instance-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation.ts
  apps/io-wallet-user-func/src/wallet-attestation.ts
  packages/io-wallet-common/src/__tests__/jwk.spec.ts
  packages/io-wallet-common/src/jwk.ts
Labels: apps, changeset

updated
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/handlers/generate-entity-configuration-v1.ts
  infra/resources/_modules/function_apps/locals.tf
Labels: apps, infra

fix code-review
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation.ts
  apps/io-wallet-user-func/src/wallet-attestation.ts
Labels: apps

added app settings
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

removed unused code and env var
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  infra/resources/_modules/function_apps/locals.tf
Labels: apps, infra

formatted infra code
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/iam/functions.tf
Labels: infra

from federationEntityBasePath to federationEntityId
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/create-key-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/create-wallet-instance-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-key-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance-attestation.ts
Labels: apps

updated handlers and env vars
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/encoders/entity-configuration.ts
  apps/io-wallet-user-func/src/entity-configuration.ts
  apps/io-wallet-user-func/src/infra/handlers/generate-entity-configuration-v1.ts
  apps/io-wallet-user-func/src/infra/handlers/generate-entity-configuration-v2.ts
  infra/resources/_modules/function_apps/locals.tf
Labels: apps, infra

fix typecheck
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/crypto/signer.ts
Labels: apps

updated local.settings.json.example file
  apps/io-wallet-user-func/local.settings.json.example
Labels: apps

readded env vars
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

restore env vars
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

chore: updated entity configuration publishing
  .changeset/cool-dingos-flow.md
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/encoders/entity-configuration.ts
  apps/io-wallet-user-func/src/entity-configuration.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/trust-mark.ts
  apps/io-wallet-user-func/src/infra/azure/functions/generate-entity-configuration-v1.ts
  apps/io-wallet-user-func/src/infra/azure/functions/generate-entity-configuration-v2.ts
  apps/io-wallet-user-func/src/infra/azure/functions/generate-entity-configuration.ts
  apps/io-wallet-user-func/src/infra/crypto/signer.ts
  apps/io-wallet-user-func/src/infra/handlers/generate-entity-configuration-v1.ts
  apps/io-wallet-user-func/src/infra/handlers/generate-entity-configuration-v2.ts
  apps/io-wallet-user-func/src/infra/handlers/generate-entity-configuration.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/create-key-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/create-wallet-instance-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-key-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance-attestation.ts
  apps/io-wallet-user-func/src/infra/pid-issuer/client.ts
  infra/resources/_modules/cosmos/locals.tf
  infra/resources/_modules/cosmos/variables.tf
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/_modules/iam/functions.tf
  infra/resources/psn/prod/cdn.tf
  infra/resources/psn/prod/main.tf
Labels: apps, infra, changeset

added cdn uat rewrites
  infra/resources/psn/prod/cdn.tf
Labels: infra

updated app settings uat
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

infra: added cdn uat rewrites
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/psn/prod/cdn.tf
Labels: infra

fix keyRepository in createWalletAttestation
  apps/io-wallet-user-func/src/app/main.ts
Labels: apps

run changeset
  .changeset/slimy-tips-care.md
Labels: changeset

fix: fix createWalletAttestation handler
  .changeset/slimy-tips-care.md
  apps/io-wallet-user-func/src/app/main.ts
Labels: apps, changeset

removed *PublishedKeyNames app settings from code
  .changeset/eleven-onions-switch.md
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
Labels: apps, changeset

chore: removed *PublishedKeyNames env vars
  .changeset/eleven-onions-switch.md
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
Labels: apps, changeset

updated handlers
  .changeset/forty-mammals-fall.md
  apps/io-wallet-user-func/src/infra/http/handlers/create-key-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance-attestation.ts
Labels: apps, changeset

refactor code
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/create-key-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-key-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance-attestation.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/assertion-request-validation.ts
Labels: apps

point-free refactoring
  apps/io-wallet-user-func/src/infra/http/handlers/create-key-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance-attestation.ts
Labels: apps

updated validateKeysToAttest for testers
  apps/io-wallet-user-func/src/infra/http/handlers/create-key-attestation.ts
Labels: apps

Remove unused environment variable from infrastructure plan
  .github/workflows/validate_psn_infra.yaml
Labels: ci

Update Azure API Management module version to 4.1
  infra/resources/psn/prod/apim.tf
Labels: infra

Update terraform lock psn
  infra/resources/psn/prod/.terraform.lock.hcl
Labels: infra

chore: updated createWalletAttestation and createKeyAttestation for load tests
  .changeset/forty-mammals-fall.md
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/create-key-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-key-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance-attestation.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/assertion-request-validation.ts
Labels: apps, changeset

Use tier-aware IT-Wallet APIM alerts (#853)
  .terraform-version
  infra/resources/psn/prod/.terraform.lock.hcl
  infra/resources/psn/prod/apim.tf
Labels: infra

increased nonces throughput
  infra/resources/psn/prod/main.tf
Labels: infra

infra: increased nonces throughput
  infra/resources/psn/prod/main.tf
Labels: infra

update function app settings
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

updated app settings
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/psn/prod/locals.tf
Labels: infra

updated app settings
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/psn/prod/main.tf
Labels: infra

chore: update function app settings
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/psn/prod/locals.tf
  infra/resources/psn/prod/main.tf
Labels: infra

updated email content
  .changeset/twelve-files-greet.md
  apps/io-wallet-user-func/package.json
  apps/io-wallet-user-func/src/infra/handlers/send-email-on-wallet-instance-creation.ts
  pnpm-lock.yaml
Labels: apps, changeset

chore: updated ITW welcome email content
  .changeset/twelve-files-greet.md
  apps/io-wallet-user-func/package.json
  apps/io-wallet-user-func/src/infra/handlers/send-email-on-wallet-instance-creation.ts
  pnpm-lock.yaml
Labels: apps, changeset

fix subject and links
  .changeset/late-clubs-jog.md
  apps/io-wallet-user-func/src/infra/handlers/send-email-on-wallet-instance-creation.ts
Labels: apps, changeset

fix: fix subject and links
  .changeset/late-clubs-jog.md
  apps/io-wallet-user-func/src/infra/handlers/send-email-on-wallet-instance-creation.ts
Labels: apps, changeset

.github/labeler.yml:

apps: apps/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*
