Repository pagopa/io-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, infra, changeset

.github/labeler.yml:

apps: apps/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*

add CDN endpoint contributor to psn fn app and PagoPACosmosDbConnectionString app setting
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/psn/prod/locals.tf
  infra/resources/psn/prod/main.tf
Labels: infra

feat: Add CDN well-known rewrite rule on new FrontDoor and AppGw
  .github/workflows/validate_psn_infra.yaml
  infra/core/psn/hub/prod/appgw.tf
  infra/resources/psn/prod/README.md
  infra/resources/psn/prod/cdn.tf
Labels: ci, infra

Update infra/core/psn/spoke/prod/README.md
  infra/core/psn/spoke/prod/README.md
Labels: infra

add details about pim
  infra/core/psn/spoke/prod/README.md
Labels: infra

apply suggestions
  infra/core/psn/spoke/prod/README.md
Labels: infra

add doc
  infra/core/psn/spoke/prod/README.md
Labels: infra

Apply suggestions from code review
  infra/core/psn/spoke/prod/README.md
Labels: infra

add newest details
  infra/core/psn/spoke/prod/README.md
  infra/resources/psn/prod/README.md
Labels: infra

fmt
  infra/resources/prod/main.tf
Labels: infra

fix: allign terraform
  infra/core/psn/hub/prod/appgw.tf
Labels: infra

fix: iam error cdn endpoint id
  infra/resources/psn/prod/main.tf
Labels: infra

add healthcheck
  infra/resources/psn/prod/README.md
  infra/resources/psn/prod/cdn.tf
Labels: infra

update gw probe
  infra/core/psn/hub/prod/appgw.tf
Labels: infra

fix: CDN rewrite rule
  infra/resources/psn/prod/cdn.tf
Labels: infra

fix: resolve comment
  infra/core/psn/hub/prod/appgw.tf
Labels: infra

Add health check file to storage account CDN (#630)
  infra/core/psn/hub/prod/appgw.tf
  infra/resources/psn/prod/README.md
  infra/resources/psn/prod/cdn.tf
Labels: infra

fix: Removed host name for apim http backend settings and set pick to true
  infra/core/psn/hub/prod/appgw.tf
  infra/resources/psn/prod/apim.tf
Labels: infra

feat: Update iam module for CDN FrontDoor role assign
  infra/resources/_modules/iam/README.md
  infra/resources/_modules/iam/cdn.tf
  infra/resources/_modules/iam/variables.tf
  infra/resources/psn/prod/main.tf
Labels: infra

Add Rewrite rule on new CDN and Application Gateway (#629)
  .github/workflows/validate_psn_infra.yaml
  infra/core/psn/hub/prod/appgw.tf
  infra/resources/_modules/iam/README.md
  infra/resources/_modules/iam/cdn.tf
  infra/resources/_modules/iam/variables.tf
  infra/resources/psn/prod/README.md
  infra/resources/psn/prod/apim.tf
  infra/resources/psn/prod/cdn.tf
  infra/resources/psn/prod/main.tf
Labels: ci, infra

feat: Update APIM backends for functions
  infra/resources/psn/prod/apim_apis.tf
Labels: infra

feat: Update apim policies with rewrite logic
  infra/resources/prod/README.md
  infra/resources/prod/apim_platform.tf
  infra/resources/prod/main.tf
Labels: infra

fix: make backends editable in locals.tf
  infra/resources/psn/prod/apim_apis.tf
  infra/resources/psn/prod/locals.tf
Labels: infra

Update IO APIM Policies with rewrite logic (#632)
  infra/resources/prod/README.md
  infra/resources/prod/apim_platform.tf
  infra/resources/prod/main.tf
Labels: infra

Update APIM Functions backends (#631)
  infra/resources/psn/prod/apim_apis.tf
  infra/resources/psn/prod/locals.tf
Labels: infra

fix: Increase capacities
  infra/core/psn/hub/prod/appgw.tf
  infra/core/psn/spoke/prod/container_app_environment.tf
  infra/resources/_modules/cosmos/README.md
  infra/resources/_modules/cosmos/locals.tf
  infra/resources/_modules/cosmos/variables.tf
  infra/resources/psn/prod/apim.tf
  infra/resources/psn/prod/main.tf
Labels: infra

fix: increase RUs
  infra/resources/psn/prod/main.tf
Labels: infra

add a record api
  infra/resources/psn/prod/README.md
  infra/resources/psn/prod/data.tf
  infra/resources/psn/prod/dns.tf
Labels: infra

Add "api" A record to PSN private dns zone (#634)
  infra/resources/psn/prod/README.md
  infra/resources/psn/prod/data.tf
  infra/resources/psn/prod/dns.tf
Labels: infra

reduce ttl
  infra/resources/_modules/dns/recordsets.tf
Labels: infra

reduce to 300 seconds
  infra/resources/_modules/dns/recordsets.tf
Labels: infra

Step 1 - Reduce TTL for `wallet.io.pagopa.it` root (#622)
  infra/resources/_modules/dns/recordsets.tf
Labels: infra

replace cdn with appgw
  infra/resources/_modules/dns/recordsets.tf
Labels: infra

switched db connection from managed identity to connection string
  .changeset/quiet-jeans-report.md
  apps/io-wallet-user-func/host.json
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  infra/resources/_modules/storage_accounts/storage_containers.tf
  infra/resources/prod/locals.tf
  packages/io-wallet-common/src/infra/azure/cosmos/config.ts
Labels: apps, infra, changeset

reduce ttl to 30 seconds
  infra/resources/_modules/dns/recordsets.tf
Labels: infra

chore: switched db connection from managed identity to connection string
  .changeset/quiet-jeans-report.md
  apps/io-wallet-user-func/host.json
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  infra/resources/_modules/storage_accounts/storage_containers.tf
  infra/resources/prod/locals.tf
  packages/io-wallet-common/src/infra/azure/cosmos/config.ts
Labels: apps, infra, changeset

Step 2 - Switch from CDN Classic to Application Gateway (#623)
  infra/resources/_modules/dns/recordsets.tf
Labels: infra

add record
  infra/resources/prod/README.md
  infra/resources/prod/dns.tf
Labels: infra

scaling appgw
  infra/core/psn/hub/prod/appgw.tf
Labels: infra

add tags
  infra/resources/prod/dns.tf
  infra/resources/prod/locals.tf
Labels: infra

Step 3 - Creation of A record in parent zone io.pagopa.it (#624)
  infra/core/psn/hub/prod/appgw.tf
  infra/resources/prod/README.md
  infra/resources/prod/dns.tf
  infra/resources/prod/locals.tf
Labels: infra
