Repository pagopa/io-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, infra, changeset

.github/labeler.yml:

apps: apps/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*

add PDND APIM resources
  infra/resources/_modules/apim/apim.tf
  infra/resources/prod/.terraform.lock.hcl
  infra/resources/prod/README.md
  infra/resources/prod/apis/pdnd_v1/swagger.yaml
  infra/resources/prod/apis/pdnd_v1/tfmodules.lock.json
  infra/resources/prod/policies/pdnd_base_policy.xml
  infra/resources/prod/policies/pdnd_health_check_operation_policy.xml
  infra/resources/psn/prod/README.md
  infra/resources/psn/prod/apim/api/pdnd/swagger.yaml
  infra/resources/psn/prod/apim_apis.tf
  infra/resources/psn/prod/key_vault_secrets.tf
Labels: infra

updated API name
  infra/resources/_modules/apim/apim.tf
Labels: infra

updated APIM resources
  infra/resources/_modules/apim/api/pdnd/base_policy.xml
  infra/resources/_modules/apim/api/pdnd/set_wallet_instance_status_policy.xml
  infra/resources/_modules/apim/apim.tf
  infra/resources/prod/policies/pdnd_health_check_operation_policy.xml
Labels: infra

removed comment
  infra/resources/_modules/apim/api/pdnd/set_wallet_instance_status_policy.xml
Labels: infra

updated APIM resources
  infra/resources/_modules/apim/api/pdnd/set_wallet_instance_status_policy.xml
  infra/resources/_modules/apim/api/pdnd/swagger.yaml
  infra/resources/_modules/apim/apim.tf
Labels: infra

align wallet status APIs with PUT
  apps/io-wallet-user-func/CHANGELOG.md
  apps/io-wallet-user-func/openapi.yaml
  apps/io-wallet-user-func/src/app/main.ts
  infra/resources/_modules/apim/api/pdnd/swagger.yaml
  infra/resources/psn/prod/apim/api/pdnd/swagger.yaml
Labels: apps, infra

removed unused swaggers
  infra/resources/_modules/apim/api/app/swagger.yaml
  infra/resources/prod/apis/pdnd_v1/swagger.yaml
  infra/resources/prod/apis/pdnd_v1/tfmodules.lock.json
Labels: infra

run pre-commit
  infra/resources/_modules/apim/README.md
  infra/resources/prod/README.md
Labels: infra

removed unused APIM products
  infra/resources/_modules/apim/README.md
  infra/resources/_modules/apim/product.tf
Labels: infra

infra: add PDND APIM resources
  apps/io-wallet-user-func/CHANGELOG.md
  apps/io-wallet-user-func/openapi.yaml
  apps/io-wallet-user-func/src/app/main.ts
  infra/resources/_modules/apim/README.md
  infra/resources/_modules/apim/api/app/swagger.yaml
  infra/resources/_modules/apim/api/pdnd/set_wallet_instance_status_policy.xml
  infra/resources/_modules/apim/api/pdnd/swagger.yaml
  infra/resources/_modules/apim/apim.tf
  infra/resources/_modules/apim/product.tf
  infra/resources/prod/.terraform.lock.hcl
  infra/resources/prod/README.md
  infra/resources/psn/prod/README.md
  infra/resources/psn/prod/apim/api/pdnd/swagger.yaml
  infra/resources/psn/prod/apim_apis.tf
  infra/resources/psn/prod/key_vault_secrets.tf
Labels: apps, infra

add PDND API version set and wire version_set_id for v1
  infra/resources/_modules/apim/apim.tf
Labels: infra

fix: added PDND API version set and wire version_set_id for v1
  infra/resources/_modules/apim/apim.tf
Labels: infra

updated pdnd pagopa swagger
  infra/resources/_modules/apim/api/pdnd/swagger.yaml
Labels: infra

fix: Updated pdnd pagopa swagger
  infra/resources/_modules/apim/api/pdnd/swagger.yaml
Labels: infra

updated pdnd swagger version
  infra/resources/_modules/apim/api/pdnd/swagger.yaml
Labels: infra

fix: updated pdnd swagger version
  infra/resources/_modules/apim/api/pdnd/swagger.yaml
Labels: infra

updated response body health check
  infra/resources/_modules/apim/api/pdnd/health_check_policy.xml
  infra/resources/_modules/apim/api/pdnd/swagger.yaml
Labels: infra

fix: updated response body health check
  infra/resources/_modules/apim/api/pdnd/health_check_policy.xml
  infra/resources/_modules/apim/api/pdnd/swagger.yaml
Labels: infra

remove health check endpoint from apim
  infra/resources/_modules/apim/README.md
  infra/resources/_modules/apim/api/pdnd/swagger.yaml
  infra/resources/_modules/apim/apim.tf
Labels: infra

fix: removed health check endpoint from apim
  infra/resources/_modules/apim/README.md
  infra/resources/_modules/apim/api/pdnd/swagger.yaml
  infra/resources/_modules/apim/apim.tf
Labels: infra

removed unused file
  infra/resources/_modules/apim/api/pdnd/health_check_policy.xml
Labels: infra

chore: removed unused file
  infra/resources/_modules/apim/api/pdnd/health_check_policy.xml
Labels: infra

updated opex api app dashboard name
  apps/io-wallet-user-func/.opex/management/env/prod/config.yaml
Labels: apps

fix: updated opex api app dashboard name
  apps/io-wallet-user-func/.opex/management/env/prod/config.yaml
Labels: apps

add pdnd-uat APIs to PagoPA and PSN APIM instances
  infra/resources/_modules/apim/README.md
  infra/resources/_modules/apim/api/pdnd-uat/set_wallet_instance_status_policy.xml
  infra/resources/_modules/apim/api/pdnd-uat/swagger.yaml
  infra/resources/_modules/apim/apim.tf
  infra/resources/psn/prod/README.md
  infra/resources/psn/prod/apim/api/pdnd-uat/swagger.yaml
  infra/resources/psn/prod/apim_apis.tf
Labels: infra

updated service_url for PagoPA API
  infra/resources/_modules/apim/apim.tf
Labels: infra

infra: added pdnd-uat APIs to PagoPA and PSN APIM instances
  infra/resources/_modules/apim/README.md
  infra/resources/_modules/apim/api/pdnd-uat/set_wallet_instance_status_policy.xml
  infra/resources/_modules/apim/api/pdnd-uat/swagger.yaml
  infra/resources/_modules/apim/apim.tf
  infra/resources/psn/prod/README.md
  infra/resources/psn/prod/apim/api/pdnd-uat/swagger.yaml
  infra/resources/psn/prod/apim_apis.tf
Labels: infra

refactor JWT signing key handling
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/__tests__/token-status-list.spec.ts
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/encoders/wallet-attestation.ts
  apps/io-wallet-user-func/src/entity-configuration.ts
  apps/io-wallet-user-func/src/infra/crypto/__tests__/signer.spec.ts
  apps/io-wallet-user-func/src/infra/crypto/signer.ts
  apps/io-wallet-user-func/src/infra/handlers/generate-entity-configuration.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/create-wallet-instance-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/create-wallet-unit-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/keys.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-unit-attestation.ts
  apps/io-wallet-user-func/src/infra/signer-metadata.ts
  apps/io-wallet-user-func/src/infra/status-list-publication.ts
  apps/io-wallet-user-func/src/signer.ts
  apps/io-wallet-user-func/src/token-status-list.ts
  apps/io-wallet-user-func/src/wallet-attestation-mdoc.ts
  apps/io-wallet-user-func/src/wallet-attestation.ts
  apps/io-wallet-user-func/src/wallet-instance-attestation.ts
  apps/io-wallet-user-func/src/wallet-unit-attestation.ts
  infra/resources/_modules/function_apps/locals.tf
  packages/io-wallet-common/src/__tests__/jwk.spec.ts
  packages/io-wallet-common/src/jwk.ts
Labels: apps, infra

run changeset
  .changeset/proud-towns-smash.md
  .changeset/sweet-baths-notice.md
Labels: changeset

updated env var
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

updated certificateRepository used in statusListPublication function
  apps/io-wallet-user-func/src/app/main.ts
Labels: apps

updated TSL x5c header
  .changeset/small-mice-refuse.md
  apps/io-wallet-user-func/src/app/main.ts
Labels: apps, changeset

fix: updated TSL x5c header
  .changeset/small-mice-refuse.md
  apps/io-wallet-user-func/src/app/main.ts
Labels: apps, changeset

updated create-wallet-attestation
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation.ts
Labels: apps

fix lint
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation.ts
Labels: apps

refactor status list publication dependencies
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/status-list-publication.ts
Labels: apps

rename signing keys as intermediate and leaf
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/entity-configuration.ts
  apps/io-wallet-user-func/src/infra/handlers/generate-entity-configuration.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/generate-certificate-chain.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/generate-certificate-chain.ts
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/psn/prod/locals.tf
Labels: apps, infra

chore: refactor JWT signing key handling
  .changeset/proud-towns-smash.md
  .changeset/sweet-baths-notice.md
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/__tests__/token-status-list.spec.ts
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/encoders/wallet-attestation.ts
  apps/io-wallet-user-func/src/entity-configuration.ts
  apps/io-wallet-user-func/src/infra/crypto/__tests__/signer.spec.ts
  apps/io-wallet-user-func/src/infra/crypto/signer.ts
  apps/io-wallet-user-func/src/infra/handlers/generate-entity-configuration.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/create-wallet-instance-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/create-wallet-unit-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/generate-certificate-chain.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/keys.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-unit-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/generate-certificate-chain.ts
  apps/io-wallet-user-func/src/infra/signer-metadata.ts
  apps/io-wallet-user-func/src/infra/status-list-publication.ts
  apps/io-wallet-user-func/src/signer.ts
  apps/io-wallet-user-func/src/token-status-list.ts
  apps/io-wallet-user-func/src/wallet-attestation-mdoc.ts
  apps/io-wallet-user-func/src/wallet-attestation.ts
  apps/io-wallet-user-func/src/wallet-instance-attestation.ts
  apps/io-wallet-user-func/src/wallet-unit-attestation.ts
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/psn/prod/locals.tf
  packages/io-wallet-common/src/__tests__/jwk.spec.ts
  packages/io-wallet-common/src/jwk.ts
Labels: apps, infra, changeset

derive JWT alg from EC key curve
  apps/io-wallet-user-func/src/infra/crypto/signer.ts
  apps/io-wallet-user-func/src/infra/handlers/generate-entity-configuration.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/create-wallet-instance-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/create-wallet-unit-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-unit-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/generate-certificate-chain.ts
  apps/io-wallet-user-func/src/infra/status-list-publication.ts
  apps/io-wallet-user-func/src/wallet-instance-attestation.ts
Labels: apps

added keys validation at the start
  apps/io-wallet-user-func/src/app/config.ts
Labels: apps
