Repository pagopa/io-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, sd-jwt, apps, docs, ci, infra, changeset

.github/labeler.yml:

internal: packages/**/*
sd-jwt: packages/sd-jwt/*
apps: apps/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*

added trial system integration
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-current-wallet-instance.status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-user-by-fiscal-code.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/health.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-current-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-user-by-fiscal-code.ts
  apps/io-wallet-user-func/src/infra/http/handlers/health.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/handlers/token-auth.ts
  apps/io-wallet-user-func/src/infra/http/handlers/utils.ts
  apps/io-wallet-user-func/src/infra/http/response.ts
  apps/io-wallet-user-func/src/infra/jwt-validator.ts
  apps/io-wallet-user-func/src/infra/pdv-tokenizer/client.ts
  apps/io-wallet-user-func/src/infra/trial-system/client.ts
  apps/io-wallet-user-func/src/infra/trial-system/health-check.ts
  apps/io-wallet-user-func/src/jwt-validator.ts
  apps/io-wallet-user-func/src/user.ts
Labels: apps

udpated trial system integration
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/http/error.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-current-wallet-instance.status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-user-by-fiscal-code.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/health.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-current-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-nonce.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-user-by-fiscal-code.ts
  apps/io-wallet-user-func/src/infra/http/handlers/health.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/handlers/utils.ts
  apps/io-wallet-user-func/src/infra/http/response.ts
  apps/io-wallet-user-func/src/infra/http/token-auth.ts
  apps/io-wallet-user-func/src/infra/http/user-header.ts
  apps/io-wallet-user-func/src/infra/http/whitelisted-user.ts
  apps/io-wallet-user-func/src/infra/trial-system/client.ts
  apps/io-wallet-user-func/src/infra/trial-system/health-check.ts
  apps/io-wallet-user-func/src/user.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
Labels: apps

updated
  apps/io-wallet-user-func/src/error.ts
  apps/io-wallet-user-func/src/infra/http/error.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-user-by-fiscal-code.ts
  apps/io-wallet-user-func/src/infra/http/handlers/health.ts
  apps/io-wallet-user-func/src/infra/http/token-validator.ts
  apps/io-wallet-user-func/src/infra/http/user-id-header-validator.ts
  apps/io-wallet-user-func/src/infra/http/whitelisted-user.ts
  apps/io-wallet-user-func/src/infra/pdv-tokenizer/client.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
Labels: apps

updated
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-current-wallet-instance.status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/token-validator.ts
  apps/io-wallet-user-func/src/infra/jwt-validator.ts
  apps/io-wallet-user-func/src/jwt-validator.ts
Labels: apps

mv token-validator. jwt-validator.ts
  apps/io-wallet-user-func/src/infra/http/jwt-validator.ts
  apps/io-wallet-user-func/src/infra/http/whitelisted-user.ts
  apps/io-wallet-user-func/src/jwt-validator.ts
Labels: apps

fixed tests
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-wallet-instance-status.spec.ts
Labels: apps

updated OpenAPI
  apps/io-wallet-user-func/openapi.yaml
Labels: apps

fixed hsl call
  apps/io-wallet-user-func/src/infra/jwt-validator.ts
Labels: apps

updated status codes
  apps/io-wallet-user-func/src/error.ts
  apps/io-wallet-user-func/src/infra/http/error.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-user-by-fiscal-code.ts
  apps/io-wallet-user-func/src/infra/http/whitelisted-user.ts
  apps/io-wallet-user-func/src/infra/jwt-validator.ts
  apps/io-wallet-user-func/src/user.ts
Labels: apps

updated openapi
  apps/io-wallet-user-func/openapi.yaml
Labels: apps

updated
  apps/io-wallet-user-func/openapi.yaml
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-current-wallet-instance.status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-wallet-instance-status.spec.ts
Labels: apps

add jira task in TODO
  apps/io-wallet-user-func/src/infra/jwt-validator.ts
Labels: apps

fix: Fix GooglePublicKey parsing
  apps/io-wallet-user-func/src/app/config.ts
Labels: apps

fix: Fix GooglePublicKey parsing (#135)
  apps/io-wallet-user-func/src/app/config.ts
Labels: apps

fix: Fix GooglePublicKey parsing (#135)
  apps/io-wallet-user-func/src/app/config.ts
Labels: apps

add jira tasks in TODO
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/jwt-validator.ts
Labels: apps

updated cosmos wallet instance queries
  apps/io-wallet-user-func/src/infra/azure/cosmos/wallet-instance.ts
Labels: apps

run changeset
  .changeset/chilled-lemons-give.md
Labels: changeset

Update config.ts
  apps/io-wallet-user-func/src/app/config.ts
Labels: apps

fix: Fix Apple public key env
  apps/io-wallet-user-func/src/app/config.ts
Labels: apps

fix: Fix Apple public key env
  apps/io-wallet-user-func/src/app/config.ts
Labels: apps

Change Android bundle
  apps/io-wallet-user-func/src/app/config.ts
  infra/resources/_modules/function_apps/locals.tf
Labels: apps, infra

Add changeset
  .changeset/hot-bananas-end.md
Labels: changeset

fix: Change Android bundle identifier
  .changeset/hot-bananas-end.md
  apps/io-wallet-user-func/src/app/config.ts
  infra/resources/_modules/function_apps/locals.tf
Labels: apps, infra, changeset

fix: Change Android bundle identifier
  .changeset/hot-bananas-end.md
  apps/io-wallet-user-func/src/app/config.ts
  infra/resources/_modules/function_apps/locals.tf
Labels: apps, infra, changeset

deleted trial system check
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-user-by-fiscal-code.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-user-by-fiscal-code.ts
  apps/io-wallet-user-func/src/infra/http/whitelisted-user.ts
Labels: apps

run changeset
  .changeset/lucky-fireants-cheat.md
Labels: changeset

udpated
  apps/io-wallet-user-func/src/infra/http/jwt-validator.ts
  apps/io-wallet-user-func/src/infra/http/whitelisted-user.ts
  apps/io-wallet-user-func/src/infra/trial-system/client.ts
  apps/io-wallet-user-func/src/user.ts
Labels: apps

chore: updated trial system integration
  .changeset/lucky-fireants-cheat.md
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-user-by-fiscal-code.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-user-by-fiscal-code.ts
  apps/io-wallet-user-func/src/infra/http/jwt-validator.ts
  apps/io-wallet-user-func/src/infra/http/whitelisted-user.ts
  apps/io-wallet-user-func/src/infra/trial-system/client.ts
  apps/io-wallet-user-func/src/user.ts
Labels: apps, changeset

chore: updated trial system integration
  .changeset/lucky-fireants-cheat.md
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-user-by-fiscal-code.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-user-by-fiscal-code.ts
  apps/io-wallet-user-func/src/infra/http/jwt-validator.ts
  apps/io-wallet-user-func/src/infra/http/whitelisted-user.ts
  apps/io-wallet-user-func/src/infra/trial-system/client.ts
  apps/io-wallet-user-func/src/user.ts
Labels: apps, changeset

added env vars
  apps/io-wallet-user-func/src/app/config.ts
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/prod/locals.tf
Labels: apps, infra

run changeset
  .changeset/strong-lizards-cry.md
Labels: changeset

updated wallet trial id
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

chore: added environment variables
  .changeset/strong-lizards-cry.md
  apps/io-wallet-user-func/src/app/config.ts
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/prod/locals.tf
Labels: apps, infra, changeset

chore: added environment variables
  .changeset/strong-lizards-cry.md
  apps/io-wallet-user-func/src/app/config.ts
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/prod/locals.tf
Labels: apps, infra, changeset

updated header to trial system HTTP requests
  .changeset/many-bats-melt.md
  apps/io-wallet-user-func/src/infra/trial-system/client.ts
Labels: apps, changeset

updated env var
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

chore: updated header to trial system HTTP requests
  .changeset/many-bats-melt.md
  apps/io-wallet-user-func/src/infra/trial-system/client.ts
  infra/resources/_modules/function_apps/locals.tf
Labels: apps, infra, changeset

chore: updated header to trial system HTTP requests
  .changeset/many-bats-melt.md
  apps/io-wallet-user-func/src/infra/trial-system/client.ts
  infra/resources/_modules/function_apps/locals.tf
Labels: apps, infra, changeset

Update index.ts
  apps/io-wallet-user-func/src/infra/trust-anchor/index.ts
Labels: apps
