Repository pagopa/io-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, sd-jwt, apps, docs, ci, infra, changeset

[SIW-411] Remove trailing slashes on URLs (#24)
  apps/io-func-wallet-solution-backend/src/encoders/entity-configuration.ts
  apps/io-func-wallet-solution-backend/src/encoders/wallet-instance-attestation.ts
  apps/io-func-wallet-solution-backend/src/entity-configuration.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/create-wallet-instance-attestation.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/trust-anchor/index.ts
  apps/io-func-wallet-solution-backend/src/url.ts
  apps/io-func-wallet-solution-backend/src/wallet-instance-attestation.ts
Labels: apps

Fix entity
  apps/io-func-wallet-solution-backend/src/encoders/entity-configuration.ts
  apps/io-func-wallet-solution-backend/src/wallet-provider.ts
Labels: apps

Fix import
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/create-wallet-instance-attestation.spec.ts
  apps/io-func-wallet-solution-backend/src/wallet-provider.ts
Labels: apps

fix
  apps/io-func-wallet-solution-backend/src/infra/trust-anchor/index.ts
Labels: apps

Fix test
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/create-wallet-instance-attestation.spec.ts
Labels: apps

test: Fix unit test (#26)
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/create-wallet-instance-attestation.spec.ts
Labels: apps

feat: [SIW-387] Add trust chain to Wallet Instance Attestation (#23)
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/create-wallet-instance-attestation.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/trust-anchor/index.ts
  apps/io-func-wallet-solution-backend/src/trust-anchor.ts
  apps/io-func-wallet-solution-backend/src/wallet-instance-attestation.ts
  turbo.json
Labels: apps

feat: [SIW-387] Add trust chain to Wallet Instance Attestation (#23)
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/create-wallet-instance-attestation.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/trust-anchor/index.ts
  apps/io-func-wallet-solution-backend/src/trust-anchor.ts
  apps/io-func-wallet-solution-backend/src/wallet-instance-attestation.ts
  turbo.json
Labels: apps

chore: Add removeTrailingSlash to other fields
  apps/io-func-wallet-solution-backend/src/encoders/entity-configuration.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/create-wallet-instance-attestation.spec.ts
  apps/io-func-wallet-solution-backend/src/wallet-provider.ts
Labels: apps

chore: Add removeTrailingSlash to other fields
  apps/io-func-wallet-solution-backend/src/encoders/entity-configuration.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/create-wallet-instance-attestation.spec.ts
  apps/io-func-wallet-solution-backend/src/wallet-provider.ts
Labels: apps

upgrade yarn
  .yarn/releases/yarn-3.6.3.cjs
  .yarnrc.yml
  yarn.lock
Labels: none

bundle deps with packages
  apps/io-func-wallet-solution-backend/package.json
Labels: apps

add build:package script
  apps/io-func-wallet-solution-backend/package.json
  package.json
  turbo.json
Labels: apps

docs
  README.md
Labels: none

typo
  README.md
Labels: none

chore: [SIW-418] Build package script (#27)
  .yarn/releases/yarn-3.6.3.cjs
  .yarnrc.yml
  README.md
  apps/io-func-wallet-solution-backend/package.json
  package.json
  turbo.json
  yarn.lock
Labels: apps

chore: [SIW-418] Build package script (#27)
  .yarn/releases/yarn-3.6.3.cjs
  .yarnrc.yml
  README.md
  apps/io-func-wallet-solution-backend/package.json
  package.json
  turbo.json
  yarn.lock
Labels: apps

chore: Remove PID package (#19)
  packages/react-native-eudiw-pid/.eslintrc.js
  packages/react-native-eudiw-pid/.prettierignore
  packages/react-native-eudiw-pid/README.md
  packages/react-native-eudiw-pid/index.js
  packages/react-native-eudiw-pid/package.json
  packages/react-native-eudiw-pid/src/__test__/index.test.ts
  packages/react-native-eudiw-pid/src/index.ts
  packages/react-native-eudiw-pid/src/lib/base64.ts
  packages/react-native-eudiw-pid/src/sd-jwt/__tests__/index.test.ts
  packages/react-native-eudiw-pid/src/sd-jwt/__tests__/types.test.ts
  packages/react-native-eudiw-pid/src/sd-jwt/converters.ts
  packages/react-native-eudiw-pid/src/sd-jwt/index.ts
  packages/react-native-eudiw-pid/src/sd-jwt/types.ts
  packages/react-native-eudiw-pid/tsconfig.json
  packages/react-native-eudiw-pid/vitest.config.ts
Labels: internal

chore: Remove PID package (#19)
  packages/react-native-eudiw-pid/.eslintrc.js
  packages/react-native-eudiw-pid/.prettierignore
  packages/react-native-eudiw-pid/README.md
  packages/react-native-eudiw-pid/index.js
  packages/react-native-eudiw-pid/package.json
  packages/react-native-eudiw-pid/src/__test__/index.test.ts
  packages/react-native-eudiw-pid/src/index.ts
  packages/react-native-eudiw-pid/src/lib/base64.ts
  packages/react-native-eudiw-pid/src/sd-jwt/__tests__/index.test.ts
  packages/react-native-eudiw-pid/src/sd-jwt/__tests__/types.test.ts
  packages/react-native-eudiw-pid/src/sd-jwt/converters.ts
  packages/react-native-eudiw-pid/src/sd-jwt/index.ts
  packages/react-native-eudiw-pid/src/sd-jwt/types.ts
  packages/react-native-eudiw-pid/tsconfig.json
  packages/react-native-eudiw-pid/vitest.config.ts
Labels: internal

BREAKING CHANGE: Update WIA to v0.5.5
  apps/io-func-wallet-solution-backend/package.json
  apps/io-func-wallet-solution-backend/src/encoders/entity-configuration.ts
  apps/io-func-wallet-solution-backend/src/encoders/wallet-instance-attestation.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/create-wallet-instance-attestation.spec.ts
  apps/io-func-wallet-solution-backend/src/wallet-instance-attestation-request.ts
  apps/io-func-wallet-solution-backend/src/wallet-instance-attestation.ts
  apps/io-func-wallet-solution-backend/src/wallet-provider.ts
Labels: apps

Update yarn.lock
  yarn.lock
Labels: none

Fix CI
  .github/workflows/code-review.yaml
Labels: ci

Fix workspaces
  io-wallet.code-workspace
  package.json
  yarn.lock
Labels: none

remove unused packages
  packages/react-native-eudiw-pid/.eslintrc.js
  packages/react-native-eudiw-pid/.prettierignore
  packages/react-native-eudiw-pid/README.md
  packages/react-native-eudiw-pid/index.js
  packages/react-native-eudiw-pid/package.json
  packages/react-native-eudiw-pid/src/__test__/index.test.ts
  packages/react-native-eudiw-pid/src/index.ts
  packages/react-native-eudiw-pid/src/lib/base64.ts
  packages/react-native-eudiw-pid/src/sd-jwt/__tests__/index.test.ts
  packages/react-native-eudiw-pid/src/sd-jwt/__tests__/types.test.ts
  packages/react-native-eudiw-pid/src/sd-jwt/converters.ts
  packages/react-native-eudiw-pid/src/sd-jwt/index.ts
  packages/react-native-eudiw-pid/src/sd-jwt/types.ts
  packages/react-native-eudiw-pid/tsconfig.json
  packages/react-native-eudiw-pid/vitest.config.ts
Labels: internal

feat!: Update Wallet Instance Attestation and Request to v0.5.0
  .github/workflows/code-review.yaml
  apps/io-func-wallet-solution-backend/package.json
  apps/io-func-wallet-solution-backend/src/encoders/entity-configuration.ts
  apps/io-func-wallet-solution-backend/src/encoders/wallet-instance-attestation.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/create-wallet-instance-attestation.spec.ts
  apps/io-func-wallet-solution-backend/src/wallet-instance-attestation-request.ts
  apps/io-func-wallet-solution-backend/src/wallet-instance-attestation.ts
  apps/io-func-wallet-solution-backend/src/wallet-provider.ts
  io-wallet.code-workspace
  package.json
  yarn.lock
Labels: apps, ci

feat!: Update Wallet Instance Attestation and Request to v0.5.0
  .github/workflows/code-review.yaml
  apps/io-func-wallet-solution-backend/package.json
  apps/io-func-wallet-solution-backend/src/encoders/entity-configuration.ts
  apps/io-func-wallet-solution-backend/src/encoders/wallet-instance-attestation.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/create-wallet-instance-attestation.spec.ts
  apps/io-func-wallet-solution-backend/src/wallet-instance-attestation-request.ts
  apps/io-func-wallet-solution-backend/src/wallet-instance-attestation.ts
  apps/io-func-wallet-solution-backend/src/wallet-provider.ts
  io-wallet.code-workspace
  package.json
  yarn.lock
Labels: apps, ci

Add CreateWalletAttestation function and refactor code
  apps/io-func-wallet-solution-backend/CreateWalletInstance/function.json
  apps/io-func-wallet-solution-backend/CreateWalletInstanceAttestation/function.json
  apps/io-func-wallet-solution-backend/GetEntityConfiguration/function.json
  apps/io-func-wallet-solution-backend/src/app/main.ts
  apps/io-func-wallet-solution-backend/src/infra/azure/functions/create-wallet-instance.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/create-wallet-instance-attestation.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/keys.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/trust-anchor.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-func-wallet-solution-backend/src/wallet-instance-attestation-request.ts
Labels: apps

remove deps
  apps/io-func-wallet-solution-backend/src/app/main.ts
Labels: apps

Fix todo
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/create-wallet-instance.ts
Labels: apps

chore: Add CreateWalletAttestation function and refactor tests
  apps/io-func-wallet-solution-backend/CreateWalletInstance/function.json
  apps/io-func-wallet-solution-backend/CreateWalletInstanceAttestation/function.json
  apps/io-func-wallet-solution-backend/GetEntityConfiguration/function.json
  apps/io-func-wallet-solution-backend/src/app/main.ts
  apps/io-func-wallet-solution-backend/src/infra/azure/functions/create-wallet-instance.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/create-wallet-instance-attestation.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/keys.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/trust-anchor.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-func-wallet-solution-backend/src/wallet-instance-attestation-request.ts
Labels: apps

chore: Add CreateWalletAttestation function and refactor tests
  apps/io-func-wallet-solution-backend/CreateWalletInstance/function.json
  apps/io-func-wallet-solution-backend/CreateWalletInstanceAttestation/function.json
  apps/io-func-wallet-solution-backend/GetEntityConfiguration/function.json
  apps/io-func-wallet-solution-backend/src/app/main.ts
  apps/io-func-wallet-solution-backend/src/infra/azure/functions/create-wallet-instance.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/create-wallet-instance-attestation.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/keys.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/trust-anchor.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-func-wallet-solution-backend/src/wallet-instance-attestation-request.ts
Labels: apps

Add iOS attestation validation
  apps/io-func-wallet-solution-backend/package.json
  apps/io-func-wallet-solution-backend/src/app/config.ts
  apps/io-func-wallet-solution-backend/src/app/main.ts
  apps/io-func-wallet-solution-backend/src/attestation-service.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/android.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/index.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/ios.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-func-wallet-solution-backend/src/wallet-instance-request.ts
  apps/io-func-wallet-solution-backend/src/wallet-instance.ts
  yarn.lock
Labels: apps

Add iOS validation
  apps/io-func-wallet-solution-backend/package.json
  apps/io-func-wallet-solution-backend/src/app/config.ts
  apps/io-func-wallet-solution-backend/src/attestation-service.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/android.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/index.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/ios.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/ios/attestation.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/ios/index.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-func-wallet-solution-backend/src/wallet-instance.ts
  yarn.lock
Labels: apps

Fix lint
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/create-wallet-instance.ts
Labels: apps

Add iOS assertion validation
  apps/io-func-wallet-solution-backend/src/attestation-service.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/index.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/ios/__test__/assertion.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/ios/__test__/attestation.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/ios/__test__/config.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/ios/assertion.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/ios/attestation.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/ios/index.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
Labels: apps

Add comment
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/android.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/ios/assertion.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/ios/attestation.ts
Labels: apps

Fix typo
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/index.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/ios/index.ts
Labels: apps

Remove comment
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/ios/attestation.ts
Labels: apps

Fix comments
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/ios/assertion.ts
Labels: apps

Move to android folder
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/android/attestation.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/android/index.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/index.ts
Labels: apps

.github/labeler.yml:

internal: packages/**/*
sd-jwt: packages/sd-jwt/*
apps: apps/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*
