Repository pagopa/io-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, sd-jwt, apps, docs, ci, infra, changeset

.github/labeler.yml:

internal: packages/**/*
sd-jwt: packages/sd-jwt/*
apps: apps/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*

upgrade azurerm version constraint
  infra/resources/prod/.terraform.lock.hcl
  infra/resources/prod/main.tf
Labels: infra

fix tf plan
  infra/resources/_modules/cdn/storage_account.tf
Labels: infra

revert .tf files
  infra/resources/_modules/cdn/storage_account.tf
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/_modules/storage_accounts/outputs.tf
  infra/resources/_modules/storage_accounts/storage_queue.tf
  infra/resources/prod/main.tf
Labels: infra

revert lock file
  infra/resources/prod/.terraform.lock.hcl
Labels: infra

chore: revert to sync call to PID issuer
  .changeset/silent-cherries-help.md
  apps/io-wallet-user-func/.opex/management/env/prod/config.yaml
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/functions/call-pid-issuer-revoke-api.ts
  apps/io-wallet-user-func/src/infra/handlers/__test__/call-pid-issuer-revoke-api.spec.ts
  apps/io-wallet-user-func/src/infra/handlers/call-pid-issuer-revoke-api.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-current-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-current-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-wallet-instance-status.ts
Labels: apps, changeset

chore: revert to sync call to PID issuer
  .changeset/silent-cherries-help.md
  apps/io-wallet-user-func/.opex/management/env/prod/config.yaml
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/functions/call-pid-issuer-revoke-api.ts
  apps/io-wallet-user-func/src/infra/handlers/__test__/call-pid-issuer-revoke-api.spec.ts
  apps/io-wallet-user-func/src/infra/handlers/call-pid-issuer-revoke-api.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-current-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-current-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-wallet-instance-status.ts
Labels: apps, changeset

Using the email generation script to create an html string when sending the email [WORK IN PROGRESS]
  apps/io-wallet-user-func/package.json
  apps/io-wallet-user-func/src/email_generation_script.ts
  apps/io-wallet-user-func/src/infra/handlers/send-email-on-wallet-instance-creation.ts
  apps/io-wallet-user-func/src/templates/assets/logo_app_io.png
  apps/io-wallet-user-func/src/templates/assets/logo_app_io_white.png
  apps/io-wallet-user-func/src/templates/assets/style.css
  apps/io-wallet-user-func/src/templates/partials/divider.mjml
  apps/io-wallet-user-func/src/templates/partials/footer.mjml
  apps/io-wallet-user-func/src/templates/partials/main-logo.mjml
  apps/io-wallet-user-func/src/templates/wallet-instance-activation/index.html
  apps/io-wallet-user-func/src/templates/wallet-instance-activation/index.html.ts
  apps/io-wallet-user-func/src/templates/wallet-instance-activation/index.mjml
  apps/io-wallet-user-func/src/templates/wallet-instance-activation/logo_app_io.png.base64
  apps/io-wallet-user-func/src/templates/wallet-instance-activation/logo_app_io_white.png.base64
  apps/io-wallet-user-func/src/templates/wallet-instance-activation/main-logo.mjml
  yarn.lock
Labels: apps

remove old cosmos db
  infra/github-runner/prod/.terraform.lock.hcl
  infra/resources/_modules/cosmos/README.md
  infra/resources/_modules/cosmos/alerts.tf
  infra/resources/_modules/cosmos/cosmos_accounts.tf
  infra/resources/_modules/cosmos/cosmos_containers.tf
  infra/resources/_modules/cosmos/cosmos_databases.tf
  infra/resources/_modules/cosmos/locals.tf
  infra/resources/_modules/cosmos/networking.tf
  infra/resources/_modules/cosmos/outputs.tf
  infra/resources/_modules/iam/README.md
  infra/resources/_modules/iam/admins.tf
  infra/resources/_modules/iam/functions.tf
  infra/resources/_modules/iam/variables.tf
  infra/resources/_modules/storage_accounts/README.md
  infra/resources/_modules/storage_accounts/storage_accounts.tf
  infra/resources/_modules/storage_accounts/storage_containers.tf
  infra/resources/prod/cosmos_moved.tf
  infra/resources/prod/main.tf
Labels: infra

update gh runner
  infra/github-runner/prod/.terraform.lock.hcl
  infra/github-runner/prod/README.md
  infra/github-runner/prod/locals.tf
  infra/github-runner/prod/main.tf
Labels: infra

give permissions to runner
  infra/identity/prod/.terraform.lock.hcl
  infra/identity/prod/README.md
  infra/identity/prod/main.tf
Labels: infra

update cosmos ru
  infra/resources/_modules/cosmos/locals.tf
Labels: infra

[CES-590] Update TF modules to azurerm v4 and import Cosmos 02 (#335)
  .terraform-version
  infra/github-runner/prod/.terraform.lock.hcl
  infra/github-runner/prod/README.md
  infra/github-runner/prod/locals.tf
  infra/github-runner/prod/main.tf
  infra/identity/prod/.terraform.lock.hcl
  infra/identity/prod/README.md
  infra/identity/prod/main.tf
  infra/resources/_modules/apim/README.md
  infra/resources/_modules/apim/apim.tf
  infra/resources/_modules/apim/product.tf
  infra/resources/_modules/cdn/README.md
  infra/resources/_modules/cdn/storage_account.tf
  infra/resources/_modules/cosmos/README.md
  infra/resources/_modules/cosmos/alerts.tf
  infra/resources/_modules/cosmos/cosmos_accounts.tf
  infra/resources/_modules/cosmos/cosmos_containers.tf
  infra/resources/_modules/cosmos/cosmos_databases.tf
  infra/resources/_modules/cosmos/locals.tf
  infra/resources/_modules/cosmos/networking.tf
  infra/resources/_modules/cosmos/outputs.tf
  infra/resources/_modules/cosmos/variables.tf
  infra/resources/_modules/function_apps/README.md
  infra/resources/_modules/iam/README.md
  infra/resources/_modules/iam/admins.tf
  infra/resources/_modules/iam/functions.tf
  infra/resources/_modules/iam/variables.tf
  infra/resources/_modules/storage_accounts/README.md
  infra/resources/_modules/storage_accounts/storage_accounts.tf
  infra/resources/_modules/storage_accounts/storage_containers.tf
  infra/resources/prod/.terraform.lock.hcl
  infra/resources/prod/README.md
  infra/resources/prod/cosmos_moved.tf
  infra/resources/prod/data.tf
  infra/resources/prod/import.tf
  infra/resources/prod/main.tf
Labels: infra

[CES-590] Update TF modules to azurerm v4 and import Cosmos 02 (#335)
  .terraform-version
  infra/github-runner/prod/.terraform.lock.hcl
  infra/github-runner/prod/README.md
  infra/github-runner/prod/locals.tf
  infra/github-runner/prod/main.tf
  infra/identity/prod/.terraform.lock.hcl
  infra/identity/prod/README.md
  infra/identity/prod/main.tf
  infra/resources/_modules/apim/README.md
  infra/resources/_modules/apim/apim.tf
  infra/resources/_modules/apim/product.tf
  infra/resources/_modules/cdn/README.md
  infra/resources/_modules/cdn/storage_account.tf
  infra/resources/_modules/cosmos/README.md
  infra/resources/_modules/cosmos/alerts.tf
  infra/resources/_modules/cosmos/cosmos_accounts.tf
  infra/resources/_modules/cosmos/cosmos_containers.tf
  infra/resources/_modules/cosmos/cosmos_databases.tf
  infra/resources/_modules/cosmos/locals.tf
  infra/resources/_modules/cosmos/networking.tf
  infra/resources/_modules/cosmos/outputs.tf
  infra/resources/_modules/cosmos/variables.tf
  infra/resources/_modules/function_apps/README.md
  infra/resources/_modules/iam/README.md
  infra/resources/_modules/iam/admins.tf
  infra/resources/_modules/iam/functions.tf
  infra/resources/_modules/iam/variables.tf
  infra/resources/_modules/storage_accounts/README.md
  infra/resources/_modules/storage_accounts/storage_accounts.tf
  infra/resources/_modules/storage_accounts/storage_containers.tf
  infra/resources/prod/.terraform.lock.hcl
  infra/resources/prod/README.md
  infra/resources/prod/cosmos_moved.tf
  infra/resources/prod/data.tf
  infra/resources/prod/import.tf
  infra/resources/prod/main.tf
Labels: infra

Removing useless files; added placeholders to use the email template of WalletInstanceCreation (from @pagopa/io-app-emai-templates)
  apps/io-wallet-user-func/package.json
  apps/io-wallet-user-func/src/email_generation_script.ts
  apps/io-wallet-user-func/src/infra/handlers/send-email-on-wallet-instance-creation.ts
  apps/io-wallet-user-func/src/templates/assets/logo_app_io.png
  apps/io-wallet-user-func/src/templates/assets/logo_app_io_white.png
  apps/io-wallet-user-func/src/templates/assets/style.css
  apps/io-wallet-user-func/src/templates/partials/divider.mjml
  apps/io-wallet-user-func/src/templates/partials/footer.mjml
  apps/io-wallet-user-func/src/templates/partials/main-logo.mjml
  apps/io-wallet-user-func/src/templates/wallet-instance-activation/index.mjml
  yarn.lock
Labels: apps

updated tf config
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/_modules/storage_accounts/outputs.tf
  infra/resources/_modules/storage_accounts/storage_queue.tf
  infra/resources/prod/main.tf
Labels: infra

runned pre-commit
  infra/github-runner/prod/.terraform.lock.hcl
  infra/resources/_modules/apim/README.md
  infra/resources/_modules/function_apps/README.md
  infra/resources/_modules/iam/README.md
  infra/resources/_modules/storage_accounts/README.md
Labels: infra

Applying the correct email template (from @pagopa/io-app-email-templates) for the WI creation
  apps/io-wallet-user-func/package.json
  apps/io-wallet-user-func/src/infra/handlers/send-email-on-wallet-instance-creation.ts
  yarn.lock
Labels: apps

updated terraform config
  infra/github-runner/prod/.terraform.lock.hcl
  infra/resources/_modules/apim/README.md
  infra/resources/_modules/function_apps/README.md
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/_modules/iam/README.md
  infra/resources/_modules/storage_accounts/README.md
  infra/resources/_modules/storage_accounts/outputs.tf
  infra/resources/_modules/storage_accounts/storage_queue.tf
  infra/resources/prod/main.tf
Labels: infra

updated terraform config
  infra/github-runner/prod/.terraform.lock.hcl
  infra/resources/_modules/apim/README.md
  infra/resources/_modules/function_apps/README.md
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/_modules/iam/README.md
  infra/resources/_modules/storage_accounts/README.md
  infra/resources/_modules/storage_accounts/outputs.tf
  infra/resources/_modules/storage_accounts/storage_queue.tf
  infra/resources/prod/main.tf
Labels: infra

Cleaning up the code
  apps/io-wallet-user-func/globals.d.ts
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/package.json
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/infra/handlers/send-email-on-wallet-instance-creation.ts
  yarn.lock
Labels: apps

Removed anchor from link; updated the version of @pagopa/io-app-email-templates
  apps/io-wallet-user-func/package.json
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/infra/email.ts
  yarn.lock
Labels: apps

Using html-to-text to convert HTML content to plain text
  apps/io-wallet-user-func/package.json
  apps/io-wallet-user-func/src/infra/handlers/send-email-on-wallet-instance-creation.ts
  yarn.lock
Labels: apps

Added correct HTML_TO_TEXT_OPTIONS
  apps/io-wallet-user-func/src/infra/handlers/send-email-on-wallet-instance-creation.ts
Labels: apps

Renaming SendEmailQueue
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/_modules/storage_accounts/outputs.tf
  infra/resources/prod/main.tf
Labels: apps, infra

Fixing the azurerm_storage_queue's name
  infra/resources/_modules/storage_accounts/outputs.tf
  infra/resources/_modules/storage_accounts/storage_queue.tf
Labels: infra

Renaming MailFeatureFlag to WalletInstanceCreationEmailFeatureFlag
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  infra/resources/_modules/function_apps/locals.tf
Labels: apps, infra

Fixing WalletInstanceCreationEmailFeatureFlag's name
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  infra/resources/_modules/function_apps/locals.tf
Labels: apps, infra

run changeset and updated cli dependency
  .changeset/dull-rice-wash.md
  package.json
  yarn.lock
Labels: changeset

feat: send an email when the Wallet Instance is created by the user
  .changeset/dull-rice-wash.md
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/package.json
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/email.ts
  apps/io-wallet-user-func/src/infra/azure/functions/send-email-on-wallet-instance-creation.ts
  apps/io-wallet-user-func/src/infra/azure/storage/wallet-instance-revocation.ts
  apps/io-wallet-user-func/src/infra/email.ts
  apps/io-wallet-user-func/src/infra/handlers/send-email-on-wallet-instance-creation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-wallet-user-func/src/wallet-instance-revocation-process.ts
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/_modules/storage_accounts/outputs.tf
  infra/resources/_modules/storage_accounts/storage_queue.tf
  infra/resources/prod/locals.tf
  infra/resources/prod/main.tf
  package.json
  yarn.lock
Labels: apps, infra, changeset

feat: send an email when the Wallet Instance is created by the user
  .changeset/dull-rice-wash.md
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/package.json
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/email.ts
  apps/io-wallet-user-func/src/infra/azure/functions/send-email-on-wallet-instance-creation.ts
  apps/io-wallet-user-func/src/infra/azure/storage/wallet-instance-revocation.ts
  apps/io-wallet-user-func/src/infra/email.ts
  apps/io-wallet-user-func/src/infra/handlers/send-email-on-wallet-instance-creation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-wallet-user-func/src/wallet-instance-revocation-process.ts
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/_modules/storage_accounts/outputs.tf
  infra/resources/_modules/storage_accounts/storage_queue.tf
  infra/resources/prod/locals.tf
  infra/resources/prod/main.tf
  package.json
  yarn.lock
Labels: apps, infra, changeset

upgrade lock file
  infra/resources/prod/.terraform.lock.hcl
Labels: infra

update terraform lock file
  infra/resources/prod/.terraform.lock.hcl
Labels: infra

update terraform lock file
  infra/resources/prod/.terraform.lock.hcl
Labels: infra

updated lock file
  infra/resources/prod/.terraform.lock.hcl
Labels: infra

updated terraform lock file
  infra/resources/prod/.terraform.lock.hcl
Labels: infra

updated terraform lock file
  infra/resources/prod/.terraform.lock.hcl
Labels: infra

add whitelist fiscal codes check
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  infra/resources/prod/locals.tf
Labels: apps, infra

run changeset
  .changeset/perfect-yaks-smell.md
Labels: changeset

removed whitelistemail app setting
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  infra/resources/prod/locals.tf
Labels: apps, infra

chore: Added fiscal code whitelist for WI creation email
  .changeset/perfect-yaks-smell.md
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
Labels: apps, changeset
