Repository pagopa/io-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, infra, changeset

updated local.settings.json.example and fix
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
Labels: apps

add unit tests
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/__test__/attestation.spec.ts
Labels: apps

run changeset
  .changeset/solid-planets-strive.md
Labels: changeset

GooglePublicKeys -> GooglePublicKey
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

removed key vault secret creation
  infra/resources/_modules/function_apps/key_vault_secrets.tf
Labels: infra

revert commit
  infra/resources/_modules/function_apps/key_vault_secrets.tf
Labels: infra

chore: added new Google public key
  .changeset/solid-planets-strive.md
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/__test__/certificates.spec.ts
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/certificates.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/__test__/attestation.spec.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/attestation.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/index.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/index.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/ios/attestation.ts
  infra/resources/_modules/function_apps/locals.tf
Labels: apps, infra, changeset

removed mergeCRL function
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/__test__/certificates.spec.ts
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/certificates.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/index.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/index.ts
  infra/resources/_modules/function_apps/locals.tf
Labels: apps, infra

run changeset
  .changeset/shy-days-slide.md
Labels: changeset

chore: removed mergeCRL function
  .changeset/shy-days-slide.md
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/__test__/certificates.spec.ts
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/certificates.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/index.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/index.ts
  infra/resources/_modules/function_apps/locals.tf
Labels: apps, infra, changeset

add cache to google fetch
  apps/io-wallet-user-func/package.json
  apps/io-wallet-user-func/src/certificates.ts
  pnpm-lock.yaml
Labels: apps

run changeset
  .changeset/beige-cows-talk.md
Labels: changeset

chore: added cache to android attestation status fetch
  .changeset/beige-cows-talk.md
  apps/io-wallet-user-func/package.json
  apps/io-wallet-user-func/src/certificates.ts
  pnpm-lock.yaml
Labels: apps, changeset

updated revoke wallet instance email
  apps/io-wallet-user-func/package.json
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/handlers/send-email-on-wallet-instance-revocation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-wallet-instance-status.ts
  pnpm-lock.yaml
Labels: apps

added comment
  apps/io-wallet-user-func/src/infra/handlers/send-email-on-wallet-instance-revocation.ts
Labels: apps

run changeset
  .changeset/four-beers-fail.md
Labels: changeset

updated @pagopa/io-app-email-templates dependency
  apps/io-wallet-user-func/package.json
  apps/io-wallet-user-func/src/infra/handlers/send-email-on-wallet-instance-revocation.ts
  pnpm-lock.yaml
Labels: apps

chore: updated revoke wallet instance email
  .changeset/four-beers-fail.md
  apps/io-wallet-user-func/package.json
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/handlers/send-email-on-wallet-instance-revocation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-wallet-instance-status.ts
  pnpm-lock.yaml
Labels: apps, changeset

updated node version support function app
  infra/resources/_modules/function_apps/function_app_support.tf
Labels: infra

updated supp to 22 node version
  infra/resources/_modules/function_apps/function_app_support.tf
Labels: infra

updated supp node version
  .node-version
Labels: none

updated user uat function app node version to 22
  infra/resources/_modules/function_apps/function_app_user_uat.tf
Labels: infra

run changeset
  .changeset/loose-dingos-know.md
Labels: changeset

infra: updated node version support function app
  .changeset/loose-dingos-know.md
  .node-version
  infra/resources/_modules/function_apps/function_app_support.tf
  infra/resources/_modules/function_apps/function_app_user_uat.tf
Labels: infra, changeset

updated support minimum instances number
  infra/resources/_modules/function_apps/function_app_support.tf
Labels: infra

upgraded node version in user function app
  infra/resources/_modules/function_apps/function_app_user.tf
Labels: infra

infra: updated minimum supp instances and user node version
  infra/resources/_modules/function_apps/function_app_support.tf
  infra/resources/_modules/function_apps/function_app_user.tf
Labels: infra

updated AndroidAttestationStatusListCheckFF app setting
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

updated creation wallet instance email
  .changeset/fast-jobs-drive.md
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/handlers/send-email-on-wallet-instance-creation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
Labels: apps, changeset

infra: updated AndroidAttestationStatusListCheckFF app setting
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

updated @pagopa/io-app-email-templates
  apps/io-wallet-user-func/package.json
  apps/io-wallet-user-func/src/infra/handlers/send-email-on-wallet-instance-creation.ts
  pnpm-lock.yaml
Labels: apps

fix
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
Labels: apps

chore: updated wallet instance creation email
  .changeset/fast-jobs-drive.md
  apps/io-wallet-user-func/package.json
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/handlers/send-email-on-wallet-instance-creation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  pnpm-lock.yaml
Labels: apps, changeset

removed /token endpoint
  .changeset/little-turkeys-leave.md
  apps/io-wallet-user-func/openapi.yaml
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/attestation-service.ts
  apps/io-wallet-user-func/src/encoders/wallet-attestation.ts
  apps/io-wallet-user-func/src/infra/azure/functions/create-wallet-attestation-v2.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation-v2.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation-v2.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation.ts
  apps/io-wallet-user-func/src/verifier.ts
  apps/io-wallet-user-func/src/wallet-attestation-request.ts
  apps/io-wallet-user-func/src/wallet-attestation.ts
Labels: apps, changeset

updated changeset file
  .changeset/little-turkeys-leave.md
Labels: changeset

removed iOS / Android sequent calls
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/index.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/ios/index.ts
Labels: apps

removed androidAttestationStatusListCheckFF
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-wallet-instance-status.ts
  infra/resources/_modules/function_apps/locals.tf
Labels: apps, infra

revert /mobile-attestation-service changes
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/index.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/ios/index.ts
Labels: apps

run changeset
  .changeset/large-cities-write.md
Labels: changeset

chore: removed FF for wallet instance revocation in `getWalletInstanceStatus`
  .changeset/large-cities-write.md
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-wallet-instance-status.ts
  infra/resources/_modules/function_apps/locals.tf
Labels: apps, infra, changeset

.github/labeler.yml:

apps: apps/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*
