Repository pagopa/io-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, sd-jwt, apps, docs, ci, infra, changeset

.github/labeler.yml:

internal: packages/**/*
sd-jwt: packages/sd-jwt/*
apps: apps/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*

remove unused packages
  lefthook.yml
  packages-sa/io-wallet-instance-attestation/.editorconfig
  packages-sa/io-wallet-instance-attestation/.nvmrc
  packages-sa/io-wallet-instance-attestation/.watchmanconfig
  packages-sa/io-wallet-instance-attestation/CODE_OF_CONDUCT.md
  packages-sa/io-wallet-instance-attestation/CONTRIBUTING.md
  packages-sa/io-wallet-instance-attestation/LICENSE
  packages-sa/io-wallet-instance-attestation/lefthook.yml
  packages-sa/io-wallet-instance-attestation/package.json
  packages-sa/io-wallet-instance-attestation/yarn.lock
Labels: none

restore gitignore
  packages-sa/io-wallet-instance-attestation/.gitignore
Labels: none

Add wallet-attestation+jwt
  apps/io-func-wallet-solution-backend/src/wallet-instance-attestation.ts
Labels: apps

Add wallet-attestation+jwt
  apps/io-func-wallet-solution-backend/src/wallet-instance-attestation.ts
Labels: apps

Add jwt content type
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/create-wallet-instance-attestation.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/get-entity-configuration.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/utils.ts
Labels: apps

readme
  README.md
  packages-sa/io-wallet-instance-attestation/README.md
Labels: none

chore: Change JWT content-type
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/create-wallet-instance-attestation.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/get-entity-configuration.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/utils.ts
Labels: apps

chore: Change JWT content-type
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/create-wallet-instance-attestation.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/get-entity-configuration.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/utils.ts
Labels: apps

setup ci
  .github/workflows/code-review.yaml
  packages-sa/io-wallet-instance-attestation/package.json
Labels: ci

Renaming
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/create-wallet-instance-attestation.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/get-entity-configuration.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/utils.ts
Labels: apps

chore: Change content-type naming
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/create-wallet-instance-attestation.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/get-entity-configuration.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/utils.ts
Labels: apps

chore: Change content-type naming
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/create-wallet-instance-attestation.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/get-entity-configuration.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/utils.ts
Labels: apps

Revert "setup ci"
  .github/workflows/code-review.yaml
  packages-sa/io-wallet-instance-attestation/package.json
Labels: ci

remove pid package
  packages/react-native-eudiw-pid/.eslintrc.js
  packages/react-native-eudiw-pid/.prettierignore
  packages/react-native-eudiw-pid/README.md
  packages/react-native-eudiw-pid/index.js
  packages/react-native-eudiw-pid/package.json
  packages/react-native-eudiw-pid/src/__test__/index.test.ts
  packages/react-native-eudiw-pid/src/index.ts
  packages/react-native-eudiw-pid/src/lib/base64.ts
  packages/react-native-eudiw-pid/src/sd-jwt/__tests__/index.test.ts
  packages/react-native-eudiw-pid/src/sd-jwt/__tests__/types.test.ts
  packages/react-native-eudiw-pid/src/sd-jwt/converters.ts
  packages/react-native-eudiw-pid/src/sd-jwt/index.ts
  packages/react-native-eudiw-pid/src/sd-jwt/types.ts
  packages/react-native-eudiw-pid/tsconfig.json
  packages/react-native-eudiw-pid/vitest.config.ts
Labels: internal

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

chore: Set CreateWalletInstanceAttestation anonymous
  apps/io-func-wallet-solution-backend/CreateWalletInstanceAttestation/function.json
Labels: apps

chore: Set CreateWalletInstanceAttestation anonymous
  apps/io-func-wallet-solution-backend/CreateWalletInstanceAttestation/function.json
Labels: apps

Fix wallet instance key binding
  apps/io-func-wallet-solution-backend/src/encoders/wallet-instance-attestation.ts
  apps/io-func-wallet-solution-backend/src/wallet-instance-attestation.ts
Labels: apps

chore: Fix wallet instance key binding
  apps/io-func-wallet-solution-backend/src/encoders/wallet-instance-attestation.ts
  apps/io-func-wallet-solution-backend/src/wallet-instance-attestation.ts
Labels: apps

chore: Fix wallet instance key binding
  apps/io-func-wallet-solution-backend/src/encoders/wallet-instance-attestation.ts
  apps/io-func-wallet-solution-backend/src/wallet-instance-attestation.ts
Labels: apps

Fix entity configuration
  apps/io-func-wallet-solution-backend/local.settings.json.example
  apps/io-func-wallet-solution-backend/src/app/config.ts
  apps/io-func-wallet-solution-backend/src/encoders/entity-configuration.ts
  apps/io-func-wallet-solution-backend/src/entity-configuration.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/create-wallet-instance-attestation.spec.ts
  apps/io-func-wallet-solution-backend/src/wallet-instance-attestation.ts
Labels: apps

typo fix
  apps/io-func-wallet-solution-backend/local.settings.json.example
Labels: apps

Change authority_hints
  apps/io-func-wallet-solution-backend/src/encoders/entity-configuration.ts
Labels: apps

chore: Fix entity configuration
  apps/io-func-wallet-solution-backend/local.settings.json.example
  apps/io-func-wallet-solution-backend/src/app/config.ts
  apps/io-func-wallet-solution-backend/src/encoders/entity-configuration.ts
  apps/io-func-wallet-solution-backend/src/entity-configuration.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/create-wallet-instance-attestation.spec.ts
  apps/io-func-wallet-solution-backend/src/wallet-instance-attestation.ts
Labels: apps

chore: Fix entity configuration
  apps/io-func-wallet-solution-backend/local.settings.json.example
  apps/io-func-wallet-solution-backend/src/app/config.ts
  apps/io-func-wallet-solution-backend/src/encoders/entity-configuration.ts
  apps/io-func-wallet-solution-backend/src/entity-configuration.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/create-wallet-instance-attestation.spec.ts
  apps/io-func-wallet-solution-backend/src/wallet-instance-attestation.ts
Labels: apps

Add trust anchor interface
  apps/io-func-wallet-solution-backend/src/infra/trust-anchor/index.ts
  apps/io-func-wallet-solution-backend/src/jwk.ts
  apps/io-func-wallet-solution-backend/src/trust-anchor.ts
  apps/io-func-wallet-solution-backend/src/wallet-instance-attestation.ts
  apps/io-func-wallet-solution-backend/tsconfig.json
Labels: apps

Apply suggestions from code review
  apps/io-func-wallet-solution-backend/src/infra/trust-anchor/index.ts
Labels: apps

Pretty
  apps/io-func-wallet-solution-backend/src/infra/trust-anchor/index.ts
Labels: apps

feat: Add trust anchor interface
  apps/io-func-wallet-solution-backend/src/infra/trust-anchor/index.ts
  apps/io-func-wallet-solution-backend/src/jwk.ts
  apps/io-func-wallet-solution-backend/src/trust-anchor.ts
  apps/io-func-wallet-solution-backend/src/wallet-instance-attestation.ts
  apps/io-func-wallet-solution-backend/tsconfig.json
Labels: apps

feat: Add trust anchor interface
  apps/io-func-wallet-solution-backend/src/infra/trust-anchor/index.ts
  apps/io-func-wallet-solution-backend/src/jwk.ts
  apps/io-func-wallet-solution-backend/src/trust-anchor.ts
  apps/io-func-wallet-solution-backend/src/wallet-instance-attestation.ts
  apps/io-func-wallet-solution-backend/tsconfig.json
Labels: apps

chore: improve turbo caching on tests
  turbo.json
Labels: none

add entity statement to the trust chain
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/create-wallet-instance-attestation.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/trust-anchor/index.ts
  apps/io-func-wallet-solution-backend/src/trust-anchor.ts
  apps/io-func-wallet-solution-backend/src/wallet-instance-attestation.ts
Labels: apps

add entity configuration
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/create-wallet-instance-attestation.spec.ts
  apps/io-func-wallet-solution-backend/src/wallet-instance-attestation.ts
Labels: apps

removed slashes
  apps/io-func-wallet-solution-backend/src/encoders/entity-configuration.ts
  apps/io-func-wallet-solution-backend/src/encoders/wallet-instance-attestation.ts
  apps/io-func-wallet-solution-backend/src/url.ts
Labels: apps

refactor
  apps/io-func-wallet-solution-backend/src/encoders/entity-configuration.ts
  apps/io-func-wallet-solution-backend/src/encoders/wallet-instance-attestation.ts
  apps/io-func-wallet-solution-backend/src/entity-configuration.ts
Labels: apps

test
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/create-wallet-instance-attestation.spec.ts
Labels: apps

request entity statement without slashes
  apps/io-func-wallet-solution-backend/src/infra/trust-anchor/index.ts
Labels: apps

fix
  apps/io-func-wallet-solution-backend/src/infra/trust-anchor/index.ts
  apps/io-func-wallet-solution-backend/src/wallet-instance-attestation.ts
Labels: apps

[SIW-411] Remove trailing slashes on URLs (#24)
  apps/io-func-wallet-solution-backend/src/encoders/entity-configuration.ts
  apps/io-func-wallet-solution-backend/src/encoders/wallet-instance-attestation.ts
  apps/io-func-wallet-solution-backend/src/entity-configuration.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/create-wallet-instance-attestation.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/trust-anchor/index.ts
  apps/io-func-wallet-solution-backend/src/url.ts
  apps/io-func-wallet-solution-backend/src/wallet-instance-attestation.ts
Labels: apps
