Repository pagopa/io-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, infra, changeset

Secure Terraform state file by closing Storage Account connection (#576)
  infra/core/psn/spoke/prod/README.md
  infra/core/psn/spoke/prod/data.tf
  infra/core/psn/spoke/prod/locals.tf
  infra/core/psn/spoke/prod/providers.tf
  infra/core/psn/spoke/prod/storage_accounts.tf
Labels: infra

Add Wallet action group to PSN (#575)
  infra/resources/_modules/monitoring/README.md
  infra/resources/_modules/monitoring/action_groups.tf
  infra/resources/_modules/monitoring/variables.tf
  infra/resources/prod/main.tf
  infra/resources/psn/prod/README.md
  infra/resources/psn/prod/data.tf
  infra/resources/psn/prod/locals.tf
  infra/resources/psn/prod/main.tf
Labels: infra

add storage accounts
  infra/core/psn/hub/prod/README.md
  infra/core/psn/hub/prod/locals.tf
  infra/core/psn/hub/prod/private_dns_zones.tf
  infra/resources/_modules/storage_accounts/README.md
  infra/resources/_modules/storage_accounts/alerts.tf
  infra/resources/_modules/storage_accounts/locals.tf
  infra/resources/_modules/storage_accounts/main.tf
  infra/resources/_modules/storage_accounts/networking.tf
  infra/resources/_modules/storage_accounts/outputs.tf
  infra/resources/_modules/storage_accounts/secrets.tf
  infra/resources/_modules/storage_accounts/storage_accounts.tf
  infra/resources/_modules/storage_accounts/storage_containers.tf
  infra/resources/_modules/storage_accounts/storage_queue.tf
  infra/resources/_modules/storage_accounts/variables.tf
  infra/resources/prod/.terraform.lock.hcl
  infra/resources/prod/README.md
  infra/resources/prod/data.tf
  infra/resources/prod/main.tf
  infra/resources/prod/tfmodules.lock.json
  infra/resources/psn/prod/README.md
  infra/resources/psn/prod/architecture.mmd
  infra/resources/psn/prod/architecture.png
  infra/resources/psn/prod/data.tf
  infra/resources/psn/prod/locals.tf
  infra/resources/psn/prod/main.tf
Labels: infra

Add Storage Account with HSM as CMK (#577)
  infra/core/psn/hub/prod/README.md
  infra/core/psn/hub/prod/locals.tf
  infra/core/psn/hub/prod/private_dns_zones.tf
  infra/resources/_modules/storage_accounts/README.md
  infra/resources/_modules/storage_accounts/alerts.tf
  infra/resources/_modules/storage_accounts/locals.tf
  infra/resources/_modules/storage_accounts/main.tf
  infra/resources/_modules/storage_accounts/networking.tf
  infra/resources/_modules/storage_accounts/outputs.tf
  infra/resources/_modules/storage_accounts/secrets.tf
  infra/resources/_modules/storage_accounts/storage_accounts.tf
  infra/resources/_modules/storage_accounts/storage_containers.tf
  infra/resources/_modules/storage_accounts/storage_queue.tf
  infra/resources/_modules/storage_accounts/variables.tf
  infra/resources/prod/.terraform.lock.hcl
  infra/resources/prod/README.md
  infra/resources/prod/data.tf
  infra/resources/prod/main.tf
  infra/resources/prod/tfmodules.lock.json
  infra/resources/psn/prod/README.md
  infra/resources/psn/prod/architecture.mmd
  infra/resources/psn/prod/architecture.png
  infra/resources/psn/prod/data.tf
  infra/resources/psn/prod/locals.tf
  infra/resources/psn/prod/main.tf
Labels: infra

add cosmos
  infra/core/psn/hub/prod/.terraform.lock.hcl
  infra/resources/_modules/apim/README.md
  infra/resources/_modules/cdn/README.md
  infra/resources/_modules/cosmos/README.md
  infra/resources/_modules/cosmos/alerts.tf
  infra/resources/_modules/cosmos/cosmos_accounts.tf
  infra/resources/_modules/cosmos/cosmos_containers.tf
  infra/resources/_modules/cosmos/cosmos_databases.tf
  infra/resources/_modules/cosmos/locals.tf
  infra/resources/_modules/cosmos/main.tf
  infra/resources/_modules/cosmos/networking.tf
  infra/resources/_modules/cosmos/outputs.tf
  infra/resources/_modules/cosmos/variables.tf
  infra/resources/_modules/function_apps/README.md
  infra/resources/prod/main.tf
  infra/resources/prod/moved.tf
  infra/resources/psn/prod/README.md
  infra/resources/psn/prod/architecture.mmd
  infra/resources/psn/prod/architecture.png
  infra/resources/psn/prod/data.tf
  infra/resources/psn/prod/main.tf
Labels: infra

feat: Add terraform plan workflow for PSN core
  .github/workflows/validate_psn_infra.yaml
Labels: ci

fix: Test PSN plan workflow
  .github/workflows/validate_psn_infra.yaml
Labels: ci

fix: add concurrency and used tmp branch for workflow
  .github/workflows/validate_psn_infra.yaml
Labels: ci

fix: added parallelism to 1
  .github/workflows/validate_psn_infra.yaml
Labels: ci

fix: typo
  .github/workflows/validate_psn_infra.yaml
Labels: ci

fix: enabled self hosted
  .github/workflows/validate_psn_infra.yaml
Labels: ci

add dns zones for cae and acr
  infra/core/psn/hub/prod/README.md
  infra/core/psn/hub/prod/locals.tf
  infra/core/psn/hub/prod/private_dns_zones.tf
Labels: infra

Add DNS zones and their links to spoke for CAE and ACR (#579)
  infra/core/psn/hub/prod/README.md
  infra/core/psn/hub/prod/locals.tf
  infra/core/psn/hub/prod/private_dns_zones.tf
Labels: infra

Add Cosmos Account with HSM key as CMK (#578)
  infra/core/psn/hub/prod/.terraform.lock.hcl
  infra/resources/_modules/apim/README.md
  infra/resources/_modules/cdn/README.md
  infra/resources/_modules/cosmos/README.md
  infra/resources/_modules/cosmos/alerts.tf
  infra/resources/_modules/cosmos/cosmos_accounts.tf
  infra/resources/_modules/cosmos/cosmos_containers.tf
  infra/resources/_modules/cosmos/cosmos_databases.tf
  infra/resources/_modules/cosmos/locals.tf
  infra/resources/_modules/cosmos/main.tf
  infra/resources/_modules/cosmos/networking.tf
  infra/resources/_modules/cosmos/outputs.tf
  infra/resources/_modules/cosmos/variables.tf
  infra/resources/_modules/function_apps/README.md
  infra/resources/prod/main.tf
  infra/resources/prod/moved.tf
  infra/resources/psn/prod/README.md
  infra/resources/psn/prod/architecture.mmd
  infra/resources/psn/prod/architecture.png
  infra/resources/psn/prod/data.tf
  infra/resources/psn/prod/main.tf
Labels: infra

add monitoring resources
  infra/core/psn/hub/prod/README.md
  infra/core/psn/hub/prod/locals.tf
  infra/core/psn/hub/prod/private_dns_zones.tf
  infra/core/psn/spoke/prod/README.md
  infra/core/psn/spoke/prod/data.tf
  infra/core/psn/spoke/prod/monitoring.tf
  infra/core/psn/spoke/prod/resource_groups.tf
Labels: infra

Update infra/core/psn/spoke/prod/monitoring.tf
  infra/core/psn/spoke/prod/monitoring.tf
Labels: infra

Update infra/core/psn/spoke/prod/monitoring.tf
  infra/core/psn/spoke/prod/monitoring.tf
Labels: infra

Update infra/core/psn/spoke/prod/monitoring.tf
  infra/core/psn/spoke/prod/monitoring.tf
Labels: infra

Add monitoring resources (#580)
  infra/core/psn/hub/prod/README.md
  infra/core/psn/hub/prod/locals.tf
  infra/core/psn/hub/prod/private_dns_zones.tf
  infra/core/psn/spoke/prod/README.md
  infra/core/psn/spoke/prod/data.tf
  infra/core/psn/spoke/prod/monitoring.tf
  infra/core/psn/spoke/prod/resource_groups.tf
Labels: infra

delete moved files
  infra/resources/prod/moved.tf
Labels: infra

update diagram
  infra/resources/psn/prod/architecture.mmd
  infra/resources/psn/prod/architecture.png
Labels: infra

Add function apps
  infra/resources/_modules/function_apps/README.md
  infra/resources/_modules/function_apps/alerts.tf
  infra/resources/_modules/function_apps/data.tf
  infra/resources/_modules/function_apps/function_app_support.tf
  infra/resources/_modules/function_apps/function_app_user.tf
  infra/resources/_modules/function_apps/function_app_user_uat.tf
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/main.tf
  infra/resources/_modules/function_apps/nat_gateways.tf
  infra/resources/_modules/function_apps/networking.tf
  infra/resources/_modules/function_apps/outputs.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/prod/main.tf
  infra/resources/prod/moved.tf
  infra/resources/prod/tfmodules.lock.json
  infra/resources/psn/prod/README.md
  infra/resources/psn/prod/data.tf
  infra/resources/psn/prod/main.tf
Labels: infra

feat: Add release workflow base
  .github/workflows/release_psn_infra.yaml
Labels: ci

fix: first run
  .github/workflows/release_psn_infra.yaml
Labels: ci

feat: add release job and remove test branch
  .github/workflows/release_psn_infra.yaml
Labels: ci

replace next cidr block
  infra/resources/psn/prod/README.md
  infra/resources/psn/prod/main.tf
Labels: infra

update pre commit
  infra/resources/prod/tfmodules.lock.json
  infra/resources/psn/prod/.terraform.lock.hcl
  infra/resources/psn/prod/README.md
Labels: infra

Add Function Apps in PSN tenant (#581)
  infra/resources/_modules/function_apps/README.md
  infra/resources/_modules/function_apps/alerts.tf
  infra/resources/_modules/function_apps/data.tf
  infra/resources/_modules/function_apps/function_app_support.tf
  infra/resources/_modules/function_apps/function_app_user.tf
  infra/resources/_modules/function_apps/function_app_user_uat.tf
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/main.tf
  infra/resources/_modules/function_apps/nat_gateways.tf
  infra/resources/_modules/function_apps/networking.tf
  infra/resources/_modules/function_apps/outputs.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/prod/main.tf
  infra/resources/prod/moved.tf
  infra/resources/prod/tfmodules.lock.json
  infra/resources/psn/prod/.terraform.lock.hcl
  infra/resources/psn/prod/README.md
  infra/resources/psn/prod/architecture.mmd
  infra/resources/psn/prod/architecture.png
  infra/resources/psn/prod/data.tf
  infra/resources/psn/prod/main.tf
Labels: infra

fic: add psn folder
  .github/workflows/release_psn_infra.yaml
  .github/workflows/validate_psn_infra.yaml
Labels: ci

add workflow for certificate renewal
  .github/workflows/psn_internal_io_pagopa_it.yaml
Labels: ci

branch trigger
  .github/workflows/psn_internal_io_pagopa_it.yaml
Labels: ci

fake change
  .github/workflows/psn_internal_io_pagopa_it.yaml
Labels: ci

fix: removed hub and spoke for test
  .github/workflows/validate_psn_infra.yaml
Labels: ci

feat: add deploy function app for tests
  .github/workflows/user_uat_function_deploy_tmp.yaml
Labels: ci

feat: add deploy function app for tests
  .github/workflows/user_uat_function_deploy_tmp.yaml
Labels: ci

fix: label
  .github/workflows/user_uat_function_deploy_tmp.yaml
Labels: ci

add private endpoint
  .github/workflows/psn_internal_io_pagopa_it.yaml
  infra/core/pagopa/prod/.terraform.lock.hcl
  infra/core/pagopa/prod/README.md
  infra/core/pagopa/prod/data.tf
  infra/core/pagopa/prod/locals.tf
  infra/core/pagopa/prod/providers.tf
  infra/core/pagopa/prod/psn_integration.tf
  infra/resources/psn/prod/architecture.mmd
  infra/resources/psn/prod/architecture.png
Labels: ci, infra

Add Private Endpoint to allow IO to connect to Hub Application Gateway (#584)
  infra/core/pagopa/prod/.terraform.lock.hcl
  infra/core/pagopa/prod/README.md
  infra/core/pagopa/prod/data.tf
  infra/core/pagopa/prod/locals.tf
  infra/core/pagopa/prod/providers.tf
  infra/core/pagopa/prod/psn_integration.tf
  infra/resources/psn/prod/architecture.mmd
  infra/resources/psn/prod/architecture.png
Labels: infra

add storage account
  infra/resources/psn/prod/README.md
  infra/resources/psn/prod/cdn.tf
Labels: infra

update diagram
  infra/resources/psn/prod/architecture.mmd
  infra/resources/psn/prod/architecture.png
Labels: infra

.github/labeler.yml:

apps: apps/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*
