Repository pagopa/io-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, sd-jwt, apps, docs, ci, infra, changeset

.github/labeler.yml:

internal: packages/**/*
sd-jwt: packages/sd-jwt/*
apps: apps/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*

Removing duplicated "FAQ" string
  apps/io-wallet-user-func/src/templates/wallet-instance-activation/index.html.ts
  apps/io-wallet-user-func/src/templates/wallet-instance-activation/index.mjml
Labels: apps

Fixed a small typo in the email template
  apps/io-wallet-user-func/src/templates/wallet-instance-activation/index.html.ts
  apps/io-wallet-user-func/src/templates/wallet-instance-activation/index.mjml
Labels: apps

add new function
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/credential.ts
  apps/io-wallet-user-func/src/infra/azure/functions/call-pid-issuer-revoke-api.ts
  apps/io-wallet-user-func/src/infra/handlers/__test__/call-pid-issuer-revoke-api.spec.ts
  apps/io-wallet-user-func/src/infra/handlers/call-pid-issuer-revoke-api.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-current-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/pid-issuer/client.ts
Labels: apps

removed ts call in apim
  infra/resources/_modules/apim/api/ioweb/_base_policy.xml
  infra/resources/_modules/apim/apim.tf
Labels: infra

Updating the email template
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-wallet-user-func/src/templates/wallet-instance-activation/index.html.ts
  apps/io-wallet-user-func/src/templates/wallet-instance-activation/index.mjml
Labels: apps

Sending email on wallet instance creation (event triggered by an azure storage queue)
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/functions/send-email-on-wallet-instance-creation.ts
  apps/io-wallet-user-func/src/infra/handlers/send-email-on-wallet-instance-creation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
Labels: apps

updated
  apps/io-wallet-user-func/.opex/management/env/prod/config.yaml
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/storage/queue.ts
  apps/io-wallet-user-func/src/infra/azure/storage/wallet-instance-revocation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-current-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-current-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-wallet-instance-status.ts
Labels: apps

Fixing queue name in the storage queue handler
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/handlers/send-email-on-wallet-instance-creation.ts
Labels: apps

Insert the wallet instance created into the creation queue (insteaad of sending the email directly)
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/queue/wallet-instance-creation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
Labels: apps

Using a common class (WalletInstanceStorageQueue) for the revocation process and creation process
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/queue/wallet-instance-creation.ts
  apps/io-wallet-user-func/src/infra/azure/queue/wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
Labels: apps

Considering the strictly necessary information in the WI creation queue; renaming env var
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/queue/wallet-instance.ts
  apps/io-wallet-user-func/src/infra/handlers/send-email-on-wallet-instance-creation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
Labels: apps

Renaming "RevocationQueueName" in "WalletInstanceRevocationQueueName"
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
Labels: apps

Renaming a function
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/functions/send-email-on-wallet-instance-creation.ts
Labels: apps

Using visibilityTimeout parameter (function parameter) in the inert() function, instead of an "hardocded value" for all queue
  apps/io-wallet-user-func/src/infra/azure/queue/wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-wallet-user-func/src/wallet-instance-revocation-process.ts
Labels: apps

Updating terraform var name
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

allow 'account.ioapp.it' subdomain
  infra/resources/_modules/apim/api/ioweb/_base_policy.xml
Labels: infra

WI revocation process restored
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/queue/wallet-instance-revocation.ts
  apps/io-wallet-user-func/src/wallet-instance-revocation-process.ts
Labels: apps

fix lint
  apps/io-wallet-user-func/src/infra/http/handlers/set-current-wallet-instance-status.ts
Labels: apps

delete comments
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/credential.ts
Labels: apps

Using FiscalCode for the Wallet Instance Creation Queue (instead of a WalletInstanceCreationEntry
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/queue/wallet-instance.ts
  apps/io-wallet-user-func/src/infra/handlers/send-email-on-wallet-instance-creation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
Labels: apps

invert operations
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-current-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-wallet-instance-status.ts
Labels: apps

renamed queue
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/prod/main.tf
Labels: apps, infra

Fixing unit test for the CreateWalletInstance
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
Labels: apps

add tf for queue creation and new app setting
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/_modules/storage_accounts/outputs.tf
  infra/resources/_modules/storage_accounts/storage_queue.tf
  infra/resources/prod/main.tf
Labels: infra

fix tf
  infra/resources/prod/main.tf
Labels: infra

Using asyc in the sendMessage() function
  apps/io-wallet-user-func/src/infra/azure/storage/queue.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
Labels: apps

removed trial system call in APIM
  infra/resources/_modules/apim/api/ioweb/_base_policy.xml
  infra/resources/_modules/apim/apim.tf
Labels: infra

removed trial system call in APIM
  infra/resources/_modules/apim/api/ioweb/_base_policy.xml
  infra/resources/_modules/apim/apim.tf
Labels: infra

allow 'account.ioapp.it' subdomain for io-web
  infra/resources/_modules/apim/api/ioweb/_base_policy.xml
Labels: infra

allow 'account.ioapp.it' subdomain for io-web
  infra/resources/_modules/apim/api/ioweb/_base_policy.xml
Labels: infra

removed resource and data source ts-related
  infra/resources/_modules/apim/apim.tf
Labels: infra

added callPidIssuerRevokeApi as function staging-disabled
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

chore: added async call to PID issuer
  apps/io-wallet-user-func/.opex/management/env/prod/config.yaml
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/functions/call-pid-issuer-revoke-api.ts
  apps/io-wallet-user-func/src/infra/azure/storage/queue.ts
  apps/io-wallet-user-func/src/infra/azure/storage/wallet-instance-revocation.ts
  apps/io-wallet-user-func/src/infra/handlers/__test__/call-pid-issuer-revoke-api.spec.ts
  apps/io-wallet-user-func/src/infra/handlers/call-pid-issuer-revoke-api.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-current-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-current-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/pid-issuer/client.ts
  infra/resources/_modules/apim/apim.tf
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/_modules/storage_accounts/outputs.tf
  infra/resources/_modules/storage_accounts/storage_queue.tf
  infra/resources/prod/main.tf
Labels: apps, infra

chore: added async call to PID issuer
  apps/io-wallet-user-func/.opex/management/env/prod/config.yaml
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/functions/call-pid-issuer-revoke-api.ts
  apps/io-wallet-user-func/src/infra/azure/storage/queue.ts
  apps/io-wallet-user-func/src/infra/azure/storage/wallet-instance-revocation.ts
  apps/io-wallet-user-func/src/infra/handlers/__test__/call-pid-issuer-revoke-api.spec.ts
  apps/io-wallet-user-func/src/infra/handlers/call-pid-issuer-revoke-api.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-current-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-current-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/pid-issuer/client.ts
  infra/resources/_modules/apim/apim.tf
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/_modules/storage_accounts/outputs.tf
  infra/resources/_modules/storage_accounts/storage_queue.tf
  infra/resources/prod/main.tf
Labels: apps, infra

run changeset
  .changeset/khaki-tools-pretend.md
Labels: changeset

run changeset
  .changeset/khaki-tools-pretend.md
Labels: changeset

run changeset
  .changeset/khaki-tools-pretend.md
Labels: changeset

Disabling sendEmailOnWalletInstanceCreationQueue from a "double trigger" on staging
  apps/io-wallet-user-func/src/app/main.ts
  infra/resources/_modules/function_apps/locals.tf
Labels: apps, infra

Renaming "WalletInstanceCreationQueueName" env var; using storage.walletInstances.queues instead of queue
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
Labels: apps

Renaming getUserInfoByFiscalCode() function; fixing a small typo
  apps/io-wallet-user-func/src/infra/azure/storage/wallet-instance-revocation.ts
  apps/io-wallet-user-func/src/infra/handlers/send-email-on-wallet-instance-creation.ts
  apps/io-wallet-user-func/src/templates/wallet-instance-activation/index.html.ts
  apps/io-wallet-user-func/src/wallet-instance-revocation-process.ts
Labels: apps
