Repository pagopa/io-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, infra, changeset

.github/labeler.yml:

apps: apps/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*

removed unique endpoint and added /wallet-instance-attestation endpoint
  .changeset/seven-baboons-stare.md
  .changeset/thick-houses-stay.md
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/functions/add-wallet-instance-user-id.ts
  apps/io-wallet-user-func/src/infra/azure/functions/create-wallet-attestations.ts
  apps/io-wallet-user-func/src/infra/azure/functions/create-wallet-instance-attestation.ts
  apps/io-wallet-user-func/src/infra/handlers/add-wallet-instance-user-id.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance-attestation.ts
  apps/io-wallet-user-func/src/wallet-attestations.ts
  apps/io-wallet-user-func/src/wallet-instance-attestation.ts
  apps/io-wallet-user-func/src/wallet-unit-attestation.ts
Labels: apps, changeset

fix test and updated swagger file
  apps/io-wallet-user-func/openapi-external/user_uat_v1/swagger.yaml
  apps/io-wallet-user-func/openapi-external/user_v1/swagger.yaml
  apps/io-wallet-user-func/openapi.yaml
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance-attestation.ts
  infra/resources/prod/apis/user_uat_v1/swagger.yaml
  infra/resources/prod/apis/user_v1/swagger.yaml
  infra/resources/psn/prod/apim/api/user-uat/swagger.yaml
  infra/resources/psn/prod/apim/api/user/swagger.yaml
Labels: apps, infra

run terraform init -upgrade
  infra/resources/psn/prod/.terraform.lock.hcl
Labels: infra

updated /wallet-instance-attestations endpoint
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance-attestation.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/attestation.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/index.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/assertion-request-validation.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/index.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/ios/__test__/assertion.spec.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/ios/assertion.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/ios/index.ts
  apps/io-wallet-user-func/src/wallet-instance-attestation.ts
  apps/io-wallet-user-func/src/wallet-unit-attestation.ts
  infra/resources/_modules/function_apps/locals.tf
Labels: apps, infra

feat(user-func): add optional email_notification_enabled for wallet-instances
  .changeset/thin-tigers-shine.md
  apps/io-wallet-user-func/openapi-external/user_uat_v1/swagger.yaml
  apps/io-wallet-user-func/openapi-external/user_v1/swagger.yaml
  apps/io-wallet-user-func/openapi.yaml
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-wallet-user-func/src/wallet-instance-request.ts
  infra/resources/prod/apis/user_uat_v1/swagger.yaml
  infra/resources/prod/apis/user_v1/swagger.yaml
  infra/resources/psn/prod/apim/api/user-uat/swagger.yaml
  infra/resources/psn/prod/apim/api/user/swagger.yaml
Labels: apps, infra, changeset

fix lint
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
Labels: apps

run terraform init -upgrade
  infra/resources/prod/.terraform.lock.hcl
Labels: infra

run terraform init -upgrade
  infra/resources/psn/prod/.terraform.lock.hcl
Labels: infra

removed extra space
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
Labels: apps

fix lint
  apps/io-wallet-user-func/src/infra/azure/functions/create-wallet-unit-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-unit-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-unit-attestation.ts
Labels: apps

removed wallet unit attestation related code
  apps/io-wallet-user-func/src/infra/azure/functions/create-wallet-unit-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-unit-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-unit-attestation.ts
Labels: apps

updated createWI handler code
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
Labels: apps

updated createWalletInstance handler code
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-wallet-user-func/src/wallet-instance-request.ts
Labels: apps

updated changeset
  .changeset/soft-knives-itch.md
Labels: changeset

fix function app OpenAPI spec
  apps/io-wallet-user-func/openapi.yaml
Labels: apps

add PSN APIM policies
  infra/resources/psn/prod/apim_apis.tf
Labels: infra

replace email_notification_enabled with is_renewal in create wallet instance handler
  apps/io-wallet-user-func/openapi-external/user_uat_v1/swagger.yaml
  apps/io-wallet-user-func/openapi-external/user_v1/swagger.yaml
  apps/io-wallet-user-func/openapi.yaml
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  infra/resources/prod/apis/user_uat_v1/swagger.yaml
  infra/resources/prod/apis/user_v1/swagger.yaml
  infra/resources/psn/prod/apim/api/user-uat/swagger.yaml
  infra/resources/psn/prod/apim/api/user/swagger.yaml
  packages/io-wallet-common/src/wallet-instance.ts
Labels: apps, infra

updated unit test
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
Labels: apps

updated changelog
  .changeset/thin-tigers-shine.md
Labels: changeset

use application/jwt for CreateWalletInstanceAttestation request body
  apps/io-wallet-user-func/openapi-external/user_uat_v1/swagger.yaml
  apps/io-wallet-user-func/openapi-external/user_v1/swagger.yaml
  infra/resources/prod/apis/user_uat_v1/swagger.yaml
  infra/resources/prod/apis/user_v1/swagger.yaml
  infra/resources/psn/prod/apim/api/user-uat/swagger.yaml
  infra/resources/psn/prod/apim/api/user/swagger.yaml
Labels: apps, infra

updated fn app openapi
  apps/io-wallet-user-func/openapi.yaml
Labels: apps

removed SkipSignatureValidation from config
  apps/io-wallet-user-func/src/app/config.ts
Labels: apps

feat: added optional is-renewal for wallet-instances
  .changeset/thin-tigers-shine.md
  apps/io-wallet-user-func/openapi-external/user_uat_v1/swagger.yaml
  apps/io-wallet-user-func/openapi-external/user_v1/swagger.yaml
  apps/io-wallet-user-func/openapi.yaml
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  infra/resources/prod/.terraform.lock.hcl
  infra/resources/prod/apis/user_uat_v1/swagger.yaml
  infra/resources/prod/apis/user_v1/swagger.yaml
  infra/resources/psn/prod/.terraform.lock.hcl
  infra/resources/psn/prod/apim/api/user-uat/swagger.yaml
  infra/resources/psn/prod/apim/api/user/swagger.yaml
  packages/io-wallet-common/src/wallet-instance.ts
Labels: apps, infra, changeset

run terraform init -upgrade
  infra/resources/psn/prod/.terraform.lock.hcl
Labels: infra

run changeset
  .changeset/thick-houses-stay.md
Labels: changeset

fix function app OpenAPI spec
  apps/io-wallet-user-func/openapi.yaml
Labels: apps

added endpoint wallet-attestations-1.3
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/functions/create-wallet-attestations.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestations.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestations.ts
  apps/io-wallet-user-func/src/trust-anchor.ts
  apps/io-wallet-user-func/src/wallet-app-attestation.ts
  apps/io-wallet-user-func/src/wallet-attestations.ts
  apps/io-wallet-user-func/src/wallet-unit-attestation.ts
Labels: apps

updated fn app openapi
  apps/io-wallet-user-func/openapi.yaml
Labels: apps

removed SkipSignatureValidation from config
  apps/io-wallet-user-func/src/app/config.ts
Labels: apps

add PSN APIM policies
  infra/resources/psn/prod/apim_apis.tf
Labels: infra

fix test and updated swagger file
  apps/io-wallet-user-func/openapi-external/user_uat_v1/swagger.yaml
  apps/io-wallet-user-func/openapi-external/user_v1/swagger.yaml
  apps/io-wallet-user-func/openapi.yaml
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance-attestation.ts
  infra/resources/prod/apis/user_uat_v1/swagger.yaml
  infra/resources/prod/apis/user_v1/swagger.yaml
  infra/resources/psn/prod/apim/api/user-uat/swagger.yaml
  infra/resources/psn/prod/apim/api/user/swagger.yaml
Labels: apps, infra

updated changeset
  .changeset/soft-knives-itch.md
Labels: changeset

updated /wallet-instance-attestations endpoint
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance-attestation.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/attestation.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/index.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/assertion-request-validation.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/index.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/ios/__test__/assertion.spec.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/ios/assertion.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/ios/index.ts
  apps/io-wallet-user-func/src/wallet-instance-attestation.ts
  apps/io-wallet-user-func/src/wallet-unit-attestation.ts
  infra/resources/_modules/function_apps/locals.tf
Labels: apps, infra

removed unique endpoint and added /wallet-instance-attestation endpoint
  .changeset/seven-baboons-stare.md
  .changeset/thick-houses-stay.md
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/functions/add-wallet-instance-user-id.ts
  apps/io-wallet-user-func/src/infra/azure/functions/create-wallet-attestations.ts
  apps/io-wallet-user-func/src/infra/azure/functions/create-wallet-instance-attestation.ts
  apps/io-wallet-user-func/src/infra/handlers/add-wallet-instance-user-id.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance-attestation.ts
  apps/io-wallet-user-func/src/wallet-attestations.ts
  apps/io-wallet-user-func/src/wallet-instance-attestation.ts
  apps/io-wallet-user-func/src/wallet-unit-attestation.ts
Labels: apps, changeset

use application/jwt for CreateWalletInstanceAttestation request body
  apps/io-wallet-user-func/openapi-external/user_uat_v1/swagger.yaml
  apps/io-wallet-user-func/openapi-external/user_v1/swagger.yaml
  infra/resources/prod/apis/user_uat_v1/swagger.yaml
  infra/resources/prod/apis/user_v1/swagger.yaml
  infra/resources/psn/prod/apim/api/user-uat/swagger.yaml
  infra/resources/psn/prod/apim/api/user/swagger.yaml
Labels: apps, infra

removed unused code and updated dep
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/attestation-service.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance-attestation.ts
  apps/io-wallet-user-func/src/infra/http/response.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/assertion-request-validation.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/index.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
Labels: apps

tighten WIA JWT validation and centralize ES256 JWK codec
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance-attestation.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/assertion-request-validation.ts
  apps/io-wallet-user-func/src/verifier.ts
  packages/io-wallet-common/src/jwk.ts
Labels: apps

updated code
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance-attestation.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/assertion-request-validation.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/index.ts
  apps/io-wallet-user-func/src/wallet-instance-attestation.ts
Labels: apps

refactor
  apps/io-wallet-user-func/openapi.yaml
  apps/io-wallet-user-func/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/delete-wallet-instances.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-current-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/wallet-instance-attestation.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
Labels: apps

revert to mandatory nonce parameter in validateAndroidAttestation
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/attestation.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/index.ts
Labels: apps
