Repository pagopa/io-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, sd-jwt, apps, docs, ci, infra, changeset

add endpoint as cosmos output
  infra/resources/_modules/cosmos/outputs.tf
Labels: infra

chore: add revoke wallet instances when creating
  apps/io-func-wallet-solution-backend/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-func-wallet-solution-backend/src/wallet-instance.ts
Labels: apps

chore: add revoke wallet instances when creating
  apps/io-func-wallet-solution-backend/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-func-wallet-solution-backend/src/wallet-instance.ts
Labels: apps

added UserDetailView
  apps/io-func-wallet-solution-backend/openapi.yaml
Labels: apps

chore: added UserDetailView in openapi.yaml
  apps/io-func-wallet-solution-backend/openapi.yaml
Labels: apps

chore: added UserDetailView in openapi.yaml
  apps/io-func-wallet-solution-backend/openapi.yaml
Labels: apps

update container name and pk
  infra/resources/_modules/cosmos/locals.tf
Labels: infra

updated OpenAPI
  apps/io-func-wallet-solution-backend/openapi.yaml
Labels: apps

chore: updated openapi
  apps/io-func-wallet-solution-backend/openapi.yaml
Labels: apps

chore: updated openapi
  apps/io-func-wallet-solution-backend/openapi.yaml
Labels: apps

[SIW-993] Add Cosmos DB (#68)
  infra/identity/prod/westeurope/main.tf
  infra/resources/_modules/cosmos/cosmos_accounts.tf
  infra/resources/_modules/cosmos/cosmos_containers.tf
  infra/resources/_modules/cosmos/cosmos_databases.tf
  infra/resources/_modules/cosmos/locals.tf
  infra/resources/_modules/cosmos/main.tf
  infra/resources/_modules/cosmos/networking.tf
  infra/resources/_modules/cosmos/outputs.tf
  infra/resources/_modules/cosmos/rbac.tf
  infra/resources/_modules/cosmos/variables.tf
  infra/resources/_modules/key_vaults/key_vault_key_cosmos.tf
  infra/resources/_modules/key_vaults/key_vault_wallet.tf
  infra/resources/_modules/key_vaults/outputs.tf
  infra/resources/_modules/key_vaults/rbac.tf
  infra/resources/prod/.terraform.lock.hcl
  infra/resources/prod/README.md
  infra/resources/prod/data.tf
  infra/resources/prod/main.tf
Labels: infra

[SIW-993] Add Cosmos DB (#68)
  infra/identity/prod/westeurope/main.tf
  infra/resources/_modules/cosmos/cosmos_accounts.tf
  infra/resources/_modules/cosmos/cosmos_containers.tf
  infra/resources/_modules/cosmos/cosmos_databases.tf
  infra/resources/_modules/cosmos/locals.tf
  infra/resources/_modules/cosmos/main.tf
  infra/resources/_modules/cosmos/networking.tf
  infra/resources/_modules/cosmos/outputs.tf
  infra/resources/_modules/cosmos/rbac.tf
  infra/resources/_modules/cosmos/variables.tf
  infra/resources/_modules/key_vaults/key_vault_key_cosmos.tf
  infra/resources/_modules/key_vaults/key_vault_wallet.tf
  infra/resources/_modules/key_vaults/outputs.tf
  infra/resources/_modules/key_vaults/rbac.tf
  infra/resources/prod/.terraform.lock.hcl
  infra/resources/prod/README.md
  infra/resources/prod/data.tf
  infra/resources/prod/main.tf
Labels: infra

updated OpenAPI
  apps/io-func-wallet-solution-backend/openapi.yaml
Labels: apps

chore: updated OpenAPI
  apps/io-func-wallet-solution-backend/openapi.yaml
Labels: apps

chore: updated OpenAPI
  apps/io-func-wallet-solution-backend/openapi.yaml
Labels: apps

add gh runner
  infra/github-runner/README.md
  infra/github-runner/prod/.terraform.lock.hcl
  infra/github-runner/prod/locals.tf
  infra/github-runner/prod/main.tf
  infra/github-runner/prod/outputs.tf
Labels: infra

add workflows
  .github/workflows/pr_gh_runner.yaml
  .github/workflows/release_gh_runner.yaml
Labels: ci

chore: Fix date validation
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/android/attestation.ts
Labels: apps

updated openapi
  apps/io-func-wallet-solution-backend/openapi.yaml
Labels: apps

chore: Fix date validation
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/android/attestation.ts
Labels: apps

chore: Fix date validation
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/android/attestation.ts
Labels: apps

chore: updated openapi
  apps/io-func-wallet-solution-backend/openapi.yaml
Labels: apps

chore: updated openapi
  apps/io-func-wallet-solution-backend/openapi.yaml
Labels: apps

replaced application/entity-statement+jwt with application/jwt in createWalletAttestation endpoint
  apps/io-func-wallet-solution-backend/openapi.yaml
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/create-wallet-attestation.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/utils.ts
Labels: apps

chore: set application/jwt in createWalletAttestation endpoint
  apps/io-func-wallet-solution-backend/openapi.yaml
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/create-wallet-attestation.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/utils.ts
Labels: apps

chore: set application/jwt in createWalletAttestation endpoint
  apps/io-func-wallet-solution-backend/openapi.yaml
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/create-wallet-attestation.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/utils.ts
Labels: apps

rename actions
  .github/workflows/pr_gh_runner.yaml
  .github/workflows/release_gh_runner.yaml
Labels: ci

[EC-297] Add GitHub self-hosted runner (#73)
  .github/workflows/pr_gh_runner.yaml
  .github/workflows/release_gh_runner.yaml
  infra/github-runner/README.md
  infra/github-runner/prod/.terraform.lock.hcl
  infra/github-runner/prod/locals.tf
  infra/github-runner/prod/main.tf
  infra/github-runner/prod/outputs.tf
Labels: ci, infra

[EC-297] Add GitHub self-hosted runner (#73)
  .github/workflows/pr_gh_runner.yaml
  .github/workflows/release_gh_runner.yaml
  infra/github-runner/README.md
  infra/github-runner/prod/.terraform.lock.hcl
  infra/github-runner/prod/locals.tf
  infra/github-runner/prod/main.tf
  infra/github-runner/prod/outputs.tf
Labels: ci, infra

fix stupid typo
  .github/workflows/release_gh_runner.yaml
Labels: ci

Fix typo in workflow name (#78)
  .github/workflows/release_gh_runner.yaml
Labels: ci

Fix typo in workflow name (#78)
  .github/workflows/release_gh_runner.yaml
Labels: ci

add function app (wip)
  infra/resources/_modules/function_apps/function_app_wallet.tf
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/prod/README.md
  infra/resources/prod/data.tf
  infra/resources/prod/main.tf
Labels: infra

add key vault key and rbac
  infra/resources/_modules/key_vaults/outputs.tf
Labels: infra

remove comment
  infra/resources/_modules/key_vaults/outputs.tf
Labels: infra

poc function
  infra/resources/_modules/function_apps/function_app_wallet.tf
  infra/resources/_modules/function_apps/main.tf
  infra/resources/_modules/function_apps/outputs.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/_modules/networking/outputs.tf
  infra/resources/_modules/networking/subnet_wallet.tf
  infra/resources/_modules/networking/variables.tf
  infra/resources/prod/README.md
  infra/resources/prod/data.tf
  infra/resources/prod/main.tf
Labels: infra

wip function
  infra/resources/_modules/cosmos/outputs.tf
  infra/resources/_modules/function_apps/function_app_user.tf
  infra/resources/_modules/function_apps/function_app_wallet.tf
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/outputs.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/_modules/iam/cosmos_iam.tf
  infra/resources/_modules/iam/key_vault_iam.tf
  infra/resources/_modules/iam/main.tf
  infra/resources/_modules/iam/variables.tf
  infra/resources/_modules/key_vaults/outputs.tf
  infra/resources/_modules/key_vaults/variables.tf
  infra/resources/prod/.terraform.lock.hcl
  infra/resources/prod/README.md
  infra/resources/prod/main.tf
Labels: infra

run changeset
  .changeset/metal-penguins-visit.md
Labels: changeset

chore: run changeset
  .changeset/metal-penguins-visit.md
Labels: changeset

chore: run changeset
  .changeset/metal-penguins-visit.md
Labels: changeset

.github/labeler.yml:

internal: packages/**/*
sd-jwt: packages/sd-jwt/*
apps: apps/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*
