Repository pagopa/io-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, sd-jwt, apps, docs, ci, infra, changeset

.github/labeler.yml:

internal: packages/**/*
sd-jwt: packages/sd-jwt/*
apps: apps/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*

fix: Add changeset
  .changeset/ten-deers-teach.md
Labels: changeset

fix: Add changeset
  .changeset/ten-deers-teach.md
Labels: changeset

updated APIM base policy API IO Web Wallet
  infra/resources/_modules/apim/api/ioweb/user-function/_base_policy.xml
Labels: infra

fix: updated APIM base policy API IO Web Wallet
  infra/resources/_modules/apim/api/ioweb/user-function/_base_policy.xml
Labels: infra

fix: updated APIM base policy API IO Web Wallet
  infra/resources/_modules/apim/api/ioweb/user-function/_base_policy.xml
Labels: infra

updated
  apps/io-wallet-user-func/openapi.yaml
  apps/io-wallet-user-func/src/infra/azure/functions/create-wallet-attestation.ts
Labels: apps

run changeset
  .changeset/unlucky-cheetahs-turn.md
Labels: changeset

chore: updated OpenAPI
  .changeset/unlucky-cheetahs-turn.md
  apps/io-wallet-user-func/openapi.yaml
  apps/io-wallet-user-func/src/infra/azure/functions/create-wallet-attestation.ts
Labels: apps, changeset

chore: updated OpenAPI
  .changeset/unlucky-cheetahs-turn.md
  apps/io-wallet-user-func/openapi.yaml
  apps/io-wallet-user-func/src/infra/azure/functions/create-wallet-attestation.ts
Labels: apps, changeset

Enable allowDevelopmentEnvironment
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

chore: Enable `allowDevelopmentEnvironment` env var
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

chore: Enable `allowDevelopmentEnvironment` env var
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

updated config
  apps/io-wallet-user-func/src/app/config.ts
Labels: apps

removed walletProviderEntity from pidIssuer config
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/pid-issuer/client.ts
Labels: apps

added comments
  apps/io-wallet-user-func/src/infra/pid-issuer/client.ts
Labels: apps

added comment
  apps/io-wallet-user-func/src/infra/pid-issuer/client.ts
Labels: apps

deleted WalletProviderEntity from terraform
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

chore: added ipzs /revokeAll call
  .changeset/dry-readers-mate.md
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/package.json
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/credential.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/health.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/health.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/whitelisted-user.ts
  apps/io-wallet-user-func/src/infra/pid-issuer/client.ts
  apps/io-wallet-user-func/src/infra/pid-issuer/health-check.ts
  apps/io-wallet-user-func/src/user.ts
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/prod/locals.tf
  yarn.lock
Labels: apps, infra, changeset

chore: added ipzs /revokeAll call
  .changeset/dry-readers-mate.md
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/package.json
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/credential.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/health.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/health.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/whitelisted-user.ts
  apps/io-wallet-user-func/src/infra/pid-issuer/client.ts
  apps/io-wallet-user-func/src/infra/pid-issuer/health-check.ts
  apps/io-wallet-user-func/src/user.ts
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/prod/locals.tf
  yarn.lock
Labels: apps, infra, changeset

udpated
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/pid-issuer/client.ts
Labels: apps

fix lint
  apps/io-wallet-user-func/src/infra/pid-issuer/client.ts
Labels: apps

run changeset
  .changeset/wild-forks-love.md
Labels: changeset

fix: fix ipzs call
  .changeset/wild-forks-love.md
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/pid-issuer/client.ts
Labels: apps, changeset

fix: fix ipzs call
  .changeset/wild-forks-love.md
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/pid-issuer/client.ts
Labels: apps, changeset

deleted changelog
  apps/io-wallet-user-func/CHANGELOG.md
Labels: apps

deleted changelog
  apps/io-wallet-user-func/CHANGELOG.md
Labels: apps

add autoscaler
  infra/resources/_modules/function_apps/function_app_user.tf
Labels: infra

updated revoke WI when creating a new one
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
Labels: apps

updated
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
Labels: apps

run changeset
  .changeset/tricky-geese-carry.md
Labels: changeset

fix: updated revoke WI when creating a new one
  .changeset/tricky-geese-carry.md
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
Labels: apps, changeset

fix: updated revoke WI when creating a new one
  .changeset/tricky-geese-carry.md
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
Labels: apps, changeset

Add DeviceDetail option
  apps/io-wallet-user-func/src/attestation-service.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/__test__/attestation.spec.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/assertion.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/attestation.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/index.ts
  apps/io-wallet-user-func/src/infra/attestation-service/ios/__test__/attestation.spec.ts
  apps/io-wallet-user-func/src/infra/attestation-service/ios/attestation.ts
  apps/io-wallet-user-func/src/infra/attestation-service/ios/index.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
Labels: apps

Add X509
  apps/io-wallet-user-func/src/infra/attestation-service/android/attestation.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/index.ts
Labels: apps

fix test
  apps/io-wallet-user-func/src/infra/attestation-service/android/__test__/attestation.spec.ts
Labels: apps

Add autoscaler rules for User Function App
  infra/resources/_modules/function_apps/function_app_user.tf
Labels: infra

Add autoscaler rules for User Function App
  infra/resources/_modules/function_apps/function_app_user.tf
Labels: infra

Fix error
  apps/io-wallet-user-func/src/infra/attestation-service/android/attestation.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/index.ts
Labels: apps

Add new errors
  apps/io-wallet-user-func/src/infra/attestation-service/android/assertion.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/attestation.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/index.ts
  apps/io-wallet-user-func/src/infra/attestation-service/errors.ts
  apps/io-wallet-user-func/src/infra/attestation-service/ios/assertion.ts
  apps/io-wallet-user-func/src/infra/attestation-service/ios/attestation.ts
Labels: apps

Add changeset
  .changeset/fluffy-gifts-build.md
Labels: changeset
