Repository pagopa/io-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, sd-jwt, apps, docs, ci, infra, changeset

added setCurrentWalletInstanceStatus endpoint
  apps/io-wallet-support-func/openapi.yaml
  apps/io-wallet-user-func/host.json
  apps/io-wallet-user-func/openapi.yaml
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/nonce.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-wallet-user-func/src/infra/azure/functions/set-current-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-current-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-current-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/pid-issuer/client.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
  packages/io-wallet-common/src/__test__/jwk.spec.ts
  packages/io-wallet-common/src/error.ts
  packages/io-wallet-common/src/infra/http/error.ts
  packages/io-wallet-common/src/infra/pdv-tokenizer/client.ts
  packages/io-wallet-common/tsconfig.json
Labels: internal, apps

fix lint
  apps/io-wallet-user-func/src/infra/azure/cosmos/nonce.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-current-wallet-instance-status.spec.ts
Labels: apps

run changeset
  .changeset/red-countries-grow.md
Labels: changeset

add 503 in support endpoint
  apps/io-wallet-support-func/src/infra/azure/cosmos/wallet-instance.ts
Labels: apps

add GetCurrentWalletInstanceByFiscalCodeHandler unit test
  apps/io-wallet-support-func/src/infra/http/handlers/__test__/get-current-wallet-instance-by-fiscal-code.spec.ts
Labels: apps

create new func
  infra/resources/_modules/function_apps/function_app_user.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/prod/main.tf
Labels: infra

update workflows
  .github/workflows/user_function_deploy.yaml
  apps/io-wallet-user-func/openapi.yaml
Labels: apps, ci

stringToNumberDecoderRE function added
  apps/io-wallet-user-func/src/app/config.ts
  packages/io-wallet-common/src/infra/azure/cosmos/config.ts
  packages/io-wallet-common/src/infra/env.ts
  packages/io-wallet-common/src/infra/http/config.ts
Labels: internal, apps

update sku
  infra/resources/_modules/function_apps/function_app_user.tf
Labels: infra

increase rus
  infra/resources/_modules/cosmos/locals.tf
Labels: infra

add TODO comment
  apps/io-wallet-user-func/src/infra/http/handlers/set-current-wallet-instance-status.ts
Labels: apps

Add test users for load test
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-wallet-user-func/src/infra/io-load-test/client.ts
  apps/io-wallet-user-func/src/load-test.ts
  infra/resources/_modules/function_apps/locals.tf
  packages/io-wallet-common/package-lock.json
Labels: internal, apps, infra

Add test users for load test
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-wallet-user-func/src/infra/io-load-test/client.ts
  apps/io-wallet-user-func/src/load-test.ts
  infra/resources/_modules/function_apps/locals.tf
  packages/io-wallet-common/package-lock.json
Labels: internal, apps, infra

add nat gateway integration and autoscaler
  infra/resources/_modules/function_apps/function_app_user.tf
  infra/resources/_modules/function_apps/nat_gateways.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/prod/main.tf
Labels: infra

feat: added setCurrentWalletInstanceStatus endpoint
  .changeset/red-countries-grow.md
  apps/io-wallet-support-func/openapi.yaml
  apps/io-wallet-support-func/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-wallet-support-func/src/infra/http/handlers/__test__/get-current-wallet-instance-by-fiscal-code.spec.ts
  apps/io-wallet-user-func/host.json
  apps/io-wallet-user-func/openapi.yaml
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/nonce.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-wallet-user-func/src/infra/azure/functions/set-current-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-current-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-current-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/pid-issuer/client.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
  packages/io-wallet-common/src/__test__/jwk.spec.ts
  packages/io-wallet-common/src/error.ts
  packages/io-wallet-common/src/infra/azure/cosmos/config.ts
  packages/io-wallet-common/src/infra/env.ts
  packages/io-wallet-common/src/infra/http/config.ts
  packages/io-wallet-common/src/infra/http/error.ts
  packages/io-wallet-common/src/infra/pdv-tokenizer/client.ts
  packages/io-wallet-common/tsconfig.json
Labels: internal, apps, changeset

feat: added setCurrentWalletInstanceStatus endpoint
  .changeset/red-countries-grow.md
  apps/io-wallet-support-func/openapi.yaml
  apps/io-wallet-support-func/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-wallet-support-func/src/infra/http/handlers/__test__/get-current-wallet-instance-by-fiscal-code.spec.ts
  apps/io-wallet-user-func/host.json
  apps/io-wallet-user-func/openapi.yaml
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/nonce.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-wallet-user-func/src/infra/azure/functions/set-current-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-current-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-current-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/pid-issuer/client.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
  packages/io-wallet-common/src/__test__/jwk.spec.ts
  packages/io-wallet-common/src/error.ts
  packages/io-wallet-common/src/infra/azure/cosmos/config.ts
  packages/io-wallet-common/src/infra/env.ts
  packages/io-wallet-common/src/infra/http/config.ts
  packages/io-wallet-common/src/infra/http/error.ts
  packages/io-wallet-common/src/infra/pdv-tokenizer/client.ts
  packages/io-wallet-common/tsconfig.json
Labels: internal, apps, changeset

Add skip chain validation
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/__test__/attestation.spec.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/attestation.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/index.ts
  apps/io-wallet-user-func/src/infra/attestation-service/index.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  infra/resources/_modules/function_apps/locals.tf
Labels: apps, infra

Update locals.tf
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

Create strong-ants-hammer.md
  .changeset/strong-ants-hammer.md
Labels: changeset

removed PDV
  apps/io-wallet-support-func/src/app/config.ts
  apps/io-wallet-support-func/src/app/main.ts
  apps/io-wallet-support-func/src/infra/http/handlers/__test__/get-current-wallet-instance-by-fiscal-code.spec.ts
  apps/io-wallet-support-func/src/infra/http/handlers/__test__/health.spec.ts
  apps/io-wallet-support-func/src/infra/http/handlers/get-current-wallet-instance-by-fiscal-code.ts
  apps/io-wallet-support-func/src/infra/http/handlers/health.ts
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/functions/get-user-by-fiscal-code.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-current-wallet-instance.status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-user-by-fiscal-code.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/health.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-current-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-current-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-user-by-fiscal-code.ts
  apps/io-wallet-user-func/src/infra/http/handlers/health.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-current-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/user-id-header-validator.ts
  apps/io-wallet-user-func/src/infra/http/whitelisted-user.ts
  packages/io-wallet-common/src/infra/pdv-tokenizer/client.ts
  packages/io-wallet-common/src/infra/pdv-tokenizer/config.ts
  packages/io-wallet-common/src/infra/pdv-tokenizer/health-check.ts
  packages/io-wallet-common/src/user.ts
  packages/io-wallet-common/src/wallet-instance.ts
Labels: internal, apps

Update attestation.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/attestation.ts
Labels: apps

Minor fix
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/io-load-test/client.ts
  apps/io-wallet-user-func/src/load-test.ts
Labels: apps

Minor fix
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/io-load-test/client.ts
  apps/io-wallet-user-func/src/load-test.ts
Labels: apps

feat: Add skip chain validation
  .changeset/strong-ants-hammer.md
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/__test__/attestation.spec.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/attestation.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/index.ts
  apps/io-wallet-user-func/src/infra/attestation-service/index.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  infra/resources/_modules/function_apps/locals.tf
Labels: apps, infra, changeset

feat: Add skip chain validation
  .changeset/strong-ants-hammer.md
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/__test__/attestation.spec.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/attestation.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/index.ts
  apps/io-wallet-user-func/src/infra/attestation-service/index.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  infra/resources/_modules/function_apps/locals.tf
Labels: apps, infra, changeset

Remove SkipChainValidation and fix bug
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/__test__/attestation.spec.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/attestation.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/index.ts
  apps/io-wallet-user-func/src/infra/attestation-service/index.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  infra/resources/_modules/function_apps/locals.tf
Labels: apps, infra

fix: Remove SkipChainValidation and fix bug
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/__test__/attestation.spec.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/attestation.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/index.ts
  apps/io-wallet-user-func/src/infra/attestation-service/index.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  infra/resources/_modules/function_apps/locals.tf
Labels: apps, infra

fix: Remove SkipChainValidation and fix bug
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/__test__/attestation.spec.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/attestation.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/index.ts
  apps/io-wallet-user-func/src/infra/attestation-service/index.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  infra/resources/_modules/function_apps/locals.tf
Labels: apps, infra

chore: Add changelog
  .changeset/perfect-comics-pretend.md
Labels: changeset

chore: Add changelog
  .changeset/perfect-comics-pretend.md
Labels: changeset

remove autoscaler on 02
  infra/resources/_modules/function_apps/function_app_user.tf
Labels: infra

restore autoscaler
  infra/resources/_modules/function_apps/function_app_user.tf
Labels: infra

[CES-150] Create new Function App User instance (#221)
  .github/workflows/user_function_deploy.yaml
  apps/io-wallet-user-func/openapi.yaml
  infra/resources/_modules/function_apps/function_app_user.tf
  infra/resources/_modules/function_apps/nat_gateways.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/prod/main.tf
Labels: apps, ci, infra

[CES-150] Create new Function App User instance (#221)
  .github/workflows/user_function_deploy.yaml
  apps/io-wallet-user-func/openapi.yaml
  infra/resources/_modules/function_apps/function_app_user.tf
  infra/resources/_modules/function_apps/nat_gateways.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/prod/main.tf
Labels: apps, ci, infra

updated
  apps/io-wallet-support-func/src/infra/http/handlers/__test__/health.spec.ts
  apps/io-wallet-user-func/openapi.yaml
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
Labels: apps

removed PDV env vars
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/prod/locals.tf
Labels: infra

removed pdv vars from support env example file
  apps/io-wallet-support-func/local.settings.json.example
Labels: apps

updated openapi spec
  apps/io-wallet-user-func/openapi.yaml
Labels: apps

add iam roles
  infra/resources/_modules/function_apps/outputs.tf
  infra/resources/_modules/iam/functions.tf
  infra/resources/_modules/iam/variables.tf
  infra/resources/prod/main.tf
Labels: infra

fix terraform plan pipeline
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/prod/main.tf
Labels: infra

.github/labeler.yml:

internal: packages/**/*
sd-jwt: packages/sd-jwt/*
apps: apps/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*
