Repository pagopa/io-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, sd-jwt, apps, docs, ci, infra, changeset

.github/labeler.yml:

internal: packages/**/*
sd-jwt: packages/sd-jwt/*
apps: apps/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*

Fix authentication with Storage Account for Opex TF state file (#403)
  .github/workflows/release_opex.yaml
  apps/io-wallet-user-func/.opex/management/env/prod/backend.tfvars
Labels: apps, ci

upgrade repository module
  infra/repository/.terraform.lock.hcl
  infra/repository/locals.tf
  infra/repository/main.tf
  infra/repository/tfmodules.lock.json
Labels: infra

Upgrade bootstrap module (#404)
  infra/repository/.terraform.lock.hcl
  infra/repository/locals.tf
  infra/repository/main.tf
  infra/repository/tfmodules.lock.json
Labels: infra

feat: added the GET /whitelisted-fiscal-codes/{fiscalCode} endpoint to check if the fiscal code is whitelisted
  .changeset/famous-laws-poke.md
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/openapi.yaml
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/whitelisted-fiscal-code.ts
  apps/io-wallet-user-func/src/infra/azure/functions/whitelisted-fiscal-code.ts
  apps/io-wallet-user-func/src/infra/http/fiscal-code.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/whitelisted-fiscal-code.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/whitelisted-fiscal-code.ts
  apps/io-wallet-user-func/src/whitelisted-fiscal-code.ts
  infra/resources/_modules/cosmos/locals.tf
Labels: apps, infra, changeset

fix isFiscalCodeWhitelisted operationId in openapi spec
  apps/io-wallet-user-func/openapi.yaml
Labels: apps

run changeset
  .changeset/sweet-tips-kiss.md
Labels: changeset

fix: fix isFiscalCodeWhitelisted operationId in openapi spec
  .changeset/sweet-tips-kiss.md
  apps/io-wallet-user-func/openapi.yaml
Labels: apps, changeset

updated entity configuration
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/package.json
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/encoders/entity-configuration.ts
  apps/io-wallet-user-func/src/entity-configuration.ts
  apps/io-wallet-user-func/src/infra/handlers/generate-entity-configuration.ts
  apps/io-wallet-user-func/src/infra/pid-issuer/client.ts
  infra/resources/_modules/function_apps/locals.tf
  yarn.lock
Labels: apps, infra

updated ec generation code
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/encoders/entity-configuration.ts
  apps/io-wallet-user-func/src/entity-configuration.ts
  apps/io-wallet-user-func/src/infra/azure/storage/blob.ts
  apps/io-wallet-user-func/src/infra/handlers/generate-entity-configuration.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation-v2.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/trust-anchor.ts
  apps/io-wallet-user-func/src/infra/pid-issuer/client.ts
  apps/io-wallet-user-func/src/wallet-attestation.ts
Labels: apps

changed comment
  apps/io-wallet-user-func/src/infra/azure/storage/blob.ts
Labels: apps

updated local.settings.json.example
  apps/io-wallet-user-func/local.settings.json.example
Labels: apps

removed export keyword
  apps/io-wallet-user-func/src/entity-configuration.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation-v2.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
Labels: apps

Added 503 response to the GET /whiteliste-fiscal-code/{fiscalCode} API
  apps/io-wallet-user-func/openapi.yaml
Labels: apps

added lock file
  yarn.lock
Labels: none

Renamed test file
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/is-fiscal-code-whitelisted.spec.ts
Labels: apps

Changeset
  .changeset/thirty-rice-brush.md
Labels: changeset

chore: added the 503 status code to the GET /whitelisted-fiscal-code/{fiscalCode} API
  .changeset/thirty-rice-brush.md
  apps/io-wallet-user-func/openapi.yaml
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/is-fiscal-code-whitelisted.spec.ts
Labels: apps, changeset

renamed variables
  apps/io-wallet-user-func/src/app/config.ts
  infra/resources/_modules/function_apps/locals.tf
Labels: apps, infra

replaced EntityConfigurationStorageAccount__serviceUri with EntityConfigurationStorageAccountConnectionString on tf
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

updated uploadFile function
  apps/io-wallet-user-func/src/infra/azure/storage/blob.ts
Labels: apps

updated config and related code
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/entity-configuration.ts
  apps/io-wallet-user-func/src/infra/handlers/generate-entity-configuration.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation-v2.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/pid-issuer/client.ts
  apps/io-wallet-user-func/src/wallet-attestation.ts
Labels: apps

lint
  apps/io-wallet-user-func/src/app/config.ts
Labels: apps

refactor
  apps/io-wallet-user-func/src/wallet-attestation.ts
Labels: apps

define authority hints as urls
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/encoders/entity-configuration.ts
  apps/io-wallet-user-func/src/entity-configuration.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation-v2.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
Labels: apps

fix error
  apps/io-wallet-user-func/src/app/config.ts
Labels: apps

run changeset
  .changeset/wide-readers-slide.md
Labels: changeset

feat: update entity configuration
  .changeset/wide-readers-slide.md
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/package.json
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/encoders/entity-configuration.ts
  apps/io-wallet-user-func/src/entity-configuration.ts
  apps/io-wallet-user-func/src/infra/azure/storage/blob.ts
  apps/io-wallet-user-func/src/infra/handlers/generate-entity-configuration.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation-v2.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/trust-anchor.ts
  apps/io-wallet-user-func/src/infra/pid-issuer/client.ts
  apps/io-wallet-user-func/src/wallet-attestation.ts
  infra/resources/_modules/function_apps/locals.tf
  yarn.lock
Labels: apps, infra, changeset

updated wallet attestation endpoint
  apps/io-wallet-user-func/src/attestation-service.ts
  apps/io-wallet-user-func/src/encoders/wallet-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation-v2.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation-v2.ts
  apps/io-wallet-user-func/src/verifier.ts
  apps/io-wallet-user-func/src/wallet-attestation-request.ts
  apps/io-wallet-user-func/src/wallet-attestation.ts
  apps/io-wallet-user-func/src/wallet-provider.ts
Labels: apps

replaced EntityConfigurationStorageAccountConnectionString with EntityConfigurationStorageAccountName
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  infra/resources/_modules/function_apps/locals.tf
Labels: apps, infra

removed comment
  apps/io-wallet-user-func/src/wallet-attestation-request.ts
Labels: apps

removed comment
  apps/io-wallet-user-func/src/verifier.ts
Labels: apps

revert type name
  apps/io-wallet-user-func/src/verifier.ts
Labels: apps

added and removed comment
  apps/io-wallet-user-func/src/attestation-service.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation-v2.ts
  apps/io-wallet-user-func/src/verifier.ts
Labels: apps

updated
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation.ts
  apps/io-wallet-user-func/src/wallet-attestation.ts
  apps/io-wallet-user-func/src/wallet-provider.ts
Labels: apps

fix lint
  apps/io-wallet-user-func/src/encoders/wallet-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation-v2.ts
  apps/io-wallet-user-func/src/wallet-attestation.ts
Labels: apps

chore: removed cdn storage account connection string
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  infra/resources/_modules/function_apps/locals.tf
Labels: apps, infra

run changeset
  .changeset/smart-papers-sleep.md
Labels: changeset

chore: run changeset
  .changeset/smart-papers-sleep.md
Labels: changeset

added and removed comment
  apps/io-wallet-user-func/src/attestation-service.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation-v2.ts
  apps/io-wallet-user-func/src/verifier.ts
Labels: apps

removed comment
  apps/io-wallet-user-func/src/wallet-attestation-request.ts
Labels: apps
