Repository pagopa/io-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, sd-jwt, apps, docs, ci, infra, changeset

.github/labeler.yml:

internal: packages/**/*
sd-jwt: packages/sd-jwt/*
apps: apps/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*

fix tests
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
Labels: apps

fix tests
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
Labels: apps

fixed lint
  apps/io-func-wallet-solution-backend/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-func-wallet-solution-backend/src/wallet-instance.ts
Labels: apps

fixed lint
  apps/io-func-wallet-solution-backend/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-func-wallet-solution-backend/src/wallet-instance.ts
Labels: apps

fix: changed .terraform-version to 1.7.5 as the deployed remote state
  .terraform-version
Labels: none

add codeowners
  CODEOWNERS
Labels: none

Add CODEOWNERS file (#60)
  CODEOWNERS
Labels: none

Add CODEOWNERS file (#60)
  CODEOWNERS
Labels: none

GitHub federated identity (#57)
  .terraform-version
  infra/identity/prod/westeurope/README.md
  infra/identity/prod/westeurope/locals.tf
  infra/identity/prod/westeurope/main.tf
Labels: infra

GitHub federated identity (#57)
  .terraform-version
  infra/identity/prod/westeurope/README.md
  infra/identity/prod/westeurope/locals.tf
  infra/identity/prod/westeurope/main.tf
Labels: infra

Upgrade @pagopa/handler-kit-azure-func
  apps/io-func-wallet-solution-backend/package.json
  yarn.lock
Labels: apps

chore: Upgrade @pagopa/handler-kit-azure-func (#61)
  apps/io-func-wallet-solution-backend/package.json
  yarn.lock
Labels: apps

chore: Upgrade @pagopa/handler-kit-azure-func (#61)
  apps/io-func-wallet-solution-backend/package.json
  yarn.lock
Labels: apps

add repository settings
  .pre-commit-config.yaml
  infra/repository/data.tf
  infra/repository/github_branch_rules.tf
  infra/repository/github_environment_cd.tf
  infra/repository/github_environment_ci.tf
  infra/repository/github_repo_secrets.tf
  infra/repository/github_repository.tf
  infra/repository/locals.tf
  infra/repository/main.tf
  infra/src/README.md
  infra/src/main.tf
Labels: infra

fix codeowners
  CODEOWNERS
Labels: none

Update infra/repository/github_repository.tf
  infra/repository/github_repository.tf
Labels: infra

Update infra/repository/github_repository.tf
  infra/repository/github_repository.tf
Labels: infra

add infra workflows
  .github/workflows/pr_infra.yaml
  .github/workflows/release_infra.yaml
Labels: ci

[EC-294] Add repository settings Terraform definition (#62)
  .pre-commit-config.yaml
  CODEOWNERS
  infra/repository/data.tf
  infra/repository/github_branch_rules.tf
  infra/repository/github_environment_cd.tf
  infra/repository/github_environment_ci.tf
  infra/repository/github_repo_secrets.tf
  infra/repository/github_repository.tf
  infra/repository/locals.tf
  infra/repository/main.tf
  infra/src/README.md
  infra/src/main.tf
Labels: infra

[EC-294] Add repository settings Terraform definition (#62)
  .pre-commit-config.yaml
  CODEOWNERS
  infra/repository/data.tf
  infra/repository/github_branch_rules.tf
  infra/repository/github_environment_cd.tf
  infra/repository/github_environment_ci.tf
  infra/repository/github_repo_secrets.tf
  infra/repository/github_repository.tf
  infra/repository/locals.tf
  infra/repository/main.tf
  infra/src/README.md
  infra/src/main.tf
Labels: infra

fix triggers
  .github/workflows/pr_infra.yaml
  .github/workflows/release_infra.yaml
Labels: ci

[EC-295] Add infra workflows (#63)
  .github/workflows/pr_infra.yaml
  .github/workflows/release_infra.yaml
Labels: ci

[EC-295] Add infra workflows (#63)
  .github/workflows/pr_infra.yaml
  .github/workflows/release_infra.yaml
Labels: ci

add wallet rg
  .editorconfig
  infra/env/prod/backend.ini
  infra/env/prod/backend.tfvars
  infra/env/prod/terraform.tfvars
  infra/resources/prod/locals.tf
  infra/resources/prod/main.tf
  infra/terraform.sh
Labels: infra

[SIW-897] Add resource group for wallet resources (#64)
  .editorconfig
  infra/env/prod/backend.ini
  infra/env/prod/backend.tfvars
  infra/env/prod/terraform.tfvars
  infra/resources/prod/locals.tf
  infra/resources/prod/main.tf
  infra/terraform.sh
Labels: infra

[SIW-897] Add resource group for wallet resources (#64)
  .editorconfig
  infra/env/prod/backend.ini
  infra/env/prod/backend.tfvars
  infra/env/prod/terraform.tfvars
  infra/resources/prod/locals.tf
  infra/resources/prod/main.tf
  infra/terraform.sh
Labels: infra

add key vault
  .github/workflows/release_infra.yaml
  .gitignore
  .pre-commit-config.yaml
  infra/identity/prod/westeurope/.terraform.lock.hcl
  infra/repository/.terraform.lock.hcl
  infra/resources/_modules/key_vaults/key_vault_wallet.tf
  infra/resources/_modules/key_vaults/main.tf
  infra/resources/_modules/key_vaults/outputs.tf
  infra/resources/_modules/key_vaults/variables.tf
  infra/resources/prod/.terraform.lock.hcl
  infra/resources/prod/README.md
  infra/resources/prod/data.tf
  infra/resources/prod/locals.tf
  infra/resources/prod/main.tf
Labels: ci, infra

[SIW-990] Add KeyVault for IO Wallet (#65)
  .github/workflows/release_infra.yaml
  .gitignore
  .pre-commit-config.yaml
  infra/identity/prod/westeurope/.terraform.lock.hcl
  infra/repository/.terraform.lock.hcl
  infra/resources/_modules/key_vaults/key_vault_wallet.tf
  infra/resources/_modules/key_vaults/main.tf
  infra/resources/_modules/key_vaults/outputs.tf
  infra/resources/_modules/key_vaults/variables.tf
  infra/resources/prod/.terraform.lock.hcl
  infra/resources/prod/README.md
  infra/resources/prod/data.tf
  infra/resources/prod/locals.tf
  infra/resources/prod/main.tf
Labels: ci, infra

[SIW-990] Add KeyVault for IO Wallet (#65)
  .github/workflows/release_infra.yaml
  .gitignore
  .pre-commit-config.yaml
  infra/identity/prod/westeurope/.terraform.lock.hcl
  infra/repository/.terraform.lock.hcl
  infra/resources/_modules/key_vaults/key_vault_wallet.tf
  infra/resources/_modules/key_vaults/main.tf
  infra/resources/_modules/key_vaults/outputs.tf
  infra/resources/_modules/key_vaults/variables.tf
  infra/resources/prod/.terraform.lock.hcl
  infra/resources/prod/README.md
  infra/resources/prod/data.tf
  infra/resources/prod/locals.tf
  infra/resources/prod/main.tf
Labels: ci, infra

add subnet for function
  infra/resources/_modules/networking/main.tf
  infra/resources/_modules/networking/outputs.tf
  infra/resources/_modules/networking/subnet_wallet.tf
  infra/resources/_modules/networking/variables.tf
  infra/resources/prod/README.md
  infra/resources/prod/data.tf
  infra/resources/prod/main.tf
Labels: infra

update cidr subnet wallet
  infra/resources/_modules/networking/subnet_wallet.tf
  infra/resources/_modules/networking/variables.tf
  infra/resources/prod/main.tf
Labels: infra

[SIW-985] Add subnet for Wallet Function App (#66)
  infra/resources/_modules/networking/main.tf
  infra/resources/_modules/networking/outputs.tf
  infra/resources/_modules/networking/subnet_wallet.tf
  infra/resources/_modules/networking/variables.tf
  infra/resources/prod/README.md
  infra/resources/prod/data.tf
  infra/resources/prod/main.tf
Labels: infra

[SIW-985] Add subnet for Wallet Function App (#66)
  infra/resources/_modules/networking/main.tf
  infra/resources/_modules/networking/outputs.tf
  infra/resources/_modules/networking/subnet_wallet.tf
  infra/resources/_modules/networking/variables.tf
  infra/resources/prod/README.md
  infra/resources/prod/data.tf
  infra/resources/prod/main.tf
Labels: infra

removed operation from batchPatch parameters
  apps/io-func-wallet-solution-backend/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-func-wallet-solution-backend/src/wallet-instance.ts
Labels: apps

removed operation from batchPatch parameters
  apps/io-func-wallet-solution-backend/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-func-wallet-solution-backend/src/wallet-instance.ts
Labels: apps

fix pipeline
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
Labels: apps

fix pipeline
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
Labels: apps

put insertWalletInstance before revokeAllWalletInstancesByUserId in create wallet instance handler
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/create-wallet-instance.ts
Labels: apps

put insertWalletInstance before revokeAllWalletInstancesByUserId in create wallet instance handler
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/create-wallet-instance.ts
Labels: apps

removed operation from batchPatch parameters
  apps/io-func-wallet-solution-backend/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-func-wallet-solution-backend/src/wallet-instance.ts
Labels: apps
