Repository pagopa/io-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, sd-jwt, apps, docs, ci, infra, changeset

Updating the @pagopa/io-email-templates version
  apps/io-wallet-user-func/package.json
Labels: apps

Removed incorrect additions related to WalletInstanceCreationEmailFeatureFlag
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  infra/resources/_modules/function_apps/locals.tf
Labels: apps, infra

Removed useless exports from config.ts
  apps/io-wallet-user-func/src/app/config.ts
Labels: apps

Using a correct value for WalletInstanceRevocationEmailFeatureFlag env var in the local.settings.json.example file
  apps/io-wallet-user-func/local.settings.json.example
Labels: apps

Sending the revocation email only in specific points of the code
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/handlers/send-email-on-wallet-instance-revocation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-wallet-user-func/src/wallet-instance-revocation-process.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
Labels: apps

Removed the email-related code from wallet-instance.ts; added the email-related code in both SetWalletInstanceStatus and SetCurrentWalletInstanceStatus handlers
  apps/io-wallet-user-func/src/infra/http/handlers/set-current-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-wallet-instance-status.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
Labels: apps

Using revokeUserValidWalletInstancesExceptOne() directly (rather than via another function)
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
Labels: apps

Using revokeUserWalletInstances() directly rather than via another function
  apps/io-wallet-user-func/src/infra/http/handlers/set-wallet-instance-status.ts
Labels: apps

Removed unnecessary code
  apps/io-wallet-user-func/src/wallet-instance.ts
Labels: apps

Using walletInstanceRepository.batchPatch() directly
  apps/io-wallet-user-func/src/wallet-instance.ts
Labels: apps

Adding TelemetryClient to the SendEmailOnWalletInstanceRevocation handler
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/handlers/send-email-on-wallet-instance-revocation.ts
Labels: apps

Passing new Date() directly instead of new Date().toISOString()
  apps/io-wallet-user-func/src/infra/http/handlers/set-current-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-wallet-instance-status.ts
Labels: apps

Removed unnecessary 'export' keywords
  apps/io-wallet-user-func/src/infra/handlers/send-email-on-wallet-instance-creation.ts
  apps/io-wallet-user-func/src/infra/handlers/send-email-on-wallet-instance-revocation.ts
Labels: apps

Using enqueue() directly instead of throughout the sendCretionEmail() function
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
Labels: apps

Using queueClient instead of queueCreationClient for the CreateWalletInstanceFunction
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
Labels: apps

Removing emailRevocationQueuingEnabled and queueRevocationClient as dependencies of the revokeCurrentUserWalletInstance() function
  apps/io-wallet-user-func/src/infra/http/handlers/set-current-wallet-instance-status.ts
Labels: apps

Adding 'Queue Name' for both wallet_instance_revocation_email_queue_name and wallet_instance_creation_email_queue_name
  infra/resources/_modules/function_apps/variables.tf
Labels: infra

Using whitelistFiscalCodes in setWalletInstanceStatus and setCurrentWalletInstanceStatus handlers
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-current-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-current-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-wallet-instance-status.ts
  infra/resources/_modules/function_apps/locals.tf
Labels: apps, infra

Helpful comment restored
  apps/io-wallet-user-func/src/infra/http/handlers/set-wallet-instance-status.ts
Labels: apps

Using IsoDateFromString type for the revokedAt attribute of WalletInstanceRevocationQueueItem
  apps/io-wallet-user-func/src/infra/handlers/send-email-on-wallet-instance-revocation.ts
Labels: apps

Changeset
  .changeset/fresh-masks-beam.md
Labels: changeset

Adding sendEmailOnWalletInstanceRevocation to the function_app_user_slot_disabled list
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

feat: send an email when the Wallet Instance is revoked
  .changeset/fresh-masks-beam.md
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/package.json
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/functions/send-email-on-wallet-instance-revocation.ts
  apps/io-wallet-user-func/src/infra/handlers/send-email-on-wallet-instance-creation.ts
  apps/io-wallet-user-func/src/infra/handlers/send-email-on-wallet-instance-revocation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-current-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-current-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-wallet-instance-status.ts
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/_modules/storage_accounts/outputs.tf
  infra/resources/_modules/storage_accounts/storage_queue.tf
  infra/resources/prod/main.tf
  yarn.lock
Labels: apps, infra, changeset

feat: send an email when the Wallet Instance is revoked
  .changeset/fresh-masks-beam.md
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/package.json
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/functions/send-email-on-wallet-instance-revocation.ts
  apps/io-wallet-user-func/src/infra/handlers/send-email-on-wallet-instance-creation.ts
  apps/io-wallet-user-func/src/infra/handlers/send-email-on-wallet-instance-revocation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-current-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-current-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-wallet-instance-status.ts
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/_modules/storage_accounts/outputs.tf
  infra/resources/_modules/storage_accounts/storage_queue.tf
  infra/resources/prod/main.tf
  yarn.lock
Labels: apps, infra, changeset

run codemod turbo
  package.json
  turbo.json
  yarn.lock
Labels: none

fix: updated turbo dependency
  package.json
  turbo.json
  yarn.lock
Labels: none

fix: updated turbo dependency
  package.json
  turbo.json
  yarn.lock
Labels: none

Using date-fns-tz to force the Europe/Rome timezone
  apps/io-wallet-user-func/package.json
  apps/io-wallet-user-func/src/infra/handlers/send-email-on-wallet-instance-revocation.ts
  yarn.lock
Labels: apps

Using dayjs with some utilities (utc and timezone) to handle the revocation date and the revocation time for the WI revocation email
  .changeset/spicy-nails-fix.md
  apps/io-wallet-user-func/package.json
  apps/io-wallet-user-func/src/infra/handlers/send-email-on-wallet-instance-revocation.ts
  apps/io-wallet-user-func/tsconfig.json
  yarn.lock
Labels: apps, changeset

Removing reference to test code
  yarn.lock
Labels: none

Removed old file for version
  .changeset/fresh-masks-beam.md
Labels: changeset

Removing allowSyntheticDefaultImports from tsconfig.ts
  apps/io-wallet-user-func/tsconfig.json
Labels: apps

replace ad-developers with wallet-admins
  infra/resources/_modules/apim/README.md
  infra/resources/_modules/function_apps/README.md
  infra/resources/_modules/iam/README.md
  infra/resources/_modules/storage_accounts/README.md
  infra/resources/prod/.terraform.lock.hcl
  infra/resources/prod/README.md
  infra/resources/prod/data.tf
  infra/resources/prod/import.tf
  infra/resources/prod/main.tf
Labels: infra

remove old configs
  infra/github-runner/prod/.terraform.lock.hcl
  infra/github-runner/prod/README.md
  infra/github-runner/prod/locals.tf
  infra/github-runner/prod/main.tf
  infra/github-runner/prod/outputs.tf
  infra/repository/.terraform.lock.hcl
  infra/repository/README.md
  infra/repository/data.tf
  infra/repository/github_branch_rules.tf
  infra/repository/github_environment_cd.tf
  infra/repository/github_environment_ci.tf
  infra/repository/github_repo_secrets.tf
  infra/repository/github_repository.tf
  infra/repository/locals.tf
  infra/repository/main.tf
Labels: infra

move state to remote
  infra/repository/.terraform.lock.hcl
  infra/repository/README.md
  infra/repository/import.tf
  infra/repository/locals.tf
  infra/repository/main.tf
Labels: infra

update workflows
  .github/workflows/pr_gh_runner.yaml
  .github/workflows/pr_infra.yaml
  .github/workflows/release_gh_runner.yaml
  .github/workflows/release_infra.yaml
Labels: ci

Updated vulnerable dependencies
  package.json
  yarn.lock
Labels: none

Removing useless resolutions rule
  package.json
Labels: none

Updating all "updatable" dependencies
  apps/io-wallet-support-func/package.json
  apps/io-wallet-user-func/package.json
  packages/io-wallet-common/package.json
  yarn.lock
Labels: internal, apps

Updating versione of the html-to-text package
  apps/io-wallet-user-func/src/infra/handlers/send-email-on-wallet-instance-creation.ts
  apps/io-wallet-user-func/src/infra/handlers/send-email-on-wallet-instance-revocation.ts
  yarn.lock
Labels: apps

.github/labeler.yml:

internal: packages/**/*
sd-jwt: packages/sd-jwt/*
apps: apps/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*
