Repository pagopa/io-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, sd-jwt, apps, docs, ci, infra, changeset

test
  .github/workflows/user_function_deploy.yaml
Labels: ci

disable staging slot
  .github/workflows/user_function_deploy.yaml
Labels: ci

use private agent
  .github/workflows/user_function_deploy.yaml
Labels: ci

switch keyvault for func secret
  infra/resources/prod/README.md
  infra/resources/prod/data.tf
  infra/resources/prod/main.tf
Labels: infra

[SIW-1167] Move Function App default key to weu-common Key Vault (#95)
  infra/resources/prod/README.md
  infra/resources/prod/data.tf
  infra/resources/prod/main.tf
Labels: infra

[SIW-1167] Move Function App default key to weu-common Key Vault (#95)
  infra/resources/prod/README.md
  infra/resources/prod/data.tf
  infra/resources/prod/main.tf
Labels: infra

chore: Disable deployment on Function App staging slot (#94)
  .github/workflows/user_function_deploy.yaml
Labels: ci

chore: Disable deployment on Function App staging slot (#94)
  .github/workflows/user_function_deploy.yaml
Labels: ci

add routePrefix in host.json
  apps/io-wallet-user-func/host.json
Labels: apps

run changeset
  .changeset/grumpy-numbers-return.md
Labels: changeset

fix: add function route prefix
  .changeset/grumpy-numbers-return.md
  apps/io-wallet-user-func/host.json
Labels: apps, changeset

fix: add function route prefix
  .changeset/grumpy-numbers-return.md
  apps/io-wallet-user-func/host.json
Labels: apps, changeset

updated .github/workflows/user_function_deploy.yaml
  .github/workflows/user_function_deploy.yaml
Labels: ci

chore: user_function_deploy.yaml workflow
  .github/workflows/user_function_deploy.yaml
Labels: ci

chore: user_function_deploy.yaml workflow
  .github/workflows/user_function_deploy.yaml
Labels: ci

renamed coverage script as test:coverage
  apps/io-wallet-user-func/package.json
Labels: apps

run changeset
  .changeset/green-otters-roll.md
Labels: changeset

chore: renamed coverage script as test:coverage
  .changeset/green-otters-roll.md
  apps/io-wallet-user-func/package.json
Labels: apps, changeset

chore: renamed coverage script as test:coverage
  .changeset/green-otters-roll.md
  apps/io-wallet-user-func/package.json
Labels: apps, changeset

add nonces container
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

fix
  infra/resources/_modules/cosmos/locals.tf
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

updated health check endpoint
  infra/resources/_modules/function_apps/function_app_user.tf
Labels: infra

set container ttl
  infra/resources/_modules/cosmos/cosmos_containers.tf
  infra/resources/_modules/cosmos/locals.tf
Labels: infra

changed database name
  infra/resources/_modules/cosmos/cosmos_databases.tf
Labels: infra

fix
  infra/resources/_modules/cosmos/cosmos_databases.tf
Labels: infra

revert to db
  infra/resources/_modules/cosmos/cosmos_databases.tf
Labels: infra

add users-whitelist container
  infra/resources/_modules/cosmos/locals.tf
Labels: infra

added some env vars
  infra/resources/_modules/cosmos/locals.tf
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

added connection string
  infra/resources/_modules/cosmos/outputs.tf
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/prod/main.tf
Labels: infra

add env vars
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

added cosmos_database_names variables
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/prod/main.tf
Labels: infra

fix variable error
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

fix
  infra/resources/_modules/function_apps/variables.tf
Labels: infra

update groups
  infra/resources/prod/README.md
  infra/resources/prod/data.tf
  infra/resources/prod/main.tf
Labels: infra

add access policies to gh
  infra/identity/prod/README.md
  infra/identity/prod/data.tf
  infra/identity/prod/main.tf
Labels: infra

chore: Set KeyVault admins io-p-adgroup-developers (#102)
  infra/identity/prod/README.md
  infra/identity/prod/data.tf
  infra/identity/prod/main.tf
  infra/resources/prod/README.md
  infra/resources/prod/data.tf
  infra/resources/prod/main.tf
Labels: infra

chore: Set KeyVault admins io-p-adgroup-developers (#102)
  infra/identity/prod/README.md
  infra/identity/prod/data.tf
  infra/identity/prod/main.tf
  infra/resources/prod/README.md
  infra/resources/prod/data.tf
  infra/resources/prod/main.tf
Labels: infra

added kv vault env variable
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/prod/main.tf
Labels: infra

fix
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/prod/main.tf
Labels: infra

fix
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

.github/labeler.yml:

internal: packages/**/*
sd-jwt: packages/sd-jwt/*
apps: apps/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*
