Repository pagopa/io-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, sd-jwt, apps, docs, ci, infra, changeset

shorting st name
  infra/resources/prod/main.tf
Labels: infra

make private
  infra/resources/_modules/storage/storage_accounts.tf
Labels: infra

release workflow too
  .github/workflows/release_infra.yaml
Labels: ci

update gh action
  .github/workflows/pr_infra.yaml
Labels: ci

update github runner providers
  infra/github-runner/README.md
  infra/github-runner/prod/README.md
Labels: infra

Add AllowedDeveloperUsers to function
  infra/resources/prod/locals.tf
Labels: infra

add dx module
  infra/resources/_modules/storage/locals.tf
  infra/resources/_modules/storage/storage_accounts.tf
  infra/resources/_modules/storage/variables.tf
  infra/resources/prod/main.tf
Labels: infra

add roles to github identities
  infra/identity/prod/main.tf
Labels: infra

add roles and refactoring
  infra/resources/_modules/iam/admins.tf
  infra/resources/_modules/iam/variables.tf
  infra/resources/_modules/storage/outputs.tf
  infra/resources/_modules/storage_accounts/locals.tf
  infra/resources/_modules/storage_accounts/main.tf
  infra/resources/_modules/storage_accounts/outputs.tf
  infra/resources/_modules/storage_accounts/storage_accounts.tf
  infra/resources/_modules/storage_accounts/storage_queue.tf
  infra/resources/_modules/storage_accounts/variables.tf
  infra/resources/prod/README.md
  infra/resources/prod/main.tf
Labels: infra

Change value of storageaccount key
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
Labels: apps

update pre commit
  .pre-commit-config.yaml
  .tflint.hcl
  .trivyignore
  infra/github-runner/prod/README.md
  infra/identity/prod/README.md
  infra/identity/prod/westeurope/.terraform.lock.hcl
  infra/repository/README.md
  infra/resources/_modules/apim/README.md
  infra/resources/_modules/cdn/README.md
  infra/resources/_modules/cosmos/README.md
  infra/resources/_modules/function_apps/README.md
  infra/resources/_modules/iam/README.md
  infra/resources/_modules/key_vaults/README.md
  infra/resources/_modules/monitoring/README.md
  infra/resources/_modules/storage_accounts/README.md
  infra/resources/_modules/storage_accounts/outputs.tf
  infra/resources/_modules/storage_accounts/storage_accounts.tf
  infra/resources/_modules/storage_accounts/variables.tf
  infra/resources/prod/README.md
  infra/resources/prod/main.tf
Labels: infra

Add usage of module
  infra/resources/_modules/storage/locals.tf
  infra/resources/_modules/storage/outputs.tf
  infra/resources/_modules/storage/storage_accounts.tf
  infra/resources/_modules/storage/storage_queue.tf
  infra/resources/_modules/storage/variables.tf
  infra/resources/prod/locals.tf
  infra/resources/prod/main.tf
Labels: infra

Update locals.tf
  infra/resources/prod/locals.tf
Labels: infra

Update locals.tf
  infra/resources/prod/locals.tf
Labels: infra

Update locals.tf
  infra/resources/prod/locals.tf
Labels: infra

Fixing package and apps versions
  apps/io-wallet-support-func/CHANGELOG.md
  apps/io-wallet-support-func/package.json
  apps/io-wallet-user-func/CHANGELOG.md
  apps/io-wallet-user-func/package.json
Labels: apps

Add again CosmosDbEndpoint
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

precommit
  infra/resources/_modules/apim/README.md
  infra/resources/_modules/function_apps/README.md
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/iam/README.md
Labels: infra

chore: updated WalletInstanceRepository
  .changeset/bright-chefs-film.md
  .changeset/tricky-peas-protect.md
  apps/io-wallet-support-func/CHANGELOG.md
  apps/io-wallet-support-func/package.json
  apps/io-wallet-user-func/CHANGELOG.md
  apps/io-wallet-user-func/package.json
  apps/io-wallet-user-func/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-current-wallet-instance.status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-current-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
  packages/io-wallet-common/CHANGELOG.md
  packages/io-wallet-common/package.json
Labels: internal, apps, changeset

chore: updated WalletInstanceRepository
  .changeset/bright-chefs-film.md
  .changeset/tricky-peas-protect.md
  apps/io-wallet-support-func/CHANGELOG.md
  apps/io-wallet-support-func/package.json
  apps/io-wallet-user-func/CHANGELOG.md
  apps/io-wallet-user-func/package.json
  apps/io-wallet-user-func/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-current-wallet-instance.status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-current-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
  packages/io-wallet-common/CHANGELOG.md
  packages/io-wallet-common/package.json
Labels: internal, apps, changeset

chore: make storage private (#281)
  .github/workflows/pr_infra.yaml
  .github/workflows/release_infra.yaml
  .pre-commit-config.yaml
  .tflint.hcl
  .trivyignore
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  infra/github-runner/README.md
  infra/github-runner/prod/README.md
  infra/identity/prod/README.md
  infra/identity/prod/main.tf
  infra/identity/prod/westeurope/.terraform.lock.hcl
  infra/repository/README.md
  infra/resources/_modules/apim/README.md
  infra/resources/_modules/cdn/README.md
  infra/resources/_modules/cosmos/README.md
  infra/resources/_modules/function_apps/README.md
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/iam/README.md
  infra/resources/_modules/iam/admins.tf
  infra/resources/_modules/iam/variables.tf
  infra/resources/_modules/key_vaults/README.md
  infra/resources/_modules/monitoring/README.md
  infra/resources/_modules/storage/outputs.tf
  infra/resources/_modules/storage/storage_accounts.tf
  infra/resources/_modules/storage/variables.tf
  infra/resources/_modules/storage_accounts/README.md
  infra/resources/_modules/storage_accounts/locals.tf
  infra/resources/_modules/storage_accounts/main.tf
  infra/resources/_modules/storage_accounts/outputs.tf
  infra/resources/_modules/storage_accounts/storage_accounts.tf
  infra/resources/_modules/storage_accounts/storage_queue.tf
  infra/resources/_modules/storage_accounts/variables.tf
  infra/resources/prod/README.md
  infra/resources/prod/locals.tf
  infra/resources/prod/main.tf
Labels: apps, ci, infra

chore: make storage private (#281)
  .github/workflows/pr_infra.yaml
  .github/workflows/release_infra.yaml
  .pre-commit-config.yaml
  .tflint.hcl
  .trivyignore
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  infra/github-runner/README.md
  infra/github-runner/prod/README.md
  infra/identity/prod/README.md
  infra/identity/prod/main.tf
  infra/identity/prod/westeurope/.terraform.lock.hcl
  infra/repository/README.md
  infra/resources/_modules/apim/README.md
  infra/resources/_modules/cdn/README.md
  infra/resources/_modules/cosmos/README.md
  infra/resources/_modules/function_apps/README.md
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/iam/README.md
  infra/resources/_modules/iam/admins.tf
  infra/resources/_modules/iam/variables.tf
  infra/resources/_modules/key_vaults/README.md
  infra/resources/_modules/monitoring/README.md
  infra/resources/_modules/storage/outputs.tf
  infra/resources/_modules/storage/storage_accounts.tf
  infra/resources/_modules/storage/variables.tf
  infra/resources/_modules/storage_accounts/README.md
  infra/resources/_modules/storage_accounts/locals.tf
  infra/resources/_modules/storage_accounts/main.tf
  infra/resources/_modules/storage_accounts/outputs.tf
  infra/resources/_modules/storage_accounts/storage_accounts.tf
  infra/resources/_modules/storage_accounts/storage_queue.tf
  infra/resources/_modules/storage_accounts/variables.tf
  infra/resources/prod/README.md
  infra/resources/prod/locals.tf
  infra/resources/prod/main.tf
Labels: apps, ci, infra

fix merge master
  infra/resources/prod/locals.tf
Labels: infra

move to spain
  infra/resources/prod/locals.tf
Labels: infra

updated base policy
  infra/resources/_modules/apim/api/ioweb/_base_policy.xml
Labels: infra

[CES-505] Move Cosmos DB secondary region to Spain Central (#285)
  infra/resources/prod/locals.tf
Labels: infra

[CES-505] Move Cosmos DB secondary region to Spain Central (#285)
  infra/resources/prod/locals.tf
Labels: infra

Add revocation reason
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-current-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-wallet-instance-status.ts
  apps/io-wallet-user-func/src/wallet-instance-revocation-process.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
  packages/io-wallet-common/src/wallet-instance.ts
Labels: internal, apps

Create light-experts-repair.md
  .changeset/light-experts-repair.md
Labels: changeset

Add revokedByUser
  apps/io-wallet-user-func/src/infra/http/handlers/set-current-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-wallet-instance-status.ts
  packages/io-wallet-common/src/wallet-instance.ts
Labels: internal, apps

Move enum to uppercase
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-current-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-wallet-instance-status.ts
  apps/io-wallet-user-func/src/wallet-instance-revocation-process.ts
  packages/io-wallet-common/src/wallet-instance.ts
Labels: internal, apps

fix io-ts type
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-current-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-wallet-instance-status.ts
  apps/io-wallet-user-func/src/wallet-instance-revocation-process.ts
  packages/io-wallet-common/src/wallet-instance.ts
Labels: internal, apps

use key_vault_wallet_name variable in function app module
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/prod/main.tf
Labels: infra

Update certificates.ts
  apps/io-wallet-user-func/src/certificates.ts
Labels: apps

Remove check on expiration
  apps/io-wallet-user-func/src/wallet-instance-revocation-process.ts
  packages/io-wallet-common/src/wallet-instance.ts
Labels: internal, apps

feat: Add revocation reason to Revoked Wallet Instance
  .changeset/light-experts-repair.md
  apps/io-wallet-user-func/src/certificates.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-current-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-wallet-instance-status.ts
  apps/io-wallet-user-func/src/wallet-instance-revocation-process.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
  packages/io-wallet-common/src/wallet-instance.ts
Labels: internal, apps, changeset

feat: Add revocation reason to Revoked Wallet Instance
  .changeset/light-experts-repair.md
  apps/io-wallet-user-func/src/certificates.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-current-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-wallet-instance-status.ts
  apps/io-wallet-user-func/src/wallet-instance-revocation-process.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
  packages/io-wallet-common/src/wallet-instance.ts
Labels: internal, apps, changeset

Disable function
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

Disable function
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

Add leases toggle
  infra/resources/_modules/cosmos/locals.tf
Labels: infra

.github/labeler.yml:

internal: packages/**/*
sd-jwt: packages/sd-jwt/*
apps: apps/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*
