Repository pagopa/io-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, infra, changeset

.github/labeler.yml:

apps: apps/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*

infra: updated tf lock file
  infra/resources/psn/prod/.terraform.lock.hcl
Labels: infra

updated /revokeAll in createWalletInstance handler
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
Labels: apps

run changeset
  .changeset/green-horses-check.md
Labels: changeset

fix lint
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
Labels: apps

added new unit test
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
Labels: apps

fix: updated /revokeAll in createWalletInstance handler
  .changeset/green-horses-check.md
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
Labels: apps, changeset

Explicit RBAC support option
  infra/resources/psn/prod/apim.tf
Labels: infra

updated code after copilot review
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-unit-attestation.ts
  apps/io-wallet-user-func/src/infra/http/wallet-unit-attestation-request.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/index.ts
  apps/io-wallet-user-func/src/wallet-unit-attestation.ts
  packages/io-wallet-common/src/jwk.ts
Labels: apps

removed cffi dependency from requirement file
  .github/workflows/le_renew_ssl_certificate_python_requirements.txt
Labels: ci

replace requirements file
  .github/workflows/le_renew_ssl_certificate_python_requirements.txt
Labels: ci

fix: fix TLS certificate renewal workflow
  .github/workflows/le_renew_ssl_certificate_python_requirements.txt
Labels: ci

increase polling time
  .github/workflows/le_renew_ssl_certificate_acme_tiny.py
Labels: ci

Set polling timeout to 20 minutes instead of 10
  .github/workflows/le_renew_ssl_certificate_acme_tiny.py
Labels: ci

switch dns zone
  .github/workflows/api_internal_wallet_io_pagopa_it.yaml
  .github/workflows/apim_internal_wallet_io_pagopa_it.yaml
Labels: ci

rollback previous changes
  .github/workflows/le_renew_ssl_certificate_acme_tiny.py
Labels: ci

Fix tls workflows (#726)
  .github/workflows/api_internal_wallet_io_pagopa_it.yaml
  .github/workflows/apim_internal_wallet_io_pagopa_it.yaml
  .github/workflows/le_renew_ssl_certificate_acme_tiny.py
Labels: ci

add secret to repo
  infra/repository/.terraform.lock.hcl
  infra/repository/README.md
  infra/repository/locals.tf
  infra/repository/main.tf
Labels: infra

add slack notification
  .github/workflows/tls_certificate.yaml
Labels: ci

add new input
  .github/workflows/api_internal_wallet_io_pagopa_it.yaml
  .github/workflows/apim_internal_wallet_io_pagopa_it.yaml
Labels: ci

Add Slack notification when TLS certificate renewal fails (#727)
  .github/workflows/api_internal_wallet_io_pagopa_it.yaml
  .github/workflows/apim_internal_wallet_io_pagopa_it.yaml
  .github/workflows/tls_certificate.yaml
  infra/repository/.terraform.lock.hcl
  infra/repository/README.md
  infra/repository/locals.tf
  infra/repository/main.tf
Labels: ci, infra

updated createWUA and createWIA handler endpoints
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-unit-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-unit-attestation.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/assertion.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/attestation.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/index.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/assertion-request-validation.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/client-data.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/index.ts
Labels: apps

run pre-commit
  infra/resources/prod/tfmodules.lock.json
Labels: infra

updated
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/index.ts
Labels: apps

change variable name
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-unit-attestation.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/assertion-request-validation.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/client-data.ts
Labels: apps

updated code after review comments
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-unit-attestation.ts
  apps/io-wallet-user-func/src/infra/http/wallet-instance-attestation-request.ts
  apps/io-wallet-user-func/src/infra/http/wallet-unit-attestation-request.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/client-data.ts
  apps/io-wallet-user-func/src/infra/signer-metadata.ts
  apps/io-wallet-user-func/src/wallet-instance-attestation.ts
  apps/io-wallet-user-func/src/wallet-unit-attestation.ts
  packages/io-wallet-common/package.json
  packages/io-wallet-common/src/__test__/jwk.spec.ts
  packages/io-wallet-common/src/jwk.ts
  pnpm-lock.yaml
Labels: apps

updated APIM PSN policies
  infra/resources/psn/prod/apim/policies/nest_body_into_assertion.xml
  infra/resources/psn/prod/apim_apis.tf
Labels: infra

run pre-commit
  infra/resources/prod/tfmodules.lock.json
Labels: infra

renamed api policy file
  infra/resources/psn/prod/apim/policies/nest_fiscal_code_into_assertion.xml
  infra/resources/psn/prod/apim_apis.tf
Labels: infra

feat: added /wallet-unit-attestations endpoint
  .changeset/floppy-stamps-serve.md
  apps/io-wallet-user-func/openapi-external/user_uat_v1/swagger.yaml
  apps/io-wallet-user-func/openapi-external/user_v1/swagger.yaml
  apps/io-wallet-user-func/openapi.yaml
  apps/io-wallet-user-func/src/__test__/verifier.spec.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/functions/create-wallet-unit-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-unit-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-unit-attestation.ts
  apps/io-wallet-user-func/src/infra/http/platform-codecs.ts
  apps/io-wallet-user-func/src/infra/http/wallet-instance-attestation-request.ts
  apps/io-wallet-user-func/src/infra/http/wallet-unit-attestation-request.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/assertion.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/attestation.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/index.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/assertion-request-validation.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/client-data.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/index.ts
  apps/io-wallet-user-func/src/infra/signer-metadata.ts
  apps/io-wallet-user-func/src/verifier.ts
  apps/io-wallet-user-func/src/wallet-attestation-request.ts
  apps/io-wallet-user-func/src/wallet-instance-attestation.ts
  apps/io-wallet-user-func/src/wallet-unit-attestation.ts
  infra/resources/prod/apis/user_uat_v1/swagger.yaml
  infra/resources/prod/apis/user_v1/swagger.yaml
  infra/resources/prod/tfmodules.lock.json
  infra/resources/psn/prod/apim/api/user-uat/swagger.yaml
  infra/resources/psn/prod/apim/api/user/swagger.yaml
  infra/resources/psn/prod/apim/policies/nest_fiscal_code_into_assertion.xml
  infra/resources/psn/prod/apim_apis.tf
  packages/io-wallet-common/package.json
  packages/io-wallet-common/src/__test__/jwk.spec.ts
  packages/io-wallet-common/src/jwk.ts
  pnpm-lock.yaml
Labels: apps, infra, changeset

updated
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/__test__/assertion.spec.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/assertion.ts
Labels: apps

run changeset
  .changeset/vast-eagles-bet.md
Labels: changeset

fix: updated Android integrity check
  .changeset/vast-eagles-bet.md
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/__test__/assertion.spec.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/assertion.ts
Labels: apps, changeset

fix drifts
  infra/core/psn/hub/prod/appgw.tf
  infra/resources/psn/prod/README.md
  infra/resources/psn/prod/cdn.tf
  infra/resources/psn/prod/main.tf
Labels: infra

Fix Terraform drifts (#733)
  infra/core/psn/hub/prod/appgw.tf
  infra/resources/psn/prod/README.md
  infra/resources/psn/prod/cdn.tf
  infra/resources/psn/prod/main.tf
Labels: infra

updated WUA response!
  .changeset/stale-terms-fix.md
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-unit-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-unit-attestation.ts
  apps/io-wallet-user-func/src/infra/http/wallet-unit-attestation-request.ts
Labels: apps, changeset

fix lint
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-unit-attestation.spec.ts
Labels: apps

updated unit test description
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-unit-attestation.spec.ts
Labels: apps

fix lint
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-unit-attestation.spec.ts
Labels: apps

chore: updated WUA response
  .changeset/stale-terms-fix.md
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-unit-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-unit-attestation.ts
  apps/io-wallet-user-func/src/infra/http/wallet-unit-attestation-request.ts
Labels: apps, changeset

Remove io-p-kv unused permission dependencies
  infra/resources/prod/README.md
  infra/resources/prod/data.tf
  infra/resources/prod/iam.tf
  infra/resources/prod/tfmodules.lock.json
Labels: infra
