Repository pagopa/io-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, sd-jwt, apps, docs, ci, infra, changeset

updated
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation.ts
  apps/io-wallet-user-func/src/wallet-attestation.ts
  apps/io-wallet-user-func/src/wallet-provider.ts
Labels: apps

updated wallet attestation endpoint
  apps/io-wallet-user-func/src/attestation-service.ts
  apps/io-wallet-user-func/src/encoders/wallet-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation-v2.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation-v2.ts
  apps/io-wallet-user-func/src/verifier.ts
  apps/io-wallet-user-func/src/wallet-attestation-request.ts
  apps/io-wallet-user-func/src/wallet-attestation.ts
  apps/io-wallet-user-func/src/wallet-provider.ts
Labels: apps

fix lint
  apps/io-wallet-user-func/src/encoders/wallet-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation-v2.ts
  apps/io-wallet-user-func/src/wallet-attestation.ts
Labels: apps

revert type name
  apps/io-wallet-user-func/src/verifier.ts
Labels: apps

removed comment
  apps/io-wallet-user-func/src/verifier.ts
Labels: apps

updated wallet attestation generation
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/encoders/wallet-attestation.ts
  apps/io-wallet-user-func/src/entity-configuration.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation-v2.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation-v2.ts
  apps/io-wallet-user-func/src/wallet-attestation.ts
Labels: apps

Added a NodeJS/TypeScript script to add a group of fiscal codes in the whitelist
  scripts/whitelist-fiscal-code-script/.gitignore
  scripts/whitelist-fiscal-code-script/.prettierrc
  scripts/whitelist-fiscal-code-script/README.md
  scripts/whitelist-fiscal-code-script/eslint.config.mjs
  scripts/whitelist-fiscal-code-script/fiscalCodes/example.csv
  scripts/whitelist-fiscal-code-script/package.json
  scripts/whitelist-fiscal-code-script/src/config/config.spec.ts
  scripts/whitelist-fiscal-code-script/src/config/config.ts
  scripts/whitelist-fiscal-code-script/src/cosmos/cosmos.spec.ts
  scripts/whitelist-fiscal-code-script/src/cosmos/cosmos.ts
  scripts/whitelist-fiscal-code-script/src/insert-fiscal-codes/insert-fiscal-codes.spec.ts
  scripts/whitelist-fiscal-code-script/src/insert-fiscal-codes/insert-fiscal-codes.ts
  scripts/whitelist-fiscal-code-script/src/main.ts
  scripts/whitelist-fiscal-code-script/src/parse-fiscal-codes/parse-fiscal-codes.spec.ts
  scripts/whitelist-fiscal-code-script/src/parse-fiscal-codes/parse-fiscal-codes.ts
  scripts/whitelist-fiscal-code-script/src/utils/sleep.spec.ts
  scripts/whitelist-fiscal-code-script/src/utils/sleep.ts
  scripts/whitelist-fiscal-code-script/tsconfig.json
  scripts/whitelist-fiscal-code-script/vitest.config.ts
  scripts/whitelist-fiscal-code-script/yarn.lock
Labels: none

refactor
  apps/io-wallet-user-func/src/encoders/wallet-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation-v2.ts
  apps/io-wallet-user-func/src/wallet-attestation.ts
Labels: apps

updated unit tests
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation-v2.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation-v2.ts
  apps/io-wallet-user-func/src/wallet-attestation.ts
Labels: apps

added env var in terraform
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

revert commit
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

added new env var in terraform
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

Removed fiscalCodes/ directory; using env var to specify the CSV file (instead of hardcoding it); renamed example.csv in fiscalcodes.csv.example
  scripts/whitelist-fiscal-code-script/.gitignore
  scripts/whitelist-fiscal-code-script/README.md
  scripts/whitelist-fiscal-code-script/env_example
  scripts/whitelist-fiscal-code-script/fiscalcodes.csv.example
  scripts/whitelist-fiscal-code-script/src/config/config.spec.ts
  scripts/whitelist-fiscal-code-script/src/config/config.ts
  scripts/whitelist-fiscal-code-script/src/main.ts
  scripts/whitelist-fiscal-code-script/src/parse-fiscal-codes/parse-fiscal-codes.spec.ts
  scripts/whitelist-fiscal-code-script/src/parse-fiscal-codes/parse-fiscal-codes.ts
Labels: none

Output CSV file for whitelisted and non-whitelisted CF (with error details)
  scripts/whitelist-fiscal-code-script/README.md
  scripts/whitelist-fiscal-code-script/package.json
  scripts/whitelist-fiscal-code-script/src/insert-fiscal-codes/insert-fiscal-codes.spec.ts
  scripts/whitelist-fiscal-code-script/src/insert-fiscal-codes/insert-fiscal-codes.ts
  scripts/whitelist-fiscal-code-script/yarn.lock
Labels: none

Fixed raplceAll() for error message and error stack
  scripts/whitelist-fiscal-code-script/src/insert-fiscal-codes/insert-fiscal-codes.ts
Labels: none

Add check to fiscalCodes's length
  scripts/whitelist-fiscal-code-script/src/parse-fiscal-codes/parse-fiscal-codes.ts
Labels: none

Removed .unknown() to the Joi Schema for env vars
  scripts/whitelist-fiscal-code-script/src/config/config.ts
Labels: none

Using the global .gitignore file for whitelist-fiscal-code-script
  .gitignore
  scripts/whitelist-fiscal-code-script/.gitignore
Labels: none

Removed sleep util
  scripts/whitelist-fiscal-code-script/src/insert-fiscal-codes/insert-fiscal-codes.ts
  scripts/whitelist-fiscal-code-script/src/utils/sleep.spec.ts
  scripts/whitelist-fiscal-code-script/src/utils/sleep.ts
Labels: none

Supported --input and --outputDir arguments
  scripts/whitelist-fiscal-code-script/README.md
  scripts/whitelist-fiscal-code-script/env_example
  scripts/whitelist-fiscal-code-script/src/config/config.spec.ts
  scripts/whitelist-fiscal-code-script/src/config/config.ts
  scripts/whitelist-fiscal-code-script/src/insert-fiscal-codes/insert-fiscal-codes.ts
  scripts/whitelist-fiscal-code-script/src/main.ts
  scripts/whitelist-fiscal-code-script/src/utils/get-argv-param.ts
Labels: none

Code formatting
  scripts/whitelist-fiscal-code-script/README.md
  scripts/whitelist-fiscal-code-script/src/config/config.ts
  scripts/whitelist-fiscal-code-script/src/insert-fiscal-codes/insert-fiscal-codes.ts
  scripts/whitelist-fiscal-code-script/src/utils/get-argv-param.ts
Labels: none

run changeset
  .changeset/neat-dots-kneel.md
Labels: changeset

removed comments
  apps/io-wallet-user-func/src/encoders/wallet-attestation.ts
Labels: apps

remove comment
  apps/io-wallet-user-func/src/wallet-attestation.ts
Labels: apps

update
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/wallet-attestation.ts
Labels: apps

fix test
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation-v2.spec.ts
Labels: apps

fix lint
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation-v2.spec.ts
Labels: apps

updated changelog statement
  .changeset/neat-dots-kneel.md
Labels: changeset

fix typo
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation-v2.ts
Labels: apps

feat: updated /wallet-attestation endpoint
  .changeset/neat-dots-kneel.md
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/attestation-service.ts
  apps/io-wallet-user-func/src/encoders/wallet-attestation.ts
  apps/io-wallet-user-func/src/entity-configuration.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation-v2.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation-v2.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation.ts
  apps/io-wallet-user-func/src/verifier.ts
  apps/io-wallet-user-func/src/wallet-attestation-request.ts
  apps/io-wallet-user-func/src/wallet-attestation.ts
  apps/io-wallet-user-func/src/wallet-provider.ts
  infra/resources/_modules/function_apps/locals.tf
Labels: apps, infra, changeset

updated openapi
  apps/io-wallet-user-func/openapi.yaml
Labels: apps

updated openapi
  apps/io-wallet-user-func/openapi.yaml
Labels: apps

fix: updated openapi (#419)
  apps/io-wallet-user-func/openapi.yaml
Labels: apps

Integrated PDND Interop service and implemented the new credentials revocation flow
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/package.json
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/credential.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/delete-wallet-instances.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/pdnd-interop/client.ts
  apps/io-wallet-user-func/src/infra/pid-issuer/client.ts
  apps/io-wallet-user-func/src/infra/voucher.ts
  yarn.lock
Labels: apps

Removed useless env var
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
Labels: apps

revert last commit
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
Labels: apps

scaffold host and tsconfig
  apps/io-wallet-issuer-func/.funcignore
  apps/io-wallet-issuer-func/README.md
  apps/io-wallet-issuer-func/eslint.config.mjs
  apps/io-wallet-issuer-func/host.json
  apps/io-wallet-issuer-func/package.json
  apps/io-wallet-issuer-func/tsconfig.json
  apps/io-wallet-issuer-func/tsup.config.js
Labels: apps

add jwk schema and config
  apps/io-wallet-issuer-func/src/app/config.ts
  apps/io-wallet-issuer-func/src/domain/jwk.ts
Labels: apps

crypto utils for openid4vc
  apps/io-wallet-issuer-func/src/domain/signer.ts
  apps/io-wallet-issuer-func/src/domain/util.ts
Labels: apps

JwksRepository contains jwk
  apps/io-wallet-issuer-func/src/adapters/in-memory/signer.ts
Labels: apps

.github/labeler.yml:

internal: packages/**/*
sd-jwt: packages/sd-jwt/*
apps: apps/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*
