Repository pagopa/io-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, sd-jwt, apps, docs, ci, infra, changeset

Removing all 'subjective' and wrong sentences (x2)
  README.md
  apps/io-wallet-support-func/README.md
  apps/io-wallet-user-func/README.md
  packages/io-wallet-common/README.md
Labels: internal, apps

add fetch instrumentation
  apps/io-wallet-user-func/package.json
  apps/io-wallet-user-func/src/infra/azure/appinsights/start.ts
  yarn.lock
Labels: apps

updated appinsights handler wrapper name
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/appinsights/wrapper-handler.ts
Labels: apps

fix lint
  apps/io-wallet-user-func/src/infra/azure/appinsights/start.ts
Labels: apps

Removing the env variables list in each README.md and commenting the local.settings.json.example files
  apps/io-wallet-support-func/README.md
  apps/io-wallet-support-func/local.settings.json.example
  apps/io-wallet-user-func/README.md
  apps/io-wallet-user-func/local.settings.json.example
Labels: apps

added try / catch
  apps/io-wallet-user-func/package.json
  apps/io-wallet-user-func/src/infra/azure/appinsights/start.ts
  apps/io-wallet-user-func/src/infra/azure/appinsights/wrapper-handler.ts
  apps/io-wallet-user-func/src/infra/pid-issuer/client.ts
  yarn.lock
Labels: apps

fix lint
  apps/io-wallet-user-func/src/infra/azure/appinsights/wrapper-handler.ts
Labels: apps

fix: added app insights handler wrapper
  .changeset/six-windows-explode.md
  apps/io-wallet-user-func/package.json
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/appinsights/start.ts
  apps/io-wallet-user-func/src/infra/azure/appinsights/wrapper-handler.ts
  apps/io-wallet-user-func/src/infra/pid-issuer/client.ts
  yarn.lock
Labels: apps, changeset

fix: added app insights handler wrapper
  .changeset/six-windows-explode.md
  apps/io-wallet-user-func/package.json
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/appinsights/start.ts
  apps/io-wallet-user-func/src/infra/azure/appinsights/wrapper-handler.ts
  apps/io-wallet-user-func/src/infra/pid-issuer/client.ts
  yarn.lock
Labels: apps, changeset

add comment
  apps/io-wallet-user-func/src/infra/azure/appinsights/wrapper-handler.ts
Labels: apps

chore: added comment
  apps/io-wallet-user-func/src/infra/azure/appinsights/wrapper-handler.ts
Labels: apps

chore: added comment
  apps/io-wallet-user-func/src/infra/azure/appinsights/wrapper-handler.ts
Labels: apps

add runbook
  infra/resources/_modules/cdn/alerts.tf
  infra/resources/_modules/cosmos/alerts.tf
  infra/resources/_modules/function_apps/alerts.tf
Labels: infra

[SIW-1760] Add runbook link to alerts description (#261)
  infra/resources/_modules/cdn/alerts.tf
  infra/resources/_modules/cosmos/alerts.tf
  infra/resources/_modules/function_apps/alerts.tf
Labels: infra

[SIW-1760] Add runbook link to alerts description (#261)
  infra/resources/_modules/cdn/alerts.tf
  infra/resources/_modules/cosmos/alerts.tf
  infra/resources/_modules/function_apps/alerts.tf
Labels: infra

Adding the 'UnknownPackage' value to the 'AndroidBundleIdentifiers' key
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

Updating the AndroidBundleIdentifiers value
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

feat: configured itn apim migration
  infra/resources/_modules/apim/apim_itn.tf
  infra/resources/_modules/apim/variables.tf
  infra/resources/prod/locals.tf
  infra/resources/prod/main.tf
Labels: infra

fix: minor
  infra/resources/_modules/apim/apim_itn.tf
Labels: infra

chore: [SIW-1796] Relax integrity check requirement by allowing users returning "unknown package" (#262)
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

chore: [SIW-1796] Relax integrity check requirement by allowing users returning "unknown package" (#262)
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

updated getCurrentWalletInstanceStatus function with no jwt validation
  apps/io-wallet-user-func/openapi.yaml
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-current-wallet-instance.status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-current-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/whitelisted-user.ts
  apps/io-wallet-user-func/src/user.ts
Labels: apps

Fix android validation certificate check
  apps/io-wallet-user-func/src/infra/attestation-service/android/attestation.ts
Labels: apps

Create breezy-lions-battle.md
  .changeset/breezy-lions-battle.md
Labels: changeset

Update attestation.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/attestation.ts
Labels: apps

Update attestation.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/attestation.ts
Labels: apps

Add unit test
  apps/io-wallet-user-func/src/infra/attestation-service/android/__test__/attestation.spec.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/__test__/config.ts
Labels: apps

Update attestation.spec.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/__test__/attestation.spec.ts
Labels: apps

Update attestation.spec.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/__test__/attestation.spec.ts
Labels: apps

Fix import
  apps/io-wallet-user-func/src/infra/attestation-service/android/__test__/attestation.spec.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/__test__/config.ts
Labels: apps

fix: Revoked Android Attestation Validation
  .changeset/breezy-lions-battle.md
  apps/io-wallet-user-func/src/infra/attestation-service/android/__test__/attestation.spec.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/__test__/config.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/attestation.ts
Labels: apps, changeset

fix: Revoked Android Attestation Validation
  .changeset/breezy-lions-battle.md
  apps/io-wallet-user-func/src/infra/attestation-service/android/__test__/attestation.spec.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/__test__/config.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/attestation.ts
Labels: apps, changeset

updated getCurrentWalletInstanceStatus and setWalletInstanceStatus functions with no jwt validation and trial system check
  apps/io-wallet-user-func/openapi.yaml
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-current-wallet-instance.status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/health.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-current-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/handlers/health.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/jwt-validator.ts
  apps/io-wallet-user-func/src/infra/http/whitelisted-user.ts
  apps/io-wallet-user-func/src/infra/jwt-validator.ts
  apps/io-wallet-user-func/src/infra/trial-system/client.ts
  apps/io-wallet-user-func/src/infra/trial-system/health-check.ts
  apps/io-wallet-user-func/src/jwt-validator.ts
  apps/io-wallet-user-func/src/user.ts
Labels: apps

removed env var
  apps/io-wallet-user-func/local.settings.json.example
  infra/resources/_modules/function_apps/locals.tf
Labels: apps, infra

added jwt validation containers
  infra/resources/_modules/cdn/storage_account.tf
Labels: infra

revert enable_https_traffic_only = true
  infra/resources/_modules/cdn/storage_account.tf
Labels: infra

[SIW-1479] Added containers in storage account
  infra/resources/_modules/cdn/storage_account.tf
Labels: infra

[SIW-1479] Added containers in storage account
  infra/resources/_modules/cdn/storage_account.tf
Labels: infra

updated io-web APIM policy
  infra/resources/_modules/apim/api/ioweb/_base_policy.xml
  infra/resources/_modules/apim/api/ioweb/_swagger.json
  infra/resources/_modules/apim/api/ioweb/user-function/_base_policy.xml
  infra/resources/_modules/apim/apim.tf
Labels: infra

lint
  infra/resources/_modules/apim/api/ioweb/_swagger.json
Labels: infra

.github/labeler.yml:

internal: packages/**/*
sd-jwt: packages/sd-jwt/*
apps: apps/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*
