Repository pagopa/io-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, sd-jwt, apps, docs, ci, infra, changeset

.github/labeler.yml:

internal: packages/**/*
sd-jwt: packages/sd-jwt/*
apps: apps/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*

add identities to repo
  infra/identity/prod/main.tf
  infra/repository/.terraform.lock.hcl
  infra/repository/data.tf
  infra/repository/github_environment_cd.tf
  infra/repository/github_environment_ci.tf
  infra/repository/github_repository.tf
  infra/repository/locals.tf
  infra/repository/main.tf
Labels: infra

Fix error on wallet attestation creation
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation.ts
Labels: apps

Create breezy-cows-taste.md
  .changeset/breezy-cows-taste.md
Labels: changeset

Update create-wallet-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation.ts
Labels: apps

fix: Increase security on test attestation
  .changeset/breezy-cows-taste.md
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation.ts
Labels: apps, changeset

fix: Increase security on test attestation
  .changeset/breezy-cows-taste.md
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation.ts
Labels: apps, changeset

send exceptions to application insights
  apps/io-wallet-support-func/local.settings.json.example
  apps/io-wallet-support-func/package.json
  apps/io-wallet-support-func/src/app/main.ts
  apps/io-wallet-support-func/src/infra/http/handlers/__test__/get-current-wallet-instance-by-fiscal-code.spec.ts
  apps/io-wallet-support-func/src/infra/http/handlers/get-current-wallet-instance-by-fiscal-code.ts
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/package.json
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/handlers/generate-entity-configuration.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-current-wallet-instance.status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-nonce.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-current-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-current-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-nonce.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-current-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-wallet-instance-status.ts
  apps/io-wallet-user-func/src/telemetry.ts
  packages/io-wallet-common/package.json
  packages/io-wallet-common/src/infra/azure/appinsights/telemetry.ts
  yarn.lock
Labels: internal, apps

put applicationinsights as first import
  apps/io-wallet-support-func/src/infra/http/handlers/__test__/get-current-wallet-instance-by-fiscal-code.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-current-wallet-instance.status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-nonce.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-current-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
Labels: apps

removed new line
  apps/io-wallet-user-func/src/infra/http/handlers/set-wallet-instance-status.ts
Labels: apps

updated comment
  apps/io-wallet-user-func/src/telemetry.ts
Labels: apps

updated function name
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-current-wallet-instance-status.ts
  apps/io-wallet-user-func/src/telemetry.ts
Labels: apps

add role
  infra/identity/prod/README.md
  infra/identity/prod/main.tf
Labels: infra

comment out env vars
  .github/workflows/pr_opex.yaml
Labels: ci

clean up tests
  .github/workflows/pr_opex.yaml
  infra/identity/prod/main.tf
Labels: ci, infra

add apply workflow
  .github/workflows/pr_opex.yaml
Labels: ci

trick to trigger workflow
  .github/workflows/release_opex.yaml
Labels: ci

Fix non empty string
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation.ts
Labels: apps

Update create-wallet-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation.ts
Labels: apps

updated comment
  apps/io-wallet-user-func/src/telemetry.ts
Labels: apps

Create curly-cows-arrive.md
  .changeset/curly-cows-arrive.md
Labels: changeset

fix: Fix bug on test attestation (#242)
  .changeset/curly-cows-arrive.md
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation.ts
Labels: apps, changeset

fix: Fix bug on test attestation (#242)
  .changeset/curly-cows-arrive.md
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation.ts
Labels: apps, changeset

final setup
  .github/workflows/pr_opex.yaml
  .github/workflows/release_opex.yaml
  apps/io-wallet-user-func/.opex/management/env/prod/config.yaml
Labels: apps, ci

fix main branch name
  .github/workflows/pr_opex.yaml
  .github/workflows/release_opex.yaml
Labels: ci

updated name and comment of sendExceptionWithBodyToAppInsights
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-current-wallet-instance-status.ts
  apps/io-wallet-user-func/src/telemetry.ts
Labels: apps

fix lint
  apps/io-wallet-user-func/src/telemetry.ts
Labels: apps

fix pr workflow
  .github/workflows/pr_opex.yaml
Labels: ci

typo
  .github/workflows/pr_opex.yaml
Labels: ci

update permissions
  .github/workflows/pr_opex.yaml
Labels: ci

[CES-132] Add Opex Dashboard for User Function App (#245)
  .github/workflows/pr_opex.yaml
  .github/workflows/release_opex.yaml
  apps/io-wallet-user-func/.opex/management/env/prod/backend.ini
  apps/io-wallet-user-func/.opex/management/env/prod/backend.tfvars
  apps/io-wallet-user-func/.opex/management/env/prod/config.yaml
  apps/io-wallet-user-func/.opex/management/env/prod/terraform.tfvars
  infra/identity/prod/README.md
  infra/identity/prod/main.tf
  infra/repository/.terraform.lock.hcl
  infra/repository/data.tf
  infra/repository/github_environment_cd.tf
  infra/repository/github_environment_ci.tf
  infra/repository/github_repository.tf
  infra/repository/locals.tf
  infra/repository/main.tf
Labels: apps, ci, infra

[CES-132] Add Opex Dashboard for User Function App (#245)
  .github/workflows/pr_opex.yaml
  .github/workflows/release_opex.yaml
  apps/io-wallet-user-func/.opex/management/env/prod/backend.ini
  apps/io-wallet-user-func/.opex/management/env/prod/backend.tfvars
  apps/io-wallet-user-func/.opex/management/env/prod/config.yaml
  apps/io-wallet-user-func/.opex/management/env/prod/terraform.tfvars
  infra/identity/prod/README.md
  infra/identity/prod/main.tf
  infra/repository/.terraform.lock.hcl
  infra/repository/data.tf
  infra/repository/github_environment_cd.tf
  infra/repository/github_environment_ci.tf
  infra/repository/github_repository.tf
  infra/repository/locals.tf
  infra/repository/main.tf
Labels: apps, ci, infra

add setUseDiskRetryCaching(true) to appInsights
  apps/io-wallet-user-func/src/app/main.ts
Labels: apps

removed APPLICATIONINSIGHTS_CONNECTION_STRING env var
  infra/resources/_modules/function_apps/function_app_support.tf
  infra/resources/_modules/function_apps/function_app_user.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/prod/main.tf
Labels: infra

increase sku
  infra/resources/_modules/function_apps/function_app_user.tf
Labels: infra

remove FUNCTIONS_WORKER_PROCESS_COUNT override
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

setup autoscaler
  infra/resources/_modules/function_apps/function_app_user.tf
Labels: infra

scale RU
  infra/resources/_modules/cosmos/locals.tf
Labels: infra

[CES-193] Increase Function App User SKU and tune its autoscaler (#247)
  infra/resources/_modules/cosmos/locals.tf
  infra/resources/_modules/function_apps/function_app_user.tf
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

[CES-193] Increase Function App User SKU and tune its autoscaler (#247)
  infra/resources/_modules/cosmos/locals.tf
  infra/resources/_modules/function_apps/function_app_user.tf
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

put appinsights setup in its own module and add custom ai connection string
  apps/io-wallet-support-func/local.settings.json.example
  apps/io-wallet-support-func/package.json
  apps/io-wallet-support-func/src/app/config.ts
  apps/io-wallet-support-func/src/app/main.ts
  apps/io-wallet-support-func/src/infra/azure/appinsights/start.ts
  apps/io-wallet-support-func/src/infra/http/handlers/__test__/get-current-wallet-instance-by-fiscal-code.spec.ts
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/appinsights/start.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-current-wallet-instance.status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-nonce.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-current-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-wallet-instance-status.spec.ts
  infra/resources/_modules/function_apps/locals.tf
  packages/io-wallet-common/src/infra/azure/appinsights/config.ts
  yarn.lock
Labels: internal, apps, infra
