Repository pagopa/io-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, sd-jwt, apps, docs, ci, infra, changeset

update PdvTokenizerClient class
  apps/io-wallet-user-func/src/infra/pdv-tokenizer/client.ts
Labels: apps

updated getOrCreateUserByFiscalCode method
  apps/io-wallet-user-func/src/infra/pdv-tokenizer/client.ts
Labels: apps

test: use base64url key
  apps/io-wallet-user-func/src/infra/attestation-service/ios/__test__/config.ts
Labels: apps

added new workspace with openapi
  apps/io-wallet-web-func/openapi.yaml
Labels: apps

deleted useless responses in openapi
  apps/io-wallet-web-func/openapi.yaml
Labels: apps

deleted 409 from returned status codes of setWalletInstanceStatus
  apps/io-wallet-web-func/openapi.yaml
Labels: apps

updated description
  apps/io-wallet-web-func/openapi.yaml
Labels: apps

added asyncapi file with createWalletInstance operationId
  apps/io-wallet-web-func/asyncapi.yaml
Labels: apps

updated asyncapi files
  apps/io-wallet-user-func/asyncapi.yaml
  apps/io-wallet-web-func/openapi.yaml
Labels: apps

run changeset
  .changeset/wild-lions-brake.md
Labels: changeset

fix: update getUserByFiscalCode function
  .changeset/wild-lions-brake.md
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-user-by-fiscal-code.spec.ts
  apps/io-wallet-user-func/src/infra/pdv-tokenizer/client.ts
  apps/io-wallet-user-func/src/user.ts
Labels: apps, changeset

fix: update getUserByFiscalCode function
  .changeset/wild-lions-brake.md
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-user-by-fiscal-code.spec.ts
  apps/io-wallet-user-func/src/infra/pdv-tokenizer/client.ts
  apps/io-wallet-user-func/src/user.ts
Labels: apps, changeset

run changeset
  .changeset/moody-bees-rescue.md
Labels: changeset

chore: [SIW-1209] Use base64url for iOS integrity keys (#120)
  .changeset/moody-bees-rescue.md
  apps/io-wallet-user-func/src/infra/attestation-service/ios/__test__/config.ts
  apps/io-wallet-user-func/src/infra/attestation-service/ios/attestation.ts
Labels: apps, changeset

chore: [SIW-1209] Use base64url for iOS integrity keys (#120)
  .changeset/moody-bees-rescue.md
  apps/io-wallet-user-func/src/infra/attestation-service/ios/__test__/config.ts
  apps/io-wallet-user-func/src/infra/attestation-service/ios/attestation.ts
Labels: apps, changeset

created healthcheck for io-wallet-web-func and created @io-wallet workspace with initial stuff
  apps/io-wallet-user-func/src/infra/azure/cosmos/health-check.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-nonce.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-user-by-fiscal-code.ts
  apps/io-wallet-user-func/src/infra/http/handlers/health.ts
  apps/io-wallet-user-func/src/infra/http/utils.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
  apps/io-wallet-web-func/.eslintrc.js
  apps/io-wallet-web-func/host.json
  apps/io-wallet-web-func/local.settings.json.example
  apps/io-wallet-web-func/package.json
  apps/io-wallet-web-func/src/app/config.ts
  apps/io-wallet-web-func/src/app/main.ts
  apps/io-wallet-web-func/src/infra/azure/functions/health.ts
  apps/io-wallet-web-func/src/infra/http/handlers/__test__/health.spec.ts
  apps/io-wallet-web-func/src/infra/http/handlers/health.ts
  apps/io-wallet-web-func/tsconfig.json
  apps/io-wallet-web-func/tsup.config.js
  apps/io-wallet-web-func/vitest.config.mjs
  io-wallet.code-workspace
  package.json
  packages/.keep
  packages/io-wallet/.eslintrc.js
  packages/io-wallet/package.json
  packages/io-wallet/src/__test__/foo.spec.ts
  packages/io-wallet/src/infra/azure/cosmos/health-check.ts
  packages/io-wallet/src/infra/env.ts
  packages/io-wallet/src/infra/http/utils.ts
  packages/io-wallet/tsconfig.json
  yarn.lock
Labels: internal, apps

delete comments
  apps/io-wallet-user-func/src/infra/azure/cosmos/health-check.ts
  apps/io-wallet-user-func/src/infra/http/utils.ts
  apps/io-wallet-web-func/src/app/config.ts
  apps/io-wallet-web-func/src/app/main.ts
  apps/io-wallet-web-func/src/infra/http/handlers/__test__/health.spec.ts
  apps/io-wallet-web-func/src/infra/http/handlers/health.ts
  packages/io-wallet/src/infra/http/utils.ts
Labels: internal, apps

delete comments
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation.ts
  apps/io-wallet-web-func/src/infra/http/handlers/__test__/health.spec.ts
Labels: apps

updated package.json files
  apps/io-wallet-user-func/package.json
  apps/io-wallet-web-func/package.json
  package.json
Labels: apps

updated lock file
  yarn.lock
Labels: none

added build:watch script in apps/*/package.json
  apps/io-wallet-user-func/package.json
  apps/io-wallet-web-func/package.json
Labels: apps

delete tsup dependency from io-wallet pkg
  packages/io-wallet/package.json
Labels: internal

updated io-wallet-common package and lint fix
  apps/io-wallet-user-func/package.json
  apps/io-wallet-user-func/src/infra/attestation-service/android/index.ts
  apps/io-wallet-user-func/src/infra/attestation-service/index.ts
  apps/io-wallet-user-func/src/infra/attestation-service/ios/index.ts
  apps/io-wallet-user-func/src/infra/azure/functions/create-wallet-attestation.ts
  apps/io-wallet-user-func/src/infra/azure/functions/create-wallet-instance.ts
  apps/io-wallet-user-func/src/infra/crypto/signer.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/keys.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/trust-anchor.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-nonce.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-user-by-fiscal-code.ts
  apps/io-wallet-user-func/src/infra/http/handlers/health.ts
  apps/io-wallet-user-func/src/infra/trust-anchor/index.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
  apps/io-wallet-web-func/package.json
  apps/io-wallet-web-func/src/app/config.ts
  apps/io-wallet-web-func/src/infra/http/handlers/health.ts
  io-wallet.code-workspace
  packages/io-wallet-common/.eslintrc.js
  packages/io-wallet-common/package.json
  packages/io-wallet-common/src/cosmos-health-check.ts
  packages/io-wallet-common/src/env.ts
  packages/io-wallet-common/src/http-response.ts
  packages/io-wallet-common/src/index.ts
  packages/io-wallet-common/tsconfig.json
  packages/io-wallet-common/tsup.config.js
  packages/io-wallet/src/__test__/foo.spec.ts
  yarn.lock
Labels: internal, apps

deleted tracing from host.json
  apps/io-wallet-user-func/host.json
  apps/io-wallet-web-func/host.json
Labels: apps

changed port to new function
  apps/io-wallet-web-func/package.json
Labels: apps

deleted useless comment
  packages/io-wallet-common/src/index.ts
Labels: internal

udpated lint in io-wallet-common
  apps/io-wallet-user-func/src/infra/http/handlers/health.ts
  apps/io-wallet-web-func/src/infra/http/handlers/health.ts
  packages/io-wallet-common/.eslintrc.js
  packages/io-wallet-common/eslint.config.mjs
  packages/io-wallet-common/package.json
  packages/io-wallet-common/src/cosmos-health-check.ts
  packages/io-wallet-common/src/env.ts
  packages/io-wallet-common/src/http-response.ts
  yarn.lock
Labels: internal, apps

updated lint in io-wallet-web-func
  apps/io-wallet-web-func/.eslintrc.js
  apps/io-wallet-web-func/eslint.config.mjs
  apps/io-wallet-web-func/package.json
  apps/io-wallet-web-func/src/app/config.ts
  apps/io-wallet-web-func/src/app/main.ts
  apps/io-wallet-web-func/src/infra/azure/functions/health.ts
  apps/io-wallet-web-func/src/infra/http/handlers/__test__/health.spec.ts
  apps/io-wallet-web-func/src/infra/http/handlers/health.ts
  yarn.lock
Labels: apps

fix test
  apps/io-wallet-user-func/src/infra/attestation-service/ios/__test__/assertion.spec.ts
  apps/io-wallet-user-func/src/infra/attestation-service/ios/__test__/config.ts
Labels: apps

fix
  apps/io-wallet-user-func/src/infra/attestation-service/android/__test__/config.ts
  apps/io-wallet-user-func/src/infra/attestation-service/ios/__test__/assertion.spec.ts
  apps/io-wallet-user-func/src/infra/trust-anchor/index.ts
Labels: apps

fix lint
  apps/io-wallet-user-func/src/__test__/jwk.spec.ts
  apps/io-wallet-user-func/src/__test__/verifier.spec.ts
  apps/io-wallet-user-func/src/infra/trust-anchor/index.ts
Labels: apps

updated turbo.json
  turbo.json
Labels: none

updated node version
  .node-version
Labels: none

updated turbo config
  apps/io-wallet-user-func/tsup.config.js
  apps/io-wallet-web-func/src/infra/http/handlers/health.ts
  apps/io-wallet-web-func/tsup.config.js
  packages/io-wallet-common/tsup.config.js
  turbo.json
Labels: internal, apps

small fixes
  apps/io-wallet-web-func/src/infra/http/handlers/__test__/health.spec.ts
  apps/io-wallet-web-func/src/infra/http/handlers/health.ts
Labels: apps

removed new lint
  apps/io-wallet-user-func/src/__test__/jwk.spec.ts
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/jwk.ts
  apps/io-wallet-user-func/src/nonce.ts
  apps/io-wallet-user-func/src/signer.ts
  apps/io-wallet-user-func/src/trust-anchor.ts
  apps/io-wallet-user-func/src/user.ts
  apps/io-wallet-user-func/src/validation.ts
  apps/io-wallet-user-func/src/verifier.ts
  apps/io-wallet-user-func/src/wallet-attestation-request.ts
  apps/io-wallet-user-func/src/wallet-attestation.ts
  apps/io-wallet-user-func/src/wallet-instance-request.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
  apps/io-wallet-user-func/src/wallet-provider.ts
Labels: apps

removed lint
  apps/io-wallet-user-func/src/__test__/verifier.spec.ts
  apps/io-wallet-user-func/src/jwk.ts
  apps/io-wallet-user-func/src/nonce.ts
  apps/io-wallet-user-func/src/signer.ts
  apps/io-wallet-user-func/src/trust-anchor.ts
  apps/io-wallet-user-func/src/user.ts
  apps/io-wallet-user-func/src/validation.ts
  apps/io-wallet-user-func/src/verifier.ts
  apps/io-wallet-user-func/src/wallet-attestation-request.ts
  apps/io-wallet-user-func/src/wallet-attestation.ts
  apps/io-wallet-user-func/src/wallet-instance-request.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
  apps/io-wallet-user-func/src/wallet-provider.ts
Labels: apps

removed new lint config
  apps/io-wallet-user-func/src/attestation-service.ts
Labels: apps

removed new lint config
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/infra/env.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-nonce.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-user-by-fiscal-code.ts
  apps/io-wallet-user-func/src/infra/http/handlers/health.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
  packages/io-wallet-common/src/http-response.ts
Labels: internal, apps

fix
  io-wallet.code-workspace
Labels: none

.github/labeler.yml:

internal: packages/**/*
sd-jwt: packages/sd-jwt/*
apps: apps/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*
