Repository pagopa/io-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, sd-jwt, apps, docs, ci, infra, changeset

main first version
  apps/io-wallet-issuer-func/src/app/main.ts
Labels: apps

README and repo config
  README.md
  io-wallet.code-workspace
  yarn.lock
Labels: none

Refactor of PdndInterop configs
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/infra/pdnd-interop/client.ts
Labels: apps

some unit tests
  apps/io-wallet-issuer-func/src/__test__/signJwtCallback.spec.ts
Labels: apps

fix format and lint
  apps/io-wallet-issuer-func/README.md
  apps/io-wallet-issuer-func/host.json
  apps/io-wallet-issuer-func/package.json
  apps/io-wallet-issuer-func/src/adapters/in-memory/signer.ts
  apps/io-wallet-issuer-func/src/app/config.ts
  apps/io-wallet-issuer-func/src/app/main.ts
  apps/io-wallet-issuer-func/src/domain/jwk.ts
  apps/io-wallet-issuer-func/src/domain/signer.ts
  apps/io-wallet-issuer-func/src/domain/util.ts
  apps/io-wallet-issuer-func/tsconfig.json
  apps/io-wallet-issuer-func/vitest.config.mjs
  yarn.lock
Labels: apps

enrich tsconfig
  apps/io-wallet-issuer-func/tsconfig.json
Labels: apps

README typo
  apps/io-wallet-issuer-func/README.md
Labels: apps

updated getWalletInstanceUserId
  apps/io-wallet-user-func/src/wallet-instance.ts
Labels: apps

run changeset
  .changeset/beige-pumas-smash.md
Labels: changeset

fix: fix createWalletAttestationV2 (#421)
  .changeset/beige-pumas-smash.md
  apps/io-wallet-user-func/src/wallet-instance.ts
Labels: apps, changeset

whitelisted-fiscal-code-script: general refactor/fixes
  scripts/whitelist-fiscal-code-script/README.md
  scripts/whitelist-fiscal-code-script/env_example
  scripts/whitelist-fiscal-code-script/package.json
  scripts/whitelist-fiscal-code-script/src/config/config.ts
  scripts/whitelist-fiscal-code-script/src/insert-fiscal-codes/insert-fiscal-codes.ts
  scripts/whitelist-fiscal-code-script/src/main.ts
  scripts/whitelist-fiscal-code-script/yarn.lock
Labels: none

Using process.env.DATABASE_NAME and process.env.DATABASE_CONTAINER_NAME instead of hardcoded strings
  scripts/whitelist-fiscal-code-script/src/insert-fiscal-codes/insert-fiscal-codes.ts
Labels: none

Updating unit tests
  scripts/whitelist-fiscal-code-script/src/config/config.spec.ts
  scripts/whitelist-fiscal-code-script/src/insert-fiscal-codes/insert-fiscal-codes.spec.ts
  scripts/whitelist-fiscal-code-script/src/insert-fiscal-codes/insert-fiscal-codes.ts
Labels: none

version 0.0.1
  apps/io-wallet-issuer-func/package.json
Labels: apps

.github/labeler.yml:

internal: packages/**/*
sd-jwt: packages/sd-jwt/*
apps: apps/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*
