Repository pagopa/io-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, infra, changeset

run changeset
  .changeset/better-oranges-lie.md
Labels: changeset

chore: derive JWT alg from EC key curve
  .changeset/better-oranges-lie.md
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/infra/crypto/signer.ts
  apps/io-wallet-user-func/src/infra/handlers/generate-entity-configuration.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/create-wallet-instance-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/create-wallet-unit-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-unit-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/generate-certificate-chain.ts
  apps/io-wallet-user-func/src/infra/status-list-publication.ts
  apps/io-wallet-user-func/src/wallet-instance-attestation.ts
Labels: apps, changeset

Remove generated Terraform docs from infrastructure
  .pre-commit-config.yaml
  infra/bootstrapper/prod/README.md
  infra/core/pagopa/prod/README.md
  infra/core/psn/hub/prod/README.md
  infra/core/psn/spoke/prod/README.md
  infra/repository/README.md
  infra/repository/tfmodules.lock.json
  infra/resources/_modules/apim/README.md
  infra/resources/_modules/cosmos/README.md
  infra/resources/_modules/dns/README.md
  infra/resources/_modules/function_apps/README.md
  infra/resources/_modules/iam/README.md
  infra/resources/_modules/identities/README.md
  infra/resources/_modules/key_vaults/README.md
  infra/resources/_modules/monitoring/README.md
  infra/resources/_modules/storage_accounts/README.md
  infra/resources/prod/README.md
  infra/resources/psn/prod/README.md
Labels: infra

remove markdownlint
  infra/core/psn/hub/prod/README.md
  infra/resources/psn/prod/README.md
Labels: infra

Remove generated Terraform docs from infrastructure
  .pre-commit-config.yaml
  infra/bootstrapper/prod/README.md
  infra/core/pagopa/prod/README.md
  infra/core/psn/hub/prod/README.md
  infra/core/psn/spoke/prod/README.md
  infra/repository/README.md
  infra/repository/tfmodules.lock.json
  infra/resources/_modules/apim/README.md
  infra/resources/_modules/cosmos/README.md
  infra/resources/_modules/dns/README.md
  infra/resources/_modules/function_apps/README.md
  infra/resources/_modules/iam/README.md
  infra/resources/_modules/identities/README.md
  infra/resources/_modules/key_vaults/README.md
  infra/resources/_modules/monitoring/README.md
  infra/resources/_modules/storage_accounts/README.md
  infra/resources/prod/README.md
  infra/resources/psn/prod/README.md
Labels: infra

added /key-attestations endpoint
  .changeset/full-teams-cheat.md
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/openapi-external/user_uat_v1/swagger.yaml
  apps/io-wallet-user-func/openapi-external/user_v1/swagger.yaml
  apps/io-wallet-user-func/openapi.yaml
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/functions/create-key-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/create-key-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-key-attestation.ts
  apps/io-wallet-user-func/src/infra/http/key-attestation-request.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/assertion-request-validation.ts
  apps/io-wallet-user-func/src/key-attestation.ts
Labels: apps, changeset

updated terraform
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

feat: added /key-attestations endpoint
  .changeset/full-teams-cheat.md
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/openapi-external/user_uat_v1/swagger.yaml
  apps/io-wallet-user-func/openapi-external/user_v1/swagger.yaml
  apps/io-wallet-user-func/openapi.yaml
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/functions/create-key-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/create-key-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-key-attestation.ts
  apps/io-wallet-user-func/src/infra/http/key-attestation-request.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/assertion-request-validation.ts
  apps/io-wallet-user-func/src/key-attestation.ts
  infra/resources/_modules/function_apps/locals.tf
Labels: apps, infra, changeset

fix android root expiry handling and chain validation
  apps/io-wallet-user-func/src/__tests__/certificates.spec.ts
  apps/io-wallet-user-func/src/certificates.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/attestation.ts
Labels: apps

run changeset
  .changeset/red-drinks-visit.md
Labels: changeset

reintroduced skipExpirationValidation parameter
  apps/io-wallet-user-func/src/__tests__/certificates.spec.ts
  apps/io-wallet-user-func/src/certificates.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/attestation.ts
Labels: apps

fix: removed expiration check root certificate android
  .changeset/red-drinks-visit.md
  apps/io-wallet-user-func/src/__tests__/certificates.spec.ts
  apps/io-wallet-user-func/src/certificates.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/attestation.ts
Labels: apps, changeset

added /key-attestations endpoint in APIM swaggers
  infra/resources/prod/apis/user_uat_v1/swagger.yaml
  infra/resources/prod/apis/user_v1/swagger.yaml
  infra/resources/psn/prod/apim/api/user-uat/swagger.yaml
  infra/resources/psn/prod/apim/api/user/swagger.yaml
Labels: infra

fix swagger
  infra/resources/prod/apis/user_v1/swagger.yaml
Labels: infra

chore: added /key-attestations endpoint in APIM swaggers
  infra/resources/prod/apis/user_uat_v1/swagger.yaml
  infra/resources/prod/apis/user_v1/swagger.yaml
  infra/resources/psn/prod/apim/api/user-uat/swagger.yaml
  infra/resources/psn/prod/apim/api/user/swagger.yaml
Labels: infra

fix API APIM swagger
  infra/resources/prod/apis/user_v1/swagger.yaml
Labels: infra

remove empty line
  infra/resources/prod/apis/user_v1/swagger.yaml
Labels: infra

fix API APIM swagger
  infra/resources/prod/apis/user_v1/swagger.yaml
Labels: infra

lint swagger
  infra/resources/prod/apis/user_uat_v1/swagger.yaml
  infra/resources/psn/prod/apim/api/user-uat/swagger.yaml
  infra/resources/psn/prod/apim/api/user/swagger.yaml
Labels: infra

fix: fix API APIM swagger
  infra/resources/prod/apis/user_uat_v1/swagger.yaml
  infra/resources/prod/apis/user_v1/swagger.yaml
  infra/resources/psn/prod/apim/api/user-uat/swagger.yaml
  infra/resources/psn/prod/apim/api/user/swagger.yaml
Labels: infra

Add PSN APIM policy for /key-attestations
  infra/resources/psn/prod/apim_apis.tf
Labels: infra

fix: added PSN APIM policy for /key-attestations
  infra/resources/psn/prod/apim_apis.tf
Labels: infra

fix Android key attestation certificate validity policy
  .changeset/slow-years-leave.md
  apps/io-wallet-user-func/src/__tests__/certificates.spec.ts
  apps/io-wallet-user-func/src/certificates.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/__tests__/attestation.spec.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/attestation.ts
Labels: apps, changeset

updated test description
  apps/io-wallet-user-func/src/__tests__/certificates.spec.ts
Labels: apps

updated flag
  apps/io-wallet-user-func/src/__tests__/certificates.spec.ts
  apps/io-wallet-user-func/src/certificates.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/attestation.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/ios/attestation.ts
Labels: apps

fix: fix Android key attestation certificate validity policy
  .changeset/slow-years-leave.md
  apps/io-wallet-user-func/src/__tests__/certificates.spec.ts
  apps/io-wallet-user-func/src/certificates.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/__tests__/attestation.spec.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/attestation.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/ios/attestation.ts
Labels: apps, changeset

add UAT well-known CDN container and rewrite rule
  infra/resources/psn/prod/cdn.tf
Labels: infra

reverted blob deprecation change
  infra/resources/psn/prod/cdn.tf
Labels: infra

infra: added UAT well-known CDN container and rewrite rule
  infra/resources/psn/prod/cdn.tf
Labels: infra

add uat cdn container named
  infra/resources/psn/prod/cdn.tf
Labels: infra

infra: added uat cdn container named "images"
  infra/resources/psn/prod/cdn.tf
Labels: infra

add uat CDN custom domain
  infra/resources/psn/prod/cdn.tf
Labels: infra

infra: added uat CDN custom domain
  infra/resources/psn/prod/cdn.tf
Labels: infra

update uat custom domain
  infra/resources/psn/prod/cdn.tf
Labels: infra

infra: updated uat custom domain
  infra/resources/psn/prod/cdn.tf
Labels: infra

add UAT Front Door custom domain DNS
  infra/resources/prod/dns.tf
  infra/resources/psn/prod/cdn.tf
Labels: infra

infra: added UAT Front Door custom domain DNS
  infra/resources/prod/dns.tf
  infra/resources/psn/prod/cdn.tf
Labels: infra

add txt record
  infra/resources/prod/dns.tf
Labels: infra

infra: added txt record
  infra/resources/prod/dns.tf
Labels: infra

migrate wallet JWT signing to Key Vault
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/openapi-external/user_uat_v1/swagger.yaml
  apps/io-wallet-user-func/openapi-external/user_v1/swagger.yaml
  apps/io-wallet-user-func/openapi.yaml
  apps/io-wallet-user-func/package.json
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/certificates.ts
  apps/io-wallet-user-func/src/entity-configuration.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/certificate.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/key.ts
  apps/io-wallet-user-func/src/infra/azure/functions/create-wallet-unit-attestation.ts
  apps/io-wallet-user-func/src/infra/azure/functions/generate-certificate-chain.ts
  apps/io-wallet-user-func/src/infra/crypto/signer.ts
  apps/io-wallet-user-func/src/infra/handlers/generate-entity-configuration.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/create-key-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/create-wallet-instance-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/create-wallet-unit-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/generate-certificate-chain.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-key-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-unit-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/generate-certificate-chain.ts
  apps/io-wallet-user-func/src/infra/status-list-publication.ts
  apps/io-wallet-user-func/src/key-attestation.ts
  apps/io-wallet-user-func/src/keys.ts
  apps/io-wallet-user-func/src/wallet-attestation-mdoc.ts
  apps/io-wallet-user-func/src/wallet-instance-attestation.ts
  infra/resources/_modules/cosmos/locals.tf
  infra/resources/_modules/cosmos/variables.tf
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/iam/functions.tf
  infra/resources/_modules/iam/variables.tf
  infra/resources/psn/prod/locals.tf
  infra/resources/psn/prod/main.tf
  packages/io-wallet-common/src/jwk.ts
  pnpm-lock.yaml
Labels: apps, infra

.github/labeler.yml:

apps: apps/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*
