Repository pagopa/io-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, sd-jwt, apps, docs, ci, infra, changeset

.github/labeler.yml:

internal: packages/**/*
sd-jwt: packages/sd-jwt/*
apps: apps/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*

removed debug line
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
Labels: apps

[CES-150] Add IAM roles to Function App User 02 (#230)
  infra/resources/_modules/function_apps/outputs.tf
  infra/resources/_modules/iam/functions.tf
  infra/resources/_modules/iam/variables.tf
  infra/resources/prod/main.tf
Labels: infra

[CES-150] Add IAM roles to Function App User 02 (#230)
  infra/resources/_modules/function_apps/outputs.tf
  infra/resources/_modules/iam/functions.tf
  infra/resources/_modules/iam/variables.tf
  infra/resources/prod/main.tf
Labels: infra

define mockFiscalCode in spec file
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
Labels: apps

run changeset
  .changeset/happy-parrots-happen.md
Labels: changeset

chore: [SIW-1706] Removed PDV service
  .changeset/happy-parrots-happen.md
  apps/io-wallet-support-func/local.settings.json.example
  apps/io-wallet-support-func/src/app/config.ts
  apps/io-wallet-support-func/src/app/main.ts
  apps/io-wallet-support-func/src/infra/http/handlers/__test__/get-current-wallet-instance-by-fiscal-code.spec.ts
  apps/io-wallet-support-func/src/infra/http/handlers/__test__/health.spec.ts
  apps/io-wallet-support-func/src/infra/http/handlers/get-current-wallet-instance-by-fiscal-code.ts
  apps/io-wallet-support-func/src/infra/http/handlers/health.ts
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/openapi.yaml
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/functions/get-user-by-fiscal-code.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-current-wallet-instance.status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-user-by-fiscal-code.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/health.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-current-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-current-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-user-by-fiscal-code.ts
  apps/io-wallet-user-func/src/infra/http/handlers/health.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-current-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/user-id-header-validator.ts
  apps/io-wallet-user-func/src/infra/http/whitelisted-user.ts
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/prod/locals.tf
  infra/resources/prod/main.tf
  packages/io-wallet-common/src/infra/pdv-tokenizer/client.ts
  packages/io-wallet-common/src/infra/pdv-tokenizer/config.ts
  packages/io-wallet-common/src/infra/pdv-tokenizer/health-check.ts
  packages/io-wallet-common/src/user.ts
  packages/io-wallet-common/src/wallet-instance.ts
Labels: internal, apps, infra, changeset

chore: [SIW-1706] Removed PDV service
  .changeset/happy-parrots-happen.md
  apps/io-wallet-support-func/local.settings.json.example
  apps/io-wallet-support-func/src/app/config.ts
  apps/io-wallet-support-func/src/app/main.ts
  apps/io-wallet-support-func/src/infra/http/handlers/__test__/get-current-wallet-instance-by-fiscal-code.spec.ts
  apps/io-wallet-support-func/src/infra/http/handlers/__test__/health.spec.ts
  apps/io-wallet-support-func/src/infra/http/handlers/get-current-wallet-instance-by-fiscal-code.ts
  apps/io-wallet-support-func/src/infra/http/handlers/health.ts
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/openapi.yaml
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/functions/get-user-by-fiscal-code.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-current-wallet-instance.status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-user-by-fiscal-code.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/health.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-current-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-current-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-user-by-fiscal-code.ts
  apps/io-wallet-user-func/src/infra/http/handlers/health.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-current-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/user-id-header-validator.ts
  apps/io-wallet-user-func/src/infra/http/whitelisted-user.ts
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/prod/locals.tf
  infra/resources/prod/main.tf
  packages/io-wallet-common/src/infra/pdv-tokenizer/client.ts
  packages/io-wallet-common/src/infra/pdv-tokenizer/config.ts
  packages/io-wallet-common/src/infra/pdv-tokenizer/health-check.ts
  packages/io-wallet-common/src/user.ts
  packages/io-wallet-common/src/wallet-instance.ts
Labels: internal, apps, infra, changeset

[CES-151] Increase RU/s of the Cosmos containers (#222)
  infra/resources/_modules/cosmos/locals.tf
Labels: infra

[CES-151] Increase RU/s of the Cosmos containers (#222)
  infra/resources/_modules/cosmos/locals.tf
Labels: infra

update APIM service url
  infra/resources/prod/main.tf
Labels: infra

fix: update APIM IO Web Wallet API service url (#232)
  infra/resources/prod/main.tf
Labels: infra

fix: update APIM IO Web Wallet API service url (#232)
  infra/resources/prod/main.tf
Labels: infra

chore: removed user func 01
  infra/resources/_modules/function_apps/alerts.tf
  infra/resources/_modules/function_apps/data.tf
  infra/resources/_modules/function_apps/function_app_user.tf
  infra/resources/_modules/function_apps/outputs.tf
  infra/resources/prod/main.tf
Labels: infra

fix: minor
  infra/resources/prod/main.tf
Labels: infra

fix: comments resolved
  infra/resources/_modules/function_apps/function_app_user.tf
  infra/resources/_modules/iam/variables.tf
Labels: infra

Update key_vault_secrets.tf
  infra/resources/_modules/function_apps/key_vault_secrets.tf
Labels: infra

fix
  infra/resources/_modules/function_apps/data.tf
  infra/resources/_modules/function_apps/key_vault_secrets.tf
Labels: infra

fix: Update key_vault function key
  infra/resources/_modules/function_apps/data.tf
Labels: infra

fix: Update key_vault function key
  infra/resources/_modules/function_apps/data.tf
Labels: infra

fix: removed old ref
  infra/resources/_modules/iam/functions.tf
Labels: infra

fix: removed unused var
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/prod/main.tf
Labels: infra

Removed function app user 01 (#233)
  infra/resources/_modules/function_apps/alerts.tf
  infra/resources/_modules/function_apps/function_app_user.tf
  infra/resources/_modules/function_apps/outputs.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/_modules/iam/functions.tf
  infra/resources/_modules/iam/variables.tf
  infra/resources/prod/main.tf
Labels: infra

Removed function app user 01 (#233)
  infra/resources/_modules/function_apps/alerts.tf
  infra/resources/_modules/function_apps/function_app_user.tf
  infra/resources/_modules/function_apps/outputs.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/_modules/iam/functions.tf
  infra/resources/_modules/iam/variables.tf
  infra/resources/prod/main.tf
Labels: infra

Add allowedDeveloperUsers
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/attestation-service.ts
  apps/io-wallet-user-func/src/infra/attestation-service/index.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation.ts
  apps/io-wallet-user-func/src/wallet-instance-request.ts
  infra/resources/prod/locals.tf
Labels: apps, infra

Add changeset
  .changeset/curly-spoons-bake.md
Labels: changeset

Remove AllowDevelopmentEnvironment from infra
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

Add load test env
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-wallet-user-func/src/user.ts
  apps/io-wallet-user-func/src/wallet-instance-request.ts
  infra/resources/_modules/function_apps/locals.tf
Labels: apps, infra

minor fix
  .changeset/thick-tomatoes-itch.md
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
Labels: apps, changeset

feat: [SIW-1717] Add allowed developer users
  .changeset/curly-spoons-bake.md
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/attestation-service.ts
  apps/io-wallet-user-func/src/infra/attestation-service/index.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation.ts
  apps/io-wallet-user-func/src/wallet-instance-request.ts
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/prod/locals.tf
Labels: apps, infra, changeset

feat: [SIW-1717] Add allowed developer users
  .changeset/curly-spoons-bake.md
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/attestation-service.ts
  apps/io-wallet-user-func/src/infra/attestation-service/index.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation.ts
  apps/io-wallet-user-func/src/wallet-instance-request.ts
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/prod/locals.tf
Labels: apps, infra, changeset

Fix test
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
Labels: apps

Fix json parse
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
Labels: apps

Change RTE ro RE
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
Labels: apps

feat: [SIW-1672] Add load-test integration with test users
  .changeset/thick-tomatoes-itch.md
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-wallet-user-func/src/user.ts
  infra/resources/_modules/function_apps/locals.tf
Labels: apps, infra, changeset

feat: [SIW-1672] Add load-test integration with test users
  .changeset/thick-tomatoes-itch.md
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-wallet-user-func/src/user.ts
  infra/resources/_modules/function_apps/locals.tf
Labels: apps, infra, changeset

test opex
  .github/workflows/pr_opex.yaml
  apps/io-wallet-user-func/.opex/management/env/prod/backend.ini
  apps/io-wallet-user-func/.opex/management/env/prod/backend.tfvars
  apps/io-wallet-user-func/.opex/management/env/prod/config.yaml
  apps/io-wallet-user-func/.opex/management/env/prod/terraform.tfvars
Labels: apps, ci

enable trigger
  .github/workflows/pr_opex.yaml
Labels: ci

fix hardware test key
  .changeset/chilly-buses-flow.md
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  infra/resources/_modules/function_apps/locals.tf
Labels: apps, infra, changeset

fix: Use PEM format for Hardware Test Key
  .changeset/chilly-buses-flow.md
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  infra/resources/_modules/function_apps/locals.tf
Labels: apps, infra, changeset

fix: Use PEM format for Hardware Test Key
  .changeset/chilly-buses-flow.md
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  infra/resources/_modules/function_apps/locals.tf
Labels: apps, infra, changeset
