Repository pagopa/io-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, sd-jwt, apps, docs, ci, infra, changeset

feat: Add DeviceDetails field on Wallet Instance (#181)
  .changeset/fluffy-gifts-build.md
  apps/io-wallet-user-func/src/attestation-service.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/__test__/attestation.spec.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/assertion.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/attestation.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/index.ts
  apps/io-wallet-user-func/src/infra/attestation-service/errors.ts
  apps/io-wallet-user-func/src/infra/attestation-service/ios/__test__/attestation.spec.ts
  apps/io-wallet-user-func/src/infra/attestation-service/ios/assertion.ts
  apps/io-wallet-user-func/src/infra/attestation-service/ios/attestation.ts
  apps/io-wallet-user-func/src/infra/attestation-service/ios/index.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
Labels: apps, changeset

feat: Add DeviceDetails field on Wallet Instance (#181)
  .changeset/fluffy-gifts-build.md
  apps/io-wallet-user-func/src/attestation-service.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/__test__/attestation.spec.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/assertion.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/attestation.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/index.ts
  apps/io-wallet-user-func/src/infra/attestation-service/errors.ts
  apps/io-wallet-user-func/src/infra/attestation-service/ios/__test__/attestation.spec.ts
  apps/io-wallet-user-func/src/infra/attestation-service/ios/assertion.ts
  apps/io-wallet-user-func/src/infra/attestation-service/ios/attestation.ts
  apps/io-wallet-user-func/src/infra/attestation-service/ios/index.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
Labels: apps, changeset

added IntegrityCheckError
  apps/io-wallet-user-func/src/infra/attestation-service/index.ts
  apps/io-wallet-user-func/src/infra/http/error.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
Labels: apps

feat: added application insights for function app user
  infra/resources/_modules/function_apps/function_app_user.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/prod/main.tf
Labels: infra

updated to 409 error
  apps/io-wallet-user-func/openapi.yaml
  apps/io-wallet-user-func/src/infra/http/error.ts
Labels: apps

run changeset
  .changeset/brave-poems-yawn.md
Labels: changeset

added IntegrityCheckError
  .changeset/brave-poems-yawn.md
  apps/io-wallet-user-func/openapi.yaml
  apps/io-wallet-user-func/src/infra/attestation-service/index.ts
  apps/io-wallet-user-func/src/infra/http/error.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
Labels: apps, changeset

added IntegrityCheckError
  .changeset/brave-poems-yawn.md
  apps/io-wallet-user-func/openapi.yaml
  apps/io-wallet-user-func/src/infra/attestation-service/index.ts
  apps/io-wallet-user-func/src/infra/http/error.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
Labels: apps, changeset

update
  apps/io-wallet-user-func/src/infra/attestation-service/index.ts
Labels: apps

run changeset
  .changeset/perfect-carrots-itch.md
Labels: changeset

fix: fix error concatenation
  .changeset/perfect-carrots-itch.md
  apps/io-wallet-user-func/src/infra/attestation-service/index.ts
Labels: apps, changeset

fix: fix error concatenation
  .changeset/perfect-carrots-itch.md
  apps/io-wallet-user-func/src/infra/attestation-service/index.ts
Labels: apps, changeset

disable pid issuer health check
  apps/io-wallet-user-func/src/infra/http/handlers/health.ts
Labels: apps

Add env var
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/infra/http/handlers/health.ts
Labels: apps

Add check on client
  apps/io-wallet-user-func/src/infra/pid-issuer/client.ts
  infra/resources/_modules/function_apps/locals.tf
Labels: apps, infra

Create funny-dryers-pretend.md
  .changeset/funny-dryers-pretend.md
Labels: changeset

[SIW-1418] Add application insight configuration for Function App User (#184)
  infra/resources/_modules/function_apps/function_app_user.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/prod/main.tf
Labels: infra

[SIW-1418] Add application insight configuration for Function App User (#184)
  infra/resources/_modules/function_apps/function_app_user.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/prod/main.tf
Labels: infra

feat: Add pid issuer health check toggler
  .changeset/funny-dryers-pretend.md
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/infra/pid-issuer/client.ts
  infra/resources/_modules/function_apps/locals.tf
Labels: apps, infra, changeset

feat: Add pid issuer health check toggler
  .changeset/funny-dryers-pretend.md
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/infra/pid-issuer/client.ts
  infra/resources/_modules/function_apps/locals.tf
Labels: apps, infra, changeset

fix: added some configurations
  infra/resources/_modules/function_apps/function_app_user.tf
  infra/resources/_modules/function_apps/variables.tf
Labels: infra

fix: minor codeowner edit
  CODEOWNERS
Labels: none

fix: create autoscaler
  infra/resources/_modules/function_apps/function_app_user.tf
  infra/resources/_modules/function_apps/variables.tf
Labels: infra

fix: minor
  infra/resources/_modules/function_apps/function_app_user.tf
Labels: infra

fix: removed sticky app settings
  infra/resources/_modules/function_apps/function_app_user.tf
Labels: infra

[SIW-1418] Add application insight configuration for Function App User v2 (#190)
  CODEOWNERS
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

[SIW-1418] Add application insight configuration for Function App User v2 (#190)
  CODEOWNERS
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

updated github workflow
  .github/workflows/user_function_deploy.yaml
Labels: ci

chore: updated deploy workflow
  .github/workflows/user_function_deploy.yaml
Labels: ci

chore: updated deploy workflow
  .github/workflows/user_function_deploy.yaml
Labels: ci

updated workflow
  .github/workflows/user_function_deploy.yaml
Labels: ci

updated
  .github/workflows/user_function_deploy.yaml
Labels: ci

updated yarn
  .yarn/releases/yarn-3.6.3.cjs
  .yarn/releases/yarn-4.4.1.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Labels: none

added files to package.json
  apps/io-wallet-user-func/package.json
Labels: apps

add removeTrailingSlash to basepath
  apps/io-wallet-user-func/src/infra/pid-issuer/client.ts
Labels: apps

run changeset
  .changeset/lemon-apples-raise.md
Labels: changeset

fix: add removeTrailingSlash to wallet provider entity
  .changeset/lemon-apples-raise.md
  apps/io-wallet-user-func/src/infra/pid-issuer/client.ts
Labels: apps, changeset

fix: add removeTrailingSlash to wallet provider entity
  .changeset/lemon-apples-raise.md
  apps/io-wallet-user-func/src/infra/pid-issuer/client.ts
Labels: apps, changeset

updated user_function_deploy github workflow
  .github/workflows/user_function_deploy.yaml
Labels: ci

fix: updated user_function_deploy github workflow
  .github/workflows/user_function_deploy.yaml
Labels: ci

.github/labeler.yml:

internal: packages/**/*
sd-jwt: packages/sd-jwt/*
apps: apps/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*
