Repository pagopa/io-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, infra, changeset

.github/labeler.yml:

apps: apps/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*

hide allocator cache state
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/status-list-allocator.ts
Labels: apps

fix lint
  apps/io-wallet-user-func/src/infra/azure/applicationinsights/status-list-allocation-conflict.ts
  apps/io-wallet-user-func/src/infra/status-list-allocator.ts
Labels: apps

isolate status list publication staging blobs
  apps/io-wallet-user-func/src/infra/status-list-publication.ts
Labels: apps

updated pnpm files
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

added x5c in the TLS
  apps/io-wallet-user-func/src/__tests__/token-status-list.spec.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/status-list-publication.ts
  apps/io-wallet-user-func/src/token-status-list.ts
Labels: apps

use key_vault_secret_name for SlackStatusChannelWebhook
  infra/resources/psn/prod/locals.tf
Labels: infra

fix: use key_vault_secret_name for SlackStatusChannelWebhook
  infra/resources/psn/prod/locals.tf
Labels: infra

update tf cosmos README
  infra/resources/_modules/cosmos/README.md
Labels: infra

infra: update tf cosmos README
  infra/resources/_modules/cosmos/README.md
Labels: infra

remove the create wallet instance status flag
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
Labels: apps

fix test
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/__tests__/attestation.spec.ts
Labels: apps

run changeset
  .changeset/some-geckos-jog.md
Labels: changeset

chore: remove CreateWalletInstanceStatusEnabled flag
  .changeset/some-geckos-jog.md
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/__tests__/attestation.spec.ts
Labels: apps, changeset

fix alert queries
  infra/resources/psn/prod/alerts.tf
Labels: infra

fix: fix alert queries (#780)
  infra/resources/psn/prod/alerts.tf
Labels: infra

widen log alert queries evaluation windows
  infra/resources/psn/prod/alerts.tf
Labels: infra

chore: widen log alert queries evaluation windows
  infra/resources/psn/prod/alerts.tf
Labels: infra

enable PSN release on master push
  .github/workflows/release_psn_infra.yaml
Labels: ci

chore: enable PSN release on master push
  .github/workflows/release_psn_infra.yaml
Labels: ci

migrate log alerts to v2 and split prod/UAT rules
  infra/resources/_modules/function_apps/outputs.tf
  infra/resources/psn/prod/alerts.tf
  infra/resources/psn/prod/cdn.tf
Labels: infra

infra: migrate log alerts to v2 and split prod/UAT rules
  infra/resources/_modules/function_apps/outputs.tf
  infra/resources/psn/prod/alerts.tf
  infra/resources/psn/prod/cdn.tf
Labels: infra

fix CDN alert query validation and document public storage containers
  .github/workflows/code-review.yaml
  infra/resources/_modules/storage_accounts/storage_containers.tf
  infra/resources/psn/prod/cdn.tf
Labels: ci, infra

infra: fix CDN alert query validation and document public storage containers
  .github/workflows/code-review.yaml
  infra/resources/_modules/storage_accounts/storage_containers.tf
  infra/resources/psn/prod/cdn.tf
Labels: ci, infra

change status list alerts
  infra/resources/psn/prod/alerts.tf
Labels: infra

change status list alerts
  infra/resources/psn/prod/alerts.tf
Labels: infra

infra: change status list alerts
  infra/resources/psn/prod/alerts.tf
Labels: infra

enable Azure Monitor action group
  infra/resources/_modules/monitoring/action_groups.tf
Labels: infra

infra: enable Azure Monitor action group
  infra/resources/_modules/monitoring/action_groups.tf
Labels: infra

scope monitoring action group enablement per stack
  infra/resources/_modules/monitoring/action_groups.tf
  infra/resources/_modules/monitoring/variables.tf
  infra/resources/prod/main.tf
  infra/resources/psn/prod/main.tf
Labels: infra

infra: change monitoring action group enablement
  infra/resources/_modules/monitoring/action_groups.tf
  infra/resources/_modules/monitoring/variables.tf
  infra/resources/prod/main.tf
  infra/resources/psn/prod/main.tf
Labels: infra

added enqueueWhitelistedFiscalCodes and insertWhitelistedFiscalCodes functions
  .changeset/khaki-days-pump.md
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/whitelisted-fiscal-code.ts
  apps/io-wallet-user-func/src/infra/azure/functions/enqueue-whitelisted-fiscal-codes.ts
  apps/io-wallet-user-func/src/infra/azure/functions/insert-whitelisted-fiscal-codes.ts
  apps/io-wallet-user-func/src/infra/decoders/buffer.ts
  apps/io-wallet-user-func/src/infra/handlers/__tests__/enqueue-whitelisted-fiscal-codes.spec.ts
  apps/io-wallet-user-func/src/infra/handlers/enqueue-whitelisted-fiscal-codes.ts
  apps/io-wallet-user-func/src/infra/handlers/insert-whitelisted-fiscal-codes.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/is-fiscal-code-whitelisted.spec.ts
  apps/io-wallet-user-func/src/whitelisted-fiscal-code.ts
  infra/repository/tfmodules.lock.json
  infra/resources/_modules/function_apps/README.md
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/_modules/monitoring/README.md
  infra/resources/_modules/storage_accounts/README.md
  infra/resources/_modules/storage_accounts/storage_containers.tf
  infra/resources/_modules/storage_accounts/storage_queue.tf
  infra/resources/prod/main.tf
  infra/resources/psn/prod/README.md
  infra/resources/psn/prod/alerts.tf
  infra/resources/psn/prod/main.tf
Labels: apps, infra, changeset

feat: added enqueueWhitelistedFiscalCodes and insertWhitelistedFiscalCodes
  .changeset/khaki-days-pump.md
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/whitelisted-fiscal-code.ts
  apps/io-wallet-user-func/src/infra/azure/functions/enqueue-whitelisted-fiscal-codes.ts
  apps/io-wallet-user-func/src/infra/azure/functions/insert-whitelisted-fiscal-codes.ts
  apps/io-wallet-user-func/src/infra/decoders/buffer.ts
  apps/io-wallet-user-func/src/infra/handlers/__tests__/enqueue-whitelisted-fiscal-codes.spec.ts
  apps/io-wallet-user-func/src/infra/handlers/enqueue-whitelisted-fiscal-codes.ts
  apps/io-wallet-user-func/src/infra/handlers/insert-whitelisted-fiscal-codes.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/is-fiscal-code-whitelisted.spec.ts
  apps/io-wallet-user-func/src/whitelisted-fiscal-code.ts
  infra/repository/tfmodules.lock.json
  infra/resources/_modules/function_apps/README.md
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/_modules/monitoring/README.md
  infra/resources/_modules/storage_accounts/README.md
  infra/resources/_modules/storage_accounts/storage_containers.tf
  infra/resources/_modules/storage_accounts/storage_queue.tf
  infra/resources/prod/main.tf
  infra/resources/psn/prod/README.md
  infra/resources/psn/prod/alerts.tf
  infra/resources/psn/prod/main.tf
Labels: apps, infra, changeset

updated batch size and insertFiscalCodes method
  .changeset/chilly-gifts-flow.md
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/errors.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/whitelisted-fiscal-code.ts
Labels: apps, changeset

fix: updated batch size and insertFiscalCodes method
  .changeset/chilly-gifts-flow.md
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/errors.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/whitelisted-fiscal-code.ts
Labels: apps, changeset

add new http endpoint POST /wallet-instances/status
  .changeset/green-badgers-stick.md
  .changeset/polite-books-poke.md
  apps/io-wallet-user-func/openapi.yaml
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-wallet-user-func/src/infra/azure/functions/set-wallet-instances-status.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/create-wallet-instance-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/create-wallet-unit-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/get-current-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/get-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/set-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/set-wallet-instances-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-wallet-instances-status.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
  packages/io-wallet-common/src/wallet-instance.ts
  packages/io-wallet-common/tsconfig.json
Labels: apps, changeset

fix lint
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/set-wallet-instances-status.spec.ts
Labels: apps

updated openapi
  apps/io-wallet-user-func/openapi.yaml
Labels: apps

fix openapi
  apps/io-wallet-user-func/openapi.yaml
Labels: apps

updated openapi.yaml
  apps/io-wallet-user-func/openapi.yaml
Labels: apps

feat: added new http endpoint POST /wallet-instances/status
  .changeset/green-badgers-stick.md
  .changeset/polite-books-poke.md
  apps/io-wallet-user-func/openapi.yaml
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-wallet-user-func/src/infra/azure/functions/set-wallet-instances-status.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/create-wallet-instance-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/create-wallet-unit-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/get-current-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/get-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/set-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/set-wallet-instances-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-wallet-instances-status.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
  packages/io-wallet-common/src/wallet-instance.ts
  packages/io-wallet-common/tsconfig.json
Labels: apps, changeset
