Repository pagopa/io-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, sd-jwt, apps, docs, ci, infra, changeset

.github/labeler.yml:

internal: packages/**/*
sd-jwt: packages/sd-jwt/*
apps: apps/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*

Add roles and alerts on cosmos 02
  infra/resources/_modules/cosmos/alerts.tf
  infra/resources/_modules/cosmos/cosmos_containers.tf
  infra/resources/_modules/cosmos/cosmos_databases.tf
  infra/resources/_modules/cosmos/locals.tf
  infra/resources/_modules/cosmos/outputs.tf
  infra/resources/_modules/iam/admins.tf
  infra/resources/_modules/iam/functions.tf
  infra/resources/_modules/iam/variables.tf
  infra/resources/prod/main.tf
Labels: infra

removed migrateWalletInstances function and cosmos1 related settings
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/functions/migrate-wallet-instances.ts
  apps/io-wallet-user-func/src/infra/handlers/migrate-wallet-instances.ts
  infra/resources/prod/locals.tf
  infra/resources/prod/main.tf
Labels: apps, infra

updated cosmos db name
  infra/resources/prod/main.tf
Labels: infra

changed cosmosdb env var in migrateWalletInstances function
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/main.ts
  infra/resources/_modules/function_apps/locals.tf
Labels: apps, infra

run changeset
  .changeset/sharp-shrimps-float.md
Labels: changeset

[CES-550] Add IAM roles and alerts on cosmos 02 (#312)
  infra/resources/_modules/cosmos/alerts.tf
  infra/resources/_modules/cosmos/cosmos_containers.tf
  infra/resources/_modules/cosmos/cosmos_databases.tf
  infra/resources/_modules/cosmos/locals.tf
  infra/resources/_modules/cosmos/outputs.tf
  infra/resources/_modules/iam/admins.tf
  infra/resources/_modules/iam/functions.tf
  infra/resources/_modules/iam/variables.tf
  infra/resources/prod/main.tf
Labels: infra

[CES-550] Add IAM roles and alerts on cosmos 02 (#312)
  infra/resources/_modules/cosmos/alerts.tf
  infra/resources/_modules/cosmos/cosmos_containers.tf
  infra/resources/_modules/cosmos/cosmos_databases.tf
  infra/resources/_modules/cosmos/locals.tf
  infra/resources/_modules/cosmos/outputs.tf
  infra/resources/_modules/iam/admins.tf
  infra/resources/_modules/iam/functions.tf
  infra/resources/_modules/iam/variables.tf
  infra/resources/prod/main.tf
Labels: infra

changed cosmosdb var in migrateWalletInstances function
  .changeset/sharp-shrimps-float.md
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/main.ts
  infra/resources/_modules/function_apps/locals.tf
Labels: apps, infra, changeset

changed cosmosdb var in migrateWalletInstances function
  .changeset/sharp-shrimps-float.md
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/main.ts
  infra/resources/_modules/function_apps/locals.tf
Labels: apps, infra, changeset

fix lint
  apps/io-wallet-user-func/src/app/main.ts
Labels: apps

add queue 02
  infra/resources/_modules/storage_accounts/README.md
  infra/resources/_modules/storage_accounts/outputs.tf
  infra/resources/_modules/storage_accounts/storage_queue.tf
Labels: infra

[CES-556] Replicate queue storage to process Cosmos 02 change feed (#316)
  infra/resources/_modules/storage_accounts/README.md
  infra/resources/_modules/storage_accounts/outputs.tf
  infra/resources/_modules/storage_accounts/storage_queue.tf
Labels: infra

[CES-556] Replicate queue storage to process Cosmos 02 change feed (#316)
  infra/resources/_modules/storage_accounts/README.md
  infra/resources/_modules/storage_accounts/outputs.tf
  infra/resources/_modules/storage_accounts/storage_queue.tf
Labels: infra

add lease container
  infra/resources/_modules/cosmos/README.md
  infra/resources/_modules/cosmos/cosmos_containers.tf
  infra/resources/_modules/iam/README.md
Labels: infra

[CES-557] Add new lease container to Cosmos 02 (#317)
  infra/resources/_modules/cosmos/README.md
  infra/resources/_modules/cosmos/cosmos_containers.tf
  infra/resources/_modules/iam/README.md
Labels: infra

[CES-557] Add new lease container to Cosmos 02 (#317)
  infra/resources/_modules/cosmos/README.md
  infra/resources/_modules/cosmos/cosmos_containers.tf
  infra/resources/_modules/iam/README.md
Labels: infra

updated revocation queue name
  infra/resources/prod/main.tf
Labels: infra

run changeset
  .changeset/empty-doors-juggle.md
Labels: changeset

removed unsued variables
  apps/io-wallet-user-func/local.settings.json.example
  infra/resources/_modules/function_apps/locals.tf
Labels: apps, infra

chore: [SIW-1857] Removed migrateWalletInstances function (#313)
  .changeset/empty-doors-juggle.md
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/functions/migrate-wallet-instances.ts
  apps/io-wallet-user-func/src/infra/handlers/migrate-wallet-instances.ts
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/prod/locals.tf
  infra/resources/prod/main.tf
Labels: apps, infra, changeset

chore: [SIW-1857] Removed migrateWalletInstances function (#313)
  .changeset/empty-doors-juggle.md
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/functions/migrate-wallet-instances.ts
  apps/io-wallet-user-func/src/infra/handlers/migrate-wallet-instances.ts
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/prod/locals.tf
  infra/resources/prod/main.tf
Labels: apps, infra, changeset

disable functions in staging slot
  infra/resources/_modules/function_apps/function_app_user.tf
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

fix tf
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

replaced true / false with 1 / 0
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

changed local var name
  infra/resources/_modules/function_apps/function_app_user.tf
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

A try integrating MailUp with io-function-common
  apps/io-wallet-email-test-func/CHANGELOG.md
  apps/io-wallet-email-test-func/README.md
  apps/io-wallet-email-test-func/eslint.config.mjs
  apps/io-wallet-email-test-func/host.json
  apps/io-wallet-email-test-func/local.settings.json.example
  apps/io-wallet-email-test-func/package.json
  apps/io-wallet-email-test-func/src/email-content/divider.mjml
  apps/io-wallet-email-test-func/src/email-content/footer.mjml
  apps/io-wallet-email-test-func/src/email-content/index.html
  apps/io-wallet-email-test-func/src/email-content/index.mjml
  apps/io-wallet-email-test-func/src/email-content/logo_app_io.png
  apps/io-wallet-email-test-func/src/email-content/logo_app_io_white.png
  apps/io-wallet-email-test-func/src/email-content/main-logo.mjml
  apps/io-wallet-email-test-func/src/email-content/style.css
  apps/io-wallet-email-test-func/src/main.ts
  apps/io-wallet-email-test-func/src/send-email.ts
  apps/io-wallet-email-test-func/tsconfig.json
  apps/io-wallet-email-test-func/tsup.config.js
  apps/io-wallet-email-test-func/vitest.config.mjs
  yarn.lock
Labels: apps

fix sticky_app_setting_names
  infra/resources/_modules/function_apps/function_app_user.tf
Labels: infra

disabled non-HTTP functions in staging slot
  infra/resources/_modules/function_apps/function_app_user.tf
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

disabled non-HTTP functions in staging slot
  infra/resources/_modules/function_apps/function_app_user.tf
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

changed name
  apps/io-wallet-user-func/src/app/main.ts
Labels: apps

run changeset
  .changeset/weak-yaks-report.md
Labels: changeset

fix: changed lease container name in addWalletInstanceToValidationQueue function
  .changeset/weak-yaks-report.md
  apps/io-wallet-user-func/src/app/main.ts
Labels: apps, changeset

fix: changed lease container name in addWalletInstanceToValidationQueue function
  .changeset/weak-yaks-report.md
  apps/io-wallet-user-func/src/app/main.ts
Labels: apps, changeset

Using io-functions-common in io-wallet-user-func with mailhog to send email. Adding a test function called io-wallet-email-test for mailup and io-function-common tests
  apps/io-wallet-email-test-func/docs/postman/io-wallet-email-test-func.postman_collection.json
  apps/io-wallet-email-test-func/src/send-email.ts
  apps/io-wallet-user-func/.gitignore
  apps/io-wallet-user-func/.vscode/extensions.json
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/package.json
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/email-provider.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-wallet-user-func/src/templates/wallet-instance-activation/divider.mjml
  apps/io-wallet-user-func/src/templates/wallet-instance-activation/footer.mjml
  apps/io-wallet-user-func/src/templates/wallet-instance-activation/index.html.ts
  apps/io-wallet-user-func/src/templates/wallet-instance-activation/index.mjml
  apps/io-wallet-user-func/src/templates/wallet-instance-activation/logo_app_io.png
  apps/io-wallet-user-func/src/templates/wallet-instance-activation/logo_app_io_white.png
  apps/io-wallet-user-func/src/templates/wallet-instance-activation/main-logo.mjml
  apps/io-wallet-user-func/src/templates/wallet-instance-activation/style.css
  yarn.lock
Labels: apps

Code formatting
  apps/io-wallet-email-test-func/src/email-content/footer.mjml
  apps/io-wallet-email-test-func/src/email-content/index.html
  apps/io-wallet-email-test-func/src/email-content/index.mjml
  apps/io-wallet-email-test-func/src/email-content/style.css
Labels: apps

Adapting unit tests (to pass the code-review only)
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
Labels: apps

Fixing sendEmail response (io-wallet-test-email
  apps/io-wallet-email-test-func/src/send-email.ts
Labels: apps

Removing some junk and typos. Fixing the email template for the wallet instance activation
  apps/io-wallet-email-test-func/src/email-content/footer.mjml
  apps/io-wallet-email-test-func/src/email-content/index.html
  apps/io-wallet-email-test-func/src/email-content/index.mjml
  apps/io-wallet-email-test-func/src/email-content/style.css
  apps/io-wallet-user-func/.gitignore
  apps/io-wallet-user-func/.vscode/extensions.json
  apps/io-wallet-user-func/globals.d.ts
  apps/io-wallet-user-func/package.json
  apps/io-wallet-user-func/src/email-provider.ts
  apps/io-wallet-user-func/src/templates/wallet-instance-activation/footer.mjml
  apps/io-wallet-user-func/src/templates/wallet-instance-activation/index.html.ts
  apps/io-wallet-user-func/src/templates/wallet-instance-activation/index.mjml
  apps/io-wallet-user-func/src/templates/wallet-instance-activation/style.css
  yarn.lock
Labels: apps

Using english comments instead of italian comments
  apps/io-wallet-email-test-func/src/email-content/index.html
  apps/io-wallet-email-test-func/src/email-content/index.mjml
  apps/io-wallet-user-func/src/templates/wallet-instance-activation/index.html.ts
  apps/io-wallet-user-func/src/templates/wallet-instance-activation/index.mjml
Labels: apps

Made the send Email() function agnostic (with respect to the email to be sent)
  apps/io-wallet-user-func/src/email-provider.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
Labels: apps
