Repository pagopa/io-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, infra, changeset

.github/labeler.yml:

apps: apps/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*

updated jwk file in common package
  apps/io-wallet-user-func/src/infra/azure/cosmos/key.ts
  apps/io-wallet-user-func/src/infra/handlers/generate-entity-configuration.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-key-attestation.ts
  apps/io-wallet-user-func/src/infra/http/key-attestation-request.ts
  apps/io-wallet-user-func/src/infra/http/wallet-instance-attestation-request.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/__tests__/assertion.spec.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/client-data.ts
  apps/io-wallet-user-func/src/keys.ts
  packages/io-wallet-common/src/jwk.ts
Labels: apps

run changeset
  .changeset/icy-mangos-sniff.md
  .changeset/polite-parents-lick.md
Labels: changeset

update actions
  .github/workflows/le_renew_ssl_certificate_python_requirements.txt
  .github/workflows/tls_certificate.yaml
Labels: ci

Update action versions for TLS certificate renewal (#868)
  .github/workflows/le_renew_ssl_certificate_python_requirements.txt
  .github/workflows/tls_certificate.yaml
Labels: ci

add imports
  .github/workflows/le_renew_ssl_certificate_generate_csr.py
Labels: ci

Add necessary imports for cryptography module (#869)
  .github/workflows/le_renew_ssl_certificate_generate_csr.py
Labels: ci

added keys-1.0 container and restored app settings - they will be deleted later
  infra/resources/_modules/cosmos/locals.tf
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

restore v10 repository
  apps/io-wallet-user-func/src/app/main.ts
Labels: apps

restored WalletProviderIntermediateSigningKeys and WalletProviderLeafSigningKeys
  infra/resources/psn/prod/locals.tf
Labels: infra

updated openapi specs
  apps/io-wallet-user-func/openapi.yaml
Labels: apps

restore app setting
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

infra: restore app setting
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

allow admins to create keys on key vault
  infra/resources/_modules/iam/admins.tf
Labels: infra

infra: allow admins to create keys on key vault
  infra/resources/_modules/iam/admins.tf
Labels: infra

updated entity configuration publishing
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/entity-configuration.ts
  apps/io-wallet-user-func/src/infra/handlers/generate-entity-configuration.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/create-key-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/create-wallet-instance-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-key-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance-attestation.ts
  apps/io-wallet-user-func/src/infra/pid-issuer/client.ts
  apps/io-wallet-user-func/src/wallet-attestation.ts
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/psn/prod/cdn.tf
Labels: apps, infra

updated env var
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

fix: Use main instead of sha for slack-notification action
  .github/workflows/apim_backup.yaml
  .github/workflows/apim_restore.yaml
Labels: ci

feat: Use Cold access_tier and remove principal_type
  infra/resources/psn/prod/apim_backup.tf
Labels: infra

Add storage account metric alerts (#841)
  infra/resources/_modules/storage_accounts/alerts.tf
Labels: infra

Add APIM backup and restore strategy (#845)
  .github/workflows/apim_backup.yaml
  .github/workflows/apim_restore.yaml
  infra/resources/psn/prod/.terraform.lock.hcl
  infra/resources/psn/prod/README.md
  infra/resources/psn/prod/apim_backup.tf
  infra/resources/psn/prod/providers.tf
Labels: ci, infra

created new function that generates EC V2 and updated the old EC V1 generation function
  .changeset/cool-dingos-flow.md
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/encoders/entity-configuration.ts
  apps/io-wallet-user-func/src/entity-configuration.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/trust-mark.ts
  apps/io-wallet-user-func/src/infra/azure/functions/generate-entity-configuration-v1.ts
  apps/io-wallet-user-func/src/infra/azure/functions/generate-entity-configuration-v2.ts
  apps/io-wallet-user-func/src/infra/azure/functions/generate-entity-configuration.ts
  apps/io-wallet-user-func/src/infra/handlers/generate-entity-configuration-v1.ts
  apps/io-wallet-user-func/src/infra/handlers/generate-entity-configuration-v2.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/create-key-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/create-wallet-instance-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-key-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance-attestation.ts
  apps/io-wallet-user-func/src/infra/pid-issuer/client.ts
  apps/io-wallet-user-func/src/wallet-attestation.ts
  infra/resources/_modules/cosmos/locals.tf
  infra/resources/_modules/cosmos/variables.tf
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/psn/prod/main.tf
Labels: apps, infra, changeset

updated config
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
Labels: apps

Use supported firewall metrics
  infra/core/psn/hub/prod/README.md
  infra/core/psn/hub/prod/locals.tf
Labels: infra

Add firewall health alert
  infra/core/psn/hub/prod/README.md
  infra/core/psn/hub/prod/alerts.tf
  infra/core/psn/hub/prod/locals.tf
Labels: infra

Clarify firewall alert remediation
  infra/core/psn/hub/prod/locals.tf
Labels: infra

simplified createWalletAttestation function
  .changeset/stale-moose-wait.md
  apps/io-wallet-user-func/package.json
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation.ts
Labels: apps, changeset

updated lock file
  pnpm-lock.yaml
Labels: none

revert dependencies
  apps/io-wallet-user-func/package.json
  pnpm-lock.yaml
Labels: apps

chore: simplified createWalletAttestation function
  .changeset/stale-moose-wait.md
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation.ts
Labels: apps, changeset

removed sd-jwt and mdoc related code in /wallet-attestations endpoint
  apps/io-wallet-user-func/package.json
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation.ts
  apps/io-wallet-user-func/src/wallet-attestation-mdoc.ts
  apps/io-wallet-user-func/src/wallet-attestation.ts
  pnpm-lock.yaml
Labels: apps

updated
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/wallet-attestation.ts
Labels: apps

chore: removed sd-jwt and mdoc related code in /wallet-attestations endpoint
  apps/io-wallet-user-func/package.json
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation.ts
  apps/io-wallet-user-func/src/wallet-attestation-mdoc.ts
  apps/io-wallet-user-func/src/wallet-attestation.ts
  pnpm-lock.yaml
Labels: apps

Add IT-Wallet firewall alerts (#851)
  infra/core/psn/hub/prod/README.md
  infra/core/psn/hub/prod/alerts.tf
  infra/core/psn/hub/prod/data.tf
  infra/core/psn/hub/prod/locals.tf
Labels: infra

fix: change environment in APIM backup to CI
  .github/workflows/apim_backup.yaml
Labels: ci

Use CI env for APIM backup workflow (#879)
  .github/workflows/apim_backup.yaml
Labels: ci

updated createWalletAttestation handler - removed signing key from env var
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/encoders/wallet-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation.ts
  apps/io-wallet-user-func/src/wallet-attestation.ts
  packages/io-wallet-common/src/jwk.ts
Labels: apps

removed legacy tests
  packages/io-wallet-common/src/__tests__/jwk.spec.ts
Labels: none

removed unused variable
  packages/io-wallet-common/src/__tests__/jwk.spec.ts
Labels: none

updated test
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/create-key-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/create-wallet-instance-attestation.spec.ts
Labels: apps

run changeset
  .changeset/cyan-candies-buy.md
  .changeset/cyan-moments-tan.md
Labels: changeset
