Repository pagopa/io-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, sd-jwt, apps, docs, ci, infra, changeset

Add use of ValidationResult
  apps/io-wallet-user-func/src/infra/attestation-service/android/attestation.ts
  apps/io-wallet-user-func/src/wallet-instance-revocation-process.ts
Labels: apps

Add fetch from DB on queue trigger
  apps/io-wallet-user-func/host.json
  apps/io-wallet-user-func/src/wallet-instance-revocation-process.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
Labels: apps

Fix RTE
  apps/io-wallet-user-func/src/wallet-instance.ts
Labels: apps

Update wallet-instance-revocation-process.ts
  apps/io-wallet-user-func/src/wallet-instance-revocation-process.ts
Labels: apps

Add telemetry
  apps/io-wallet-user-func/src/infra/azure/functions/validate-wallet-instance-attested-key.ts
Labels: apps

Add telemetry
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/functions/add-wallet-instance-to-validation-queue.ts
Labels: apps

Add connection string to KV
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/_modules/storage/outputs.tf
  infra/resources/prod/data.tf
  infra/resources/prod/locals.tf
  infra/resources/prod/main.tf
Labels: infra

refactor terraform
  infra/resources/_modules/storage/storage_queue.tf
  infra/resources/prod/data.tf
Labels: infra

remove connection string
  infra/resources/_modules/storage/storage_queue.tf
  infra/resources/prod/locals.tf
Labels: infra

Add KV connection string
  infra/resources/_modules/storage/storage_accounts.tf
  infra/resources/prod/locals.tf
Labels: infra

add data
  infra/resources/prod/locals.tf
  packages/io-wallet-common/package-lock.json
Labels: internal, infra

add connection string
  infra/resources/_modules/storage/outputs.tf
  infra/resources/_modules/storage/storage_accounts.tf
  infra/resources/prod/locals.tf
Labels: infra

fix KV id
  infra/resources/_modules/storage/storage_accounts.tf
Labels: infra

fix KV
  infra/resources/_modules/storage/storage_accounts.tf
  infra/resources/_modules/storage/variables.tf
Labels: infra

add variable
  infra/resources/prod/main.tf
Labels: infra

remove sensitive
  infra/resources/_modules/storage/storage_accounts.tf
Labels: infra

Remove infra dependencies
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/attestation-service.ts
Labels: apps

Fix test
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/attestation-service.ts
  apps/io-wallet-user-func/src/infra/attestation-service/index.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
Labels: apps

Fix hardware public key
  apps/io-wallet-user-func/src/attestation-service.ts
  apps/io-wallet-user-func/src/infra/attestation-service/index.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
Labels: apps

getLastActiveWalletInstanceByUserId() method, changing the parameter name from id to walleInstanceId, to make it clearer
  apps/io-wallet-user-func/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
Labels: apps

Move certificates section
  apps/io-wallet-user-func/src/__test__/certificates.spec.ts
  apps/io-wallet-user-func/src/attestation-service.ts
  apps/io-wallet-user-func/src/certificates.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/__test__/attestation.spec.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/__test__/config.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/assertion.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/attestation.ts
  apps/io-wallet-user-func/src/infra/attestation-service/errors.ts
  apps/io-wallet-user-func/src/infra/attestation-service/ios/assertion.ts
Labels: apps

add comment
  apps/io-wallet-user-func/src/certificates.ts
Labels: apps

Update certificates.ts
  apps/io-wallet-user-func/src/certificates.ts
Labels: apps

Update infra/resources/_modules/storage/storage_accounts.tf
  infra/resources/_modules/storage/storage_accounts.tf
Labels: infra

Add iOS certificates validation
  apps/io-wallet-user-func/src/certificates.ts
  apps/io-wallet-user-func/src/infra/attestation-service/ios/attestation.ts
Labels: apps

Add changeset
  .changeset/wise-stingrays-join.md
Labels: changeset

Delete package-lock.json
  packages/io-wallet-common/package-lock.json
Labels: internal

Update certificates.ts
  apps/io-wallet-user-func/src/certificates.ts
Labels: apps

Mock CRL
  apps/io-wallet-user-func/src/__test__/certificates.spec.ts
  apps/io-wallet-user-func/src/certificates.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/__test__/attestation.spec.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/__test__/config.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/attestation.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/index.ts
Labels: apps

Fix test
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
Labels: apps

Create mockAttestationService
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
Labels: apps

chore: [SIW-1831] Remove infra dependencies from attestation-service
  .changeset/wise-stingrays-join.md
  apps/io-wallet-user-func/src/__test__/certificates.spec.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/attestation-service.ts
  apps/io-wallet-user-func/src/certificates.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/__test__/attestation.spec.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/__test__/config.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/assertion.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/attestation.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/index.ts
  apps/io-wallet-user-func/src/infra/attestation-service/errors.ts
  apps/io-wallet-user-func/src/infra/attestation-service/index.ts
  apps/io-wallet-user-func/src/infra/attestation-service/ios/assertion.ts
  apps/io-wallet-user-func/src/infra/attestation-service/ios/attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
Labels: apps, changeset

chore: [SIW-1831] Remove infra dependencies from attestation-service
  .changeset/wise-stingrays-join.md
  apps/io-wallet-user-func/src/__test__/certificates.spec.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/attestation-service.ts
  apps/io-wallet-user-func/src/certificates.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/__test__/attestation.spec.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/__test__/config.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/assertion.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/attestation.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/index.ts
  apps/io-wallet-user-func/src/infra/attestation-service/errors.ts
  apps/io-wallet-user-func/src/infra/attestation-service/index.ts
  apps/io-wallet-user-func/src/infra/attestation-service/ios/assertion.ts
  apps/io-wallet-user-func/src/infra/attestation-service/ios/attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
Labels: apps, changeset

Add changeset
  .changeset/bright-chefs-film.md
  .changeset/long-gorillas-sin.md
Labels: changeset

Fix handler
  apps/io-wallet-user-func/src/infra/azure/functions/add-wallet-instance-to-validation-queue.ts
  apps/io-wallet-user-func/src/infra/azure/functions/validate-wallet-instance-attested-key.ts
  apps/io-wallet-user-func/src/infra/handlers/add-wallet-instance-to-validation-queue.ts
  apps/io-wallet-user-func/src/infra/handlers/validate-wallet-instance-attested-key.ts
Labels: apps

Fix needToBeRevoked
  apps/io-wallet-user-func/src/certificates.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/index.ts
  apps/io-wallet-user-func/src/wallet-instance-revocation-process.ts
Labels: apps

Update wallet-instance-revocation-process.ts
  apps/io-wallet-user-func/src/wallet-instance-revocation-process.ts
Labels: apps

pre-commit
  infra/resources/_modules/storage/storage_accounts.tf
  infra/resources/prod/README.md
Labels: infra

feat: [SIW-1817] Add Wallet Instance attested key validation event based
  .changeset/bright-chefs-film.md
  apps/io-wallet-support-func/local.settings.json.example
  apps/io-wallet-user-func/host.json
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/package.json
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/certificates.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/index.ts
  apps/io-wallet-user-func/src/infra/azure/functions/add-wallet-instance-to-validation-queue.ts
  apps/io-wallet-user-func/src/infra/azure/functions/validate-wallet-instance-attested-key.ts
  apps/io-wallet-user-func/src/infra/azure/queue/wallet-instance-revocation.ts
  apps/io-wallet-user-func/src/infra/handlers/add-wallet-instance-to-validation-queue.ts
  apps/io-wallet-user-func/src/infra/handlers/validate-wallet-instance-attested-key.ts
  apps/io-wallet-user-func/src/wallet-instance-revocation-process.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/_modules/storage/main.tf
  infra/resources/_modules/storage/outputs.tf
  infra/resources/_modules/storage/storage_accounts.tf
  infra/resources/_modules/storage/storage_queue.tf
  infra/resources/_modules/storage/variables.tf
  infra/resources/prod/README.md
  infra/resources/prod/locals.tf
  infra/resources/prod/main.tf
  packages/io-wallet-common/src/infra/azure/cosmos/config.ts
  packages/io-wallet-common/src/wallet-instance.ts
  yarn.lock
Labels: internal, apps, infra, changeset

feat: [SIW-1817] Add Wallet Instance attested key validation event based
  .changeset/bright-chefs-film.md
  apps/io-wallet-support-func/local.settings.json.example
  apps/io-wallet-user-func/host.json
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/package.json
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/certificates.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/index.ts
  apps/io-wallet-user-func/src/infra/azure/functions/add-wallet-instance-to-validation-queue.ts
  apps/io-wallet-user-func/src/infra/azure/functions/validate-wallet-instance-attested-key.ts
  apps/io-wallet-user-func/src/infra/azure/queue/wallet-instance-revocation.ts
  apps/io-wallet-user-func/src/infra/handlers/add-wallet-instance-to-validation-queue.ts
  apps/io-wallet-user-func/src/infra/handlers/validate-wallet-instance-attested-key.ts
  apps/io-wallet-user-func/src/wallet-instance-revocation-process.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/_modules/storage/main.tf
  infra/resources/_modules/storage/outputs.tf
  infra/resources/_modules/storage/storage_accounts.tf
  infra/resources/_modules/storage/storage_queue.tf
  infra/resources/_modules/storage/variables.tf
  infra/resources/prod/README.md
  infra/resources/prod/locals.tf
  infra/resources/prod/main.tf
  packages/io-wallet-common/src/infra/azure/cosmos/config.ts
  packages/io-wallet-common/src/wallet-instance.ts
  yarn.lock
Labels: internal, apps, infra, changeset

.github/labeler.yml:

internal: packages/**/*
sd-jwt: packages/sd-jwt/*
apps: apps/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*
