Repository pagopa/io-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, infra, changeset

.github/labeler.yml:

apps: apps/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*

removed useless comments
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/ios/index.ts
Labels: apps

updated
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/index.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/index.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/ios/index.ts
Labels: apps

removed empty line
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/index.ts
Labels: apps

updated
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/index.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/index.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/ios/index.ts
Labels: apps

fix type
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/ios/index.ts
Labels: apps

updated code
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/index.ts
Labels: apps

fix lint
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/index.ts
Labels: apps

removed ValidationError in validateAttestation and validateAttestation
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/index.ts
Labels: apps

fix lint
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/index.ts
Labels: apps

replace generic error with AndroidAttestationError
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/index.ts
Labels: apps

updated error
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/index.ts
Labels: apps

moved parse functions
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/index.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/index.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/ios/index.ts
Labels: apps

run changeset
  .changeset/blue-lies-warn.md
Labels: changeset

chore: refactor MobileAttestationService class
  .changeset/blue-lies-warn.md
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/index.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/index.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/ios/index.ts
Labels: apps, changeset

infra: removed leases-revoke-wallet-instance collection
  infra/core/psn/spoke/prod/README.md
  infra/resources/_modules/cosmos/README.md
  infra/resources/_modules/cosmos/locals.tf
  infra/resources/_modules/cosmos/variables.tf
  infra/resources/psn/prod/main.tf
Labels: infra

Remove push trigger from user and user uat function deploy workflows in pagopa tenant
  .github/workflows/user_function_deploy.yaml
  .github/workflows/user_uat_function_deploy.yaml
Labels: ci

reduce insances
  infra/resources/psn/prod/apim.tf
Labels: infra

Reduce PSN APIM instances (#681)
  infra/resources/psn/prod/apim.tf
Labels: infra

chore: removed push trigger in user and user uat deploy workflows
  .github/workflows/user_function_deploy.yaml
  .github/workflows/user_uat_function_deploy.yaml
Labels: ci

removed TrialSystemApiKey env var
  infra/resources/psn/prod/locals.tf
Labels: infra

removed slack config related code
  apps/io-wallet-user-func/src/app/config.ts
  infra/resources/psn/prod/locals.tf
Labels: apps, infra

run changeset
  .changeset/wicked-zebras-cut.md
Labels: changeset

chore: removed unused app settings
  .changeset/wicked-zebras-cut.md
  apps/io-wallet-user-func/src/app/config.ts
  infra/resources/psn/prod/locals.tf
Labels: apps, infra, changeset

run changeset
  .changeset/sweet-wings-act.md
Labels: changeset

chore: revert DB connection to managed identities
  .changeset/sweet-wings-act.md
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
Labels: apps, changeset

allow admins to access uat db
  infra/resources/_modules/iam/admins.tf
Labels: infra

Allow admins to access uat db on PSN (#685)
  infra/resources/_modules/iam/admins.tf
Labels: infra

deleted whitelist-fiscal-code-script and removed migrateWalletInstances function
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/functions/migrate-wallet-instances.ts
  apps/io-wallet-user-func/src/infra/handlers/migrate-wallet-instances.ts
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/psn/prod/locals.tf
  scripts/whitelist-fiscal-code-script/.env.example
  scripts/whitelist-fiscal-code-script/README.md
  scripts/whitelist-fiscal-code-script/eslint.config.mjs
  scripts/whitelist-fiscal-code-script/fiscalcodes.csv.example
  scripts/whitelist-fiscal-code-script/package.json
  scripts/whitelist-fiscal-code-script/src/app/whitelist-fiscal-code.ts
  scripts/whitelist-fiscal-code-script/src/config.ts
  scripts/whitelist-fiscal-code-script/src/infra/cosmos-fiscal-code.ts
  scripts/whitelist-fiscal-code-script/src/infra/file-fiscal-code.ts
  scripts/whitelist-fiscal-code-script/src/main.ts
  scripts/whitelist-fiscal-code-script/tsconfig.json
  scripts/whitelist-fiscal-code-script/vitest.config.mjs
  scripts/whitelist-fiscal-code-script/yarn.lock
Labels: apps, infra

run changeset
  .changeset/clear-olives-watch.md
Labels: changeset

fix lint
  apps/io-wallet-user-func/src/app/main.ts
Labels: apps

removed StorageConnectionString env var
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/storage_accounts/secrets.tf
  infra/resources/psn/prod/main.tf
Labels: infra

fix tf plan
  infra/resources/_modules/storage_accounts/outputs.tf
Labels: infra

fix tf plan
  infra/resources/_modules/storage_accounts/outputs.tf
Labels: infra

fix pagopa prod tf plan
  infra/resources/prod/locals.tf
Labels: infra

chore: deleted whitelist-fiscal-code-script and removed migrateWalletInstances
  .changeset/clear-olives-watch.md
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/functions/migrate-wallet-instances.ts
  apps/io-wallet-user-func/src/infra/handlers/migrate-wallet-instances.ts
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/storage_accounts/outputs.tf
  infra/resources/_modules/storage_accounts/secrets.tf
  infra/resources/prod/locals.tf
  infra/resources/psn/prod/locals.tf
  infra/resources/psn/prod/main.tf
  scripts/whitelist-fiscal-code-script/.env.example
  scripts/whitelist-fiscal-code-script/README.md
  scripts/whitelist-fiscal-code-script/eslint.config.mjs
  scripts/whitelist-fiscal-code-script/fiscalcodes.csv.example
  scripts/whitelist-fiscal-code-script/package.json
  scripts/whitelist-fiscal-code-script/src/app/whitelist-fiscal-code.ts
  scripts/whitelist-fiscal-code-script/src/config.ts
  scripts/whitelist-fiscal-code-script/src/infra/cosmos-fiscal-code.ts
  scripts/whitelist-fiscal-code-script/src/infra/file-fiscal-code.ts
  scripts/whitelist-fiscal-code-script/src/main.ts
  scripts/whitelist-fiscal-code-script/tsconfig.json
  scripts/whitelist-fiscal-code-script/vitest.config.mjs
  scripts/whitelist-fiscal-code-script/yarn.lock
Labels: apps, infra, changeset

update pre-commit
  .pre-commit-config.yaml
  infra/core/psn/spoke/prod/locals.tf
  infra/resources/psn/prod/README.md
  infra/resources/psn/prod/data.tf
Labels: infra

upgrade terraform binary
  .terraform-version
Labels: none

Upgrade Terraform binary (#689)
  .terraform-version
Labels: none

remove workflow to renew wallet.io.pagopa.it
  .github/workflows/wallet_io_pagopa_it.yaml
Labels: ci

Update pre-commit config (#688)
  .pre-commit-config.yaml
  infra/core/psn/spoke/prod/locals.tf
  infra/resources/psn/prod/README.md
  infra/resources/psn/prod/data.tf
Labels: infra
