Repository pagopa/io-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, sd-jwt, apps, docs, ci, infra, changeset

fix tf
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/prod/main.tf
Labels: infra

fix import
  apps/io-wallet-support-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/config.ts
Labels: apps

run changeset
  .changeset/gentle-elephants-return.md
Labels: changeset

feat: [SIW-1402] Added appinsights exceptions
  .changeset/gentle-elephants-return.md
  apps/io-wallet-support-func/local.settings.json.example
  apps/io-wallet-support-func/package.json
  apps/io-wallet-support-func/src/app/config.ts
  apps/io-wallet-support-func/src/app/main.ts
  apps/io-wallet-support-func/src/infra/azure/appinsights/start.ts
  apps/io-wallet-support-func/src/infra/http/handlers/__test__/get-current-wallet-instance-by-fiscal-code.spec.ts
  apps/io-wallet-support-func/src/infra/http/handlers/get-current-wallet-instance-by-fiscal-code.ts
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/package.json
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/appinsights/start.ts
  apps/io-wallet-user-func/src/infra/handlers/generate-entity-configuration.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-current-wallet-instance.status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-nonce.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-current-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-current-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-nonce.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-current-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-wallet-instance-status.ts
  apps/io-wallet-user-func/src/telemetry.ts
  infra/resources/_modules/function_apps/function_app_support.tf
  infra/resources/_modules/function_apps/function_app_user.tf
  infra/resources/_modules/function_apps/locals.tf
  packages/io-wallet-common/package.json
  packages/io-wallet-common/src/infra/azure/appinsights/config.ts
  packages/io-wallet-common/src/infra/azure/appinsights/telemetry.ts
  yarn.lock
Labels: internal, apps, infra, changeset

feat: [SIW-1402] Added appinsights exceptions
  .changeset/gentle-elephants-return.md
  apps/io-wallet-support-func/local.settings.json.example
  apps/io-wallet-support-func/package.json
  apps/io-wallet-support-func/src/app/config.ts
  apps/io-wallet-support-func/src/app/main.ts
  apps/io-wallet-support-func/src/infra/azure/appinsights/start.ts
  apps/io-wallet-support-func/src/infra/http/handlers/__test__/get-current-wallet-instance-by-fiscal-code.spec.ts
  apps/io-wallet-support-func/src/infra/http/handlers/get-current-wallet-instance-by-fiscal-code.ts
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/package.json
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/appinsights/start.ts
  apps/io-wallet-user-func/src/infra/handlers/generate-entity-configuration.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-current-wallet-instance.status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-nonce.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-current-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-current-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-nonce.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-current-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-wallet-instance-status.ts
  apps/io-wallet-user-func/src/telemetry.ts
  infra/resources/_modules/function_apps/function_app_support.tf
  infra/resources/_modules/function_apps/function_app_user.tf
  infra/resources/_modules/function_apps/locals.tf
  packages/io-wallet-common/package.json
  packages/io-wallet-common/src/infra/azure/appinsights/config.ts
  packages/io-wallet-common/src/infra/azure/appinsights/telemetry.ts
  yarn.lock
Labels: internal, apps, infra, changeset

add pid issuer timeout specific message
  apps/io-wallet-user-func/src/infra/pid-issuer/client.ts
Labels: apps

updatede appinsights exceptions
  apps/io-wallet-user-func/src/infra/azure/appinsights/start.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/nonce.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-wallet-user-func/src/infra/handlers/generate-entity-configuration.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-current-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-nonce.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-current-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/pid-issuer/client.ts
  apps/io-wallet-user-func/src/telemetry.ts
Labels: apps

fix lint
  apps/io-wallet-user-func/src/infra/http/handlers/get-current-wallet-instance-status.ts
  apps/io-wallet-user-func/src/telemetry.ts
Labels: apps

run changeset
  .changeset/seven-bugs-run.md
Labels: changeset

chore: update appinsights exceptions telemetry
  .changeset/seven-bugs-run.md
  apps/io-wallet-user-func/src/infra/azure/appinsights/start.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/nonce.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-wallet-user-func/src/infra/handlers/generate-entity-configuration.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-current-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-nonce.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-current-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/pid-issuer/client.ts
  apps/io-wallet-user-func/src/telemetry.ts
Labels: apps, changeset

chore: update appinsights exceptions telemetry
  .changeset/seven-bugs-run.md
  apps/io-wallet-user-func/src/infra/azure/appinsights/start.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/nonce.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-wallet-user-func/src/infra/handlers/generate-entity-configuration.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-current-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-nonce.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-current-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/pid-issuer/client.ts
  apps/io-wallet-user-func/src/telemetry.ts
Labels: apps, changeset

io-message-wallet-func: init and configs
  apps/io-wallet-message-func/CHANGELOG.md
  apps/io-wallet-message-func/README.md
  apps/io-wallet-message-func/eslint.config.mjs
  apps/io-wallet-message-func/host.json
  apps/io-wallet-message-func/local.settings.json.example
  apps/io-wallet-message-func/openapi.yaml
  apps/io-wallet-message-func/package.json
  apps/io-wallet-message-func/src/app/configs/azureConfig.ts
  apps/io-wallet-message-func/src/app/configs/config.ts
  apps/io-wallet-message-func/src/app/configs/ioServiceConfig.ts
  apps/io-wallet-message-func/src/app/main.ts
  apps/io-wallet-message-func/src/infra/azure/functions/health.ts
  apps/io-wallet-message-func/src/infra/http/handlers/__test__/health.spec.ts
  apps/io-wallet-message-func/src/infra/http/handlers/health.ts
  apps/io-wallet-message-func/tsconfig.json
  apps/io-wallet-message-func/tsup.config.js
  apps/io-wallet-message-func/vitest.config.mjs
Labels: apps

io-message-wallet-func: init and configs
  apps/io-wallet-message-func/CHANGELOG.md
  apps/io-wallet-message-func/README.md
  apps/io-wallet-message-func/eslint.config.mjs
  apps/io-wallet-message-func/host.json
  apps/io-wallet-message-func/local.settings.json.example
  apps/io-wallet-message-func/openapi.yaml
  apps/io-wallet-message-func/package.json
  apps/io-wallet-message-func/src/app/configs/azureConfig.ts
  apps/io-wallet-message-func/src/app/configs/config.ts
  apps/io-wallet-message-func/src/app/configs/ioServiceConfig.ts
  apps/io-wallet-message-func/src/app/main.ts
  apps/io-wallet-message-func/src/infra/azure/functions/health.ts
  apps/io-wallet-message-func/src/infra/http/handlers/__test__/health.spec.ts
  apps/io-wallet-message-func/src/infra/http/handlers/health.ts
  apps/io-wallet-message-func/tsconfig.json
  apps/io-wallet-message-func/tsup.config.js
  apps/io-wallet-message-func/vitest.config.mjs
Labels: apps

Adding io-wallet-message-func to the workspace
  io-wallet.code-workspace
  packages/io-wallet-common/host.json
  yarn.lock
Labels: internal

Adding io-wallet-message-func to the workspace
  io-wallet.code-workspace
  packages/io-wallet-common/host.json
  yarn.lock
Labels: internal

Fixing lint errors
  apps/io-wallet-message-func/package.json
  apps/io-wallet-message-func/src/app/configs/azureConfig.ts
  apps/io-wallet-message-func/src/app/configs/config.ts
  apps/io-wallet-message-func/src/app/configs/ioServiceConfig.ts
  apps/io-wallet-message-func/src/app/main.ts
  apps/io-wallet-message-func/src/infra/azure/functions/health.ts
  apps/io-wallet-message-func/src/infra/http/handlers/health.ts
Labels: apps

Fixing lint errors
  apps/io-wallet-message-func/package.json
  apps/io-wallet-message-func/src/app/configs/azureConfig.ts
  apps/io-wallet-message-func/src/app/configs/config.ts
  apps/io-wallet-message-func/src/app/configs/ioServiceConfig.ts
  apps/io-wallet-message-func/src/app/main.ts
  apps/io-wallet-message-func/src/infra/azure/functions/health.ts
  apps/io-wallet-message-func/src/infra/http/handlers/health.ts
Labels: apps

update applicationinsights setting
  apps/io-wallet-user-func/src/infra/azure/appinsights/start.ts
Labels: apps

run changeset
  .changeset/gorgeous-gifts-yawn.md
Labels: changeset

chore: update applicationinsights setting (#252)
  .changeset/gorgeous-gifts-yawn.md
  apps/io-wallet-user-func/src/infra/azure/appinsights/start.ts
Labels: apps, changeset

chore: update applicationinsights setting (#252)
  .changeset/gorgeous-gifts-yawn.md
  apps/io-wallet-user-func/src/infra/azure/appinsights/start.ts
Labels: apps, changeset

Connecting to the CosmosDb via connectionString
  apps/io-wallet-support-func/local.settings.json.example
  apps/io-wallet-support-func/src/app/config.ts
  apps/io-wallet-support-func/src/app/main.ts
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/configs/config.ts
  apps/io-wallet-user-func/src/app/configs/cosmosDbConfig.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/attestation-service.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/__test__/attestation.spec.ts
  apps/io-wallet-user-func/src/infra/attestation-service/index.ts
  apps/io-wallet-user-func/src/infra/attestation-service/ios/__test__/attestation.spec.ts
  apps/io-wallet-user-func/src/infra/crypto/signer.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-wallet-user-func/src/infra/jwt-validator.ts
  apps/io-wallet-user-func/src/infra/pid-issuer/client.ts
  apps/io-wallet-user-func/src/infra/trial-system/client.ts
Labels: apps

Code formatting
  apps/io-wallet-support-func/src/app/config.ts
Labels: apps

Writing README.md for the io-wallet-support-func
  apps/io-wallet-support-func/README.md
  apps/io-wallet-user-func/README.md
Labels: apps

Progresses writing the README.md for the io-wallet-user-func
  apps/io-wallet-support-func/README.md
  apps/io-wallet-user-func/README.md
  host.json
Labels: apps

Log errors
  apps/io-wallet-user-func/src/infra/attestation-service/android/assertion.ts
Labels: apps

Create rude-bags-jump.md
  .changeset/rude-bags-jump.md
Labels: changeset

Update assertion.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/assertion.ts
Labels: apps

chore: Increase integrity error logs
  .changeset/rude-bags-jump.md
  apps/io-wallet-user-func/src/infra/attestation-service/android/assertion.ts
Labels: apps, changeset

chore: Increase integrity error logs
  .changeset/rude-bags-jump.md
  apps/io-wallet-user-func/src/infra/attestation-service/android/assertion.ts
Labels: apps, changeset

Writing README.md of the monorepo
  README (old).md
  README.md
  apps/io-wallet-support-func/README.md
  apps/io-wallet-user-func/README.md
Labels: apps

added registerInstrumentations
  apps/io-wallet-user-func/package.json
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/appinsights/start.ts
  yarn.lock
Labels: apps

Writing the README.md of io-wallet-common package
  README (old).md
  README.md
  apps/io-wallet-support-func/README.md
  apps/io-wallet-user-func/README.md
  packages/io-wallet-common/README.md
Labels: internal, apps

Removing CosmosDbConnectionString env var
  apps/io-wallet-support-func/local.settings.json.example
  apps/io-wallet-support-func/src/app/config.ts
  apps/io-wallet-support-func/src/app/main.ts
  apps/io-wallet-user-func/README.md
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/configs/cosmosDbConfig.ts
  apps/io-wallet-user-func/src/app/main.ts
Labels: apps

Removing incorrect imports
  apps/io-wallet-user-func/src/infra/attestation-service/android/__test__/attestation.spec.ts
  apps/io-wallet-user-func/src/infra/attestation-service/index.ts
  apps/io-wallet-user-func/src/infra/attestation-service/ios/__test__/attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-wallet-user-func/src/infra/jwt-validator.ts
  apps/io-wallet-user-func/src/infra/pid-issuer/client.ts
  apps/io-wallet-user-func/src/infra/trial-system/client.ts
Labels: apps

Fixing wrong import
  apps/io-wallet-user-func/src/attestation-service.ts
  apps/io-wallet-user-func/src/infra/crypto/signer.ts
Labels: apps

added app insights handler wrapper
  apps/io-wallet-user-func/package.json
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/appinsights/start.ts
  apps/io-wallet-user-func/src/infra/azure/appinsights/wrapper-handler.ts
  yarn.lock
Labels: apps

run changeset
  .changeset/six-windows-explode.md
Labels: changeset

Removing hosts.json (it was just a typo)
  host.json
Labels: none

Removing all 'subjective' and wrong sentences
  README.md
Labels: none

.github/labeler.yml:

internal: packages/**/*
sd-jwt: packages/sd-jwt/*
apps: apps/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*
