Repository pagopa/io-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, infra, changeset

.github/labeler.yml:

apps: apps/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*

removed wallet_solution_certification_information from WIA response payload
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance-attestation.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/assertion-request-validation.ts
  apps/io-wallet-user-func/src/wallet-instance-attestation.ts
  infra/resources/prod/apis/user_v1/swagger.yaml
Labels: apps, infra

updated platform field validation
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance-attestation.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/assertion-request-validation.ts
Labels: apps

updated unit tests
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance-attestation.spec.ts
Labels: apps

feat: added wallet instance attestation (WIA) endpoint
  .changeset/soft-knives-itch.md
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/openapi-external/user_uat_v1/swagger.yaml
  apps/io-wallet-user-func/openapi-external/user_v1/swagger.yaml
  apps/io-wallet-user-func/openapi.yaml
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/attestation-service.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-wallet-user-func/src/infra/azure/functions/add-wallet-instance-user-id.ts
  apps/io-wallet-user-func/src/infra/azure/functions/create-wallet-instance-attestation.ts
  apps/io-wallet-user-func/src/infra/handlers/add-wallet-instance-user-id.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/delete-wallet-instances.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-current-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance-attestation.ts
  apps/io-wallet-user-func/src/infra/http/response.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/attestation.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/index.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/assertion-request-validation.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/index.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/ios/__test__/assertion.spec.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/ios/assertion.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/ios/index.ts
  apps/io-wallet-user-func/src/trust-anchor.ts
  apps/io-wallet-user-func/src/verifier.ts
  apps/io-wallet-user-func/src/wallet-instance-attestation.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/prod/apis/user_uat_v1/swagger.yaml
  infra/resources/prod/apis/user_v1/swagger.yaml
  infra/resources/psn/prod/apim/api/user-uat/swagger.yaml
  infra/resources/psn/prod/apim/api/user/swagger.yaml
  infra/resources/psn/prod/apim_apis.tf
  packages/io-wallet-common/src/jwk.ts
Labels: apps, infra, changeset

removed delete /wallet-instances endpoint
  apps/io-wallet-user-func/openapi.yaml
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-wallet-user-func/src/infra/azure/functions/delete-wallet-instances.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/delete-wallet-instances.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-current-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/delete-wallet-instances.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
  infra/resources/_modules/apim/apim.tf
Labels: apps, infra

run changeset
  .changeset/hungry-kids-judge.md
Labels: changeset

fix lint
  apps/io-wallet-user-func/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
Labels: apps

removed infra/resources/_modules/apim/api/admin/swagger.yaml file
  infra/resources/_modules/apim/api/admin/swagger.yaml
Labels: infra

chore: removed delete /wallet-instances endpoint
  .changeset/hungry-kids-judge.md
  apps/io-wallet-user-func/openapi.yaml
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-wallet-user-func/src/infra/azure/functions/delete-wallet-instances.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/delete-wallet-instances.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-current-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/delete-wallet-instances.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
  infra/resources/_modules/apim/api/admin/swagger.yaml
  infra/resources/_modules/apim/apim.tf
Labels: apps, infra, changeset

Fix OPEX configuration
  apps/io-wallet-user-func/.opex/management/env/prod/config.yaml
Labels: apps

Update config.yaml
  apps/io-wallet-user-func/.opex/management/env/prod/config.yaml
Labels: apps

Fix OPEX configuration
  apps/io-wallet-user-func/.opex/management/env/prod/config.yaml
Labels: apps

Give APIM permission to read secrets from a Key Vault
  infra/resources/prod/README.md
  infra/resources/psn/prod/README.md
  infra/resources/psn/prod/apim.tf
Labels: infra

Create new write only secrets
  infra/resources/psn/prod/data.tf
  infra/resources/psn/prod/key_vault_secrets.tf
Labels: infra

Update README after terraform_docs
  infra/resources/psn/prod/README.md
Labels: infra

updated WA duration
  .changeset/social-trains-float.md
  apps/io-wallet-user-func/src/wallet-attestation.ts
Labels: apps, changeset

chore: updated WA duration
  .changeset/social-trains-float.md
  apps/io-wallet-user-func/src/wallet-attestation.ts
Labels: apps, changeset

revert WA duration to 1h
  .changeset/quiet-ears-burn.md
  apps/io-wallet-user-func/src/wallet-attestation.ts
Labels: apps, changeset

removed changeset
  .changeset/quiet-ears-burn.md
Labels: changeset

chore: revert WA duration to 1h
  apps/io-wallet-user-func/src/wallet-attestation.ts
Labels: apps

Get APIM named values from Key Vault and remove legacy data
  infra/resources/psn/prod/apim_apis.tf
  infra/resources/psn/prod/data.tf
  infra/resources/psn/prod/key_vault_secrets.tf
  infra/resources/psn/prod/main.tf
Labels: infra

added /wallet-unit-attestations endpoint
  .changeset/floppy-stamps-serve.md
  apps/io-wallet-user-func/openapi-external/user_uat_v1/swagger.yaml
  apps/io-wallet-user-func/openapi-external/user_v1/swagger.yaml
  apps/io-wallet-user-func/openapi.yaml
  apps/io-wallet-user-func/src/__test__/verifier.spec.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/functions/create-wallet-unit-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-unit-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-unit-attestation.ts
  apps/io-wallet-user-func/src/infra/http/platform-codecs.ts
  apps/io-wallet-user-func/src/infra/http/wallet-instance-attestation-request.ts
  apps/io-wallet-user-func/src/infra/http/wallet-unit-attestation-request.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/attestation.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/index.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/index.ts
  apps/io-wallet-user-func/src/verifier.ts
  apps/io-wallet-user-func/src/wallet-attestation-request.ts
  apps/io-wallet-user-func/src/wallet-unit-attestation.ts
  infra/resources/prod/apis/user_uat_v1/swagger.yaml
  infra/resources/prod/apis/user_v1/swagger.yaml
  infra/resources/psn/prod/apim/api/user-uat/swagger.yaml
  infra/resources/psn/prod/apim/api/user/swagger.yaml
  infra/resources/psn/prod/apim_apis.tf
  packages/io-wallet-common/src/jwk.ts
Labels: apps, infra, changeset

fix input jwt validatio and jwt duration
  apps/io-wallet-user-func/src/infra/http/wallet-unit-attestation-request.ts
  apps/io-wallet-user-func/src/wallet-unit-attestation.ts
Labels: apps

updated android value keymaster
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-unit-attestation.ts
Labels: apps

removed unused functions
  apps/io-wallet-user-func/src/verifier.ts
Labels: apps

fix lint
  apps/io-wallet-user-func/src/verifier.ts
Labels: apps

removed skip test
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-unit-attestation.spec.ts
Labels: apps

updated unit tests
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-unit-attestation.spec.ts
Labels: apps

run terraform init -upgrade
  infra/resources/psn/prod/.terraform.lock.hcl
Labels: infra

update tf lock file
  infra/resources/psn/prod/.terraform.lock.hcl
Labels: infra

fix TLS certificate renewal pipeline
  .github/workflows/api_internal_wallet_io_pagopa_it.yaml
  .github/workflows/apim_internal_wallet_io_pagopa_it.yaml
Labels: ci

fix: updated TLS certificate renewal pipelines
  .github/workflows/api_internal_wallet_io_pagopa_it.yaml
  .github/workflows/apim_internal_wallet_io_pagopa_it.yaml
Labels: ci

removed PidIssuerHealthCheck app setting and added /revokeAll when revoking a WI
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/health.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/is-fiscal-code-whitelisted.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/handlers/health.ts
  apps/io-wallet-user-func/src/infra/pid-issuer/client.ts
  apps/io-wallet-user-func/src/infra/pid-issuer/health-check.ts
  infra/resources/_modules/function_apps/locals.tf
Labels: apps, infra

run changeset
  .changeset/six-paths-jog.md
Labels: changeset

make PID revokeAll failures non-blocking in wallet instance flows
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-wallet-instance-status.ts
Labels: apps

add telemetry exception when /revokeAll fails
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-wallet-instance-status.ts
Labels: apps

updated code
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
Labels: apps

updated
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
Labels: apps

chore: added /revokeAll call and removed PidIssuerHealthCheck env var
  .changeset/six-paths-jog.md
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/health.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/is-fiscal-code-whitelisted.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/handlers/health.ts
  apps/io-wallet-user-func/src/infra/pid-issuer/client.ts
  apps/io-wallet-user-func/src/infra/pid-issuer/health-check.ts
  infra/resources/_modules/function_apps/locals.tf
Labels: apps, infra, changeset

updated tf lock file
  infra/resources/psn/prod/.terraform.lock.hcl
Labels: infra
