Repository pagopa/io-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, infra, changeset

.github/labeler.yml:

apps: apps/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*

Fix resource group name for action group in hub configuration
  infra/core/psn/hub/prod/data.tf
Labels: infra

Update severity level for firewall metric alert
  infra/core/psn/hub/prod/alerts.tf
Labels: infra

updated email dependency
  apps/io-wallet-user-func/package.json
Labels: apps

run changeset and updated lock file
  .changeset/whole-seas-fall.md
  pnpm-lock.yaml
Labels: changeset

chore: updated email dependency
  .changeset/whole-seas-fall.md
  apps/io-wallet-user-func/package.json
  pnpm-lock.yaml
Labels: apps, changeset

separate alerts from psn
  infra/core/psn/hub/prod/alerts.tf
  infra/core/psn/hub/prod/locals.tf
Labels: infra

feat: add Application Gateway metric alerts and update resource group name
  infra/core/psn/hub/prod/alerts.tf
  infra/core/psn/hub/prod/data.tf
  infra/core/psn/hub/prod/locals.tf
Labels: infra

Fix resource group name for action group in hub configuration (#897)
  infra/core/psn/hub/prod/alerts.tf
  infra/core/psn/hub/prod/data.tf
Labels: infra

Add Application Gateway metric alerts (#900)
  infra/core/psn/hub/prod/alerts.tf
  infra/core/psn/hub/prod/locals.tf
Labels: infra

Disable apim metric alerts and indicate future thresholds
  infra/resources/psn/prod/apim.tf
Labels: infra

Disable apim metric alerts and indicate future thresholds (#902)
  infra/resources/psn/prod/apim.tf
Labels: infra

upgrade actions
  .github/workflows/apim_backup.yaml
  .github/workflows/apim_restore.yaml
  .github/workflows/code-review.yaml
  .github/workflows/label.yaml
  .github/workflows/pr_infra.yaml
  .github/workflows/pr_opex.yaml
  .github/workflows/release.yaml
  .github/workflows/release_infra.yaml
  .github/workflows/release_opex.yaml
  .github/workflows/release_psn_infra.yaml
  .github/workflows/support_function_deploy_psn.yaml
  .github/workflows/tls_certificate.yaml
  .github/workflows/user_function_deploy_psn.yaml
  .github/workflows/user_uat_function_deploy_psn.yaml
  .github/workflows/validate_psn_infra.yaml
  .github/workflows/whitelist_function_deploy.yaml
Labels: ci
