Repository pagopa/io-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, sd-jwt, apps, docs, ci, infra, changeset

.github/labeler.yml:

internal: packages/**/*
sd-jwt: packages/sd-jwt/*
apps: apps/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*

Add changeset
  .changeset/hip-ligers-sin.md
Labels: changeset

updated local.settings.json.example with cosmosdb var
  apps/io-func-wallet-solution-backend/local.settings.json.example
  apps/io-func-wallet-solution-backend/package.json
  yarn.lock
Labels: apps

Fix
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/android/index.ts
Labels: apps

implemented getNonce
  apps/io-func-wallet-solution-backend/src/app/config.ts
  apps/io-func-wallet-solution-backend/src/app/main.ts
  apps/io-func-wallet-solution-backend/src/infra/azure/cosmos/nonce.ts
  apps/io-func-wallet-solution-backend/src/infra/azure/functions/get-nonce.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/get-nonce.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/get-nonce.ts
  apps/io-func-wallet-solution-backend/src/nonce.ts
Labels: apps

updated IO function
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/get-nonce.ts
  apps/io-func-wallet-solution-backend/src/nonce.ts
Labels: apps

removed crypto dependency
  apps/io-func-wallet-solution-backend/package.json
  yarn.lock
Labels: apps

rewrote generateNonce IOEither
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/get-nonce.ts
  apps/io-func-wallet-solution-backend/src/nonce.ts
Labels: apps

fix
  apps/io-func-wallet-solution-backend/src/nonce.ts
Labels: apps

updated test
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/get-nonce.spec.ts
Labels: apps

updated vitest dependency
  apps/io-func-wallet-solution-backend/package.json
  yarn.lock
Labels: apps

updated tests
  apps/io-func-wallet-solution-backend/src/infra/azure/cosmos/nonce.ts
  apps/io-func-wallet-solution-backend/src/infra/azure/functions/get-nonce.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/get-nonce.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/get-nonce.ts
  apps/io-func-wallet-solution-backend/tsconfig.json
  apps/io-func-wallet-solution-backend/vitest.config.mjs
Labels: apps

updated
  apps/io-func-wallet-solution-backend/src/infra/azure/cosmos/nonce.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/get-nonce.spec.ts
  apps/io-func-wallet-solution-backend/src/nonce.ts
Labels: apps

fix lint
  apps/io-func-wallet-solution-backend/src/infra/azure/cosmos/nonce.ts
Labels: apps

Update apps/io-func-wallet-solution-backend/src/app/config.ts
  apps/io-func-wallet-solution-backend/src/app/config.ts
Labels: apps

fixed lint
  apps/io-func-wallet-solution-backend/src/app/config.ts
Labels: apps

Add Android Integrity Token validation
  apps/io-func-wallet-solution-backend/package.json
  apps/io-func-wallet-solution-backend/src/app/config.ts
  apps/io-func-wallet-solution-backend/src/attestation-service.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/android/__test__/config.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/android/assertion.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/android/index.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/index.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/ios/__test__/assertion.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/ios/assertion.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/ios/index.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  yarn.lock
Labels: apps

Add token response validation
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/android/__test__/assertion.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/android/__test__/attestation.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/android/__test__/config.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/android/assertion.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/ios/__test__/assertion.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/ios/__test__/attestation.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/ios/__test__/config.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
Labels: apps

Add changeset
  .changeset/few-days-love.md
Labels: changeset

Change local.settings
  apps/io-func-wallet-solution-backend/local.settings.json.example
Labels: apps

Add allowDevelopmentEnvironment to android assertion
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/android/__test__/assertion.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/android/assertion.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/android/index.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/index.ts
Labels: apps

Remove KeyLike cast
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/android/assertion.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/ios/assertion.ts
Labels: apps

Add AndroidPlayStoreCertificateHash validation
  apps/io-func-wallet-solution-backend/local.settings.json.example
  apps/io-func-wallet-solution-backend/src/app/config.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/android/__test__/assertion.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/android/assertion.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/android/index.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/index.ts
Labels: apps

Fix test
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
Labels: apps

Change allowed timestamp limit
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/android/assertion.ts
Labels: apps

feat: [SIW-1023] Add Android Integrity assertion validation
  .changeset/few-days-love.md
  apps/io-func-wallet-solution-backend/local.settings.json.example
  apps/io-func-wallet-solution-backend/package.json
  apps/io-func-wallet-solution-backend/src/app/config.ts
  apps/io-func-wallet-solution-backend/src/attestation-service.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/android/__test__/assertion.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/android/__test__/attestation.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/android/__test__/config.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/android/assertion.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/android/index.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/index.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/ios/__test__/assertion.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/ios/__test__/attestation.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/ios/__test__/config.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/ios/assertion.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/ios/index.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  yarn.lock
Labels: apps, changeset

refactor
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/android/attestation.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/ios/attestation.ts
Labels: apps

feat: Add Android assertion and attestation integrity validation
  .changeset/few-days-love.md
  .changeset/hip-ligers-sin.md
  apps/io-func-wallet-solution-backend/local.settings.json.example
  apps/io-func-wallet-solution-backend/package.json
  apps/io-func-wallet-solution-backend/src/app/config.ts
  apps/io-func-wallet-solution-backend/src/attestation-service.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/android.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/android/__test__/assertion.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/android/__test__/attestation.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/android/__test__/config.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/android/assertion.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/android/attestation.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/android/index.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/index.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/ios/__test__/assertion.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/ios/__test__/attestation.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/ios/__test__/config.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/ios/assertion.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/ios/attestation.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/ios/index.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  yarn.lock
Labels: apps, changeset

feat: Add Android assertion and attestation integrity validation
  .changeset/few-days-love.md
  .changeset/hip-ligers-sin.md
  apps/io-func-wallet-solution-backend/local.settings.json.example
  apps/io-func-wallet-solution-backend/package.json
  apps/io-func-wallet-solution-backend/src/app/config.ts
  apps/io-func-wallet-solution-backend/src/attestation-service.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/android.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/android/__test__/assertion.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/android/__test__/attestation.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/android/__test__/config.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/android/assertion.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/android/attestation.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/android/index.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/index.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/ios/__test__/assertion.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/ios/__test__/attestation.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/ios/__test__/config.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/ios/assertion.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/ios/attestation.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/ios/index.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  yarn.lock
Labels: apps, changeset

add cosmos db health check
  apps/io-func-wallet-solution-backend/src/app/main.ts
  apps/io-func-wallet-solution-backend/src/infra/azure/cosmos/health-check.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/info.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/info.ts
Labels: apps

added OpenAPI
  apps/io-func-wallet-solution-backend/openapi.yaml
Labels: apps

fixed health check
  apps/io-func-wallet-solution-backend/src/infra/azure/cosmos/health-check.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/info.ts
Labels: apps

updated OpenAPI
  apps/io-func-wallet-solution-backend/openapi.yaml
Labels: apps

updated dep
  apps/io-func-wallet-solution-backend/package.json
  yarn.lock
Labels: apps

updated lock file
  yarn.lock
Labels: none

feat: [SIW-953] Add nonce endpoint (#42)
  apps/io-func-wallet-solution-backend/local.settings.json.example
  apps/io-func-wallet-solution-backend/openapi.yaml
  apps/io-func-wallet-solution-backend/package.json
  apps/io-func-wallet-solution-backend/src/app/config.ts
  apps/io-func-wallet-solution-backend/src/app/main.ts
  apps/io-func-wallet-solution-backend/src/infra/azure/cosmos/health-check.ts
  apps/io-func-wallet-solution-backend/src/infra/azure/cosmos/nonce.ts
  apps/io-func-wallet-solution-backend/src/infra/azure/functions/get-nonce.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/get-nonce.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/info.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/get-nonce.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/info.ts
  apps/io-func-wallet-solution-backend/src/nonce.ts
  apps/io-func-wallet-solution-backend/tsconfig.json
  apps/io-func-wallet-solution-backend/vitest.config.mjs
  yarn.lock
Labels: apps

feat: [SIW-953] Add nonce endpoint (#42)
  apps/io-func-wallet-solution-backend/local.settings.json.example
  apps/io-func-wallet-solution-backend/openapi.yaml
  apps/io-func-wallet-solution-backend/package.json
  apps/io-func-wallet-solution-backend/src/app/config.ts
  apps/io-func-wallet-solution-backend/src/app/main.ts
  apps/io-func-wallet-solution-backend/src/infra/azure/cosmos/health-check.ts
  apps/io-func-wallet-solution-backend/src/infra/azure/cosmos/nonce.ts
  apps/io-func-wallet-solution-backend/src/infra/azure/functions/get-nonce.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/get-nonce.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/info.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/get-nonce.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/info.ts
  apps/io-func-wallet-solution-backend/src/nonce.ts
  apps/io-func-wallet-solution-backend/tsconfig.json
  apps/io-func-wallet-solution-backend/vitest.config.mjs
  yarn.lock
Labels: apps

added nonce validation
  apps/io-func-wallet-solution-backend/src/app/main.ts
  apps/io-func-wallet-solution-backend/src/infra/azure/cosmos/nonce.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/get-nonce.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-func-wallet-solution-backend/src/nonce.ts
  apps/io-func-wallet-solution-backend/src/wallet-instance-request.ts
  apps/io-func-wallet-solution-backend/src/wallet-instance.ts
  yarn.lock
Labels: apps

modified import paths
  apps/io-func-wallet-solution-backend/src/app/main.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
Labels: apps

updated OpenAPI with /wallet-instance endpoint
  apps/io-func-wallet-solution-backend/openapi.yaml
Labels: apps

changed function returned value
  apps/io-func-wallet-solution-backend/openapi.yaml
  apps/io-func-wallet-solution-backend/src/app/main.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/create-wallet-instance.ts
Labels: apps
