Repository pagopa/io-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, sd-jwt, apps, docs, ci, infra, changeset

.github/labeler.yml:

internal: packages/**/*
sd-jwt: packages/sd-jwt/*
apps: apps/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*

rename package
  packages/react-native-eudiw-pid/.eslintrc.js
  packages/react-native-eudiw-pid/.prettierignore
  packages/react-native-eudiw-pid/README.md
  packages/react-native-eudiw-pid/index.js
  packages/react-native-eudiw-pid/package.json
  packages/react-native-eudiw-pid/src/__test__/index.test.ts
  packages/react-native-eudiw-pid/src/index.ts
  packages/react-native-eudiw-pid/tsconfig.json
  packages/react-native-eudiw-pid/vitest.config.ts
Labels: internal

Add jose
  apps/io-func-wallet-solution-backend/package.json
  apps/io-func-wallet-solution-backend/src/entity-configuration.ts
  apps/io-func-wallet-solution-backend/src/infra/crypto/__test__/signer.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/crypto/config.ts
  apps/io-func-wallet-solution-backend/src/infra/crypto/signer.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/get-entity-configuration.ts
  apps/io-func-wallet-solution-backend/src/signer.ts
  apps/io-func-wallet-solution-backend/src/wallet-provider.ts
  yarn.lock
Labels: apps

Add signature unit-test
  apps/io-func-wallet-solution-backend/src/infra/crypto/__test__/signer.spec.ts
Labels: apps

Add signature unit-test
  apps/io-func-wallet-solution-backend/src/entity-configuration.ts
  apps/io-func-wallet-solution-backend/src/infra/crypto/__test__/signer.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/crypto/signer.ts
  apps/io-func-wallet-solution-backend/src/signer.ts
Labels: apps

Add JWT encoder
  apps/io-func-wallet-solution-backend/src/encoders/entity-configuration.ts
  apps/io-func-wallet-solution-backend/src/entity-configuration.ts
  apps/io-func-wallet-solution-backend/src/infra/crypto/signer.ts
Labels: apps

Add JWT encoder
  apps/io-func-wallet-solution-backend/src/entity-configuration.ts
Labels: apps

Rename example
  apps/io-func-wallet-solution-backend/local.settings.json.example
Labels: apps

[SIW-229] Verify token is a valid SD-JWT (#4)
  packages/sd-jwt/README.md
  packages/sd-jwt/__tests__/.keys/a-and-b.jwks.json
  packages/sd-jwt/__tests__/.keys/generate-key-pair.sh
  packages/sd-jwt/__tests__/.keys/just-b.jwks.json
  packages/sd-jwt/__tests__/.keys/keyA-private.pem
  packages/sd-jwt/__tests__/.keys/keyA-public.pem
  packages/sd-jwt/__tests__/.keys/keyB-private.pem
  packages/sd-jwt/__tests__/.keys/keyB-public.pem
  packages/sd-jwt/__tests__/verify.test.ts
  packages/sd-jwt/package.json
  packages/sd-jwt/src/index.ts
  packages/sd-jwt/src/types.ts
  packages/sd-jwt/src/verify.ts
  yarn.lock
Labels: internal, sd-jwt

[SIW-229] Verify token is a valid SD-JWT (#4)
  packages/sd-jwt/README.md
  packages/sd-jwt/__tests__/.keys/a-and-b.jwks.json
  packages/sd-jwt/__tests__/.keys/generate-key-pair.sh
  packages/sd-jwt/__tests__/.keys/just-b.jwks.json
  packages/sd-jwt/__tests__/.keys/keyA-private.pem
  packages/sd-jwt/__tests__/.keys/keyA-public.pem
  packages/sd-jwt/__tests__/.keys/keyB-private.pem
  packages/sd-jwt/__tests__/.keys/keyB-public.pem
  packages/sd-jwt/__tests__/verify.test.ts
  packages/sd-jwt/package.json
  packages/sd-jwt/src/index.ts
  packages/sd-jwt/src/types.ts
  packages/sd-jwt/src/verify.ts
  yarn.lock
Labels: internal, sd-jwt

[SIW-237] Verify disclosures (#6)
  packages/sd-jwt/README.md
  packages/sd-jwt/__tests__/verify.test.ts
  packages/sd-jwt/src/lib/crypto.ts
  packages/sd-jwt/src/types.ts
  packages/sd-jwt/src/verify.ts
Labels: internal, sd-jwt

[SIW-237] Verify disclosures (#6)
  packages/sd-jwt/README.md
  packages/sd-jwt/__tests__/verify.test.ts
  packages/sd-jwt/src/lib/crypto.ts
  packages/sd-jwt/src/types.ts
  packages/sd-jwt/src/verify.ts
Labels: internal, sd-jwt

remove package
  packages/.keep
  packages/sd-jwt/.eslintrc.js
  packages/sd-jwt/.prettierignore
  packages/sd-jwt/README.md
  packages/sd-jwt/__tests__/.keys/a-and-b.jwks.json
  packages/sd-jwt/__tests__/.keys/generate-key-pair.sh
  packages/sd-jwt/__tests__/.keys/just-b.jwks.json
  packages/sd-jwt/__tests__/.keys/keyA-private.pem
  packages/sd-jwt/__tests__/.keys/keyA-public.pem
  packages/sd-jwt/__tests__/.keys/keyB-private.pem
  packages/sd-jwt/__tests__/.keys/keyB-public.pem
  packages/sd-jwt/__tests__/verify.test.ts
  packages/sd-jwt/index.js
  packages/sd-jwt/package.json
  packages/sd-jwt/src/__test__/index.test.ts
  packages/sd-jwt/src/index.ts
  packages/sd-jwt/src/lib/crypto.ts
  packages/sd-jwt/src/types.ts
  packages/sd-jwt/src/verify.ts
  packages/sd-jwt/tsconfig.json
  packages/sd-jwt/vitest.config.ts
Labels: internal, sd-jwt

remove unused dependencies
  yarn.lock
Labels: none

Revert "Merge branch 'master' into federation-metadata-endpoint-SIW-200"
  packages/sd-jwt/README.md
  packages/sd-jwt/__tests__/.keys/a-and-b.jwks.json
  packages/sd-jwt/__tests__/.keys/generate-key-pair.sh
  packages/sd-jwt/__tests__/.keys/just-b.jwks.json
  packages/sd-jwt/__tests__/.keys/keyA-private.pem
  packages/sd-jwt/__tests__/.keys/keyA-public.pem
  packages/sd-jwt/__tests__/.keys/keyB-private.pem
  packages/sd-jwt/__tests__/.keys/keyB-public.pem
  packages/sd-jwt/__tests__/verify.test.ts
  packages/sd-jwt/package.json
  packages/sd-jwt/src/index.ts
  packages/sd-jwt/src/lib/crypto.ts
  packages/sd-jwt/src/types.ts
  packages/sd-jwt/src/verify.ts
  yarn.lock
Labels: internal, sd-jwt

Remove package `sd-jwt` (#10)
  packages/.keep
  packages/sd-jwt/.eslintrc.js
  packages/sd-jwt/.prettierignore
  packages/sd-jwt/README.md
  packages/sd-jwt/__tests__/.keys/a-and-b.jwks.json
  packages/sd-jwt/__tests__/.keys/generate-key-pair.sh
  packages/sd-jwt/__tests__/.keys/just-b.jwks.json
  packages/sd-jwt/__tests__/.keys/keyA-private.pem
  packages/sd-jwt/__tests__/.keys/keyA-public.pem
  packages/sd-jwt/__tests__/.keys/keyB-private.pem
  packages/sd-jwt/__tests__/.keys/keyB-public.pem
  packages/sd-jwt/__tests__/verify.test.ts
  packages/sd-jwt/index.js
  packages/sd-jwt/package.json
  packages/sd-jwt/src/__test__/index.test.ts
  packages/sd-jwt/src/index.ts
  packages/sd-jwt/src/lib/crypto.ts
  packages/sd-jwt/src/types.ts
  packages/sd-jwt/src/verify.ts
  packages/sd-jwt/tsconfig.json
  packages/sd-jwt/vitest.config.ts
  yarn.lock
Labels: internal, sd-jwt

Remove package `sd-jwt` (#10)
  packages/.keep
  packages/sd-jwt/.eslintrc.js
  packages/sd-jwt/.prettierignore
  packages/sd-jwt/README.md
  packages/sd-jwt/__tests__/.keys/a-and-b.jwks.json
  packages/sd-jwt/__tests__/.keys/generate-key-pair.sh
  packages/sd-jwt/__tests__/.keys/just-b.jwks.json
  packages/sd-jwt/__tests__/.keys/keyA-private.pem
  packages/sd-jwt/__tests__/.keys/keyA-public.pem
  packages/sd-jwt/__tests__/.keys/keyB-private.pem
  packages/sd-jwt/__tests__/.keys/keyB-public.pem
  packages/sd-jwt/__tests__/verify.test.ts
  packages/sd-jwt/index.js
  packages/sd-jwt/package.json
  packages/sd-jwt/src/__test__/index.test.ts
  packages/sd-jwt/src/index.ts
  packages/sd-jwt/src/lib/crypto.ts
  packages/sd-jwt/src/types.ts
  packages/sd-jwt/src/verify.ts
  packages/sd-jwt/tsconfig.json
  packages/sd-jwt/vitest.config.ts
  yarn.lock
Labels: internal, sd-jwt

fix typo
  apps/io-func-wallet-solution-backend/src/entity-configuration.ts
Labels: apps

add fp-ts json parse
  apps/io-func-wallet-solution-backend/src/jwk.ts
Labels: apps

Add error to parse
  apps/io-func-wallet-solution-backend/src/jwk.ts
Labels: apps

Add comments
  apps/io-func-wallet-solution-backend/src/entity-configuration.ts
Labels: apps

define sdjwt implementation signature
  packages/react-native-eudiw-pid/src/index.ts
  packages/react-native-eudiw-pid/src/sd-jwt/index.ts
  packages/react-native-eudiw-pid/src/sd-jwt/types.ts
Labels: internal

Move getFederationEntityConfigFromEnvironment
  apps/io-func-wallet-solution-backend/src/app/config.ts
  apps/io-func-wallet-solution-backend/src/infra/federation-entity/config.ts
Labels: apps

docs
  packages/react-native-eudiw-pid/README.md
Labels: internal

documentation script
  packages/react-native-eudiw-pid/package.json
  yarn.lock
Labels: internal

fix lint
  packages/react-native-eudiw-pid/src/index.ts
Labels: internal

fix jwk type
  packages/react-native-eudiw-pid/src/sd-jwt/types.ts
Labels: internal

[SIW-247] Scaffold EUDIW PID package for React Native (#8)
  packages/react-native-eudiw-pid/.eslintrc.js
  packages/react-native-eudiw-pid/.prettierignore
  packages/react-native-eudiw-pid/README.md
  packages/react-native-eudiw-pid/index.js
  packages/react-native-eudiw-pid/package.json
  packages/react-native-eudiw-pid/src/__test__/index.test.ts
  packages/react-native-eudiw-pid/src/index.ts
  packages/react-native-eudiw-pid/tsconfig.json
  packages/react-native-eudiw-pid/vitest.config.ts
Labels: internal

[SIW-247] Scaffold EUDIW PID package for React Native (#8)
  packages/react-native-eudiw-pid/.eslintrc.js
  packages/react-native-eudiw-pid/.prettierignore
  packages/react-native-eudiw-pid/README.md
  packages/react-native-eudiw-pid/index.js
  packages/react-native-eudiw-pid/package.json
  packages/react-native-eudiw-pid/src/__test__/index.test.ts
  packages/react-native-eudiw-pid/src/index.ts
  packages/react-native-eudiw-pid/tsconfig.json
  packages/react-native-eudiw-pid/vitest.config.ts
Labels: internal

Update packages/react-native-eudiw-pid/src/sd-jwt/index.ts
  packages/react-native-eudiw-pid/src/sd-jwt/index.ts
Labels: internal

Update yarn.lock
  yarn.lock
Labels: none

Add wallet instance attestation request endpoint
  apps/io-func-wallet-solution-backend/CreateWalletInstanceAttestation/function.json
  apps/io-func-wallet-solution-backend/src/app/main.ts
  apps/io-func-wallet-solution-backend/src/entity-configuration.ts
  apps/io-func-wallet-solution-backend/src/infra/azure/functions/create-wallet-instance-attestation.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/create-wallet-instance-attestation.ts
  apps/io-func-wallet-solution-backend/src/wallet-instance-attestation.ts
Labels: apps

Refactor
  apps/io-func-wallet-solution-backend/src/app/config.ts
  apps/io-func-wallet-solution-backend/src/app/main.ts
  apps/io-func-wallet-solution-backend/src/entity-configuration.ts
Labels: apps

restrict signature alg
  packages/react-native-eudiw-pid/src/sd-jwt/types.ts
Labels: internal

improve typings
  packages/react-native-eudiw-pid/README.md
  packages/react-native-eudiw-pid/src/sd-jwt/index.ts
  packages/react-native-eudiw-pid/src/sd-jwt/types.ts
Labels: internal

Move jwt config
  apps/io-func-wallet-solution-backend/src/infra/crypto/config.ts
  apps/io-func-wallet-solution-backend/src/infra/crypto/signer.ts
Labels: apps

Fix test
  apps/io-func-wallet-solution-backend/src/infra/crypto/__test__/signer.spec.ts
Labels: apps

Move config
  apps/io-func-wallet-solution-backend/src/app/config.ts
  apps/io-func-wallet-solution-backend/src/infra/crypto/config.ts
  apps/io-func-wallet-solution-backend/src/infra/crypto/signer.ts
Labels: apps

feat: Add federation metadata endpoint
  apps/io-func-wallet-solution-backend/GetEntityConfiguration/function.json
  apps/io-func-wallet-solution-backend/host.json
  apps/io-func-wallet-solution-backend/local.settings.json.example
  apps/io-func-wallet-solution-backend/package.json
  apps/io-func-wallet-solution-backend/src/__test__/jwk.spec.ts
  apps/io-func-wallet-solution-backend/src/app/config.ts
  apps/io-func-wallet-solution-backend/src/app/main.ts
  apps/io-func-wallet-solution-backend/src/encoders/entity-configuration.ts
  apps/io-func-wallet-solution-backend/src/entity-configuration.ts
  apps/io-func-wallet-solution-backend/src/infra/azure/functions/get-entity-configuration.ts
  apps/io-func-wallet-solution-backend/src/infra/crypto/__test__/signer.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/crypto/signer.ts
  apps/io-func-wallet-solution-backend/src/infra/env.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/get-entity-configuration.ts
  apps/io-func-wallet-solution-backend/src/jwk.ts
  apps/io-func-wallet-solution-backend/src/signer.ts
  apps/io-func-wallet-solution-backend/src/validation.ts
  apps/io-func-wallet-solution-backend/src/wallet-provider.ts
  yarn.lock
Labels: apps

feat: Add federation metadata endpoint
  apps/io-func-wallet-solution-backend/GetEntityConfiguration/function.json
  apps/io-func-wallet-solution-backend/host.json
  apps/io-func-wallet-solution-backend/local.settings.json.example
  apps/io-func-wallet-solution-backend/package.json
  apps/io-func-wallet-solution-backend/src/__test__/jwk.spec.ts
  apps/io-func-wallet-solution-backend/src/app/config.ts
  apps/io-func-wallet-solution-backend/src/app/main.ts
  apps/io-func-wallet-solution-backend/src/encoders/entity-configuration.ts
  apps/io-func-wallet-solution-backend/src/entity-configuration.ts
  apps/io-func-wallet-solution-backend/src/infra/azure/functions/get-entity-configuration.ts
  apps/io-func-wallet-solution-backend/src/infra/crypto/__test__/signer.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/crypto/signer.ts
  apps/io-func-wallet-solution-backend/src/infra/env.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/get-entity-configuration.ts
  apps/io-func-wallet-solution-backend/src/jwk.ts
  apps/io-func-wallet-solution-backend/src/signer.ts
  apps/io-func-wallet-solution-backend/src/validation.ts
  apps/io-func-wallet-solution-backend/src/wallet-provider.ts
  yarn.lock
Labels: apps

Lint fix
  apps/io-func-wallet-solution-backend/src/entity-configuration.ts
Labels: apps
