Repository pagopa/io-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, sd-jwt, apps, docs, ci, infra, changeset

.github/labeler.yml:

internal: packages/**/*
sd-jwt: packages/sd-jwt/*
apps: apps/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*

feat: added getCurrentWalletInstanceByFiscalCode function
  .changeset/mighty-mice-melt.md
  apps/io-wallet-support-func/openapi.yaml
  apps/io-wallet-support-func/package.json
  apps/io-wallet-support-func/src/app/main.ts
  apps/io-wallet-support-func/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-wallet-support-func/src/infra/azure/functions/get-current-wallet-instance-by-fiscal-code.ts
  apps/io-wallet-support-func/src/infra/http/encoders/wallet-instance.ts
  apps/io-wallet-support-func/src/infra/http/handlers/__test__/get-current-wallet-instance-by-fiscal-code.spec.ts
  apps/io-wallet-support-func/src/infra/http/handlers/get-current-wallet-instance-by-fiscal-code.ts
  apps/io-wallet-support-func/src/wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/encoders/wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-current-wallet-instance.status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-current-wallet-instance-status.ts
  yarn.lock
Labels: apps, changeset

feat: added getCurrentWalletInstanceByFiscalCode function
  .changeset/mighty-mice-melt.md
  apps/io-wallet-support-func/openapi.yaml
  apps/io-wallet-support-func/package.json
  apps/io-wallet-support-func/src/app/main.ts
  apps/io-wallet-support-func/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-wallet-support-func/src/infra/azure/functions/get-current-wallet-instance-by-fiscal-code.ts
  apps/io-wallet-support-func/src/infra/http/encoders/wallet-instance.ts
  apps/io-wallet-support-func/src/infra/http/handlers/__test__/get-current-wallet-instance-by-fiscal-code.spec.ts
  apps/io-wallet-support-func/src/infra/http/handlers/get-current-wallet-instance-by-fiscal-code.ts
  apps/io-wallet-support-func/src/wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/encoders/wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-current-wallet-instance.status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-current-wallet-instance-status.ts
  yarn.lock
Labels: apps, changeset

updated cidr support func
  infra/resources/_modules/function_apps/function_app_support.tf
  infra/resources/_modules/function_apps/function_app_user.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/prod/main.tf
Labels: infra

add nat gateway
  infra/resources/_modules/function_apps/nat_gateways.tf
  infra/resources/prod/data.tf
Labels: infra

fix
  infra/resources/_modules/function_apps/nat_gateways.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/prod/main.tf
Labels: infra

Update infra/resources/prod/main.tf
  infra/resources/prod/main.tf
Labels: infra

Add new function app support-func (#199)
  infra/resources/_modules/function_apps/function_app_support.tf
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/nat_gateways.tf
  infra/resources/_modules/function_apps/outputs.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/prod/data.tf
  infra/resources/prod/main.tf
Labels: infra

Add new function app support-func (#199)
  infra/resources/_modules/function_apps/function_app_support.tf
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/nat_gateways.tf
  infra/resources/_modules/function_apps/outputs.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/prod/data.tf
  infra/resources/prod/main.tf
Labels: infra

removed function app support autoscaler
  infra/resources/_modules/function_apps/function_app_support.tf
Labels: infra

Removed function app support autoscaler
  infra/resources/_modules/function_apps/function_app_support.tf
Labels: infra

Removed function app support autoscaler
  infra/resources/_modules/function_apps/function_app_support.tf
Labels: infra

add function app support autoscaler
  infra/resources/_modules/function_apps/function_app_support.tf
Labels: infra

add deploy pipeline for support function app
  .github/workflows/support_function_deploy.yaml
Labels: ci

add env variables
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/prod/locals.tf
Labels: infra

fix
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/prod/main.tf
Labels: infra

Add function app support autoscaler
  infra/resources/_modules/function_apps/function_app_support.tf
Labels: infra

Add function app support autoscaler
  infra/resources/_modules/function_apps/function_app_support.tf
Labels: infra

put common function apps app settings
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

fix web app name
  .github/workflows/support_function_deploy.yaml
Labels: ci

Added deploy pipeline for support function app and support env vars
  .github/workflows/support_function_deploy.yaml
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/prod/locals.tf
  infra/resources/prod/main.tf
Labels: ci, infra

Added deploy pipeline for support function app and support env vars
  .github/workflows/support_function_deploy.yaml
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/prod/locals.tf
  infra/resources/prod/main.tf
Labels: ci, infra

fix api route prefix
  apps/io-wallet-support-func/package.json
  infra/resources/_modules/function_apps/locals.tf
Labels: apps, infra

added support func access to key vault
  infra/resources/_modules/function_apps/outputs.tf
  infra/resources/_modules/iam/key_vault_iam.tf
  infra/resources/_modules/iam/variables.tf
  infra/resources/prod/main.tf
Labels: infra

fix
  infra/resources/_modules/iam/cdn_storage_account.tf
  infra/resources/_modules/iam/cosmos_iam.tf
Labels: infra

fix
  infra/resources/_modules/iam/cdn_storage_account.tf
  infra/resources/_modules/iam/key_vault_iam.tf
Labels: infra

added cosmosdb data reader role to support function app
  infra/resources/_modules/iam/cosmos_iam.tf
Labels: infra

feat: refactored role assignments with dx module
  infra/resources/_modules/cdn/outputs.tf
  infra/resources/_modules/cosmos/outputs.tf
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/_modules/iam/admins.tf
  infra/resources/_modules/iam/cdn_storage_account.tf
  infra/resources/_modules/iam/cosmos_iam.tf
  infra/resources/_modules/iam/functions.tf
  infra/resources/_modules/iam/key_vault_iam.tf
  infra/resources/_modules/iam/variables.tf
  infra/resources/prod/.terraform.lock.hcl
  infra/resources/prod/main.tf
Labels: infra

Update support function app roles and env vars
  apps/io-wallet-support-func/package.json
  infra/resources/_modules/cdn/outputs.tf
  infra/resources/_modules/cosmos/outputs.tf
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/outputs.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/_modules/iam/admins.tf
  infra/resources/_modules/iam/cdn_storage_account.tf
  infra/resources/_modules/iam/cosmos_iam.tf
  infra/resources/_modules/iam/functions.tf
  infra/resources/_modules/iam/key_vault_iam.tf
  infra/resources/_modules/iam/variables.tf
  infra/resources/prod/.terraform.lock.hcl
  infra/resources/prod/main.tf
Labels: apps, infra

Update support function app roles and env vars
  apps/io-wallet-support-func/package.json
  infra/resources/_modules/cdn/outputs.tf
  infra/resources/_modules/cosmos/outputs.tf
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/outputs.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/_modules/iam/admins.tf
  infra/resources/_modules/iam/cdn_storage_account.tf
  infra/resources/_modules/iam/cosmos_iam.tf
  infra/resources/_modules/iam/functions.tf
  infra/resources/_modules/iam/key_vault_iam.tf
  infra/resources/_modules/iam/variables.tf
  infra/resources/prod/.terraform.lock.hcl
  infra/resources/prod/main.tf
Labels: apps, infra

added APIM product and API for support API
  infra/resources/_modules/apim/api/support-function/_base_policy.xml
  infra/resources/_modules/apim/api/support-function/_swagger.json
  infra/resources/_modules/apim/apim.tf
  infra/resources/_modules/apim/product.tf
  infra/resources/_modules/apim/variables.tf
  infra/resources/_modules/function_apps/data.tf
  infra/resources/_modules/function_apps/key_vault_secrets.tf
  infra/resources/_modules/function_apps/outputs.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/prod/main.tf
Labels: infra

created key vault secret
  infra/resources/_modules/function_apps/data.tf
  infra/resources/_modules/function_apps/key_vault_secrets.tf
  infra/resources/_modules/function_apps/variables.tf
Labels: infra

revert
  infra/resources/_modules/function_apps/data.tf
  infra/resources/_modules/function_apps/key_vault_secrets.tf
  infra/resources/_modules/function_apps/variables.tf
Labels: infra

add API swagger
  infra/resources/_modules/apim/api/support-function/_swagger.json
  infra/resources/_modules/apim/apim.tf
Labels: infra

removed health endpoint from swagger
  infra/resources/_modules/apim/api/support-function/_swagger.json
Labels: infra

changed APIM product name
  infra/resources/_modules/apim/product.tf
Labels: infra

Created key vault secret for Function App default key
  infra/resources/_modules/function_apps/data.tf
  infra/resources/_modules/function_apps/key_vault_secrets.tf
  infra/resources/_modules/function_apps/variables.tf
Labels: infra

Created key vault secret for Function App default key
  infra/resources/_modules/function_apps/data.tf
  infra/resources/_modules/function_apps/key_vault_secrets.tf
  infra/resources/_modules/function_apps/variables.tf
Labels: infra

fix service_url wallet
  infra/resources/_modules/function_apps/outputs.tf
Labels: infra

better description in APIM API and product
  infra/resources/_modules/apim/apim.tf
  infra/resources/_modules/apim/product.tf
Labels: infra

Added APIM product and API for support API
  infra/resources/_modules/apim/api/support-function/_base_policy.xml
  infra/resources/_modules/apim/api/support-function/_swagger.json
  infra/resources/_modules/apim/apim.tf
  infra/resources/_modules/apim/product.tf
  infra/resources/_modules/apim/variables.tf
  infra/resources/_modules/function_apps/outputs.tf
  infra/resources/prod/main.tf
Labels: infra
