Repository pagopa/io-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, sd-jwt, apps, docs, ci, infra, changeset

.github/labeler.yml:

internal: packages/**/*
sd-jwt: packages/sd-jwt/*
apps: apps/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*

Using MailFeatureFlag instead of MailEnabled
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/email-provider.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
Labels: apps

Adding correct images to the HTML template for the wallet instance activation email
  apps/io-wallet-email-test-func/src/email-content/index.html
  apps/io-wallet-email-test-func/src/email-content/style.css
  apps/io-wallet-user-func/src/templates/wallet-instance-activation/index.html.ts
  apps/io-wallet-user-func/src/templates/wallet-instance-activation/logo_app_io.png.base64
  apps/io-wallet-user-func/src/templates/wallet-instance-activation/logo_app_io_white.png.base64
  apps/io-wallet-user-func/src/templates/wallet-instance-activation/main-logo.mjml
Labels: apps

Using fp-ts (instead of vanilla js :') ) in the sendEmail() function
  apps/io-wallet-user-func/src/email-provider.ts
Labels: apps

Removing testing function (created for mailup/mailhog configuration only)
  apps/io-wallet-email-test-func/CHANGELOG.md
  apps/io-wallet-email-test-func/README.md
  apps/io-wallet-email-test-func/docs/postman/io-wallet-email-test-func.postman_collection.json
  apps/io-wallet-email-test-func/eslint.config.mjs
  apps/io-wallet-email-test-func/host.json
  apps/io-wallet-email-test-func/local.settings.json.example
  apps/io-wallet-email-test-func/package.json
  apps/io-wallet-email-test-func/src/email-content/divider.mjml
  apps/io-wallet-email-test-func/src/email-content/footer.mjml
  apps/io-wallet-email-test-func/src/email-content/index.html
  apps/io-wallet-email-test-func/src/email-content/index.mjml
  apps/io-wallet-email-test-func/src/email-content/logo_app_io.png
  apps/io-wallet-email-test-func/src/email-content/logo_app_io_white.png
  apps/io-wallet-email-test-func/src/email-content/main-logo.mjml
  apps/io-wallet-email-test-func/src/email-content/style.css
  apps/io-wallet-email-test-func/src/main.ts
  apps/io-wallet-email-test-func/src/send-email.ts
  apps/io-wallet-email-test-func/tsconfig.json
  apps/io-wallet-email-test-func/tsup.config.js
  apps/io-wallet-email-test-func/vitest.config.mjs
Labels: apps

Fixing yarn.lock file
  yarn.lock
Labels: none

Updating env variable name: using MailupHost instead of MailhogHost
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/email-provider.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
Labels: apps

Removing useless TE.tryCatch()
  apps/io-wallet-user-func/src/email-provider.ts
Labels: apps

Removing useless env variable
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/email-provider.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
Labels: apps

Removing cast to never in sendEamil() function
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/email-provider.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
Labels: apps

Using getMailerTransporter() at the CreateWalletInstance level
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/email-provider.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
Labels: apps

Adding explanation comments for clarity
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
Labels: apps

Creating a mock function called getUserEmailByFiscalCode()
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
Labels: apps

Renaming sendEmail() function in sendEmailNotification(); removing await in getTransporter() function
  apps/io-wallet-user-func/src/email-provider.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
Labels: apps

Creating the EmailNotificationService and using it
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/email-notification-service.ts
  apps/io-wallet-user-func/src/email-provider.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
Labels: apps

changed trial-system-feature-flag value
  infra/resources/_modules/apim/apim.tf
Labels: infra

changed trial-system-feature-flag value
  infra/resources/_modules/apim/apim.tf
Labels: infra

changed trial-system-feature-flag value
  infra/resources/_modules/apim/apim.tf
Labels: infra

Add multiple Android CRLs
  .changeset/cold-yaks-bake.md
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/__test__/certificates.spec.ts
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/certificates.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/index.ts
  apps/io-wallet-user-func/src/infra/attestation-service/index.ts
  apps/io-wallet-user-func/src/wallet-instance-revocation-process.ts
  infra/resources/_modules/function_apps/locals.tf
Labels: apps, infra, changeset

feat: [SIW-1895] Add multiple Android CRLs (#324)
  .changeset/cold-yaks-bake.md
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/__test__/certificates.spec.ts
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/certificates.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/index.ts
  apps/io-wallet-user-func/src/infra/attestation-service/index.ts
  apps/io-wallet-user-func/src/wallet-instance-revocation-process.ts
  infra/resources/_modules/function_apps/locals.tf
Labels: apps, infra, changeset

feat: [SIW-1895] Add multiple Android CRLs (#324)
  .changeset/cold-yaks-bake.md
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/__test__/certificates.spec.ts
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/certificates.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/index.ts
  apps/io-wallet-user-func/src/infra/attestation-service/index.ts
  apps/io-wallet-user-func/src/wallet-instance-revocation-process.ts
  infra/resources/_modules/function_apps/locals.tf
Labels: apps, infra, changeset

set PidIssuerHealthCheckEnabled to false
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

set PidIssuerHealthCheckEnabled to false
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

set PidIssuerHealthCheckEnabled to false
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

Using NonemptyString type (instead of the intersection type between t.string and NonEmptyString) for mailup configs
  apps/io-wallet-user-func/src/app/config.ts
Labels: apps

Updating the implementation of the mock function
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
Labels: apps

Using getTransporter() directly inside the EmailNotificationService
  apps/io-wallet-user-func/src/email-notification-service.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
Labels: apps

Returning TE.TaskEither<Error, void> (instead useing non fp-ts code)
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
Labels: apps

Implementation of the notification service under the infra/ folder
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/email-notification-service.ts
  apps/io-wallet-user-func/src/infra/email-notification-service/index.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
Labels: apps

Optimizing the sendEmailToUser() function
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
Labels: apps

updated response time threshold for /{id}/status endpoints
  apps/io-wallet-user-func/.opex/management/env/prod/config.yaml
Labels: apps

fix: add missing values to overridden opex endpoint
  apps/io-wallet-user-func/.opex/management/env/prod/config.yaml
Labels: apps

fix: list into dictionary
  apps/io-wallet-user-func/.opex/management/env/prod/config.yaml
Labels: apps

updated response time threshold for /{id}/status endpoints (#327)
  apps/io-wallet-user-func/.opex/management/env/prod/config.yaml
Labels: apps

updated response time threshold for /{id}/status endpoints (#327)
  apps/io-wallet-user-func/.opex/management/env/prod/config.yaml
Labels: apps

Optimizing the sendEmailToUser() function
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
Labels: apps

Removing getTransporter() from the IEmailNotificationService interface; renaming function parameter
  apps/io-wallet-user-func/src/email-notification-service.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
Labels: apps

Removing INonEmptyStringTag (useless) and avoiding the use of the keyword "as"
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
Labels: apps

Using an RTE (instead of TE) for the getUserEmailByFiscalCode() function
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
Labels: apps

Avoiding using the any "type"
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
Labels: apps

Using the getMailerTransporter() function (from @pagopa/io-functions-common) directly
  apps/io-wallet-user-func/src/infra/email-notification-service/index.ts
Labels: apps
