Repository pagopa/io-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, sd-jwt, apps, docs, ci, infra, changeset

.github/labeler.yml:

internal: packages/**/*
sd-jwt: packages/sd-jwt/*
apps: apps/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*

Set default JWT exp
  apps/io-func-wallet-solution-backend/src/infra/crypto/signer.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/create-wallet-instance-attestation.ts
  apps/io-func-wallet-solution-backend/src/wallet-instance-attestation.ts
Labels: apps

Update packages/react-native-eudiw-pid/src/sd-jwt/index.ts
  packages/react-native-eudiw-pid/src/sd-jwt/index.ts
Labels: internal

fixed verfication
  packages/react-native-eudiw-pid/README.md
  packages/react-native-eudiw-pid/src/sd-jwt/types.ts
Labels: internal

use camel case for parsed objects
  packages/react-native-eudiw-pid/README.md
  packages/react-native-eudiw-pid/src/sd-jwt/types.ts
Labels: internal

Add wallet instance attestation request validation
  apps/io-func-wallet-solution-backend/src/entity-configuration.ts
  apps/io-func-wallet-solution-backend/src/infra/crypto/signer.ts
  apps/io-func-wallet-solution-backend/src/jwk.ts
  apps/io-func-wallet-solution-backend/src/signer.ts
  apps/io-func-wallet-solution-backend/src/verifier.ts
  apps/io-func-wallet-solution-backend/src/wallet-instance-attestation-request.ts
  apps/io-func-wallet-solution-backend/src/wallet-instance-attestation.ts
Labels: apps

Add encoder
  apps/io-func-wallet-solution-backend/src/encoders/wallet-instance-attestation.ts
  apps/io-func-wallet-solution-backend/src/wallet-instance-attestation.ts
Labels: apps

Fix test
  apps/io-func-wallet-solution-backend/src/__test__/jwk.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/crypto/__test__/signer.spec.ts
Labels: apps

Fix signer
  apps/io-func-wallet-solution-backend/src/__test__/jwk.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/crypto/__test__/signer.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/crypto/signer.ts
Labels: apps

Add unit test
  apps/io-func-wallet-solution-backend/src/__test__/verifier.spec.ts
Labels: apps

Add check on alg
  apps/io-func-wallet-solution-backend/src/infra/crypto/signer.ts
  apps/io-func-wallet-solution-backend/src/signer.ts
Labels: apps

Add unit test
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/create-wallet-instance-attestation.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/create-wallet-instance-attestation.ts
Labels: apps

Remove config
  apps/io-func-wallet-solution-backend/src/infra/crypto/config.ts
  apps/io-func-wallet-solution-backend/src/wallet-instance-attestation-request.ts
Labels: apps

Add grant type
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/create-wallet-instance-attestation.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/create-wallet-instance-attestation.ts
Labels: apps

Fix lint
  apps/io-func-wallet-solution-backend/src/encoders/wallet-instance-attestation.ts
  io-wallet.code-workspace
Labels: apps

Update package.json
  apps/io-func-wallet-solution-backend/package.json
  yarn.lock
Labels: apps

Change bindings
  apps/io-func-wallet-solution-backend/GetEntityConfiguration/function.json
  apps/io-func-wallet-solution-backend/Info/function.json
Labels: apps

Create scaffold react-native-jwt
  io-wallet.code-workspace
  packages/react-native-jwt/.editorconfig
  packages/react-native-jwt/.gitattributes
  packages/react-native-jwt/.gitignore
  packages/react-native-jwt/.nvmrc
  packages/react-native-jwt/.watchmanconfig
  packages/react-native-jwt/.yarnrc
  packages/react-native-jwt/CODE_OF_CONDUCT.md
  packages/react-native-jwt/CONTRIBUTING.md
  packages/react-native-jwt/README.md
  packages/react-native-jwt/babel.config.js
  packages/react-native-jwt/example/App.js
  packages/react-native-jwt/example/app.json
  packages/react-native-jwt/example/assets/adaptive-icon.png
  packages/react-native-jwt/example/assets/favicon.png
  packages/react-native-jwt/example/assets/icon.png
  packages/react-native-jwt/example/assets/splash.png
  packages/react-native-jwt/example/babel.config.js
  packages/react-native-jwt/example/metro.config.js
  packages/react-native-jwt/example/package.json
  packages/react-native-jwt/example/src/App.tsx
  packages/react-native-jwt/example/tsconfig.json
  packages/react-native-jwt/example/webpack.config.js
  packages/react-native-jwt/lefthook.yml
  packages/react-native-jwt/package.json
  packages/react-native-jwt/scripts/bootstrap.js
  packages/react-native-jwt/src/__tests__/index.test.tsx
  packages/react-native-jwt/src/index.tsx
  packages/react-native-jwt/tsconfig.build.json
  packages/react-native-jwt/tsconfig.json
  yarn.lock
Labels: internal

Create scaffold react-native-jwt
  io-wallet.code-workspace
  packages/react-native-jwt/.editorconfig
  packages/react-native-jwt/.gitattributes
  packages/react-native-jwt/.gitignore
  packages/react-native-jwt/.nvmrc
  packages/react-native-jwt/.watchmanconfig
  packages/react-native-jwt/.yarnrc
  packages/react-native-jwt/CODE_OF_CONDUCT.md
  packages/react-native-jwt/CONTRIBUTING.md
  packages/react-native-jwt/README.md
  packages/react-native-jwt/babel.config.js
  packages/react-native-jwt/example/App.js
  packages/react-native-jwt/example/app.json
  packages/react-native-jwt/example/assets/adaptive-icon.png
  packages/react-native-jwt/example/assets/favicon.png
  packages/react-native-jwt/example/assets/icon.png
  packages/react-native-jwt/example/assets/splash.png
  packages/react-native-jwt/example/babel.config.js
  packages/react-native-jwt/example/metro.config.js
  packages/react-native-jwt/example/package.json
  packages/react-native-jwt/example/src/App.tsx
  packages/react-native-jwt/example/tsconfig.json
  packages/react-native-jwt/example/webpack.config.js
  packages/react-native-jwt/lefthook.yml
  packages/react-native-jwt/package.json
  packages/react-native-jwt/scripts/bootstrap.js
  packages/react-native-jwt/src/__tests__/index.test.tsx
  packages/react-native-jwt/src/index.tsx
  packages/react-native-jwt/tsconfig.build.json
  packages/react-native-jwt/tsconfig.json
  yarn.lock
Labels: internal

add yarn.lock
  packages/react-native-jwt/example/yarn.lock
  yarn.lock
Labels: internal

add yarn.lock
  packages/react-native-jwt/example/yarn.lock
  yarn.lock
Labels: internal

vscode
  io-wallet.code-workspace
Labels: none

[SIW-250] PID data model (#11)
  io-wallet.code-workspace
  packages/react-native-eudiw-pid/README.md
  packages/react-native-eudiw-pid/package.json
  packages/react-native-eudiw-pid/src/index.ts
  packages/react-native-eudiw-pid/src/sd-jwt/index.ts
  packages/react-native-eudiw-pid/src/sd-jwt/types.ts
  yarn.lock
Labels: internal

[SIW-250] PID data model (#11)
  io-wallet.code-workspace
  packages/react-native-eudiw-pid/README.md
  packages/react-native-eudiw-pid/package.json
  packages/react-native-eudiw-pid/src/index.ts
  packages/react-native-eudiw-pid/src/sd-jwt/index.ts
  packages/react-native-eudiw-pid/src/sd-jwt/types.ts
  yarn.lock
Labels: internal

Add crypto plugin
  packages/react-native-jwt/CODE_OF_CONDUCT.md
  packages/react-native-jwt/CONTRIBUTING.md
  packages/react-native-jwt/example/package.json
  packages/react-native-jwt/example/src/App.tsx
  packages/react-native-jwt/example/yarn.lock
  packages/react-native-jwt/package.json
  packages/react-native-jwt/src/index.tsx
  packages/react-native-jwt/tsconfig.json
  yarn.lock
Labels: internal

Add crypto plugin
  packages/react-native-jwt/CODE_OF_CONDUCT.md
  packages/react-native-jwt/CONTRIBUTING.md
  packages/react-native-jwt/example/package.json
  packages/react-native-jwt/example/src/App.tsx
  packages/react-native-jwt/example/yarn.lock
  packages/react-native-jwt/package.json
  packages/react-native-jwt/src/index.tsx
  packages/react-native-jwt/tsconfig.json
  yarn.lock
Labels: internal

implement decode
  packages/react-native-eudiw-pid/README.md
  packages/react-native-eudiw-pid/package.json
  packages/react-native-eudiw-pid/src/lib/base64.ts
  packages/react-native-eudiw-pid/src/sd-jwt/__tests__/index.test.ts
  packages/react-native-eudiw-pid/src/sd-jwt/__tests__/types.test.ts
  packages/react-native-eudiw-pid/src/sd-jwt/converters.ts
  packages/react-native-eudiw-pid/src/sd-jwt/index.ts
  packages/react-native-eudiw-pid/src/sd-jwt/types.ts
  yarn.lock
Labels: internal

remove dependency
  packages/react-native-eudiw-pid/package.json
  packages/react-native-eudiw-pid/src/sd-jwt/index.ts
  yarn.lock
Labels: internal

fix typos
  packages/react-native-eudiw-pid/src/sd-jwt/index.ts
Labels: internal

fix
  packages/react-native-eudiw-pid/README.md
Labels: internal

fix
  packages/react-native-eudiw-pid/README.md
  packages/react-native-eudiw-pid/src/sd-jwt/index.ts
  packages/react-native-eudiw-pid/src/sd-jwt/types.ts
Labels: internal

typo
  packages/react-native-eudiw-pid/src/sd-jwt/index.ts
Labels: internal

Add @balanza suggestions
  apps/io-func-wallet-solution-backend/src/app/config.ts
  apps/io-func-wallet-solution-backend/src/encoders/wallet-instance-attestation.ts
  apps/io-func-wallet-solution-backend/src/infra/crypto/__test__/signer.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/crypto/signer.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/create-wallet-instance-attestation.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/create-wallet-instance-attestation.ts
  apps/io-func-wallet-solution-backend/src/verifier.ts
  apps/io-func-wallet-solution-backend/src/wallet-instance-attestation-request.ts
Labels: apps

feat: Add Wallet instance Attestation request token endpoint
  apps/io-func-wallet-solution-backend/CreateWalletInstanceAttestation/function.json
  apps/io-func-wallet-solution-backend/Info/function.json
  apps/io-func-wallet-solution-backend/package.json
  apps/io-func-wallet-solution-backend/src/__test__/jwk.spec.ts
  apps/io-func-wallet-solution-backend/src/__test__/verifier.spec.ts
  apps/io-func-wallet-solution-backend/src/app/config.ts
  apps/io-func-wallet-solution-backend/src/app/main.ts
  apps/io-func-wallet-solution-backend/src/encoders/wallet-instance-attestation.ts
  apps/io-func-wallet-solution-backend/src/entity-configuration.ts
  apps/io-func-wallet-solution-backend/src/infra/azure/functions/create-wallet-instance-attestation.ts
  apps/io-func-wallet-solution-backend/src/infra/crypto/__test__/signer.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/crypto/signer.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/create-wallet-instance-attestation.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/create-wallet-instance-attestation.ts
  apps/io-func-wallet-solution-backend/src/jwk.ts
  apps/io-func-wallet-solution-backend/src/signer.ts
  apps/io-func-wallet-solution-backend/src/verifier.ts
  apps/io-func-wallet-solution-backend/src/wallet-instance-attestation-request.ts
  apps/io-func-wallet-solution-backend/src/wallet-instance-attestation.ts
  io-wallet.code-workspace
  yarn.lock
Labels: apps

feat: Add Wallet instance Attestation request token endpoint
  apps/io-func-wallet-solution-backend/CreateWalletInstanceAttestation/function.json
  apps/io-func-wallet-solution-backend/Info/function.json
  apps/io-func-wallet-solution-backend/package.json
  apps/io-func-wallet-solution-backend/src/__test__/jwk.spec.ts
  apps/io-func-wallet-solution-backend/src/__test__/verifier.spec.ts
  apps/io-func-wallet-solution-backend/src/app/config.ts
  apps/io-func-wallet-solution-backend/src/app/main.ts
  apps/io-func-wallet-solution-backend/src/encoders/wallet-instance-attestation.ts
  apps/io-func-wallet-solution-backend/src/entity-configuration.ts
  apps/io-func-wallet-solution-backend/src/infra/azure/functions/create-wallet-instance-attestation.ts
  apps/io-func-wallet-solution-backend/src/infra/crypto/__test__/signer.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/crypto/signer.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/create-wallet-instance-attestation.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/create-wallet-instance-attestation.ts
  apps/io-func-wallet-solution-backend/src/jwk.ts
  apps/io-func-wallet-solution-backend/src/signer.ts
  apps/io-func-wallet-solution-backend/src/verifier.ts
  apps/io-func-wallet-solution-backend/src/wallet-instance-attestation-request.ts
  apps/io-func-wallet-solution-backend/src/wallet-instance-attestation.ts
  io-wallet.code-workspace
  yarn.lock
Labels: apps

Update packages/react-native-eudiw-pid/src/sd-jwt/types.ts
  packages/react-native-eudiw-pid/src/sd-jwt/types.ts
Labels: internal

Change some parameters
  apps/io-func-wallet-solution-backend/src/encoders/entity-configuration.ts
  apps/io-func-wallet-solution-backend/src/encoders/wallet-instance-attestation.ts
  apps/io-func-wallet-solution-backend/src/wallet-instance-attestation-request.ts
Labels: apps

Change some parameters
  apps/io-func-wallet-solution-backend/src/encoders/entity-configuration.ts
  apps/io-func-wallet-solution-backend/src/encoders/wallet-instance-attestation.ts
  apps/io-func-wallet-solution-backend/src/wallet-instance-attestation-request.ts
Labels: apps

[SIW-267] PID decode (#13)
  packages/react-native-eudiw-pid/README.md
  packages/react-native-eudiw-pid/package.json
  packages/react-native-eudiw-pid/src/lib/base64.ts
  packages/react-native-eudiw-pid/src/sd-jwt/__tests__/index.test.ts
  packages/react-native-eudiw-pid/src/sd-jwt/__tests__/types.test.ts
  packages/react-native-eudiw-pid/src/sd-jwt/converters.ts
  packages/react-native-eudiw-pid/src/sd-jwt/index.ts
  packages/react-native-eudiw-pid/src/sd-jwt/types.ts
  yarn.lock
Labels: internal

[SIW-267] PID decode (#13)
  packages/react-native-eudiw-pid/README.md
  packages/react-native-eudiw-pid/package.json
  packages/react-native-eudiw-pid/src/lib/base64.ts
  packages/react-native-eudiw-pid/src/sd-jwt/__tests__/index.test.ts
  packages/react-native-eudiw-pid/src/sd-jwt/__tests__/types.test.ts
  packages/react-native-eudiw-pid/src/sd-jwt/converters.ts
  packages/react-native-eudiw-pid/src/sd-jwt/index.ts
  packages/react-native-eudiw-pid/src/sd-jwt/types.ts
  yarn.lock
Labels: internal

scaffold with bob
  lefthook.yml
  packages-sa/io-wallet-instance-attestation/.editorconfig
  packages-sa/io-wallet-instance-attestation/.nvmrc
  packages-sa/io-wallet-instance-attestation/.watchmanconfig
  packages-sa/io-wallet-instance-attestation/.yarnrc
  packages-sa/io-wallet-instance-attestation/CODE_OF_CONDUCT.md
  packages-sa/io-wallet-instance-attestation/CONTRIBUTING.md
  packages-sa/io-wallet-instance-attestation/LICENSE
  packages-sa/io-wallet-instance-attestation/README.md
  packages-sa/io-wallet-instance-attestation/babel.config.js
  packages-sa/io-wallet-instance-attestation/example/App.js
  packages-sa/io-wallet-instance-attestation/example/app.json
  packages-sa/io-wallet-instance-attestation/example/assets/adaptive-icon.png
  packages-sa/io-wallet-instance-attestation/example/assets/favicon.png
  packages-sa/io-wallet-instance-attestation/example/assets/icon.png
  packages-sa/io-wallet-instance-attestation/example/assets/splash.png
  packages-sa/io-wallet-instance-attestation/example/babel.config.js
  packages-sa/io-wallet-instance-attestation/example/metro.config.js
  packages-sa/io-wallet-instance-attestation/example/package.json
  packages-sa/io-wallet-instance-attestation/example/src/App.tsx
  packages-sa/io-wallet-instance-attestation/example/tsconfig.json
  packages-sa/io-wallet-instance-attestation/example/webpack.config.js
  packages-sa/io-wallet-instance-attestation/example/yarn.lock
  packages-sa/io-wallet-instance-attestation/lefthook.yml
  packages-sa/io-wallet-instance-attestation/package.json
  packages-sa/io-wallet-instance-attestation/scripts/bootstrap.js
  packages-sa/io-wallet-instance-attestation/src/__tests__/index.test.ts
  packages-sa/io-wallet-instance-attestation/src/index.ts
  packages-sa/io-wallet-instance-attestation/tsconfig.build.json
  packages-sa/io-wallet-instance-attestation/tsconfig.json
  packages-sa/io-wallet-instance-attestation/yarn.lock
Labels: none
