Repository pagopa/io-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, sd-jwt, apps, docs, ci, infra, changeset

run changeset
  .changeset/stupid-ears-sell.md
Labels: changeset

chore: updated @pagopa/ts-commons
  .changeset/stupid-ears-sell.md
  apps/io-wallet-user-func/package.json
  yarn.lock
Labels: apps, changeset

chore: updated @pagopa/ts-commons
  .changeset/stupid-ears-sell.md
  apps/io-wallet-user-func/package.json
  yarn.lock
Labels: apps, changeset

removed cosmos and storage account connection strings
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/package.json
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  yarn.lock
Labels: apps

updated infra
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/prod/main.tf
Labels: infra

Update apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/config.ts
Labels: apps

Update apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/config.ts
Labels: apps

Update apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/config.ts
Labels: apps

run changeset
  .changeset/lovely-tomatoes-lie.md
Labels: changeset

foo
  apps/io-wallet-user-func/local.settings.json.example
Labels: apps

[SIW-1197] Remove CMK from Cosmos Account (#109)
  infra/resources/_modules/cosmos/cosmos_accounts.tf
  infra/resources/_modules/cosmos/rbac.tf
  infra/resources/_modules/cosmos/variables.tf
  infra/resources/_modules/iam/key_vault_iam.tf
  infra/resources/prod/main.tf
Labels: infra

[SIW-1197] Remove CMK from Cosmos Account (#109)
  infra/resources/_modules/cosmos/cosmos_accounts.tf
  infra/resources/_modules/cosmos/rbac.tf
  infra/resources/_modules/cosmos/variables.tf
  infra/resources/_modules/iam/key_vault_iam.tf
  infra/resources/prod/main.tf
Labels: infra

chore: removed cosmos and storage account connection strings
  .changeset/lovely-tomatoes-lie.md
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/package.json
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/prod/main.tf
  yarn.lock
Labels: apps, infra, changeset

chore: removed cosmos and storage account connection strings
  .changeset/lovely-tomatoes-lie.md
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/package.json
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/prod/main.tf
  yarn.lock
Labels: apps, infra, changeset

rename
  infra/resources/_modules/iam/cosmos_iam.tf
Labels: infra

add roles
  infra/resources/_modules/iam/cosmos_iam.tf
  infra/resources/_modules/iam/variables.tf
  infra/resources/prod/main.tf
Labels: infra

remove cmk from cosmos
  infra/resources/_modules/key_vaults/key_vault_key_cosmos.tf
  infra/resources/_modules/key_vaults/key_vault_wallet.tf
  infra/resources/_modules/key_vaults/outputs.tf
Labels: infra

Assign CosmosDB Contributor role to io-p-adgroup-admin and io-p-adgroup-developers groups (#112)
  infra/resources/_modules/iam/cosmos_iam.tf
  infra/resources/_modules/iam/variables.tf
  infra/resources/_modules/key_vaults/key_vault_key_cosmos.tf
  infra/resources/_modules/key_vaults/key_vault_wallet.tf
  infra/resources/_modules/key_vaults/outputs.tf
  infra/resources/prod/main.tf
Labels: infra

Assign CosmosDB Contributor role to io-p-adgroup-admin and io-p-adgroup-developers groups (#112)
  infra/resources/_modules/iam/cosmos_iam.tf
  infra/resources/_modules/iam/variables.tf
  infra/resources/_modules/key_vaults/key_vault_key_cosmos.tf
  infra/resources/_modules/key_vaults/key_vault_wallet.tf
  infra/resources/_modules/key_vaults/outputs.tf
  infra/resources/prod/main.tf
Labels: infra

fix
  infra/resources/_modules/iam/cosmos_iam.tf
Labels: infra

fix: Assign CosmosDB Contributor role to io-p-adgroup-admin and io-p-adgroup-developers groups (#114)
  infra/resources/_modules/iam/cosmos_iam.tf
Labels: infra

fix: Assign CosmosDB Contributor role to io-p-adgroup-admin and io-p-adgroup-developers groups (#114)
  infra/resources/_modules/iam/cosmos_iam.tf
Labels: infra

add EntityConfigurationStorageContainerName var
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

fix: add EntityConfigurationStorageContainerName env var
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

fix: add EntityConfigurationStorageContainerName env var
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

updated createWalletAttestation error status codes
  apps/io-wallet-user-func/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/utils.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
Labels: apps

updated openapi
  apps/io-wallet-user-func/openapi.yaml
Labels: apps

fix
  apps/io-wallet-user-func/openapi.yaml
Labels: apps

add /wallet path
  apps/io-wallet-user-func/host.json
  infra/resources/_modules/function_apps/function_app_user.tf
Labels: apps, infra

feat: updated createWalletAttestation error status codes
  apps/io-wallet-user-func/openapi.yaml
  apps/io-wallet-user-func/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/utils.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
Labels: apps

feat: updated createWalletAttestation error status codes
  apps/io-wallet-user-func/openapi.yaml
  apps/io-wallet-user-func/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/utils.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
Labels: apps

run changeset
  .changeset/rotten-jokes-act.md
Labels: changeset

fix: add /wallet path
  .changeset/rotten-jokes-act.md
  apps/io-wallet-user-func/host.json
  infra/resources/_modules/function_apps/function_app_user.tf
Labels: apps, infra, changeset

fix: add /wallet path
  .changeset/rotten-jokes-act.md
  apps/io-wallet-user-func/host.json
  infra/resources/_modules/function_apps/function_app_user.tf
Labels: apps, infra, changeset

Change iOS team identifier
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

fix: Change iOS team identifier
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

fix: Change iOS team identifier
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

chore: use base64url for ios integrity keys
  apps/io-wallet-user-func/src/infra/attestation-service/ios/attestation.ts
Labels: apps

updated getUserByFiscalCode method
  apps/io-wallet-user-func/src/infra/pdv-tokenizer/client.ts
Labels: apps

update method name
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-user-by-fiscal-code.spec.ts
  apps/io-wallet-user-func/src/infra/pdv-tokenizer/client.ts
  apps/io-wallet-user-func/src/user.ts
Labels: apps

.github/labeler.yml:

internal: packages/**/*
sd-jwt: packages/sd-jwt/*
apps: apps/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*
