Repository pagopa/io-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, sd-jwt, apps, docs, ci, infra, changeset

fix openapi APIM
  infra/resources/_modules/apim/api/ioweb/_swagger.json
  infra/resources/_modules/apim/api/pdnd/_swagger.json
Labels: infra

revert commit
  infra/resources/_modules/apim/api/ioweb/_swagger.json
  infra/resources/_modules/apim/api/pdnd/_swagger.json
Labels: infra

updated openapi
  apps/io-wallet-support-func/openapi.yaml
  apps/io-wallet-user-func/openapi.yaml
  infra/resources/_modules/apim/api/ioweb/_swagger.json
  infra/resources/_modules/apim/api/pdnd/_swagger.json
Labels: apps, infra

updated pdnd api
  infra/resources/_modules/apim/api/pdnd/_base_policy.xml
  infra/resources/_modules/apim/api/pdnd/_health_check_policy.xml
  infra/resources/_modules/apim/api/pdnd/_set_wallet_instance_status_policy.xml
  infra/resources/_modules/apim/api/pdnd/_swagger.json
Labels: infra

[SIW-1479] Added new product and new API in APIM (#272)
  apps/io-wallet-support-func/openapi.yaml
  apps/io-wallet-user-func/openapi.yaml
  infra/resources/_modules/apim/api/pdnd/_base_policy.xml
  infra/resources/_modules/apim/api/pdnd/_health_check_policy.xml
  infra/resources/_modules/apim/api/pdnd/_set_wallet_instance_status_policy.xml
  infra/resources/_modules/apim/api/pdnd/_swagger.json
  infra/resources/_modules/apim/apim.tf
  infra/resources/_modules/apim/product.tf
Labels: apps, infra

[SIW-1479] Added new product and new API in APIM (#272)
  apps/io-wallet-support-func/openapi.yaml
  apps/io-wallet-user-func/openapi.yaml
  infra/resources/_modules/apim/api/pdnd/_base_policy.xml
  infra/resources/_modules/apim/api/pdnd/_health_check_policy.xml
  infra/resources/_modules/apim/api/pdnd/_set_wallet_instance_status_policy.xml
  infra/resources/_modules/apim/api/pdnd/_swagger.json
  infra/resources/_modules/apim/apim.tf
  infra/resources/_modules/apim/product.tf
Labels: apps, infra

updated policy
  infra/resources/_modules/apim/apim.tf
Labels: infra

add comment
  infra/resources/_modules/apim/apim.tf
Labels: infra

added APIM API
  infra/resources/_modules/apim/apim.tf
Labels: infra

feat: edit apim resources creation
  infra/resources/_modules/apim/apim_itn.tf
  infra/resources/_modules/apim/variables.tf
  infra/resources/prod/README.md
  infra/resources/prod/main.tf
Labels: infra

test
  infra/resources/_modules/apim/apim.tf
Labels: infra

fix swagger
  infra/resources/_modules/apim/api/pdnd/_swagger.json
  infra/resources/_modules/apim/apim.tf
Labels: infra

removed comment
  infra/resources/_modules/apim/apim.tf
Labels: infra

updated tf resources name
  infra/resources/_modules/apim/apim.tf
Labels: infra

Added pdnd API APIM policies
  infra/resources/_modules/apim/api/pdnd/_swagger.json
  infra/resources/_modules/apim/apim.tf
Labels: infra

Added pdnd API APIM policies
  infra/resources/_modules/apim/api/pdnd/_swagger.json
  infra/resources/_modules/apim/apim.tf
Labels: infra

updated policy resource name
  infra/resources/_modules/apim/apim.tf
Labels: infra

fix: updated policy resource name
  infra/resources/_modules/apim/apim.tf
Labels: infra

fix: updated policy resource name
  infra/resources/_modules/apim/apim.tf
Labels: infra

Add revocation queue with db trigger
  apps/io-wallet-support-func/local.settings.json.example
  apps/io-wallet-user-func/host.json
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/package.json
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/functions/add-wallet-instance-to-validation-queue.ts
  apps/io-wallet-user-func/src/infra/azure/functions/validate-wallet-instance-attested-key.ts
  apps/io-wallet-user-func/src/infra/azure/queue/wallet-instance-revocation.ts
  apps/io-wallet-user-func/src/infra/handlers/add-wallet-instance-to-validation-queue.ts
  apps/io-wallet-user-func/src/infra/handlers/validate-wallet-instance-attested-key.ts
  apps/io-wallet-user-func/src/wallet-instance-revocation-process.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
  infra/resources/_modules/function_apps/locals.tf
  packages/io-wallet-common/src/infra/azure/cosmos/config.ts
  packages/io-wallet-common/src/wallet-instance.ts
  yarn.lock
Labels: internal, apps, infra

Add changeset
  .changeset/long-gorillas-sin.md
Labels: changeset

Removing getAllByUserId (unused) and updating the name 'getNotRevokedByDiffirentIdAndUserId' in 'getLastActiveWalletInstanceByUserId'
  apps/io-wallet-user-func/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-current-wallet-instance.status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-current-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
Labels: apps

az commands to enable the dev cosmosdb connection for your azure user
  README.md
Labels: none

Add terraform
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/_modules/storage/main.tf
  infra/resources/_modules/storage/storage_accounts.tf
  infra/resources/_modules/storage/storage_queue.tf
  infra/resources/prod/main.tf
Labels: infra

Update wallet-instance-revocation.ts
  apps/io-wallet-user-func/src/infra/azure/queue/wallet-instance-revocation.ts
Labels: apps

Update wallet-instance-revocation-process.ts
  apps/io-wallet-user-func/src/wallet-instance-revocation-process.ts
Labels: apps

renaming
  apps/io-wallet-user-func/src/infra/handlers/validate-wallet-instance-attested-key.ts
  apps/io-wallet-user-func/src/wallet-instance-revocation-process.ts
Labels: apps

updated terraform
  infra/resources/_modules/storage/outputs.tf
  infra/resources/_modules/storage/variables.tf
  infra/resources/prod/main.tf
Labels: infra

updated storage account name
  infra/resources/_modules/storage/storage_accounts.tf
Labels: infra

fix storage name
  infra/resources/_modules/storage/storage_accounts.tf
Labels: infra

Refactor android validation response
  apps/io-wallet-user-func/src/infra/attestation-service/android/__test__/assertion.spec.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/__test__/attestation.spec.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/assertion.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/attestation.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/index.ts
  apps/io-wallet-user-func/src/infra/attestation-service/errors.ts
Labels: apps

add RevocationQueueName function app setting
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/prod/main.tf
Labels: infra

Refactor iOS to use ValidationResult
  apps/io-wallet-user-func/src/infra/attestation-service/android/attestation.ts
  apps/io-wallet-user-func/src/infra/attestation-service/ios/__test__/assertion.spec.ts
  apps/io-wallet-user-func/src/infra/attestation-service/ios/__test__/attestation.spec.ts
  apps/io-wallet-user-func/src/infra/attestation-service/ios/assertion.ts
  apps/io-wallet-user-func/src/infra/attestation-service/ios/attestation.ts
  apps/io-wallet-user-func/src/infra/attestation-service/ios/index.ts
Labels: apps

[io-wallet-common] Exporting WalletInstanceValid as value also
  apps/io-wallet-user-func/src/infra/azure/cosmos/wallet-instance.ts
  packages/io-wallet-common/src/wallet-instance.ts
Labels: internal, apps

Fix error
  apps/io-wallet-user-func/src/infra/attestation-service/android/index.ts
  apps/io-wallet-user-func/src/infra/attestation-service/index.ts
  apps/io-wallet-user-func/src/infra/attestation-service/ios/index.ts
Labels: apps

Code formatting
  apps/io-wallet-user-func/src/infra/azure/cosmos/wallet-instance.ts
Labels: apps

Update apps/io-wallet-user-func/src/infra/attestation-service/android/assertion.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/assertion.ts
Labels: apps

Create hot-taxis-kiss.md
  .changeset/hot-taxis-kiss.md
Labels: changeset

chore: Refactor to use ValidationResult
  .changeset/hot-taxis-kiss.md
  apps/io-wallet-user-func/src/infra/attestation-service/android/__test__/assertion.spec.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/__test__/attestation.spec.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/assertion.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/attestation.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/index.ts
  apps/io-wallet-user-func/src/infra/attestation-service/errors.ts
  apps/io-wallet-user-func/src/infra/attestation-service/index.ts
  apps/io-wallet-user-func/src/infra/attestation-service/ios/__test__/assertion.spec.ts
  apps/io-wallet-user-func/src/infra/attestation-service/ios/__test__/attestation.spec.ts
  apps/io-wallet-user-func/src/infra/attestation-service/ios/assertion.ts
  apps/io-wallet-user-func/src/infra/attestation-service/ios/attestation.ts
  apps/io-wallet-user-func/src/infra/attestation-service/ios/index.ts
Labels: apps, changeset

chore: Refactor to use ValidationResult
  .changeset/hot-taxis-kiss.md
  apps/io-wallet-user-func/src/infra/attestation-service/android/__test__/assertion.spec.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/__test__/attestation.spec.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/assertion.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/attestation.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/index.ts
  apps/io-wallet-user-func/src/infra/attestation-service/errors.ts
  apps/io-wallet-user-func/src/infra/attestation-service/index.ts
  apps/io-wallet-user-func/src/infra/attestation-service/ios/__test__/assertion.spec.ts
  apps/io-wallet-user-func/src/infra/attestation-service/ios/__test__/attestation.spec.ts
  apps/io-wallet-user-func/src/infra/attestation-service/ios/assertion.ts
  apps/io-wallet-user-func/src/infra/attestation-service/ios/attestation.ts
  apps/io-wallet-user-func/src/infra/attestation-service/ios/index.ts
Labels: apps, changeset

.github/labeler.yml:

internal: packages/**/*
sd-jwt: packages/sd-jwt/*
apps: apps/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*
