Repository pagopa/io-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, infra, changeset

.github/labeler.yml:

apps: apps/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*

add healthCheck operation policy for API User
  infra/resources/prod/apim_platform.tf
  infra/resources/prod/policies/health_check_operation_policy.xml
Labels: infra

infra: align terraform code
  infra/resources/prod/apim_platform.tf
  infra/resources/prod/apis/user_uat_v1/openapi.yaml
  infra/resources/prod/apis/user_v1/openapi.yaml
  infra/resources/prod/fragments/io-wallet-app-session-fragment.xml
  infra/resources/prod/policies/health_check_operation_policy.xml
  infra/resources/psn/prod/main.tf
Labels: infra

updated IO WEB and support API swagger on PSN APIM
  infra/resources/psn/prod/apim/api/ioweb/swagger.json
  infra/resources/psn/prod/apim/api/ioweb/swagger.yaml
  infra/resources/psn/prod/apim/api/support/swagger.yaml
  infra/resources/psn/prod/apim_apis.tf
Labels: infra

updated lock file
  pnpm-lock.yaml
Labels: none

fix: updated lock file
  pnpm-lock.yaml
Labels: none

updated pagopa APIM swaggers
  infra/resources/_modules/apim/api/ioweb/_swagger.json
  infra/resources/_modules/apim/api/ioweb/swagger.yaml
  infra/resources/_modules/apim/api/support/_swagger.json
  infra/resources/_modules/apim/api/support/swagger.yaml
Labels: infra

fix tf plan
  infra/resources/_modules/apim/apim.tf
Labels: infra

fix tf plan
  infra/resources/_modules/apim/apim.tf
Labels: infra

updated PSN APIM resources
  infra/resources/psn/prod/apim/api/user-uat/swagger.yaml
  infra/resources/psn/prod/apim/api/user/swagger.yaml
  infra/resources/psn/prod/apim/fragments/extract-user-fiscal-code.xml
  infra/resources/psn/prod/apim/policies/inject_fiscal_code_into_body.xml
  infra/resources/psn/prod/apim/policies/is_fiscal_code_whitelisted_operation.xml
  infra/resources/psn/prod/apim/policies/set_fiscal_code_header.xml
  infra/resources/psn/prod/apim_apis.tf
Labels: infra

fix policies
  infra/resources/psn/prod/apim_apis.tf
Labels: infra

fix APIM resources
  infra/resources/psn/prod/apim_apis.tf
Labels: infra

fix platform APIS swagger
  infra/resources/prod/apis/user_uat_v1/openapi.yaml
  infra/resources/prod/apis/user_v1/openapi.yaml
Labels: infra

fix PSN APIM APIS swagger
  infra/resources/psn/prod/apim/api/user-uat/swagger.yaml
  infra/resources/psn/prod/apim/api/user/swagger.yaml
Labels: infra

format swagger file
  infra/resources/_modules/apim/api/ioweb/swagger.yaml
  infra/resources/_modules/apim/api/support/swagger.yaml
  infra/resources/prod/apis/user_uat_v1/openapi.yaml
  infra/resources/prod/apis/user_v1/openapi.yaml
  infra/resources/psn/prod/apim/api/ioweb/swagger.yaml
  infra/resources/psn/prod/apim/api/support/swagger.yaml
  infra/resources/psn/prod/apim/api/user-uat/swagger.yaml
  infra/resources/psn/prod/apim/api/user/swagger.yaml
Labels: infra

fix APIM
  infra/resources/psn/prod/apim_apis.tf
Labels: infra

infra: align terraform code on PSN resources
  infra/resources/_modules/apim/api/ioweb/_swagger.json
  infra/resources/_modules/apim/api/ioweb/swagger.yaml
  infra/resources/_modules/apim/api/support/_swagger.json
  infra/resources/_modules/apim/api/support/swagger.yaml
  infra/resources/_modules/apim/apim.tf
  infra/resources/prod/apis/user_v1/openapi.yaml
  infra/resources/psn/prod/apim/api/ioweb/swagger.json
  infra/resources/psn/prod/apim/api/ioweb/swagger.yaml
  infra/resources/psn/prod/apim/api/support/swagger.yaml
  infra/resources/psn/prod/apim/api/user-uat/swagger.yaml
  infra/resources/psn/prod/apim/api/user/swagger.yaml
  infra/resources/psn/prod/apim/fragments/extract-user-fiscal-code.xml
  infra/resources/psn/prod/apim/policies/inject_fiscal_code_into_body.xml
  infra/resources/psn/prod/apim/policies/is_fiscal_code_whitelisted_operation.xml
  infra/resources/psn/prod/apim/policies/set_fiscal_code_header.xml
  infra/resources/psn/prod/apim_apis.tf
Labels: infra

removed StorageConnectionString from psn function app and key vault
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/_modules/storage_accounts/secrets.tf
  infra/resources/_modules/storage_accounts/variables.tf
  infra/resources/prod/main.tf
  infra/resources/psn/prod/main.tf
Labels: infra

changed io web APIM API description
  infra/resources/_modules/apim/apim.tf
Labels: infra

infra: removed StorageConnectionString from psn function app and key vault
  infra/resources/_modules/apim/apim.tf
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/_modules/storage_accounts/secrets.tf
  infra/resources/_modules/storage_accounts/variables.tf
  infra/resources/prod/main.tf
  infra/resources/psn/prod/main.tf
Labels: infra

fix APIS swagger path
  infra/resources/prod/apim_platform.tf
  infra/resources/prod/apis/user_uat_v1/swagger.yaml
  infra/resources/prod/apis/user_v1/swagger.yaml
Labels: infra

fix: fix APIS swagger path
  infra/resources/prod/apim_platform.tf
  infra/resources/prod/apis/user_uat_v1/swagger.yaml
  infra/resources/prod/apis/user_v1/swagger.yaml
Labels: infra

updated architecture diagram
  architecture/cloud_architecture.mmd
  architecture/cloud_architecture.png
Labels: none

updated mmd file
  README.md
  architecture/cloud_architecture.mmd
  architecture/cloud_architecture.png
  architecture/cloud_architecture.svg
Labels: none

Scale resources for switch (#664)
  infra/core/psn/hub/prod/appgw.tf
  infra/resources/psn/prod/apim.tf
  infra/resources/psn/prod/main.tf
Labels: infra

use fragment
  infra/resources/prod/apim_platform.tf
Labels: infra

fix tf
  infra/resources/prod/apim_platform.tf
Labels: infra

chore: use `ioapp-authenticated` fragment for token introspection
  infra/resources/prod/apim_platform.tf
Labels: infra

moved fragment to API policy
  infra/resources/_modules/cdn/README.md
  infra/resources/_modules/function_apps/README.md
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/storage_accounts/README.md
  infra/resources/prod/README.md
  infra/resources/prod/apis/user_uat_v1/tfmodules.lock.json
  infra/resources/prod/apis/user_v1/tfmodules.lock.json
  infra/resources/prod/main.tf
  infra/resources/prod/policies/tfmodules.lock.json
  infra/resources/psn/prod/README.md
  infra/resources/psn/prod/apim/policies/inject_fiscal_code_into_body.xml
  infra/resources/psn/prod/apim/policies/is_fiscal_code_whitelisted_operation.xml
  infra/resources/psn/prod/apim/policies/set_fiscal_code_header.xml
  infra/resources/psn/prod/apim/policies/skip_extract_fiscal_code_fragment_operation.xml
  infra/resources/psn/prod/apim_apis.tf
Labels: infra

updated lock files
  infra/resources/prod/tfmodules.lock.json
Labels: infra

infra: move fiscal code fragment to API policy
  infra/resources/_modules/cdn/README.md
  infra/resources/_modules/function_apps/README.md
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/storage_accounts/README.md
  infra/resources/prod/README.md
  infra/resources/prod/apis/user_uat_v1/tfmodules.lock.json
  infra/resources/prod/apis/user_v1/tfmodules.lock.json
  infra/resources/prod/main.tf
  infra/resources/prod/policies/tfmodules.lock.json
  infra/resources/prod/tfmodules.lock.json
  infra/resources/psn/prod/README.md
  infra/resources/psn/prod/apim/policies/inject_fiscal_code_into_body.xml
  infra/resources/psn/prod/apim/policies/is_fiscal_code_whitelisted_operation.xml
  infra/resources/psn/prod/apim/policies/set_fiscal_code_header.xml
  infra/resources/psn/prod/apim/policies/skip_extract_fiscal_code_fragment_operation.xml
  infra/resources/psn/prod/apim_apis.tf
Labels: infra

add Network Contributor role for infra CD pipeline on pep subnet
  infra/core/psn/spoke/prod/iam.tf
Labels: infra

infra: add Network Contributor role for infra CD pipeline
  infra/core/psn/spoke/prod/iam.tf
Labels: infra

updated PSN APIM policy
  infra/resources/psn/prod/apim_apis.tf
Labels: infra

refactor
  infra/resources/prod/apim_platform.tf
  infra/resources/prod/fragments/io-wallet-app-session-fragment.xml
  infra/resources/prod/fragments/tfmodules.lock.json
  infra/resources/psn/prod/apim_apis.tf
Labels: infra

fix: updated PSN APIM policy
  infra/resources/prod/apim_platform.tf
  infra/resources/prod/fragments/io-wallet-app-session-fragment.xml
  infra/resources/prod/fragments/tfmodules.lock.json
  infra/resources/psn/prod/apim_apis.tf
Labels: infra

increase apim instances
  infra/resources/psn/prod/apim.tf
Labels: infra

Increase PSN APIM instances (#676)
  infra/resources/psn/prod/apim.tf
Labels: infra

removed leases-revoke-wallet-instance collection from tf
  infra/resources/_modules/cosmos/locals.tf
Labels: infra

updated
  infra/core/psn/spoke/prod/README.md
  infra/resources/_modules/cosmos/README.md
  infra/resources/_modules/cosmos/variables.tf
  infra/resources/psn/prod/main.tf
Labels: infra

added isIosAttestation method in MobileAttestationService class
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/index.ts
Labels: apps
