Repository pagopa/io-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, infra, changeset

correct oversights
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/attestation.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/index.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/index.ts
Labels: apps

fix typo
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/attestation.ts
Labels: apps

Update attestation.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/attestation.ts
Labels: apps

chore: general code fixes
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/attestation.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/index.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/index.ts
Labels: apps

Create silly-ideas-smile.md
  .changeset/silly-ideas-smile.md
Labels: changeset

Update comment
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/attestation.ts
Labels: apps

fix: solve double extraction of extension
  .changeset/silly-ideas-smile.md
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/attestation.ts
Labels: apps, changeset

removed application insights from support function app
  apps/io-wallet-support-func/local.settings.json.example
  apps/io-wallet-support-func/package.json
  apps/io-wallet-support-func/src/app/main.ts
  apps/io-wallet-support-func/src/infra/http/handlers/get-current-wallet-instance-by-fiscal-code.ts
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/prod/locals.tf
  infra/resources/prod/main.tf
  pnpm-lock.yaml
Labels: apps, infra

fix build
  apps/io-wallet-support-func/src/app/config.ts
Labels: apps

updated handler to pagopa tracing package
  apps/io-wallet-user-func/package.json
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/appinsights/start.ts
  apps/io-wallet-user-func/src/infra/azure/appinsights/wrapper-handler.ts
  apps/io-wallet-user-func/src/infra/handlers/generate-entity-configuration.ts
  apps/io-wallet-user-func/src/infra/handlers/send-email-on-wallet-instance-creation.ts
  apps/io-wallet-user-func/src/infra/handlers/send-email-on-wallet-instance-revocation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation-v2.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/delete-wallet-instances.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/generate-certificate-chain.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-nonce.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/is-fiscal-code-whitelisted.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation-v2.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/handlers/delete-wallet-instances.ts
  apps/io-wallet-user-func/src/infra/http/handlers/generate-certificate-chain.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-current-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-nonce.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/handlers/is-fiscal-code-whitelisted.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/telemetry/index.ts
  apps/io-wallet-user-func/src/telemetry.ts
  pnpm-lock.yaml
Labels: apps

update min function app instances
  infra/resources/_modules/function_apps/function_app_user.tf
Labels: infra

increase minimum instances
  infra/resources/_modules/function_apps/function_app_user.tf
Labels: infra

infra: update min function app instances
  infra/resources/_modules/function_apps/function_app_user.tf
Labels: infra

added sampling to user func
  apps/io-wallet-user-func/host.json
Labels: apps

added env var in example file
  apps/io-wallet-user-func/local.settings.json.example
Labels: apps

increase wallet-instances RU
  infra/resources/_modules/cosmos/locals.tf
Labels: infra

increase whitelisted-fiscal-codes RU
  infra/resources/_modules/cosmos/locals.tf
Labels: infra

infra: increase wallet-instances and whitelisted-fiscal-codes RU
  infra/resources/_modules/cosmos/locals.tf
Labels: infra

updated tf
  apps/io-wallet-user-func/local.settings.json.example
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/prod/locals.tf
Labels: apps, infra

removed applicationinsights dependency
  packages/io-wallet-common/package.json
  packages/io-wallet-common/src/infra/azure/appinsights/config.ts
  packages/io-wallet-common/src/infra/azure/appinsights/telemetry.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

comment AddWalletInstanceUserIdHandler
  apps/io-wallet-user-func/src/infra/azure/functions/add-wallet-instance-user-id.ts
  apps/io-wallet-user-func/src/infra/handlers/add-wallet-instance-user-id.ts
Labels: apps

udpated user and support tsconfig.json files
  apps/io-wallet-support-func/tsconfig.json
  apps/io-wallet-user-func/tsconfig.json
Labels: apps

added fiscalCode in isFiscalCodeWhitelisted exception
  apps/io-wallet-user-func/src/infra/http/handlers/is-fiscal-code-whitelisted.ts
Labels: apps

updated
  apps/io-wallet-user-func/src/infra/handlers/generate-entity-configuration.ts
  apps/io-wallet-user-func/src/infra/handlers/send-email-on-wallet-instance-creation.ts
  apps/io-wallet-user-func/src/infra/handlers/send-email-on-wallet-instance-revocation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation-v2.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/handlers/delete-wallet-instances.ts
  apps/io-wallet-user-func/src/infra/http/handlers/generate-certificate-chain.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-nonce.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/handlers/is-fiscal-code-whitelisted.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/telemetry/index.ts
  apps/io-wallet-user-func/src/telemetry.ts
Labels: apps

updated get-wallet-instance-status
  apps/io-wallet-user-func/src/infra/http/handlers/get-wallet-instance-status.ts
Labels: apps

updated support host file
  apps/io-wallet-support-func/host.json
Labels: apps

updated handlers
  apps/io-wallet-user-func/src/infra/handlers/generate-entity-configuration.ts
  apps/io-wallet-user-func/src/infra/handlers/send-email-on-wallet-instance-creation.ts
  apps/io-wallet-user-func/src/infra/handlers/send-email-on-wallet-instance-revocation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation-v2.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/handlers/delete-wallet-instances.ts
  apps/io-wallet-user-func/src/infra/http/handlers/generate-certificate-chain.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-nonce.ts
  apps/io-wallet-user-func/src/infra/http/handlers/is-fiscal-code-whitelisted.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-wallet-instance-status.ts
Labels: apps

updated code
  apps/io-wallet-user-func/src/infra/http/handlers/get-wallet-instance-status.ts
Labels: apps

run changeset
  .changeset/brown-walls-itch.md
  .changeset/fluffy-ducks-post.md
Labels: changeset

updated code
  apps/io-wallet-user-func/src/infra/telemetry/index.ts
Labels: apps

updated workflows
  .github/workflows/support_function_deploy.yaml
  .github/workflows/user_function_deploy.yaml
  .github/workflows/user_uat_function_deploy.yaml
Labels: ci

chore: updated workflows
  .github/workflows/support_function_deploy.yaml
  .github/workflows/user_function_deploy.yaml
  .github/workflows/user_uat_function_deploy.yaml
Labels: ci

update validateRevocation function
  apps/io-wallet-user-func/src/certificates.ts
Labels: apps

run changeset
  .changeset/every-fans-begin.md
Labels: changeset

fix
  apps/io-wallet-user-func/src/certificates.ts
Labels: apps

chore: update validateRevocation function
  .changeset/every-fans-begin.md
  apps/io-wallet-user-func/src/certificates.ts
Labels: apps, changeset

updated key vault secret
  infra/resources/_modules/apim/apim.tf
Labels: infra

fix plan
  infra/resources/_modules/apim/apim.tf
Labels: infra

infra: updated key vault secret for io-web
  infra/resources/_modules/apim/apim.tf
Labels: infra

add new google public key
  apps/io-wallet-user-func/src/__test__/certificates.spec.ts
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/certificates.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/__test__/attestation.spec.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/attestation.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/index.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/index.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/ios/attestation.ts
Labels: apps

.github/labeler.yml:

apps: apps/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*
