Repository pagopa/io-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, sd-jwt, apps, docs, ci, infra, changeset

updated release
  .github/workflows/release.yaml
Labels: ci

updated release
  .github/workflows/release.yaml
Labels: ci

updated openapi
  apps/io-wallet-user-func/openapi.yaml
Labels: apps

updated openapi
  apps/io-wallet-user-func/openapi.yaml
Labels: apps

run changeset
  .changeset/two-hotels-brush.md
Labels: changeset

run changeset
  .changeset/two-hotels-brush.md
Labels: changeset

chore: update api title
  .changeset/two-hotels-brush.md
  apps/io-wallet-user-func/openapi.yaml
Labels: apps, changeset

chore: update api title
  .changeset/two-hotels-brush.md
  apps/io-wallet-user-func/openapi.yaml
Labels: apps, changeset

removed changeset files
  .changeset/few-days-love.md
  .changeset/hip-ligers-sin.md
Labels: changeset

removed changeset files
  .changeset/few-days-love.md
  .changeset/hip-ligers-sin.md
Labels: changeset

remove comment
  infra/resources/_modules/function_apps/function_app_user.tf
Labels: infra

fix variable
  infra/resources/_modules/function_apps/function_app_user.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/prod/main.tf
Labels: infra

[SIW-984] Add Function App (#79)
  infra/resources/_modules/cosmos/outputs.tf
  infra/resources/_modules/function_apps/function_app_user.tf
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/main.tf
  infra/resources/_modules/function_apps/outputs.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/_modules/iam/cosmos_iam.tf
  infra/resources/_modules/iam/key_vault_iam.tf
  infra/resources/_modules/iam/main.tf
  infra/resources/_modules/iam/variables.tf
  infra/resources/_modules/key_vaults/variables.tf
  infra/resources/_modules/networking/outputs.tf
  infra/resources/_modules/networking/subnet_wallet.tf
  infra/resources/_modules/networking/variables.tf
  infra/resources/prod/.terraform.lock.hcl
  infra/resources/prod/README.md
  infra/resources/prod/data.tf
  infra/resources/prod/main.tf
Labels: infra

[SIW-984] Add Function App (#79)
  infra/resources/_modules/cosmos/outputs.tf
  infra/resources/_modules/function_apps/function_app_user.tf
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/main.tf
  infra/resources/_modules/function_apps/outputs.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/_modules/iam/cosmos_iam.tf
  infra/resources/_modules/iam/key_vault_iam.tf
  infra/resources/_modules/iam/main.tf
  infra/resources/_modules/iam/variables.tf
  infra/resources/_modules/key_vaults/variables.tf
  infra/resources/_modules/networking/outputs.tf
  infra/resources/_modules/networking/subnet_wallet.tf
  infra/resources/_modules/networking/variables.tf
  infra/resources/prod/.terraform.lock.hcl
  infra/resources/prod/README.md
  infra/resources/prod/data.tf
  infra/resources/prod/main.tf
Labels: infra

updated createWalletAttestation status code success
  apps/io-wallet-user-func/openapi.yaml
Labels: apps

updated handler
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/utils.ts
Labels: apps

chore: updated createWalletAttestation status code on success
  apps/io-wallet-user-func/openapi.yaml
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/utils.ts
Labels: apps

chore: updated createWalletAttestation status code on success
  apps/io-wallet-user-func/openapi.yaml
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/utils.ts
Labels: apps

run changeset
  .changeset/silver-carrots-serve.md
Labels: changeset

run changeset
  .changeset/silver-carrots-serve.md
Labels: changeset

restore pre commit validate
  .pre-commit-config.yaml
Labels: none

add cdn
  infra/resources/_modules/cdn/alerts.tf
  infra/resources/_modules/cdn/cdn.tf
  infra/resources/_modules/cdn/cdn_hostname.tf
  infra/resources/_modules/cdn/dns.tf
  infra/resources/_modules/cdn/locals.tf
  infra/resources/_modules/cdn/main.tf
  infra/resources/_modules/cdn/outputs.tf
  infra/resources/_modules/cdn/storage_account.tf
  infra/resources/_modules/cdn/variables.tf
  infra/resources/_modules/iam/cdn_storage_account.tf
  infra/resources/_modules/iam/variables.tf
  infra/resources/prod/README.md
  infra/resources/prod/data.tf
  infra/resources/prod/main.tf
Labels: infra

remove cache control header manipulation
  infra/resources/_modules/cdn/cdn.tf
Labels: infra

restore pre commit
  .pre-commit-config.yaml
Labels: none

private agent
  .github/workflows/pr_infra.yaml
  .pre-commit-config.yaml
Labels: ci

test fix
  .github/workflows/pr_infra.yaml
Labels: ci

Fix client_data
  apps/io-wallet-user-func/src/infra/attestation-service/index.ts
Labels: apps

fix: Fix `client_data` attributes
  apps/io-wallet-user-func/src/infra/attestation-service/index.ts
Labels: apps

fix: Fix `client_data` attributes
  apps/io-wallet-user-func/src/infra/attestation-service/index.ts
Labels: apps

restore workflow
  .github/workflows/pr_infra.yaml
Labels: ci

ignore modules for tf validate
  .pre-commit-config.yaml
Labels: none

updated gh wf release and added user_function_deploy
  .github/workflows/release.yaml
  .github/workflows/user_function_deploy.yaml
Labels: ci

chore: updated GitHub workflows
  .github/workflows/release.yaml
  .github/workflows/user_function_deploy.yaml
Labels: ci

chore: updated GitHub workflows
  .github/workflows/release.yaml
  .github/workflows/user_function_deploy.yaml
Labels: ci

[SIW-989] Add CDN for static files (#85)
  .pre-commit-config.yaml
  infra/resources/_modules/cdn/alerts.tf
  infra/resources/_modules/cdn/cdn.tf
  infra/resources/_modules/cdn/cdn_hostname.tf
  infra/resources/_modules/cdn/dns.tf
  infra/resources/_modules/cdn/locals.tf
  infra/resources/_modules/cdn/main.tf
  infra/resources/_modules/cdn/outputs.tf
  infra/resources/_modules/cdn/storage_account.tf
  infra/resources/_modules/cdn/variables.tf
  infra/resources/_modules/iam/cdn_storage_account.tf
  infra/resources/_modules/iam/variables.tf
  infra/resources/prod/README.md
  infra/resources/prod/data.tf
  infra/resources/prod/main.tf
Labels: infra

[SIW-989] Add CDN for static files (#85)
  .pre-commit-config.yaml
  infra/resources/_modules/cdn/alerts.tf
  infra/resources/_modules/cdn/cdn.tf
  infra/resources/_modules/cdn/cdn_hostname.tf
  infra/resources/_modules/cdn/dns.tf
  infra/resources/_modules/cdn/locals.tf
  infra/resources/_modules/cdn/main.tf
  infra/resources/_modules/cdn/outputs.tf
  infra/resources/_modules/cdn/storage_account.tf
  infra/resources/_modules/cdn/variables.tf
  infra/resources/_modules/iam/cdn_storage_account.tf
  infra/resources/_modules/iam/variables.tf
  infra/resources/prod/README.md
  infra/resources/prod/data.tf
  infra/resources/prod/main.tf
Labels: infra

delete cloud defender for storage account
  infra/resources/_modules/cdn/storage_account.tf
Labels: infra

tentative fix gh wf
  .github/workflows/release.yaml
Labels: ci

[SIW-989] Delete Cloud Defender resource for CDN Storage Account (#89)
  infra/resources/_modules/cdn/storage_account.tf
Labels: infra

[SIW-989] Delete Cloud Defender resource for CDN Storage Account (#89)
  infra/resources/_modules/cdn/storage_account.tf
Labels: infra

.github/labeler.yml:

internal: packages/**/*
sd-jwt: packages/sd-jwt/*
apps: apps/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*
