Repository pagopa/io-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, sd-jwt, apps, docs, ci, infra, changeset

Renaming the handler function's name
  apps/io-wallet-user-func/src/app/main.ts
  infra/resources/_modules/function_apps/locals.tf
Labels: apps, infra

[SIW-1560] Add queue triggered function for email sender (#329)
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/storage/wallet-instance-revocation.ts
  apps/io-wallet-user-func/src/infra/handlers/send-email-on-wallet-instance-creation.ts
  apps/io-wallet-user-func/src/templates/wallet-instance-activation/index.html.ts
  apps/io-wallet-user-func/src/wallet-instance-revocation-process.ts
  infra/resources/_modules/function_apps/locals.tf
Labels: apps, infra

Fixing unit tests of CreateWalletInstance
  apps/io-wallet-user-func/src/infra/azure/storage/queue.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
Labels: apps

Fixing sendMessage() mock for the unit tests of CreateWalletInstance
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
Labels: apps

Renaming a config
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
Labels: apps

Renaming an env var o "SendEmailQueueName"
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
Labels: apps

Using mailFeatureFlag to enable/disable the email sending
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
Labels: apps

add auth profile call to get user email
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/email-notification-service.ts
  apps/io-wallet-user-func/src/email.ts
  apps/io-wallet-user-func/src/infra/email-notification-service/index.ts
  apps/io-wallet-user-func/src/infra/email.ts
  apps/io-wallet-user-func/src/infra/handlers/send-email-on-wallet-instance-creation.ts
Labels: apps

fix build
  apps/io-wallet-user-func/src/app/main.ts
Labels: apps

updated email notification service implementation
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/email.ts
  apps/io-wallet-user-func/src/infra/email.ts
Labels: apps

added variables in terraform
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/prod/locals.tf
Labels: infra

chore: added request to auth profile to get user email
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/email-notification-service.ts
  apps/io-wallet-user-func/src/email.ts
  apps/io-wallet-user-func/src/infra/email-notification-service/index.ts
  apps/io-wallet-user-func/src/infra/email.ts
  apps/io-wallet-user-func/src/infra/handlers/send-email-on-wallet-instance-creation.ts
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/prod/locals.tf
Labels: apps, infra

Removing the RevocationQueueName tf var; using mailfeatureConfig as emailQueuingEnabled parameter in CreateWalletInstance
  apps/io-wallet-user-func/src/infra/email.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  infra/resources/_modules/function_apps/locals.tf
Labels: apps, infra

Removing revocation queue from terraform and adding SendEmailQueueName to locals.tf
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/_modules/storage_accounts/outputs.tf
  infra/resources/_modules/storage_accounts/storage_queue.tf
  infra/resources/prod/main.tf
Labels: infra

Fixing output.tf
  infra/resources/_modules/storage_accounts/outputs.tf
Labels: infra

Restored validate_wallet_instance_certificates_queue_name
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/_modules/storage_accounts/outputs.tf
  infra/resources/_modules/storage_accounts/storage_queue.tf
  infra/resources/prod/main.tf
Labels: infra

Fixing a type in the revocation_queue_name_02 identifier
  infra/resources/prod/main.tf
Labels: infra

Using the correct var: revocation_queue_name
  infra/resources/prod/main.tf
Labels: infra

Adding the send_email_queue_name variable
  infra/resources/prod/main.tf
Labels: infra

Using the correct azure name for the revocation_queue_name_02 resource
  infra/resources/_modules/storage_accounts/outputs.tf
Labels: infra

Adding MailUp's env vars to terraform
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/prod/locals.tf
Labels: infra

upgrade azurerm provider version
  infra/resources/prod/.terraform.lock.hcl
  infra/resources/prod/main.tf
Labels: infra

update modules to v4 and import cosmos 2
  .terraform-version
  infra/resources/_modules/apim/README.md
  infra/resources/_modules/apim/apim.tf
  infra/resources/_modules/apim/product.tf
  infra/resources/_modules/cdn/README.md
  infra/resources/_modules/cdn/storage_account.tf
  infra/resources/_modules/cosmos/README.md
  infra/resources/_modules/cosmos/cosmos_accounts.tf
  infra/resources/_modules/cosmos/cosmos_containers.tf
  infra/resources/_modules/cosmos/locals.tf
  infra/resources/_modules/cosmos/variables.tf
  infra/resources/_modules/function_apps/README.md
  infra/resources/_modules/iam/README.md
  infra/resources/_modules/storage_accounts/README.md
  infra/resources/prod/.terraform.lock.hcl
  infra/resources/prod/README.md
  infra/resources/prod/data.tf
  infra/resources/prod/import.tf
  infra/resources/prod/main.tf
Labels: infra

fix apim ref
  infra/resources/_modules/apim/README.md
  infra/resources/_modules/apim/apim.tf
Labels: infra

remove commented code
  infra/resources/_modules/cdn/storage_account.tf
Labels: infra

Using ad hoc account storage queue for SendEmailQueueName variable
  infra/resources/_modules/storage_accounts/outputs.tf
  infra/resources/_modules/storage_accounts/storage_queue.tf
  infra/resources/prod/main.tf
Labels: infra

MailFeatureFlag = false and removing revocation_queue_name
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/prod/main.tf
Labels: infra

Renamed the storage queue for sending email
  infra/resources/_modules/storage_accounts/outputs.tf
  infra/resources/_modules/storage_accounts/storage_queue.tf
Labels: infra

Set the MailFeatureFlag to true
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

Removed MailSender variabile from key vault; using MailSender variable as normal terraform variable
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/prod/locals.tf
Labels: infra

Set MailFeatureFlag to false
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

Fixing the CSS style for IO Wallet logo
  apps/io-wallet-user-func/src/templates/wallet-instance-activation/index.html.ts
  apps/io-wallet-user-func/src/templates/wallet-instance-activation/main-logo.mjml
  apps/io-wallet-user-func/src/templates/wallet-instance-activation/style.css
Labels: apps

Fixing dark and light themes
  apps/io-wallet-user-func/src/templates/wallet-instance-activation/footer.mjml
  apps/io-wallet-user-func/src/templates/wallet-instance-activation/index.html
  apps/io-wallet-user-func/src/templates/wallet-instance-activation/index.html.ts
  apps/io-wallet-user-func/src/templates/wallet-instance-activation/index.mjml
  apps/io-wallet-user-func/src/templates/wallet-instance-activation/main-logo.mjml
  apps/io-wallet-user-func/src/templates/wallet-instance-activation/style.css
Labels: apps

Make readme shorter
  README.md
Labels: none

Changed nested README for support APIs
  apps/io-wallet-support-func/README.md
Labels: apps

Changed nested README for user APIs
  apps/io-wallet-user-func/README.md
Labels: apps

Changed nested README for common package
  packages/io-wallet-common/README.md
Labels: internal

chore: README.md files enhancement (#257)
  README.md
  apps/io-wallet-user-func/README.md
  packages/io-wallet-common/README.md
Labels: internal, apps

chore: README.md files enhancement (#257)
  README.md
  apps/io-wallet-user-func/README.md
  packages/io-wallet-common/README.md
Labels: internal, apps

revert to sync call to PID issuer
  .changeset/silent-cherries-help.md
  apps/io-wallet-user-func/.opex/management/env/prod/config.yaml
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/functions/call-pid-issuer-revoke-api.ts
  apps/io-wallet-user-func/src/infra/handlers/__test__/call-pid-issuer-revoke-api.spec.ts
  apps/io-wallet-user-func/src/infra/handlers/call-pid-issuer-revoke-api.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-current-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-current-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-wallet-instance-status.ts
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/_modules/storage_accounts/outputs.tf
  infra/resources/_modules/storage_accounts/storage_queue.tf
  infra/resources/prod/main.tf
Labels: apps, infra, changeset

.github/labeler.yml:

internal: packages/**/*
sd-jwt: packages/sd-jwt/*
apps: apps/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*
