Repository pagopa/io-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, infra, changeset

.github/labeler.yml:

apps: apps/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*

Restore shared workflow configuration
  .github/workflows/validate_psn_infra.yaml
Labels: ci

Pass token to Terraform module downloads
  .github/workflows/validate_psn_infra.yaml
Labels: ci

scaled out cosmos and function app
  infra/resources/_modules/function_apps/function_app_user.tf
  infra/resources/psn/prod/main.tf
Labels: infra

infra: scaled out cosmos and function app
  infra/resources/_modules/function_apps/function_app_user.tf
  infra/resources/psn/prod/main.tf
Labels: infra

updated pre-commit
  .pre-commit-config.yaml
Labels: none

chore: updated pre-commit config
  .pre-commit-config.yaml
Labels: none

updated config
  apps/io-wallet-whitelist-func/host.json
  infra/resources/_modules/function_apps/locals.tf
Labels: apps, infra

run changeset
  .changeset/odd-rats-drive.md
Labels: changeset

chore: updated whitelist function app config
  .changeset/odd-rats-drive.md
  apps/io-wallet-whitelist-func/host.json
  infra/resources/_modules/function_apps/locals.tf
Labels: apps, infra, changeset

update PSN gateway and APIM scaling
  infra/core/psn/hub/prod/appgw.tf
  infra/resources/psn/prod/apim.tf
Labels: infra

updated APIM config
  infra/resources/psn/prod/apim.tf
Labels: infra

infra: update PSN gateway and APIM scaling
  infra/core/psn/hub/prod/appgw.tf
  infra/resources/psn/prod/apim.tf
Labels: infra

updated EnqueueWhitelistedFiscalCodes function
  .changeset/olive-llamas-serve.md
  apps/io-wallet-whitelist-func/local.settings.json.example
  apps/io-wallet-whitelist-func/package.json
  apps/io-wallet-whitelist-func/src/app/main.ts
  apps/io-wallet-whitelist-func/src/infra/azure/functions/enqueue-whitelisted-fiscal-codes.ts
  apps/io-wallet-whitelist-func/src/infra/handlers/enqueue-whitelisted-fiscal-codes.ts
  infra/resources/_modules/function_apps/locals.tf
  pnpm-lock.yaml
Labels: apps, infra, changeset

chore: updated EnqueueWhitelistedFiscalCodes function
  .changeset/olive-llamas-serve.md
  apps/io-wallet-whitelist-func/local.settings.json.example
  apps/io-wallet-whitelist-func/package.json
  apps/io-wallet-whitelist-func/src/app/main.ts
  apps/io-wallet-whitelist-func/src/infra/azure/functions/enqueue-whitelisted-fiscal-codes.ts
  apps/io-wallet-whitelist-func/src/infra/handlers/enqueue-whitelisted-fiscal-codes.ts
  infra/resources/_modules/function_apps/locals.tf
  pnpm-lock.yaml
Labels: apps, infra, changeset

created new container in storage account
  infra/resources/psn/prod/cdn.tf
Labels: infra

updated BulkChunkSize value
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

infra: created new container in storage account
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/psn/prod/cdn.tf
Labels: infra

added images container
  infra/resources/psn/prod/cdn.tf
Labels: infra

infra: added images container
  infra/resources/psn/prod/cdn.tf
Labels: infra

updated app settings
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

infra: updated app settings
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

added keys container
  infra/resources/_modules/cosmos/locals.tf
  infra/resources/_modules/cosmos/variables.tf
  infra/resources/psn/prod/main.tf
Labels: infra

increased nonces container throughput
  infra/resources/psn/prod/main.tf
Labels: infra

increases status-list related containers throughput
  infra/resources/psn/prod/main.tf
Labels: infra

infra: increased nonces container throughput
  infra/resources/psn/prod/main.tf
Labels: infra

updated FederationEntityBasePathV13 app setting
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

infra: updated FederationEntityBasePathV13 app setting
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

removed endpoints /intermediate-keys and /leaf-keys
  .changeset/README.md
  .changeset/config.json
  .changeset/real-swans-pull.md
  .changeset/tame-eagles-help.md
  apps/io-wallet-user-func/openapi.yaml
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/key.ts
  apps/io-wallet-user-func/src/infra/azure/functions/create-intermediate-key.ts
  apps/io-wallet-user-func/src/infra/azure/functions/create-leaf-key.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/create-intermediate-key.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/create-leaf-key.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-intermediate-key.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-leaf-key.ts
  apps/io-wallet-user-func/src/keys.ts
  infra/resources/psn/prod/apim/api/entity-intermediate-ca-uat/swagger.yaml
  infra/resources/psn/prod/apim/api/entity-intermediate-ca/swagger.yaml
  infra/resources/psn/prod/apim_apis.tf
  infra/resources/psn/prod/key_vault_secrets.tf
Labels: apps, infra, changeset

restore .changeset directory
  .changeset/README.md
  .changeset/config.json
Labels: changeset

remove unused code
  apps/io-wallet-user-func/package.json
  infra/resources/psn/prod/apim_apis.tf
Labels: apps, infra

remove unused code
  apps/io-wallet-user-func/package.json
  apps/io-wallet-user-func/src/infra/azure/key-vault/key.ts
Labels: apps

removed unused code from config.ts
  apps/io-wallet-user-func/src/app/config.ts
Labels: apps

updated pnpm lock file
  pnpm-lock.yaml
Labels: none

added scripts to create keys
  package.json
  packages/io-wallet-key-cli/.env.example
  packages/io-wallet-key-cli/README.md
  packages/io-wallet-key-cli/eslint.config.mjs
  packages/io-wallet-key-cli/package.json
  packages/io-wallet-key-cli/src/cli.ts
  packages/io-wallet-key-cli/src/provisioning.ts
  packages/io-wallet-key-cli/tsconfig.json
  pnpm-lock.yaml
Labels: none

fix lint
  packages/io-wallet-key-cli/package.json
  packages/io-wallet-key-cli/src/provisioning.ts
Labels: none

little update
  packages/io-wallet-key-cli/src/provisioning.ts
Labels: none

little fix
  packages/io-wallet-key-cli/src/provisioning.ts
Labels: none

updated pnpm lock file
  pnpm-lock.yaml
Labels: none

feat: added key-provisioning CLI
  infra/resources/_modules/cosmos/locals.tf
  infra/resources/_modules/cosmos/variables.tf
  infra/resources/psn/prod/main.tf
  package.json
  packages/io-wallet-common/src/jwk.ts
  packages/io-wallet-key-cli/.env.example
  packages/io-wallet-key-cli/README.md
  packages/io-wallet-key-cli/eslint.config.mjs
  packages/io-wallet-key-cli/package.json
  packages/io-wallet-key-cli/src/cli.ts
  packages/io-wallet-key-cli/src/provisioning.ts
  packages/io-wallet-key-cli/tsconfig.json
  pnpm-lock.yaml
Labels: infra

fix code-review
  apps/io-wallet-user-func/src/infra/azure/cosmos/key.ts
  packages/io-wallet-common/src/jwk.ts
Labels: apps
