Repository pagopa/io-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, sd-jwt, apps, docs, ci, infra, changeset

updated authLevel in function configuration
  apps/io-func-wallet-solution-backend/src/app/main.ts
Labels: apps

feat: updated authLevel in functions configuration
  apps/io-func-wallet-solution-backend/src/app/main.ts
Labels: apps

feat: updated authLevel in functions configuration
  apps/io-func-wallet-solution-backend/src/app/main.ts
Labels: apps

insert wallet instance on database
  apps/io-func-wallet-solution-backend/openapi.yaml
  apps/io-func-wallet-solution-backend/src/app/main.ts
  apps/io-func-wallet-solution-backend/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-func-wallet-solution-backend/src/wallet-instance.ts
Labels: apps

updated openapi
  apps/io-func-wallet-solution-backend/openapi.yaml
Labels: apps

updated
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/get-user-id-by-fiscal-code.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-func-wallet-solution-backend/src/infra/pdv-tokenizer/client.ts
  apps/io-func-wallet-solution-backend/src/user.ts
  apps/io-func-wallet-solution-backend/src/wallet-instance.ts
Labels: apps

updated
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-func-wallet-solution-backend/src/wallet-instance.ts
Labels: apps

removed keyword export
  apps/io-func-wallet-solution-backend/src/wallet-instance.ts
Labels: apps

changed handler
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-func-wallet-solution-backend/src/wallet-instance.ts
Labels: apps

deleted unused type
  apps/io-func-wallet-solution-backend/src/wallet-instance.ts
Labels: apps

deleted comments
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-func-wallet-solution-backend/src/wallet-instance.ts
Labels: apps

replaced UserId with User
  apps/io-func-wallet-solution-backend/openapi.yaml
  apps/io-func-wallet-solution-backend/src/app/main.ts
  apps/io-func-wallet-solution-backend/src/infra/azure/functions/get-user-by-fiscal-code.ts
  apps/io-func-wallet-solution-backend/src/infra/azure/functions/get-user-id-by-fiscal-code.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/get-user-by-fiscal-code.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/get-user-by-fiscal-code.ts
  apps/io-func-wallet-solution-backend/src/infra/pdv-tokenizer/client.ts
  apps/io-func-wallet-solution-backend/src/user.ts
Labels: apps

fix
  apps/io-func-wallet-solution-backend/src/app/main.ts
  apps/io-func-wallet-solution-backend/src/infra/azure/functions/get-user-by-fiscal-code.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/get-user-by-fiscal-code.spec.ts
Labels: apps

chore: add device registration
  apps/io-func-wallet-solution-backend/openapi.yaml
  apps/io-func-wallet-solution-backend/src/app/main.ts
  apps/io-func-wallet-solution-backend/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-func-wallet-solution-backend/src/infra/azure/functions/get-user-by-fiscal-code.ts
  apps/io-func-wallet-solution-backend/src/infra/azure/functions/get-user-id-by-fiscal-code.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/get-user-by-fiscal-code.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/get-user-by-fiscal-code.ts
  apps/io-func-wallet-solution-backend/src/infra/pdv-tokenizer/client.ts
  apps/io-func-wallet-solution-backend/src/user.ts
  apps/io-func-wallet-solution-backend/src/wallet-instance.ts
Labels: apps

chore: add device registration
  apps/io-func-wallet-solution-backend/openapi.yaml
  apps/io-func-wallet-solution-backend/src/app/main.ts
  apps/io-func-wallet-solution-backend/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-func-wallet-solution-backend/src/infra/azure/functions/get-user-by-fiscal-code.ts
  apps/io-func-wallet-solution-backend/src/infra/azure/functions/get-user-id-by-fiscal-code.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/get-user-by-fiscal-code.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/get-user-by-fiscal-code.ts
  apps/io-func-wallet-solution-backend/src/infra/pdv-tokenizer/client.ts
  apps/io-func-wallet-solution-backend/src/user.ts
  apps/io-func-wallet-solution-backend/src/wallet-instance.ts
Labels: apps

add get hardwarekey from hardwarekeytag
  apps/io-func-wallet-solution-backend/src/attestation-service.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/index.ts
  apps/io-func-wallet-solution-backend/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-func-wallet-solution-backend/src/wallet-instance.ts
Labels: apps

updated code-review workflow
  .github/workflows/code-review.yaml
Labels: ci

updated @pagopa/handler-kit-azure-func and added @pagopa/handler-kit dependencies
  apps/io-func-wallet-solution-backend/package.json
  yarn.lock
Labels: apps

Add openapi and getUser by header
  apps/io-func-wallet-solution-backend/openapi.yaml
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/create-wallet-attestation.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/utils.ts
  apps/io-func-wallet-solution-backend/src/wallet-provider.ts
Labels: apps

chore: updated code-review workflow
  .github/workflows/code-review.yaml
Labels: ci

chore: updated code-review workflow
  .github/workflows/code-review.yaml
Labels: ci

chore: updated handler-kit dependencies
  apps/io-func-wallet-solution-backend/package.json
  yarn.lock
Labels: apps

chore: updated handler-kit dependencies
  apps/io-func-wallet-solution-backend/package.json
  yarn.lock
Labels: apps

moved validateAttestation to @/attestation-service and rewrote validateAssertion method as a TaskEither
  apps/io-func-wallet-solution-backend/src/attestation-service.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/index.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-func-wallet-solution-backend/src/wallet-instance.ts
Labels: apps

upgrade node version
  .node-version
Labels: none

add .node-version file changes as trigger
  .github/workflows/code-review.yaml
Labels: ci

chore: upgrade node version and added .node-version as trigger for code-review wf
  .github/workflows/code-review.yaml
  .node-version
Labels: ci

chore: upgrade node version and added .node-version as trigger for code-review wf
  .github/workflows/code-review.yaml
  .node-version
Labels: ci

add get hardwarekey from hardwarekeytag
  apps/io-func-wallet-solution-backend/src/attestation-service.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/index.ts
  apps/io-func-wallet-solution-backend/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-func-wallet-solution-backend/src/wallet-instance.ts
Labels: apps

moved validateAttestation to @/attestation-service and rewrote validateAssertion method as a TaskEither
  apps/io-func-wallet-solution-backend/src/attestation-service.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/index.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-func-wallet-solution-backend/src/wallet-instance.ts
Labels: apps

updated @pagopa/handler-kit-azure-func dependency
  apps/io-func-wallet-solution-backend/package.json
  yarn.lock
Labels: apps

fix: [SIW-1079] updated @pagopa/handler-kit-azure-func dependency
  apps/io-func-wallet-solution-backend/package.json
  yarn.lock
Labels: apps

fix: [SIW-1079] updated @pagopa/handler-kit-azure-func dependency
  apps/io-func-wallet-solution-backend/package.json
  yarn.lock
Labels: apps

Update apps/io-func-wallet-solution-backend/src/infra/attestation-service/index.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/index.ts
Labels: apps

moved getWalletInstance to getValidWalletInstance
  apps/io-func-wallet-solution-backend/src/wallet-instance.ts
Labels: apps

chore: add getting the hardwareKey and signCount from database on validateAssertion
  apps/io-func-wallet-solution-backend/src/attestation-service.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/index.ts
  apps/io-func-wallet-solution-backend/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-func-wallet-solution-backend/src/wallet-instance.ts
Labels: apps

chore: add getting the hardwareKey and signCount from database on validateAssertion
  apps/io-func-wallet-solution-backend/src/attestation-service.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/index.ts
  apps/io-func-wallet-solution-backend/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-func-wallet-solution-backend/src/wallet-instance.ts
Labels: apps

replaced JWK jose type with JWKPublicKey type
  apps/io-func-wallet-solution-backend/src/__test__/jwk.spec.ts
  apps/io-func-wallet-solution-backend/src/attestation-service.ts
  apps/io-func-wallet-solution-backend/src/entity-configuration.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/android/index.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/ios/__test__/config.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/ios/index.ts
  apps/io-func-wallet-solution-backend/src/infra/crypto/__test__/signer.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/get-entity-configuration.ts
  apps/io-func-wallet-solution-backend/src/jwk.ts
  apps/io-func-wallet-solution-backend/src/wallet-attestation.ts
Labels: apps

updated
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/android/__test__/assertion.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/android/assertion.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/ios/assertion.ts
Labels: apps

updated
  apps/io-func-wallet-solution-backend/src/wallet-instance.ts
Labels: apps

.github/labeler.yml:

internal: packages/**/*
sd-jwt: packages/sd-jwt/*
apps: apps/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*
