Repository pagopa/io-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, infra, changeset

Setup Application Gateway to connect to APIM via custom internal domain (#612)
  infra/core/psn/hub/prod/README.md
  infra/core/psn/hub/prod/appgw.tf
  infra/core/psn/hub/prod/locals.tf
  infra/core/psn/hub/prod/networking.tf
  infra/core/psn/hub/prod/private_dns_zones.tf
  infra/resources/prod/data.tf
  infra/resources/prod/dns.tf
  infra/resources/psn/prod/README.md
  infra/resources/psn/prod/apim.tf
  infra/resources/psn/prod/architecture.mmd
  infra/resources/psn/prod/architecture.png
  infra/resources/psn/prod/data.tf
  infra/resources/psn/prod/main.tf
Labels: infra

changed createLeaseCollectionIfNotExists to false
  apps/io-wallet-user-func/src/app/main.ts
Labels: apps

run changeset
  .changeset/rare-trams-bake.md
Labels: changeset

chore: update migrate wi function
  .changeset/rare-trams-bake.md
  apps/io-wallet-user-func/src/app/main.ts
Labels: apps, changeset

update appgw with public dns
  infra/core/psn/hub/prod/appgw.tf
Labels: infra

update apim networking
  infra/resources/prod/README.md
  infra/resources/prod/apim_platform.tf
  infra/resources/prod/dns.tf
Labels: infra

Add api.io.wallet.pagopa.it to PSN AppGw (#615)
  infra/core/psn/hub/prod/appgw.tf
  infra/resources/prod/README.md
  infra/resources/prod/apim_platform.tf
  infra/resources/prod/dns.tf
Labels: infra

Add CDN Endpoint Contributor role to Function App user
  infra/resources/_modules/iam/cdn.tf
  infra/resources/_modules/iam/variables.tf
  infra/resources/prod/main.tf
Labels: infra

add null to front_door_endpoint_id for PSN
  infra/resources/psn/prod/main.tf
Labels: infra

renamed variable
  infra/resources/_modules/iam/cdn.tf
  infra/resources/_modules/iam/variables.tf
  infra/resources/prod/main.tf
  infra/resources/psn/prod/main.tf
Labels: infra

infra: add CDN Endpoint Contributor role to Function App user
  infra/resources/_modules/iam/cdn.tf
  infra/resources/_modules/iam/variables.tf
  infra/resources/prod/main.tf
  infra/resources/psn/prod/main.tf
Labels: infra

fix path
  infra/core/psn/hub/prod/appgw.tf
Labels: infra

Fix PSN AppGw Listener path (#617)
  infra/core/psn/hub/prod/appgw.tf
Labels: infra

updated host.json routeprefix
  .changeset/seven-crews-like.md
  apps/io-wallet-user-func/host.json
Labels: apps, changeset

remove slash
  apps/io-wallet-user-func/host.json
Labels: apps

updated host.json routeprefix
  .changeset/seven-crews-like.md
  apps/io-wallet-user-func/host.json
Labels: apps, changeset

revert routeprefix in host json user file
  apps/io-wallet-user-func/host.json
Labels: apps

reduce ttl
  infra/resources/_modules/dns/recordsets.tf
Labels: infra

replace cdn with appgw
  infra/resources/_modules/dns/recordsets.tf
Labels: infra

add record
  infra/resources/prod/README.md
  infra/resources/prod/dns.tf
  infra/resources/prod/main.tf
Labels: infra

fix: App CI and CD identity federation
  infra/bootstrapper/prod/secrets.tf
Labels: infra

remove custom domain from cdn
  infra/resources/_modules/cdn/cdn_hostname.tf
Labels: infra

Fix App Managed Identity federation (#625)
  infra/bootstrapper/prod/secrets.tf
Labels: infra

add custom domain
  infra/resources/psn/prod/cdn.tf
Labels: infra

add hub doc
  infra/core/psn/hub/prod/README.md
Labels: infra

Update infra/core/psn/hub/prod/README.md
  infra/core/psn/hub/prod/README.md
Labels: infra

update certificate section
  infra/core/psn/hub/prod/README.md
Labels: infra

Update infra/core/psn/hub/prod/README.md
  infra/core/psn/hub/prod/README.md
Labels: infra

Update infra/core/psn/hub/prod/README.md
  infra/core/psn/hub/prod/README.md
Labels: infra

fix typos
  infra/core/psn/hub/prod/README.md
Labels: infra

Update infra/core/psn/hub/prod/README.md
  infra/core/psn/hub/prod/README.md
Labels: infra

replace tags
  infra/core/psn/hub/prod/README.md
Labels: infra

Update infra/core/psn/hub/prod/README.md
  infra/core/psn/hub/prod/README.md
Labels: infra

Update infra/core/psn/hub/prod/README.md
  infra/core/psn/hub/prod/README.md
Labels: infra

revert routeprefix in host json user file
  apps/io-wallet-user-func/host.json
Labels: apps

Add Hub documentation (#589)
  infra/core/psn/hub/prod/README.md
Labels: infra

improve doc
  infra/core/pagopa/prod/README.md
Labels: infra

Apply suggestions from code review
  infra/core/pagopa/prod/README.md
  infra/core/pagopa/prod/psn_integration.tf
Labels: infra

add doc
  infra/core/pagopa/prod/README.md
  infra/core/pagopa/prod/psn_integration.tf
Labels: infra

update dns route
  infra/core/pagopa/prod/README.md
  infra/core/pagopa/prod/data.tf
  infra/core/pagopa/prod/psn_integration.tf
Labels: infra

.github/labeler.yml:

apps: apps/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*
