Repository pagopa/io-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, sd-jwt, apps, docs, ci, infra, changeset

.github/labeler.yml:

internal: packages/**/*
sd-jwt: packages/sd-jwt/*
apps: apps/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*

fix: updated user_function_deploy github workflow
  .github/workflows/user_function_deploy.yaml
Labels: ci

updated github workflow
  .github/workflows/user_function_deploy.yaml
Labels: ci

added magic link jwt validation
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-current-wallet-instance.status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/jwt-validator.ts
  apps/io-wallet-user-func/src/infra/http/whitelisted-user.ts
  apps/io-wallet-user-func/src/infra/jwt-validator.ts
  apps/io-wallet-user-func/src/jwt-validator.ts
  infra/resources/_modules/function_apps/locals.tf
Labels: apps, infra

run changeset
  .changeset/unlucky-wolves-accept.md
Labels: changeset

added comment
  apps/io-wallet-user-func/src/infra/jwt-validator.ts
Labels: apps

fix: added magic link jwt validation
  .changeset/unlucky-wolves-accept.md
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-current-wallet-instance.status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/jwt-validator.ts
  apps/io-wallet-user-func/src/infra/http/whitelisted-user.ts
  apps/io-wallet-user-func/src/infra/jwt-validator.ts
  apps/io-wallet-user-func/src/jwt-validator.ts
  infra/resources/_modules/function_apps/locals.tf
Labels: apps, infra, changeset

fix: added magic link jwt validation
  .changeset/unlucky-wolves-accept.md
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-current-wallet-instance.status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/jwt-validator.ts
  apps/io-wallet-user-func/src/infra/http/whitelisted-user.ts
  apps/io-wallet-user-func/src/infra/jwt-validator.ts
  apps/io-wallet-user-func/src/jwt-validator.ts
  infra/resources/_modules/function_apps/locals.tf
Labels: apps, infra, changeset

add ping env var
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

fix: updated deploy github workflow
  .github/workflows/user_function_deploy.yaml
  .yarn/releases/yarn-3.6.3.cjs
  .yarn/releases/yarn-4.4.1.cjs
  .yarnrc.yml
  apps/io-wallet-user-func/package.json
  infra/resources/_modules/function_apps/locals.tf
  package.json
  yarn.lock
Labels: apps, ci, infra

fix: updated deploy github workflow
  .github/workflows/user_function_deploy.yaml
  .yarn/releases/yarn-3.6.3.cjs
  .yarn/releases/yarn-4.4.1.cjs
  .yarnrc.yml
  apps/io-wallet-user-func/package.json
  infra/resources/_modules/function_apps/locals.tf
  package.json
  yarn.lock
Labels: apps, ci, infra

deleted lock file
  yarn.lock
Labels: none

updated yarn
  .yarn/releases/yarn-3.6.3.cjs
  .yarn/releases/yarn-4.4.1.cjs
  .yarnrc.yml
  apps/io-wallet-support-func/package.json
  apps/io-wallet-user-func/package.json
  package.json
  packages/io-wallet-common/package.json
  yarn.lock
Labels: internal, apps

deleted comment
  packages/io-wallet-common/src/jwk.ts
Labels: internal

added health handler unit test
  apps/io-wallet-support-func/src/app/main.ts
  apps/io-wallet-support-func/src/infra/http/handlers/__test__/foo.spec.ts
  apps/io-wallet-support-func/src/infra/http/handlers/__test__/health.spec.ts
  apps/io-wallet-support-func/src/infra/http/handlers/health.ts
Labels: apps

wallet-instance encoder stuff in io-wallet-user-func
  apps/io-wallet-user-func/src/encoders/wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-current-wallet-instance-status.ts
  packages/io-wallet-common/src/wallet-instance.ts
Labels: internal, apps

updated openapi
  apps/io-wallet-support-func/openapi.yaml
Labels: apps

updated files config
  apps/io-wallet-support-func/package.json
  apps/io-wallet-support-func/src/app/config.ts
  apps/io-wallet-support-func/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-wallet-support-func/src/wallet-instance.ts
  apps/io-wallet-support-func/tsconfig.json
  packages/io-wallet-common/tsconfig.json
Labels: internal, apps

added comment
  packages/io-wallet-common/src/infra/http/error.ts
Labels: internal

updated yarn.lock file
  yarn.lock
Labels: none

add new function app support-func
  infra/resources/_modules/function_apps/function_app_support.tf
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

support -> supp as app_name
  infra/resources/_modules/function_apps/function_app_support.tf
Labels: infra

updated openapi
  apps/io-wallet-support-func/openapi.yaml
Labels: apps

udpated openapi with for DeviceDetails
  apps/io-wallet-support-func/openapi.yaml
Labels: apps

renamed variable cidr_subnet_user_func -> cidr_subnet_func
  infra/resources/_modules/function_apps/function_app_support.tf
  infra/resources/_modules/function_apps/function_app_user.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/prod/main.tf
Labels: infra

added autoscaler for support fn app
  infra/resources/_modules/function_apps/function_app_support.tf
  infra/resources/_modules/function_apps/outputs.tf
Labels: infra

renamed function_app_wallet in locals in function_app_user
  infra/resources/_modules/function_apps/function_app_user.tf
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

run changeset
  .changeset/gorgeous-kangaroos-admire.md
Labels: changeset

updated node version in release github workflow
  .github/workflows/release.yaml
Labels: ci

implemented health check function
  apps/io-wallet-support-func/local.settings.json.example
  apps/io-wallet-support-func/package.json
  apps/io-wallet-support-func/src/app/config.ts
  apps/io-wallet-support-func/src/app/main.ts
  apps/io-wallet-support-func/src/infra/azure/functions/health.ts
  apps/io-wallet-support-func/src/infra/http/handlers/__test__/health.spec.ts
  apps/io-wallet-support-func/src/infra/http/handlers/health.ts
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-current-wallet-instance.status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-user-by-fiscal-code.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-user-by-fiscal-code.ts
  apps/io-wallet-user-func/src/infra/http/handlers/health.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/user-id-header-validator.ts
  apps/io-wallet-user-func/src/infra/http/whitelisted-user.ts
  apps/io-wallet-user-func/src/user.ts
  packages/io-wallet-common/package.json
  packages/io-wallet-common/src/infra/azure/cosmos/config.ts
  packages/io-wallet-common/src/infra/azure/cosmos/health-check.ts
  packages/io-wallet-common/src/infra/pdv-tokenizer/client.ts
  packages/io-wallet-common/src/infra/pdv-tokenizer/config.ts
  packages/io-wallet-common/src/infra/pdv-tokenizer/health-check.ts
  packages/io-wallet-common/src/user.ts
  yarn.lock
Labels: internal, apps

run changeset
  .changeset/wicked-starfishes-raise.md
Labels: changeset

fix: updated node version in release github workflow
  .github/workflows/release.yaml
Labels: ci

fix: updated node version in release github workflow
  .github/workflows/release.yaml
Labels: ci

feat: implemented health check function
  .changeset/wicked-starfishes-raise.md
  apps/io-wallet-support-func/local.settings.json.example
  apps/io-wallet-support-func/package.json
  apps/io-wallet-support-func/src/app/config.ts
  apps/io-wallet-support-func/src/app/main.ts
  apps/io-wallet-support-func/src/infra/azure/functions/health.ts
  apps/io-wallet-support-func/src/infra/http/handlers/__test__/health.spec.ts
  apps/io-wallet-support-func/src/infra/http/handlers/health.ts
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-current-wallet-instance.status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-user-by-fiscal-code.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-user-by-fiscal-code.ts
  apps/io-wallet-user-func/src/infra/http/handlers/health.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/user-id-header-validator.ts
  apps/io-wallet-user-func/src/infra/http/whitelisted-user.ts
  apps/io-wallet-user-func/src/user.ts
  packages/io-wallet-common/package.json
  packages/io-wallet-common/src/infra/azure/cosmos/config.ts
  packages/io-wallet-common/src/infra/azure/cosmos/health-check.ts
  packages/io-wallet-common/src/infra/pdv-tokenizer/client.ts
  packages/io-wallet-common/src/infra/pdv-tokenizer/config.ts
  packages/io-wallet-common/src/infra/pdv-tokenizer/health-check.ts
  packages/io-wallet-common/src/user.ts
  yarn.lock
Labels: internal, apps, changeset

feat: implemented health check function
  .changeset/wicked-starfishes-raise.md
  apps/io-wallet-support-func/local.settings.json.example
  apps/io-wallet-support-func/package.json
  apps/io-wallet-support-func/src/app/config.ts
  apps/io-wallet-support-func/src/app/main.ts
  apps/io-wallet-support-func/src/infra/azure/functions/health.ts
  apps/io-wallet-support-func/src/infra/http/handlers/__test__/health.spec.ts
  apps/io-wallet-support-func/src/infra/http/handlers/health.ts
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-current-wallet-instance.status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-user-by-fiscal-code.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-user-by-fiscal-code.ts
  apps/io-wallet-user-func/src/infra/http/handlers/health.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/user-id-header-validator.ts
  apps/io-wallet-user-func/src/infra/http/whitelisted-user.ts
  apps/io-wallet-user-func/src/user.ts
  packages/io-wallet-common/package.json
  packages/io-wallet-common/src/infra/azure/cosmos/config.ts
  packages/io-wallet-common/src/infra/azure/cosmos/health-check.ts
  packages/io-wallet-common/src/infra/pdv-tokenizer/client.ts
  packages/io-wallet-common/src/infra/pdv-tokenizer/config.ts
  packages/io-wallet-common/src/infra/pdv-tokenizer/health-check.ts
  packages/io-wallet-common/src/user.ts
  yarn.lock
Labels: internal, apps, changeset

added getCurrentWalletInstanceByFiscalCode handler and refactored
  apps/io-wallet-support-func/package.json
  apps/io-wallet-support-func/src/app/main.ts
  apps/io-wallet-support-func/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-wallet-support-func/src/infra/azure/functions/get-current-wallet-instance-by-fiscal-code.ts
  apps/io-wallet-support-func/src/infra/http/encoders/wallet-instance.ts
  apps/io-wallet-support-func/src/infra/http/handlers/get-current-wallet-instance-by-fiscal-code.ts
  apps/io-wallet-support-func/src/wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/encoders/wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-current-wallet-instance-status.ts
  yarn.lock
Labels: apps

updated openapi, added wallet-instance api encoder and added function unit tests
  apps/io-wallet-support-func/openapi.yaml
  apps/io-wallet-support-func/src/infra/http/encoders/wallet-instance.ts
  apps/io-wallet-support-func/src/infra/http/handlers/__test__/get-current-wallet-instance-by-fiscal-code.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-current-wallet-instance.status.spec.ts
Labels: apps

removed whitespace
  apps/io-wallet-support-func/src/infra/http/handlers/__test__/get-current-wallet-instance-by-fiscal-code.spec.ts
Labels: apps

updated http path
  apps/io-wallet-support-func/src/app/main.ts
Labels: apps

fix support lint
  apps/io-wallet-support-func/src/infra/http/handlers/__test__/get-current-wallet-instance-by-fiscal-code.spec.ts
Labels: apps

run changeset
  .changeset/mighty-mice-melt.md
Labels: changeset
