Repository pagopa/io-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, infra, changeset

fix build
  apps/io-wallet-user-func/src/infra/crypto/__tests__/signer.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/create-wallet-instance-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/create-wallet-unit-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/__tests__/assertion.spec.ts
  packages/io-wallet-common/package.json
  pnpm-lock.yaml
Labels: apps

chore: updated pnpm dependencies
  apps/io-wallet-messages-func/package.json
  apps/io-wallet-messages-func/src/infra/handlers/__tests__/send-messages.spec.ts
  apps/io-wallet-messages-func/src/infra/handlers/__tests__/split.spec.ts
  apps/io-wallet-support-func/package.json
  apps/io-wallet-support-func/src/infra/http/handlers/__tests__/get-current-wallet-instance-by-fiscal-code.spec.ts
  apps/io-wallet-support-func/src/infra/http/handlers/__tests__/health.spec.ts
  apps/io-wallet-user-func/package.json
  apps/io-wallet-user-func/src/__tests__/certificates.spec.ts
  apps/io-wallet-user-func/src/infra/crypto/__tests__/signer.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/create-wallet-instance-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/create-wallet-unit-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/generate-certificate-chain.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/get-current-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/get-nonce.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/get-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/health.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/is-fiscal-code-whitelisted.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/keys.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/set-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/__tests__/assertion.spec.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/__tests__/attestation.spec.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/__tests__/config.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/ios/__tests__/assertion.spec.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/ios/__tests__/attestation.spec.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/ios/__tests__/config.ts
  package.json
  packages/io-wallet-common/package.json
  packages/io-wallet-common/src/__tests__/jwk.spec.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: apps

remove pid issuer timeouts telemetry event
  .changeset/wet-cloths-cover.md
  apps/io-wallet-user-func/src/infra/pid-issuer/client.ts
Labels: apps, changeset

chore: remove pid issuer timeouts telemetry event
  .changeset/wet-cloths-cover.md
  apps/io-wallet-user-func/src/infra/pid-issuer/client.ts
Labels: apps, changeset

quotes
  .github/workflows/tls_certificate.yaml
Labels: ci

Fix formatting issue in Slack notifications (#753)
  .github/workflows/tls_certificate.yaml
Labels: ci

created new storage account and container for WP EC in PRE
  infra/resources/_modules/storage_accounts/storage_accounts.tf
  infra/resources/_modules/storage_accounts/storage_containers.tf
Labels: infra

Update infra/resources/_modules/storage_accounts/storage_containers.tf
  infra/resources/_modules/storage_accounts/storage_containers.tf
Labels: infra

infra: created new storage account and container for WP EC in PRE
  infra/resources/_modules/storage_accounts/storage_accounts.tf
  infra/resources/_modules/storage_accounts/storage_containers.tf
Labels: infra

added role
  infra/resources/_modules/iam/admins.tf
  infra/resources/_modules/iam/variables.tf
  infra/resources/_modules/storage_accounts/outputs.tf
  infra/resources/psn/prod/main.tf
Labels: infra

updated AndroidBundleIdentifiers and IosBundleIdentifiers app setting for uat
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

run pre-commit
  infra/repository/tfmodules.lock.json
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/iam/README.md
  infra/resources/_modules/storage_accounts/README.md
Labels: infra

infra: added role assignment to iwuitntrustst01
  infra/repository/tfmodules.lock.json
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/iam/README.md
  infra/resources/_modules/iam/admins.tf
  infra/resources/_modules/iam/variables.tf
  infra/resources/_modules/storage_accounts/README.md
  infra/resources/_modules/storage_accounts/outputs.tf
  infra/resources/psn/prod/main.tf
Labels: infra

switched to cache APIM fragment
  infra/resources/prod/apim_platform.tf
Labels: infra

chore: switched to ioapp-authenticated-cache APIM fragment
  infra/resources/prod/apim_platform.tf
Labels: infra

split FederationEntityBasePath into FederationEntityBasePathV10 and FederationEntityBasePathV13 for user function app settings
  .changeset/gold-goats-tan.md
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/entity-configuration.ts
  apps/io-wallet-user-func/src/infra/handlers/generate-entity-configuration.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/create-wallet-instance-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/create-wallet-unit-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-unit-attestation.ts
  apps/io-wallet-user-func/src/infra/pid-issuer/client.ts
  apps/io-wallet-user-func/src/wallet-attestation.ts
  infra/resources/_modules/function_apps/locals.tf
Labels: apps, infra, changeset

derive uat FederationEntityBasePathV13 from storage account and container outputs
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/_modules/storage_accounts/outputs.tf
  infra/resources/psn/prod/main.tf
Labels: infra

chore: split FederationEntityBasePath app setting
  .changeset/gold-goats-tan.md
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/entity-configuration.ts
  apps/io-wallet-user-func/src/infra/handlers/generate-entity-configuration.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/create-wallet-instance-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/create-wallet-unit-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-unit-attestation.ts
  apps/io-wallet-user-func/src/infra/pid-issuer/client.ts
  apps/io-wallet-user-func/src/wallet-attestation.ts
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/_modules/storage_accounts/outputs.tf
  infra/resources/psn/prod/main.tf
Labels: apps, infra, changeset

route WIA and WUA flows to certificatesv13 container and update infra
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/certificate.ts
  infra/resources/_modules/cosmos/locals.tf
Labels: apps, infra

run changeset
  .changeset/yellow-moments-pull.md
Labels: changeset

chore: route WIA and WUA flows to certificates-v-1.3 container
  .changeset/yellow-moments-pull.md
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/certificate.ts
  infra/resources/_modules/cosmos/locals.tf
Labels: apps, infra, changeset

update wallet attestation payloads (remove eudi_wallet_info, add alg to cnf.jwk, add status to unit attestation)
  .changeset/brave-pears-clap.md
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/create-wallet-instance-attestation.spec.ts
  apps/io-wallet-user-func/src/wallet-instance-attestation.ts
  apps/io-wallet-user-func/src/wallet-unit-attestation.ts
Labels: apps, changeset

fix lint
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/create-wallet-instance-attestation.spec.ts
Labels: apps

added wallet_link and wallet_name in WIA
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/create-wallet-instance-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-unit-attestation.ts
  apps/io-wallet-user-func/src/wallet-instance-attestation.ts
Labels: apps

chore: updated wallet attestation payloads
  .changeset/brave-pears-clap.md
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/create-wallet-instance-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-unit-attestation.ts
  apps/io-wallet-user-func/src/wallet-instance-attestation.ts
  apps/io-wallet-user-func/src/wallet-unit-attestation.ts
Labels: apps, changeset

set WIA sub to JWK thumbprint (wallet instance identifier), keep old oauthClientSub path commented
  .changeset/khaki-otters-relax.md
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance-attestation.ts
  apps/io-wallet-user-func/src/wallet-instance-attestation.ts
Labels: apps, changeset

fix: set WIA sub to JWK thumbprint
  .changeset/khaki-otters-relax.md
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance-attestation.ts
  apps/io-wallet-user-func/src/wallet-instance-attestation.ts
Labels: apps, changeset

created statusListManager and backfillWalletInstanceStatus functions
  .github/workflows/tls_certificate.yaml
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/package.json
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/__tests__/status-list-allocator.spec.ts
  apps/io-wallet-user-func/src/infra/__tests__/status-list-lifecycle.spec.ts
  apps/io-wallet-user-func/src/infra/azure/__tests__/status-list-allocation-conflict.spec.ts
  apps/io-wallet-user-func/src/infra/azure/applicationinsights/status-list-allocation-conflict.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/__tests__/status-list-catalog.spec.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/__tests__/status-list-pages.spec.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/__tests__/status-list-routing.spec.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/__tests__/wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/certificate.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/errors.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/nonce.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/open-status-lists-policy.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/status-list-catalog.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/status-list-pages.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/status-list-routing.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-wallet-user-func/src/infra/azure/functions/backfill-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/azure/functions/status-list-manager.ts
  apps/io-wallet-user-func/src/infra/handlers/__tests__/backfill-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/handlers/__tests__/status-list-manager.spec.ts
  apps/io-wallet-user-func/src/infra/handlers/backfill-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/handlers/status-list-manager.ts
  apps/io-wallet-user-func/src/infra/status-list-allocator.ts
  apps/io-wallet-user-func/src/infra/status-list-lifecycle.ts
  apps/io-wallet-user-func/src/status-list.ts
  apps/io-wallet-user-func/src/use-cases/__tests__/status-list-manager.spec.ts
  apps/io-wallet-user-func/src/use-cases/status-list-manager.ts
  apps/io-wallet-user-func/src/wallet-instance-status.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
  packages/io-wallet-common/src/wallet-instance.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: apps, ci

fix lint
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/applicationinsights/status-list-allocation-conflict.ts
Labels: apps

fix bug
  apps/io-wallet-user-func/src/infra/azure/cosmos/__tests__/status-list-catalog.spec.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/__tests__/status-list-routing.spec.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/__tests__/wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/errors.ts
Labels: apps

added migration function
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/functions/copy-wallet-instances-to-uat.ts
  apps/io-wallet-user-func/src/infra/handlers/copy-wallet-instances-to-uat.ts
Labels: apps

fix lint
  apps/io-wallet-user-func/src/app/main.ts
Labels: apps

updated createWalletInstance with new property behind FF
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/__tests__/wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/azure/functions/backfill-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/handlers/__tests__/backfill-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/handlers/backfill-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
Labels: apps

removed useless test files
  apps/io-wallet-user-func/src/infra/azure/cosmos/__tests__/wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/handlers/__tests__/backfill-wallet-instance-status.spec.ts
Labels: apps

removed CopyWalletInstancesToUat function
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/functions/copy-wallet-instances-to-uat.ts
  apps/io-wallet-user-func/src/infra/handlers/copy-wallet-instances-to-uat.ts
Labels: apps

Removed BackfillWalletInstanceStatus function
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/__tests__/status-list-allocator.spec.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/azure/functions/backfill-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/handlers/backfill-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/status-list-allocator.ts
Labels: apps

fix lint
  apps/io-wallet-user-func/src/app/main.ts
Labels: apps

updated WalletInstanceBase schema
  packages/io-wallet-common/src/wallet-instance.ts
Labels: none

removed /src/wallet-instance-status.ts file
  apps/io-wallet-user-func/src/wallet-instance-status.ts
Labels: apps

added type WalletInstanceStatus in common
  apps/io-wallet-user-func/src/wallet-instance.ts
  packages/io-wallet-common/src/wallet-instance.ts
Labels: apps

.github/labeler.yml:

apps: apps/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*
