Repository pagopa/io-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, sd-jwt, apps, docs, ci, infra, changeset

.github/labeler.yml:

internal: packages/**/*
sd-jwt: packages/sd-jwt/*
apps: apps/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*

Correctly update yarn.lock file
  yarn.lock
Labels: none

Isolated the code for formatting dates in the datetime.ts file
  apps/io-wallet-user-func/src/datetime.ts
  apps/io-wallet-user-func/src/infra/handlers/send-email-on-wallet-instance-revocation.ts
  yarn.lock
Labels: apps

Correctly updated the yarn.lock file
  yarn.lock
Labels: none

Removing default parameter in formatDate()
  apps/io-wallet-user-func/src/datetime.ts
  apps/io-wallet-user-func/src/infra/handlers/send-email-on-wallet-instance-revocation.ts
Labels: apps

fix: the revocation time in the email appears without considering the timezone
  .changeset/spicy-nails-fix.md
  apps/io-wallet-user-func/package.json
  apps/io-wallet-user-func/src/datetime.ts
  apps/io-wallet-user-func/src/infra/handlers/send-email-on-wallet-instance-revocation.ts
  apps/io-wallet-user-func/tsconfig.json
  yarn.lock
Labels: apps, changeset

fix: the revocation time in the email appears without considering the timezone
  .changeset/spicy-nails-fix.md
  apps/io-wallet-user-func/package.json
  apps/io-wallet-user-func/src/datetime.ts
  apps/io-wallet-user-func/src/infra/handlers/send-email-on-wallet-instance-revocation.ts
  apps/io-wallet-user-func/tsconfig.json
  yarn.lock
Labels: apps, changeset

Removing fiscalCodes whitelist for SetCurrentWalletInstanceStatus and SetWalletInstanceStatus handlers
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-current-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-current-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-wallet-instance-status.ts
Labels: apps

Merge branch 'master' into SIW-1936-removing-fiscalcodes-check
  apps/io-wallet-user-func/CHANGELOG.md
  apps/io-wallet-user-func/package.json
Labels: apps

Used the enqueue() function directly instead of going through an RTE; updated version with yarn changeset
  .changeset/spicy-nails-fix.md
  .changeset/wet-cougars-appear.md
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-current-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-current-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-wallet-instance-status.ts
Labels: apps, changeset

feat: removing fiscalcodes check for sending WI revocation email
  .changeset/wet-cougars-appear.md
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-current-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-current-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-wallet-instance-status.ts
Labels: apps, changeset

feat: removing fiscalcodes check for sending WI revocation email
  .changeset/wet-cougars-appear.md
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-current-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-current-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-wallet-instance-status.ts
Labels: apps, changeset

fix main import
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/__test__/assertion.spec.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/__test__/attestation.spec.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/__test__/config.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/assertion.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/attestation.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/index.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/errors.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/index.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/ios/__test__/assertion.spec.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/ios/__test__/attestation.spec.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/ios/__test__/config.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/ios/assertion.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/ios/attestation.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/ios/index.ts
Labels: apps

fix lint
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/index.ts
Labels: apps

fix: fix main imports
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/__test__/assertion.spec.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/__test__/attestation.spec.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/__test__/config.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/assertion.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/attestation.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/index.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/errors.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/index.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/ios/__test__/assertion.spec.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/ios/__test__/attestation.spec.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/ios/__test__/config.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/ios/assertion.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/ios/attestation.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/ios/index.ts
Labels: apps

fix: fix main imports
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/__test__/assertion.spec.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/__test__/attestation.spec.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/__test__/config.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/assertion.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/attestation.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/index.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/errors.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/index.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/ios/__test__/assertion.spec.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/ios/__test__/attestation.spec.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/ios/__test__/config.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/ios/assertion.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/ios/attestation.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/ios/index.ts
Labels: apps

[CES-589] IAM: replace io-p-adgroup-developers with io-p-adgroup-wallet-admins (#354)
  .github/workflows/pr_gh_runner.yaml
  .github/workflows/pr_infra.yaml
  .github/workflows/release_gh_runner.yaml
  .github/workflows/release_infra.yaml
  infra/github-runner/prod/.terraform.lock.hcl
  infra/github-runner/prod/README.md
  infra/github-runner/prod/locals.tf
  infra/github-runner/prod/main.tf
  infra/github-runner/prod/outputs.tf
  infra/repository/.terraform.lock.hcl
  infra/repository/README.md
  infra/repository/data.tf
  infra/repository/github_branch_rules.tf
  infra/repository/github_environment_cd.tf
  infra/repository/github_environment_ci.tf
  infra/repository/github_repo_secrets.tf
  infra/repository/github_repository.tf
  infra/repository/import.tf
  infra/repository/locals.tf
  infra/repository/main.tf
  infra/resources/_modules/apim/README.md
  infra/resources/_modules/function_apps/README.md
  infra/resources/_modules/iam/README.md
  infra/resources/_modules/storage_accounts/README.md
  infra/resources/prod/.terraform.lock.hcl
  infra/resources/prod/README.md
  infra/resources/prod/data.tf
  infra/resources/prod/import.tf
  infra/resources/prod/main.tf
Labels: ci, infra

[CES-589] IAM: replace io-p-adgroup-developers with io-p-adgroup-wallet-admins (#354)
  .github/workflows/pr_gh_runner.yaml
  .github/workflows/pr_infra.yaml
  .github/workflows/release_gh_runner.yaml
  .github/workflows/release_infra.yaml
  infra/github-runner/prod/.terraform.lock.hcl
  infra/github-runner/prod/README.md
  infra/github-runner/prod/locals.tf
  infra/github-runner/prod/main.tf
  infra/github-runner/prod/outputs.tf
  infra/repository/.terraform.lock.hcl
  infra/repository/README.md
  infra/repository/data.tf
  infra/repository/github_branch_rules.tf
  infra/repository/github_environment_cd.tf
  infra/repository/github_environment_ci.tf
  infra/repository/github_repo_secrets.tf
  infra/repository/github_repository.tf
  infra/repository/import.tf
  infra/repository/locals.tf
  infra/repository/main.tf
  infra/resources/_modules/apim/README.md
  infra/resources/_modules/function_apps/README.md
  infra/resources/_modules/iam/README.md
  infra/resources/_modules/storage_accounts/README.md
  infra/resources/prod/.terraform.lock.hcl
  infra/resources/prod/README.md
  infra/resources/prod/data.tf
  infra/resources/prod/import.tf
  infra/resources/prod/main.tf
Labels: ci, infra

Removed PUT /wallet-instances/current/status API
  apps/io-wallet-user-func/openapi.yaml
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/functions/set-current-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-current-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-current-wallet-instance-status.ts
Labels: apps

clean up refs
  infra/identity/prod/.terraform.lock.hcl
  infra/identity/prod/README.md
  infra/identity/prod/data.tf
  infra/identity/prod/locals.tf
  infra/identity/prod/main.tf
  infra/repository/import.tf
  infra/repository/locals.tf
  infra/repository/main.tf
Labels: infra

[CES-589] Clean up Terraform configs after migration to new module (#366)
  infra/identity/prod/.terraform.lock.hcl
  infra/identity/prod/README.md
  infra/identity/prod/data.tf
  infra/identity/prod/locals.tf
  infra/identity/prod/main.tf
  infra/repository/import.tf
  infra/repository/locals.tf
  infra/repository/main.tf
Labels: infra

[CES-589] Clean up Terraform configs after migration to new module (#366)
  infra/identity/prod/.terraform.lock.hcl
  infra/identity/prod/README.md
  infra/identity/prod/data.tf
  infra/identity/prod/locals.tf
  infra/identity/prod/main.tf
  infra/repository/import.tf
  infra/repository/locals.tf
  infra/repository/main.tf
Labels: infra

added new function app
  apps/io-wallet-messages-func/README.md
  apps/io-wallet-messages-func/eslint.config.mjs
  apps/io-wallet-messages-func/host.json
  apps/io-wallet-messages-func/local.settings.json.example
  apps/io-wallet-messages-func/package.json
  apps/io-wallet-messages-func/src/app/config.ts
  apps/io-wallet-messages-func/src/app/main.ts
  apps/io-wallet-messages-func/src/decoders/buffer.ts
  apps/io-wallet-messages-func/src/infra/azure/functions/insert-fiscal-codes-in-queue.ts
  apps/io-wallet-messages-func/src/infra/azure/functions/send-messages.ts
  apps/io-wallet-messages-func/src/infra/azure/storage/blob.ts
  apps/io-wallet-messages-func/src/infra/azure/storage/queue.ts
  apps/io-wallet-messages-func/src/infra/handlers/__test__/send-messages.spec.ts
  apps/io-wallet-messages-func/src/infra/handlers/insert-fiscal-codes-in-queue.ts
  apps/io-wallet-messages-func/src/infra/handlers/send-messages.ts
  apps/io-wallet-messages-func/src/infra/io-messages-api.ts
  apps/io-wallet-messages-func/src/message.ts
  apps/io-wallet-messages-func/tsconfig.json
  apps/io-wallet-messages-func/tsup.config.js
  apps/io-wallet-messages-func/vitest.config.mjs
  io-wallet.code-workspace
  yarn.lock
Labels: apps

fix package name
  apps/io-wallet-messages-func/package.json
Labels: apps

fixed lint
  apps/io-wallet-messages-func/src/app/config.ts
  apps/io-wallet-messages-func/src/app/main.ts
  apps/io-wallet-messages-func/src/infra/io-messages-api.ts
  yarn.lock
Labels: apps

removed comment
  apps/io-wallet-messages-func/src/infra/handlers/insert-fiscal-codes-in-queue.ts
Labels: apps

Adding a body with fiscalCode to the GetNonce API
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-nonce.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-nonce.ts
Labels: apps

Adding a body with fiscalCode to the GetNonce API
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-nonce.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-nonce.ts
Labels: apps

Updated the openapi.yaml file with the new changes to the GetNonce API
  apps/io-wallet-user-func/openapi.yaml
Labels: apps

Updated the openapi.yaml file with the new changes to the GetNonce API
  apps/io-wallet-user-func/openapi.yaml
Labels: apps

add deploy workflow for messages function
  .github/workflows/messages_function_deploy.yaml
Labels: ci

updated comments
  apps/io-wallet-messages-func/README.md
  apps/io-wallet-messages-func/src/app/main.ts
  apps/io-wallet-messages-func/src/message.ts
Labels: apps

add unit test for split
  apps/io-wallet-messages-func/src/infra/handlers/__test__/split.spec.ts
  apps/io-wallet-messages-func/src/infra/handlers/insert-fiscal-codes-in-queue.ts
Labels: apps

updated test description
  apps/io-wallet-messages-func/src/infra/handlers/__test__/split.spec.ts
Labels: apps

fix lint
  apps/io-wallet-messages-func/src/infra/handlers/__test__/split.spec.ts
Labels: apps

move 2 registry
  infra/repository/main.tf
Labels: infra

pre commit
  .pre-commit-config.yaml
  infra/repository/README.md
  infra/repository/tfmodules.lock.json
  infra/resources/_modules/function_apps/README.md
  infra/resources/_modules/storage_accounts/README.md
  infra/resources/prod/tfmodules.lock.json
Labels: infra

[CES-589] Move to registry (#368)
  .pre-commit-config.yaml
  infra/repository/README.md
  infra/repository/main.tf
  infra/repository/tfmodules.lock.json
  infra/resources/_modules/function_apps/README.md
  infra/resources/_modules/storage_accounts/README.md
  infra/resources/prod/tfmodules.lock.json
Labels: infra

[CES-589] Move to registry (#368)
  .pre-commit-config.yaml
  infra/repository/README.md
  infra/repository/main.tf
  infra/repository/tfmodules.lock.json
  infra/resources/_modules/function_apps/README.md
  infra/resources/_modules/storage_accounts/README.md
  infra/resources/prod/tfmodules.lock.json
Labels: infra

run changeset
  .changeset/rude-brooms-matter.md
Labels: changeset

feat: added new function app to send messages
  .changeset/rude-brooms-matter.md
  .github/workflows/messages_function_deploy.yaml
  apps/io-wallet-messages-func/README.md
  apps/io-wallet-messages-func/eslint.config.mjs
  apps/io-wallet-messages-func/host.json
  apps/io-wallet-messages-func/local.settings.json.example
  apps/io-wallet-messages-func/package.json
  apps/io-wallet-messages-func/src/app/config.ts
  apps/io-wallet-messages-func/src/app/main.ts
  apps/io-wallet-messages-func/src/decoders/buffer.ts
  apps/io-wallet-messages-func/src/infra/azure/functions/insert-fiscal-codes-in-queue.ts
  apps/io-wallet-messages-func/src/infra/azure/functions/send-messages.ts
  apps/io-wallet-messages-func/src/infra/azure/storage/blob.ts
  apps/io-wallet-messages-func/src/infra/azure/storage/queue.ts
  apps/io-wallet-messages-func/src/infra/handlers/__test__/send-messages.spec.ts
  apps/io-wallet-messages-func/src/infra/handlers/__test__/split.spec.ts
  apps/io-wallet-messages-func/src/infra/handlers/insert-fiscal-codes-in-queue.ts
  apps/io-wallet-messages-func/src/infra/handlers/send-messages.ts
  apps/io-wallet-messages-func/src/infra/io-messages-api.ts
  apps/io-wallet-messages-func/src/message.ts
  apps/io-wallet-messages-func/tsconfig.json
  apps/io-wallet-messages-func/tsup.config.js
  apps/io-wallet-messages-func/vitest.config.mjs
  io-wallet.code-workspace
  yarn.lock
Labels: apps, ci, changeset
