Repository pagopa/io-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, infra, changeset

.github/labeler.yml:

apps: apps/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*

update apim config
  infra/resources/psn/prod/README.md
  infra/resources/psn/prod/apim/api/ioweb/swagger.json
  infra/resources/psn/prod/apim_apis.tf
  infra/resources/psn/prod/data.tf
  infra/resources/psn/prod/key_vault_secrets.tf
  infra/resources/psn/prod/main.tf
Labels: infra

wip
  infra/resources/_modules/function_apps/README.md
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/psn/prod/locals.tf
  infra/resources/psn/prod/main.tf
Labels: infra

Update PSN APIM configuration with new api groups (#648)
  infra/resources/psn/prod/README.md
  infra/resources/psn/prod/apim/api/ioweb/swagger.json
  infra/resources/psn/prod/apim_apis.tf
  infra/resources/psn/prod/data.tf
  infra/resources/psn/prod/key_vault_secrets.tf
  infra/resources/psn/prod/main.tf
Labels: infra

updated IO Web API APIM swagger
  infra/resources/psn/prod/apim/api/ioweb/swagger.json
Labels: infra

updated swagger
  infra/resources/psn/prod/apim/api/ioweb/swagger.json
Labels: infra

updated ioweb swagger
  infra/resources/psn/prod/apim/api/ioweb/swagger.json
Labels: infra

infra: updated IO Web API APIM swagger
  infra/resources/psn/prod/apim/api/ioweb/swagger.json
Labels: infra

remove unsued stuff
  infra/resources/prod/README.md
  infra/resources/prod/apim_platform.tf
  infra/resources/prod/main.tf
Labels: infra

update tf state file
  infra/resources/_modules/apim/README.md
  infra/resources/_modules/apim/api/support/_base_policy.xml
  infra/resources/_modules/apim/apim.tf
  infra/resources/prod/README.md
  infra/resources/prod/dns.tf
Labels: infra

Removed unused APIs from Platform APIM (#650)
  infra/resources/_modules/apim/README.md
  infra/resources/_modules/apim/api/support/_base_policy.xml
  infra/resources/_modules/apim/apim.tf
  infra/resources/prod/README.md
  infra/resources/prod/apim_platform.tf
  infra/resources/prod/dns.tf
  infra/resources/prod/main.tf
Labels: infra

wip
  infra/resources/_modules/function_apps/README.md
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/psn/prod/locals.tf
Labels: infra

add tags
  infra/resources/_modules/apim/README.md
  infra/resources/_modules/apim/apim.tf
  infra/resources/_modules/apim/variables.tf
  infra/resources/prod/README.md
  infra/resources/prod/data.tf
  infra/resources/prod/locals.tf
  infra/resources/prod/main.tf
Labels: infra

define base policies
  infra/resources/prod/apim_platform.tf
Labels: infra

consistent description
  infra/resources/_modules/apim/api/ioweb/_swagger.json
Labels: infra

Add tags and revision 2 to IO WEB APIM API group (#652)
  infra/resources/_modules/apim/README.md
  infra/resources/_modules/apim/api/ioweb/_swagger.json
  infra/resources/_modules/apim/apim.tf
  infra/resources/_modules/apim/variables.tf
  infra/resources/prod/README.md
  infra/resources/prod/apim_platform.tf
  infra/resources/prod/data.tf
  infra/resources/prod/locals.tf
  infra/resources/prod/main.tf
Labels: infra

wip
  infra/resources/_modules/function_apps/README.md
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/psn/prod/locals.tf
Labels: infra

updated title swagger ioweb API
  infra/resources/psn/prod/apim/api/ioweb/swagger.json
Labels: infra

Add Spoke documentation (#618)
  infra/core/psn/spoke/prod/README.md
  infra/resources/psn/prod/README.md
Labels: infra

remove public dns from appgw
  infra/resources/psn/prod/architecture.mmd
  infra/resources/psn/prod/architecture.png
Labels: infra

Update architecture diagram removing public dns from PSN AppGw (#654)
  infra/resources/psn/prod/architecture.mmd
  infra/resources/psn/prod/architecture.png
Labels: infra

infra: fix function appconfig psn
  infra/resources/_modules/function_apps/README.md
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/psn/prod/apim/api/ioweb/swagger.json
  infra/resources/psn/prod/locals.tf
Labels: infra

add diagram
  README.md
  architecture/cloud_architecture.mmd
  architecture/cloud_architecture.png
Labels: none

Add actual diagram to readme (#655)
  README.md
  architecture/cloud_architecture.mmd
  architecture/cloud_architecture.png
Labels: none

removed storage account connection string auth
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/_modules/storage_accounts/outputs.tf
  infra/resources/prod/main.tf
  infra/resources/psn/prod/locals.tf
  infra/resources/psn/prod/main.tf
Labels: apps, infra

run changeset
  .changeset/modern-pumas-wait.md
Labels: changeset

chore: implement identity-based connections for queue trigger and output
  .changeset/modern-pumas-wait.md
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/_modules/storage_accounts/outputs.tf
  infra/resources/prod/main.tf
  infra/resources/psn/prod/locals.tf
  infra/resources/psn/prod/main.tf
Labels: apps, infra, changeset

fix sendEmailOnWalletInstanceRevocation
  apps/io-wallet-user-func/src/app/main.ts
Labels: apps

run changeset
  .changeset/lemon-owls-appear.md
Labels: changeset

fix: fix sendEmailOnWalletInstanceRevocation with managed identity
  .changeset/lemon-owls-appear.md
  apps/io-wallet-user-func/src/app/main.ts
Labels: apps, changeset

changed purgeContent function to use afdEndpoints.beginPurgeContent
  .changeset/clever-turkeys-cover.md
  apps/io-wallet-user-func/src/infra/handlers/generate-entity-configuration.ts
Labels: apps, changeset

feat: add EntityConfiguration content purge
  .changeset/clever-turkeys-cover.md
  apps/io-wallet-user-func/src/infra/handlers/generate-entity-configuration.ts
Labels: apps, changeset

add roles to replace cs
  infra/resources/_modules/iam/README.md
  infra/resources/_modules/iam/admins.tf
  infra/resources/_modules/iam/functions.tf
  infra/resources/_modules/iam/variables.tf
  infra/resources/_modules/storage_accounts/README.md
  infra/resources/_modules/storage_accounts/outputs.tf
  infra/resources/_modules/storage_accounts/storage_accounts.tf
  infra/resources/psn/prod/main.tf
Labels: infra

Add uat storage account permissions
  infra/resources/prod/main.tf
Labels: infra

Add roles to replace connection strings for storage accounts (#660)
  infra/resources/_modules/iam/README.md
  infra/resources/_modules/iam/admins.tf
  infra/resources/_modules/iam/functions.tf
  infra/resources/_modules/iam/variables.tf
  infra/resources/_modules/storage_accounts/README.md
  infra/resources/_modules/storage_accounts/outputs.tf
  infra/resources/_modules/storage_accounts/storage_accounts.tf
  infra/resources/prod/main.tf
  infra/resources/psn/prod/main.tf
Labels: infra

feat: scale agw and apim
  infra/core/psn/hub/prod/appgw.tf
  infra/resources/psn/prod/apim.tf
  infra/resources/psn/prod/main.tf
Labels: infra

Add useful extensions and aliases to devcontainer
  .devcontainer/devcontainer.bashrc
  .devcontainer/devcontainer.json
Labels: none

changed FrontDoorEndpointName app setting value and updated psn backend on APIM
  infra/resources/prod/apim_platform.tf
  infra/resources/psn/prod/main.tf
Labels: infra

updated APIM policies
  infra/resources/prod/apim_platform.tf
  infra/resources/prod/fragments/io-wallet-app-session-fragment.xml
Labels: infra

updated user uat v1 platform APIM swagger
  infra/resources/prod/apim_platform.tf
  infra/resources/prod/apis/user_uat_v1/openapi.yaml
  infra/resources/prod/apis/user_v1/openapi.yaml
Labels: infra

fix health check operation policy
  infra/resources/prod/apim_platform.tf
Labels: infra
