Repository pagopa/io-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, sd-jwt, apps, docs, ci, infra, changeset

.github/labeler.yml:

internal: packages/**/*
sd-jwt: packages/sd-jwt/*
apps: apps/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*

chore: Added fiscal code whitelist for WI creation email
  .changeset/perfect-yaks-smell.md
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
Labels: apps, changeset

add telemetryClient in sendEmailOnWalletInstanceCreation
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/handlers/send-email-on-wallet-instance-creation.ts
Labels: apps

run changeset
  .changeset/blue-shoes-double.md
Labels: changeset

fix: added telemetry exception in sendEmailOnWalletInstanceCreation
  .changeset/blue-shoes-double.md
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/handlers/send-email-on-wallet-instance-creation.ts
Labels: apps, changeset

fix: added telemetry exception in sendEmailOnWalletInstanceCreation
  .changeset/blue-shoes-double.md
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/handlers/send-email-on-wallet-instance-creation.ts
Labels: apps, changeset

Progress in sending email following WI revocation
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/functions/send-email-on-wallet-instance-revocation.ts
  apps/io-wallet-user-func/src/infra/handlers/send-email-on-wallet-instance-revocation.ts
Labels: apps

removed check on fiscal codes when sending email after wallet instance creation
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  infra/resources/_modules/function_apps/locals.tf
Labels: apps, infra

run changeset
  .changeset/witty-hornets-sort.md
Labels: changeset

fix test
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
Labels: apps

add deleteWalletInstances handler
  apps/io-wallet-user-func/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-current-wallet-instance.status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-current-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/delete-wallet-instances.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
Labels: apps

updated openapi spec
  apps/io-wallet-user-func/openapi.yaml
Labels: apps

fix email
  apps/io-wallet-user-func/src/app/config.ts
Labels: apps

run changeset
  .changeset/old-wasps-promise.md
Labels: changeset

moved email phrases
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/infra/handlers/send-email-on-wallet-instance-creation.ts
Labels: apps

fix: fixed email wallet instance creation title
  .changeset/old-wasps-promise.md
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/infra/handlers/send-email-on-wallet-instance-creation.ts
Labels: apps, changeset

fix: fixed email wallet instance creation title
  .changeset/old-wasps-promise.md
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/infra/handlers/send-email-on-wallet-instance-creation.ts
Labels: apps, changeset

feat: removed check on fiscal codes when sending email after wallet instance creation
  .changeset/witty-hornets-sort.md
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  infra/resources/_modules/function_apps/locals.tf
Labels: apps, infra, changeset

feat: removed check on fiscal codes when sending email after wallet instance creation
  .changeset/witty-hornets-sort.md
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  infra/resources/_modules/function_apps/locals.tf
Labels: apps, infra, changeset

add deleteWalletInstances handler
  apps/io-wallet-user-func/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-current-wallet-instance.status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-current-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/delete-wallet-instances.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
Labels: apps

updated openapi spec
  apps/io-wallet-user-func/openapi.yaml
Labels: apps

added unit tests
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/delete-wallet-instances.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-current-wallet-instance.status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/delete-wallet-instances.ts
Labels: apps

add deleteWalletInstances function
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/functions/delete-wallet-instances.ts
Labels: apps

update implementation
  apps/io-wallet-user-func/openapi.yaml
  apps/io-wallet-user-func/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/delete-wallet-instances.spec.ts
Labels: apps

updated WalletInstanceRepository implementation
  apps/io-wallet-user-func/src/infra/azure/cosmos/wallet-instance.ts
Labels: apps

updated WalletInstanceRepository implementation
  apps/io-wallet-user-func/src/infra/azure/cosmos/wallet-instance.ts
Labels: apps

updated WalletInstanceRepository
  apps/io-wallet-user-func/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-wallet-user-func/src/infra/email.ts
Labels: apps

run changeset
  .changeset/wild-trainers-sort.md
Labels: changeset

fix tests
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/delete-wallet-instances.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-current-wallet-instance.status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-wallet-instance-status.spec.ts
Labels: apps

added APIM product
  infra/resources/_modules/apim/product.tf
Labels: infra

added APIM API
  infra/resources/_modules/apim/api/admin/_base_policy.xml
  infra/resources/_modules/apim/api/admin/_swagger.json
  infra/resources/_modules/apim/apim.tf
Labels: infra

added API in APIM
  infra/resources/_modules/apim/apim.tf
Labels: infra

updated swagger
  infra/resources/_modules/apim/api/admin/_swagger.json
  infra/resources/_modules/apim/api/support/_swagger.json
Labels: infra

feat: added deleteWalletInstances endpoint
  .changeset/wild-trainers-sort.md
  apps/io-wallet-user-func/openapi.yaml
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-wallet-user-func/src/infra/azure/functions/delete-wallet-instances.ts
  apps/io-wallet-user-func/src/infra/email.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/delete-wallet-instances.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-current-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/delete-wallet-instances.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
  infra/resources/_modules/apim/api/admin/_base_policy.xml
  infra/resources/_modules/apim/api/admin/_swagger.json
  infra/resources/_modules/apim/api/support/_swagger.json
  infra/resources/_modules/apim/apim.tf
  infra/resources/_modules/apim/product.tf
Labels: apps, infra, changeset

feat: added deleteWalletInstances endpoint
  .changeset/wild-trainers-sort.md
  apps/io-wallet-user-func/openapi.yaml
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-wallet-user-func/src/infra/azure/functions/delete-wallet-instances.ts
  apps/io-wallet-user-func/src/infra/email.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/delete-wallet-instances.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-current-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/delete-wallet-instances.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
  infra/resources/_modules/apim/api/admin/_base_policy.xml
  infra/resources/_modules/apim/api/admin/_swagger.json
  infra/resources/_modules/apim/api/support/_swagger.json
  infra/resources/_modules/apim/apim.tf
  infra/resources/_modules/apim/product.tf
Labels: apps, infra, changeset

Using sendRevocationEmail() and QueueClient to handle the WI revocation email
  apps/io-wallet-user-func/package.json
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/handlers/send-email-on-wallet-instance-revocation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-current-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-current-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-wallet-instance-status.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
Labels: apps

Updating yarn.lock file
  yarn.lock
Labels: none

Using sendRevocationEmail() as TaskEither instead of ReaderTaskEither
  apps/io-wallet-user-func/src/wallet-instance.ts
Labels: apps

Applying correct environment to revokeInvalidWalletInstances() function
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/wallet-instance-revocation-process.ts
Labels: apps

Creating and using the WalletInstanceRevocationQueue in terraform
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/_modules/storage_accounts/outputs.tf
  infra/resources/_modules/storage_accounts/storage_queue.tf
  infra/resources/prod/main.tf
Labels: infra

Using the email template from @pagopa/io-app-email-templates for WI revocation
  apps/io-wallet-user-func/package.json
  apps/io-wallet-user-func/src/infra/handlers/send-email-on-wallet-instance-revocation.ts
  yarn.lock
Labels: apps
