Repository pagopa/io-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, sd-jwt, apps, docs, ci, infra, changeset

.github/labeler.yml:

internal: packages/**/*
sd-jwt: packages/sd-jwt/*
apps: apps/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*

Create warm-pillows-sniff.md
  .changeset/warm-pillows-sniff.md
Labels: changeset

fix: Fix https fetch (#146)
  .changeset/warm-pillows-sniff.md
  apps/io-wallet-user-func/src/infra/trust-anchor/index.ts
Labels: apps, changeset

fix: Fix https fetch (#146)
  .changeset/warm-pillows-sniff.md
  apps/io-wallet-user-func/src/infra/trust-anchor/index.ts
Labels: apps, changeset

fix: Remove trust anchor
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/encoders/entity-configuration.ts
  apps/io-wallet-user-func/src/entity-configuration.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/trust-anchor.ts
  apps/io-wallet-user-func/src/infra/trust-anchor/index.ts
  apps/io-wallet-user-func/src/wallet-attestation.ts
  infra/resources/_modules/function_apps/locals.tf
Labels: apps, infra

Create thick-eggs-marry.md
  .changeset/thick-eggs-marry.md
Labels: changeset

fix: Remove trust anchor (#148)
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/encoders/entity-configuration.ts
  apps/io-wallet-user-func/src/entity-configuration.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/trust-anchor.ts
  apps/io-wallet-user-func/src/infra/trust-anchor/index.ts
  apps/io-wallet-user-func/src/wallet-attestation.ts
  infra/resources/_modules/function_apps/locals.tf
Labels: apps, infra

fix: Remove trust anchor (#148)
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/encoders/entity-configuration.ts
  apps/io-wallet-user-func/src/entity-configuration.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/trust-anchor.ts
  apps/io-wallet-user-func/src/infra/trust-anchor/index.ts
  apps/io-wallet-user-func/src/wallet-attestation.ts
  infra/resources/_modules/function_apps/locals.tf
Labels: apps, infra

changeset: Add changeset for remove Trust Anchor (#149)
  .changeset/thick-eggs-marry.md
Labels: changeset

changeset: Add changeset for remove Trust Anchor (#149)
  .changeset/thick-eggs-marry.md
Labels: changeset

updated env var
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

fix: updated env var
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

fix: updated env var
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

set public keys in base64
  apps/io-wallet-user-func/src/app/config.ts
  infra/resources/_modules/function_apps/locals.tf
Labels: apps, infra

fix base64 encoded
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

fix
  apps/io-wallet-user-func/src/app/config.ts
Labels: apps

chore: add public keys in base64
  apps/io-wallet-user-func/src/app/config.ts
  infra/resources/_modules/function_apps/locals.tf
Labels: apps, infra

chore: add public keys in base64
  apps/io-wallet-user-func/src/app/config.ts
  infra/resources/_modules/function_apps/locals.tf
Labels: apps, infra

run changeset
  .changeset/few-fireants-tap.md
Labels: changeset

Run changeset (#153)
  .changeset/few-fireants-tap.md
  .changeset/metal-penguins-visit.md
Labels: changeset

Run changeset (#153)
  .changeset/few-fireants-tap.md
  .changeset/metal-penguins-visit.md
Labels: changeset

updated trial system client
  apps/io-wallet-user-func/src/infra/trial-system/client.ts
Labels: apps

fix lint
  apps/io-wallet-user-func/src/infra/trial-system/client.ts
Labels: apps

Fix unit-test base64
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/__test__/attestation.spec.ts
  apps/io-wallet-user-func/src/infra/attestation-service/ios/__test__/attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
Labels: apps

fix: Fix unit-test for base64 env vars
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/__test__/attestation.spec.ts
  apps/io-wallet-user-func/src/infra/attestation-service/ios/__test__/attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
Labels: apps

fix: Fix unit-test for base64 env vars
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/__test__/attestation.spec.ts
  apps/io-wallet-user-func/src/infra/attestation-service/ios/__test__/attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
Labels: apps

run changeset
  .changeset/fast-ways-approve.md
Labels: changeset

fix: updated trial system client
  .changeset/fast-ways-approve.md
  apps/io-wallet-user-func/src/infra/trial-system/client.ts
Labels: apps, changeset

fix: updated trial system client
  .changeset/fast-ways-approve.md
  apps/io-wallet-user-func/src/infra/trial-system/client.ts
Labels: apps, changeset

feat: implemented apim resources
  infra/resources/_modules/apim/api/ioweb/user-function/_base_policy.xml
  infra/resources/_modules/apim/api/ioweb/user-function/_swagger.json
  infra/resources/_modules/apim/apim.tf
  infra/resources/_modules/apim/main.tf
  infra/resources/_modules/apim/outputs.tf
  infra/resources/_modules/apim/variables.tf
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/outputs.tf
  infra/resources/prod/locals.tf
  infra/resources/prod/main.tf
Labels: infra

chore: ran pre-commit
  infra/resources/_modules/apim/outputs.tf
  infra/resources/_modules/apim/variables.tf
  infra/resources/prod/README.md
  infra/resources/prod/locals.tf
  infra/resources/prod/main.tf
Labels: infra

fix: removed unused local in function_apps
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

fix: fixed paths
  infra/resources/_modules/apim/apim.tf
Labels: infra

fix: default_site_hostname function app output
  infra/resources/_modules/function_apps/outputs.tf
Labels: infra

fix: product_id variable usage
  infra/resources/_modules/apim/apim.tf
Labels: infra

fix: function_app output name fixed
  infra/resources/_modules/function_apps/outputs.tf
  infra/resources/prod/main.tf
Labels: infra

fix: function app output
  infra/identity/prod/westeurope/.terraform.lock.hcl
  infra/resources/_modules/function_apps/outputs.tf
Labels: infra

Add multiple bundle ids
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/__test__/attestation.spec.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/assertion.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/attestation.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/index.ts
  apps/io-wallet-user-func/src/infra/attestation-service/index.ts
  apps/io-wallet-user-func/src/infra/attestation-service/ios/__test__/assertion.spec.ts
  apps/io-wallet-user-func/src/infra/attestation-service/ios/__test__/attestation.spec.ts
  apps/io-wallet-user-func/src/infra/attestation-service/ios/__test__/config.ts
  apps/io-wallet-user-func/src/infra/attestation-service/ios/assertion.ts
  apps/io-wallet-user-func/src/infra/attestation-service/ios/attestation.ts
  apps/io-wallet-user-func/src/infra/attestation-service/ios/index.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  infra/resources/_modules/function_apps/locals.tf
Labels: apps, infra

run changeset
  .changeset/new-hounds-sneeze.md
Labels: changeset

updated
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/infra/attestation-service/index.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
Labels: apps

chore: add support for multiple bundle ids
  .changeset/new-hounds-sneeze.md
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/__test__/attestation.spec.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/assertion.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/attestation.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/index.ts
  apps/io-wallet-user-func/src/infra/attestation-service/index.ts
  apps/io-wallet-user-func/src/infra/attestation-service/ios/__test__/assertion.spec.ts
  apps/io-wallet-user-func/src/infra/attestation-service/ios/__test__/attestation.spec.ts
  apps/io-wallet-user-func/src/infra/attestation-service/ios/__test__/config.ts
  apps/io-wallet-user-func/src/infra/attestation-service/ios/assertion.ts
  apps/io-wallet-user-func/src/infra/attestation-service/ios/attestation.ts
  apps/io-wallet-user-func/src/infra/attestation-service/ios/index.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  infra/resources/_modules/function_apps/locals.tf
Labels: apps, infra, changeset
