Repository pagopa/io-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, infra, changeset

.github/labeler.yml:

apps: apps/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*

fix email links
  apps/io-wallet-user-func/src/infra/handlers/send-email-on-wallet-instance-creation.ts
Labels: apps

run changeset
  .changeset/fluffy-laws-count.md
Labels: changeset

fix: fixed link email
  .changeset/fluffy-laws-count.md
  apps/io-wallet-user-func/src/infra/handlers/send-email-on-wallet-instance-creation.ts
Labels: apps, changeset

remove space
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/create-wallet-instance-attestation.spec.ts
Labels: apps

added /leaf-keys and /intermediate-keys endpoints
  .changeset/real-swans-pull.md
  .changeset/tame-eagles-help.md
  apps/io-wallet-user-func/openapi.yaml
  apps/io-wallet-user-func/package.json
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/key.ts
  apps/io-wallet-user-func/src/infra/azure/functions/create-intermediate-key.ts
  apps/io-wallet-user-func/src/infra/azure/functions/create-leaf-key.ts
  apps/io-wallet-user-func/src/infra/azure/key-vault/key.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/create-intermediate-key.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/create-leaf-key.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-intermediate-key.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-leaf-key.ts
  apps/io-wallet-user-func/src/keys.ts
  infra/resources/psn/prod/apim/api/entity-intermediate-ca-uat/swagger.yaml
  infra/resources/psn/prod/apim/api/entity-intermediate-ca/swagger.yaml
  infra/resources/psn/prod/apim_apis.tf
  infra/resources/psn/prod/key_vault_secrets.tf
  packages/io-wallet-common/src/jwk.ts
  pnpm-lock.yaml
Labels: apps, infra, changeset

updated app settings values
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

comment new fn app related code
  infra/resources/_modules/function_apps/function_app_whitelist.tf
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/outputs.tf
  infra/resources/_modules/iam/functions.tf
  infra/resources/_modules/iam/variables.tf
  infra/resources/psn/prod/main.tf
Labels: infra

add whitelist function app using existing subnet
  infra/resources/_modules/function_apps/function_app_whitelist.tf
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/networking.tf
  infra/resources/_modules/function_apps/outputs.tf
  infra/resources/_modules/iam/functions.tf
  infra/resources/_modules/iam/variables.tf
  infra/resources/psn/prod/main.tf
Labels: infra

removed count from new fn app staging slot
  infra/resources/_modules/iam/functions.tf
Labels: infra

removed subnet route table association
  infra/resources/_modules/function_apps/networking.tf
Labels: infra

infra: added whitelist function app using existing subnet
  infra/resources/_modules/function_apps/function_app_whitelist.tf
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/networking.tf
  infra/resources/_modules/function_apps/outputs.tf
  infra/resources/_modules/iam/functions.tf
  infra/resources/_modules/iam/variables.tf
  infra/resources/psn/prod/main.tf
Labels: infra

updated pre-commit and add role to CD identity
  .pre-commit-config.yaml
  infra/core/psn/hub/prod/iam.tf
Labels: infra

infra: updated pre-commit and add role to CD identity
  .pre-commit-config.yaml
  infra/core/psn/hub/prod/iam.tf
Labels: infra

feat: Add missing storage account metric alerts
  infra/resources/_modules/storage_accounts/alerts.tf
Labels: infra

feat: add diagnostic settings for Cosmos DB and log analytics workspace integration
  infra/resources/_modules/cosmos/alerts.tf
  infra/resources/_modules/cosmos/cosmos_accounts.tf
  infra/resources/_modules/cosmos/variables.tf
  infra/resources/prod/main.tf
  infra/resources/psn/prod/main.tf
Labels: infra

run pre-commit update
  .pre-commit-config.yaml
Labels: none

run pre-commit update
  .pre-commit-config.yaml
Labels: none

configure whitelist function app settings and key vault access
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/iam/functions.tf
Labels: infra

fix: configure whitelist function app settings and key vault access
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/iam/functions.tf
Labels: infra

enable soft delete
  infra/resources/_modules/storage_accounts/storage_accounts.tf
Labels: infra

feat: Add storage account for APIM backup/restore, add GitHub workflows for auto APIM backup and manual restore
  .github/workflows/apim_backup.yaml
  .github/workflows/apim_restore.yaml
  infra/resources/psn/prod/.terraform.lock.hcl
  infra/resources/psn/prod/README.md
  infra/resources/psn/prod/apim_backup.tf
  infra/resources/psn/prod/providers.tf
Labels: ci, infra

fix: add push trigger for testing
  .github/workflows/apim_backup.yaml
Labels: ci

fix: pass to REST API, add role assignment for storage contributor
  .github/workflows/apim_backup.yaml
  .github/workflows/apim_restore.yaml
  infra/resources/psn/prod/apim_backup.tf
Labels: ci, infra

fix: add active logging
  .github/workflows/apim_backup.yaml
  .github/workflows/apim_restore.yaml
Labels: ci

fix: remove test config
  .github/workflows/apim_backup.yaml
Labels: ci

fix: typo
  .github/workflows/apim_backup.yaml
Labels: ci

Enable blob soft delete on application Storage Account (#844)
  infra/resources/_modules/storage_accounts/storage_accounts.tf
Labels: infra

disabled functions in staging slot and update function app role
  fiscal-codes-1.csv
  fiscal-codes.csv
  infra/resources/_modules/function_apps/function_app_whitelist.tf
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/iam/functions.tf
Labels: infra

removed fiscal codes file
  fiscal-codes-1.csv
  fiscal-codes.csv
Labels: none

infra: disabled functions in staging slot and update function app role
  infra/resources/_modules/function_apps/function_app_whitelist.tf
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/iam/functions.tf
Labels: infra

updated whitelist fn app settings
  apps/io-wallet-whitelist-func/host.json
  infra/resources/_modules/function_apps/locals.tf
Labels: apps, infra

run changeset
  .changeset/fair-buses-happen.md
Labels: changeset

chore: updated whitelist fn app settings
  .changeset/fair-buses-happen.md
  apps/io-wallet-whitelist-func/host.json
  infra/resources/_modules/function_apps/locals.tf
Labels: apps, infra, changeset

use unique csv blob names for whitelist imports
  apps/io-wallet-whitelist-func/src/app/main.ts
Labels: apps

run changeset
  .changeset/neat-rice-shout.md
Labels: changeset

chore: updated blob trigger name
  .changeset/neat-rice-shout.md
  apps/io-wallet-whitelist-func/src/app/main.ts
Labels: apps, changeset

Add IT-Wallet firewall alerts
  infra/core/psn/hub/prod/alerts.tf
  infra/core/psn/hub/prod/data.tf
  infra/core/psn/hub/prod/locals.tf
Labels: infra

feat: add IT-Wallet APIM alerts
  infra/resources/psn/prod/.terraform.lock.hcl
  infra/resources/psn/prod/apim.tf
Labels: infra

refactor: rely on tier-aware APIM alert defaults
  infra/resources/psn/prod/apim.tf
Labels: infra

Fix infrastructure plan prerequisites
  .github/workflows/validate_psn_infra.yaml
  .terraform-version
Labels: ci
