Repository pagopa/io-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, sd-jwt, apps, docs, ci, infra, changeset

.github/labeler.yml:

internal: packages/**/*
sd-jwt: packages/sd-jwt/*
apps: apps/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*

Fix comments
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/ios/attestation.ts
Labels: apps

feat: Add attestation/assertion validation on iOS
  apps/io-func-wallet-solution-backend/package.json
  apps/io-func-wallet-solution-backend/src/app/config.ts
  apps/io-func-wallet-solution-backend/src/app/main.ts
  apps/io-func-wallet-solution-backend/src/attestation-service.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/android.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/index.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/ios/__test__/assertion.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/ios/__test__/attestation.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/ios/__test__/config.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/ios/assertion.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/ios/attestation.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/ios/index.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-func-wallet-solution-backend/src/wallet-instance-request.ts
  apps/io-func-wallet-solution-backend/src/wallet-instance.ts
  yarn.lock
Labels: apps

feat: Add attestation/assertion validation on iOS
  apps/io-func-wallet-solution-backend/package.json
  apps/io-func-wallet-solution-backend/src/app/config.ts
  apps/io-func-wallet-solution-backend/src/app/main.ts
  apps/io-func-wallet-solution-backend/src/attestation-service.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/android.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/index.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/ios/__test__/assertion.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/ios/__test__/attestation.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/ios/__test__/config.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/ios/assertion.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/ios/attestation.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/ios/index.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-func-wallet-solution-backend/src/wallet-instance-request.ts
  apps/io-func-wallet-solution-backend/src/wallet-instance.ts
  yarn.lock
Labels: apps

added azure function programming model v4 and replace wallet instance attestation with wallet instance
  apps/io-func-wallet-solution-backend/CreateWalletInstance/function.json
  apps/io-func-wallet-solution-backend/CreateWalletInstanceAttestation/function.json
  apps/io-func-wallet-solution-backend/GetEntityConfiguration/function.json
  apps/io-func-wallet-solution-backend/Info/function.json
  apps/io-func-wallet-solution-backend/package.json
  apps/io-func-wallet-solution-backend/src/__test__/verifier.spec.ts
  apps/io-func-wallet-solution-backend/src/app/main.ts
  apps/io-func-wallet-solution-backend/src/encoders/wallet-attestation.ts
  apps/io-func-wallet-solution-backend/src/infra/azure/functions/create-wallet-attestation.ts
  apps/io-func-wallet-solution-backend/src/infra/azure/functions/create-wallet-instance-attestation.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/create-wallet-instance-attestation.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/create-wallet-attestation.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/create-wallet-instance-attestation.ts
  apps/io-func-wallet-solution-backend/src/wallet-attestation-request.ts
  apps/io-func-wallet-solution-backend/src/wallet-attestation.ts
  yarn.lock
Labels: apps

chore: [SIW-1015] Added Azure function programming model v4 (#35)
  apps/io-func-wallet-solution-backend/CreateWalletInstance/function.json
  apps/io-func-wallet-solution-backend/CreateWalletInstanceAttestation/function.json
  apps/io-func-wallet-solution-backend/GetEntityConfiguration/function.json
  apps/io-func-wallet-solution-backend/Info/function.json
  apps/io-func-wallet-solution-backend/package.json
  apps/io-func-wallet-solution-backend/src/__test__/verifier.spec.ts
  apps/io-func-wallet-solution-backend/src/app/main.ts
  apps/io-func-wallet-solution-backend/src/encoders/wallet-attestation.ts
  apps/io-func-wallet-solution-backend/src/infra/azure/functions/create-wallet-attestation.ts
  apps/io-func-wallet-solution-backend/src/infra/azure/functions/create-wallet-instance-attestation.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/create-wallet-instance-attestation.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/create-wallet-attestation.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/create-wallet-instance-attestation.ts
  apps/io-func-wallet-solution-backend/src/wallet-attestation-request.ts
  apps/io-func-wallet-solution-backend/src/wallet-attestation.ts
  yarn.lock
Labels: apps

chore: [SIW-1015] Added Azure function programming model v4 (#35)
  apps/io-func-wallet-solution-backend/CreateWalletInstance/function.json
  apps/io-func-wallet-solution-backend/CreateWalletInstanceAttestation/function.json
  apps/io-func-wallet-solution-backend/GetEntityConfiguration/function.json
  apps/io-func-wallet-solution-backend/Info/function.json
  apps/io-func-wallet-solution-backend/package.json
  apps/io-func-wallet-solution-backend/src/__test__/verifier.spec.ts
  apps/io-func-wallet-solution-backend/src/app/main.ts
  apps/io-func-wallet-solution-backend/src/encoders/wallet-attestation.ts
  apps/io-func-wallet-solution-backend/src/infra/azure/functions/create-wallet-attestation.ts
  apps/io-func-wallet-solution-backend/src/infra/azure/functions/create-wallet-instance-attestation.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/create-wallet-instance-attestation.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/create-wallet-attestation.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/create-wallet-instance-attestation.ts
  apps/io-func-wallet-solution-backend/src/wallet-attestation-request.ts
  apps/io-func-wallet-solution-backend/src/wallet-attestation.ts
  yarn.lock
Labels: apps

delete main master from code-review workflow trigger
  .github/workflows/code-review.yaml
Labels: ci

updated changeset and turbo
  package.json
  yarn.lock
Labels: none

changeset init
  .changeset/README.md
  .changeset/config.json
Labels: changeset

run changeset
  .changeset/wise-rice-tap.md
Labels: changeset

delete main master from code-review workflow trigger
  .github/workflows/code-review.yaml
Labels: ci

changeset init
  .changeset/README.md
  .changeset/config.json
Labels: changeset

run changeset
  .changeset/wise-rice-tap.md
Labels: changeset

updated changeset and turbo
  package.json
  yarn.lock
Labels: none

updated main file
  apps/io-func-wallet-solution-backend/src/app/main.ts
Labels: apps

updated turbo in code-review pipeline
  .github/workflows/code-review.yaml
Labels: ci

test
  apps/io-func-wallet-solution-backend/src/app/test.ts
Labels: apps

test
  apps/io-func-wallet-solution-backend/src/app/main.ts
  apps/io-func-wallet-solution-backend/src/app/test.ts
Labels: apps

updated test file
  apps/io-func-wallet-solution-backend/src/app/main.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
Labels: apps

test
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
Labels: apps

test
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
Labels: apps

Add Android validation
  apps/io-func-wallet-solution-backend/package.json
  apps/io-func-wallet-solution-backend/src/app/config.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/android/__test__/attestation.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/android/__test__/config.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/android/attestation.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/android/index.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/index.ts
  yarn.lock
Labels: apps

updated turbo.json
  turbo.json
Labels: none

test
  apps/io-func-wallet-solution-backend/src/jwk.ts
Labels: apps

Align with
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/android.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/android/attestation.ts
Labels: apps

test
  turbo.json
Labels: none

deleted test comment
  apps/io-func-wallet-solution-backend/src/jwk.ts
Labels: apps

restored turbo.json outputMode in test
  turbo.json
Labels: none

Update .changeset/wise-rice-tap.md
  .changeset/wise-rice-tap.md
Labels: changeset

updated dependencies
  apps/io-func-wallet-solution-backend/package.json
  yarn.lock
Labels: apps

chore: [SIW-1014] Repo updates (#36)
  .changeset/README.md
  .changeset/config.json
  .changeset/wise-rice-tap.md
  .github/workflows/code-review.yaml
  apps/io-func-wallet-solution-backend/package.json
  apps/io-func-wallet-solution-backend/src/app/main.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  package.json
  turbo.json
  yarn.lock
Labels: apps, ci, changeset

chore: [SIW-1014] Repo updates (#36)
  .changeset/README.md
  .changeset/config.json
  .changeset/wise-rice-tap.md
  .github/workflows/code-review.yaml
  apps/io-func-wallet-solution-backend/package.json
  apps/io-func-wallet-solution-backend/src/app/main.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  package.json
  turbo.json
  yarn.lock
Labels: apps, ci, changeset

upgrade
  .changeset/nasty-spiders-scream.md
  apps/io-func-wallet-solution-backend/package.json
  apps/io-func-wallet-solution-backend/tsconfig.json
  yarn.lock
Labels: apps, changeset

Update yarn.lock
  yarn.lock
Labels: none

Upgrade JOSE and fix yarn.lock
  apps/io-func-wallet-solution-backend/package.json
  yarn.lock
Labels: apps

chore: Upgrade typescript and ES version
  .changeset/nasty-spiders-scream.md
  apps/io-func-wallet-solution-backend/package.json
  apps/io-func-wallet-solution-backend/tsconfig.json
  yarn.lock
Labels: apps, changeset

chore: Upgrade typescript and ES version
  .changeset/nasty-spiders-scream.md
  apps/io-func-wallet-solution-backend/package.json
  apps/io-func-wallet-solution-backend/tsconfig.json
  yarn.lock
Labels: apps, changeset

Add TEE validation
  apps/io-func-wallet-solution-backend/src/attestation-service.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/android/__test__/attestation.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/android/__test__/config.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/android/attestation.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/ios/__test__/attestation.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/ios/attestation.ts
Labels: apps

Add android CRL url in environment config
  apps/io-func-wallet-solution-backend/src/app/config.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/android/__test__/attestation.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/android/attestation.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/android/index.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/index.ts
Labels: apps

Fix test
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
Labels: apps
