Repository pagopa/io-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, sd-jwt, apps, docs, ci, infra, changeset

.github/labeler.yml:

internal: packages/**/*
sd-jwt: packages/sd-jwt/*
apps: apps/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*

removed .nvmrc file
  .nvmrc
Labels: none

chore: added new workspaces apps/io-wallet-web-func and packages/io-wallet-common
  .node-version
  .nvmrc
  apps/io-wallet-user-func/asyncapi.yaml
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-nonce.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-user-by-fiscal-code.ts
  apps/io-wallet-user-func/src/infra/http/handlers/health.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
  apps/io-wallet-web-func/.eslintrc.js
  apps/io-wallet-web-func/asyncapi.yaml
  apps/io-wallet-web-func/host.json
  apps/io-wallet-web-func/local.settings.json.example
  apps/io-wallet-web-func/openapi.yaml
  apps/io-wallet-web-func/package.json
  apps/io-wallet-web-func/src/app/config.ts
  apps/io-wallet-web-func/src/app/main.ts
  apps/io-wallet-web-func/src/infra/azure/functions/health.ts
  apps/io-wallet-web-func/src/infra/http/handlers/__test__/health.spec.ts
  apps/io-wallet-web-func/src/infra/http/handlers/health.ts
  apps/io-wallet-web-func/tsconfig.json
  apps/io-wallet-web-func/tsup.config.js
  apps/io-wallet-web-func/vitest.config.mjs
  io-wallet.code-workspace
  package.json
  packages/.keep
  packages/io-wallet-common/.eslintrc.js
  packages/io-wallet-common/package.json
  packages/io-wallet-common/src/cosmos-health-check.ts
  packages/io-wallet-common/src/env.ts
  packages/io-wallet-common/src/http-response.ts
  packages/io-wallet-common/src/index.ts
  packages/io-wallet-common/tsconfig.json
  packages/io-wallet-common/tsup.config.js
  turbo.json
  yarn.lock
Labels: internal, apps

chore: added new workspaces apps/io-wallet-web-func and packages/io-wallet-common
  .node-version
  .nvmrc
  apps/io-wallet-user-func/asyncapi.yaml
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-nonce.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-user-by-fiscal-code.ts
  apps/io-wallet-user-func/src/infra/http/handlers/health.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
  apps/io-wallet-web-func/.eslintrc.js
  apps/io-wallet-web-func/asyncapi.yaml
  apps/io-wallet-web-func/host.json
  apps/io-wallet-web-func/local.settings.json.example
  apps/io-wallet-web-func/openapi.yaml
  apps/io-wallet-web-func/package.json
  apps/io-wallet-web-func/src/app/config.ts
  apps/io-wallet-web-func/src/app/main.ts
  apps/io-wallet-web-func/src/infra/azure/functions/health.ts
  apps/io-wallet-web-func/src/infra/http/handlers/__test__/health.spec.ts
  apps/io-wallet-web-func/src/infra/http/handlers/health.ts
  apps/io-wallet-web-func/tsconfig.json
  apps/io-wallet-web-func/tsup.config.js
  apps/io-wallet-web-func/vitest.config.mjs
  io-wallet.code-workspace
  package.json
  packages/.keep
  packages/io-wallet-common/.eslintrc.js
  packages/io-wallet-common/package.json
  packages/io-wallet-common/src/cosmos-health-check.ts
  packages/io-wallet-common/src/env.ts
  packages/io-wallet-common/src/http-response.ts
  packages/io-wallet-common/src/index.ts
  packages/io-wallet-common/tsconfig.json
  packages/io-wallet-common/tsup.config.js
  turbo.json
  yarn.lock
Labels: internal, apps

deleted validation file in io-wallet-common
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/index.ts
  apps/io-wallet-user-func/src/infra/attestation-service/ios/index.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-wallet-user-func/src/infra/crypto/signer.ts
  apps/io-wallet-user-func/src/infra/trust-anchor/index.ts
  apps/io-wallet-user-func/src/verifier.ts
  apps/io-wallet-user-func/src/wallet-attestation-request.ts
  apps/io-wallet-web-func/src/infra/azure/cosmos/wallet-instance.ts
  package.json
  packages/io-wallet-common/src/index.ts
  packages/io-wallet-common/src/jwk.ts
  packages/io-wallet-common/src/validation.ts
  turbo.json
Labels: internal, apps

updated io-wallet-common package
  apps/io-wallet-user-func/src/__test__/jwk.spec.ts
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/attestation-service.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/assertion.ts
  apps/io-wallet-user-func/src/infra/attestation-service/ios/index.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/handlers/utils.ts
  apps/io-wallet-user-func/src/infra/trust-anchor/index.ts
  apps/io-wallet-user-func/src/user.ts
  apps/io-wallet-user-func/src/verifier.ts
  apps/io-wallet-user-func/src/wallet-attestation.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
  apps/io-wallet-web-func/src/app/config.ts
  apps/io-wallet-web-func/src/infra/http/handlers/get-current-wallet-instance-status.ts
  apps/io-wallet-web-func/src/infra/http/handlers/health.ts
  apps/io-wallet-web-func/src/wallet-instance.ts
  packages/io-wallet-common/package.json
  packages/io-wallet-common/src/index.ts
  packages/io-wallet-common/tsconfig.json
  packages/io-wallet-common/tsup.config.js
  yarn.lock
Labels: internal, apps

updated @azure/identity dependency
  apps/io-wallet-user-func/package.json
  apps/io-wallet-web-func/package.json
  yarn.lock
Labels: apps

fix build
  apps/io-wallet-user-func/src/encoders/entity-configuration.ts
  apps/io-wallet-user-func/src/encoders/wallet-attestation.ts
  apps/io-wallet-user-func/src/entity-configuration.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/__test__/assertion.spec.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/index.ts
  apps/io-wallet-user-func/src/infra/attestation-service/ios/__test__/config.ts
  apps/io-wallet-user-func/src/infra/attestation-service/ios/assertion.ts
  apps/io-wallet-user-func/src/infra/crypto/__test__/signer.spec.ts
  apps/io-wallet-user-func/src/infra/crypto/signer.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/keys.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-nonce.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-user-by-fiscal-code.ts
  apps/io-wallet-user-func/src/infra/http/handlers/health.ts
  apps/io-wallet-user-func/src/signer.ts
  apps/io-wallet-user-func/src/trust-anchor.ts
  apps/io-wallet-user-func/src/wallet-attestation-request.ts
  apps/io-wallet-web-func/src/infra/http/handlers/health.ts
Labels: apps

updated getCurrentWalletInstanceStatus handler
  apps/io-wallet-user-func/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-web-func/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-wallet-web-func/src/infra/http/handlers/__test__/get-current-wallet-instance.status.spec.ts
  apps/io-wallet-web-func/src/infra/http/handlers/get-current-wallet-instance-status.ts
  apps/io-wallet-web-func/src/wallet-instance.ts
Labels: apps

deleted useless comment
  apps/io-wallet-web-func/src/wallet-instance.ts
Labels: apps

updated wallet instance types
  apps/io-wallet-web-func/src/wallet-instance.ts
Labels: apps

updated query for getLastByUserId
  apps/io-wallet-web-func/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-wallet-web-func/src/infra/http/handlers/__test__/get-current-wallet-instance.status.spec.ts
  apps/io-wallet-web-func/src/wallet-instance.ts
Labels: apps

fix lint
  apps/io-wallet-web-func/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-wallet-web-func/src/infra/http/handlers/__test__/get-current-wallet-instance.status.spec.ts
  apps/io-wallet-web-func/src/wallet-instance.ts
Labels: apps

add encoder
  apps/io-wallet-web-func/src/encoders/wallet-instance.ts
  apps/io-wallet-web-func/src/infra/http/handlers/get-current-wallet-instance-status.ts
Labels: apps

updated createWalletInstance function
  apps/io-wallet-user-func/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
Labels: apps

updated
  apps/io-wallet-user-func/package.json
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  packages/io-wallet-common/package.json
  packages/io-wallet-common/src/storage-queue.ts
  yarn.lock
Labels: internal, apps

updated config
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
Labels: apps

delete comment
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
Labels: apps

updated
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  packages/io-wallet-common/src/storage-queue.ts
Labels: internal, apps

updated user-func health check function
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/health.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/health.ts
  packages/io-wallet-common/src/azure-health-check.ts
Labels: internal, apps

fix
  apps/io-wallet-web-func/src/infra/http/handlers/health.ts
Labels: apps

run changeset
  .changeset/violet-coins-check.md
Labels: changeset

add rule engine for url rewrite
  infra/resources/_modules/cdn/cdn.tf
Labels: infra

add rule engine for url rewrite
  infra/resources/_modules/cdn/cdn.tf
Labels: infra

add new container and rename rule
  infra/resources/_modules/cdn/cdn.tf
  infra/resources/_modules/cdn/dns.tf
  infra/resources/_modules/cdn/locals.tf
  infra/resources/_modules/cdn/storage_account.tf
Labels: infra

rework locals
  infra/resources/_modules/cdn/cdn.tf
  infra/resources/_modules/cdn/locals.tf
Labels: infra

feat: [EC-335] Add rule engine on CDN to expose ".well-known" path
  infra/resources/_modules/cdn/cdn.tf
  infra/resources/_modules/cdn/dns.tf
  infra/resources/_modules/cdn/locals.tf
  infra/resources/_modules/cdn/storage_account.tf
Labels: infra

feat: [EC-335] Add rule engine on CDN to expose ".well-known" path
  infra/resources/_modules/cdn/cdn.tf
  infra/resources/_modules/cdn/dns.tf
  infra/resources/_modules/cdn/locals.tf
  infra/resources/_modules/cdn/storage_account.tf
Labels: infra

Update packages/io-wallet-common/src/azure-health-check.ts
  packages/io-wallet-common/src/azure-health-check.ts
Labels: internal

added createWalletInstance function
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-web-func/local.settings.json.example
  apps/io-wallet-web-func/src/app/main.ts
  apps/io-wallet-web-func/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-wallet-web-func/src/infra/azure/functions/create-wallet-instance.ts
  apps/io-wallet-web-func/src/infra/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-web-func/src/infra/handlers/create-wallet-instance.ts
  apps/io-wallet-web-func/src/infra/http/handlers/__test__/get-current-wallet-instance.status.spec.ts
  apps/io-wallet-web-func/src/wallet-instance.ts
Labels: apps

Change attested_security_context to aal
  apps/io-wallet-user-func/src/encoders/entity-configuration.ts
  apps/io-wallet-user-func/src/encoders/wallet-attestation.ts
  apps/io-wallet-user-func/src/wallet-attestation.ts
Labels: apps

chore: updated createWalletInstance function
  .changeset/violet-coins-check.md
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/package.json
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/health.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/handlers/health.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
  apps/io-wallet-web-func/src/infra/http/handlers/health.ts
  packages/io-wallet-common/package.json
  packages/io-wallet-common/src/azure-health-check.ts
  packages/io-wallet-common/src/storage-queue.ts
  yarn.lock
Labels: internal, apps, changeset

chore: updated createWalletInstance function
  .changeset/violet-coins-check.md
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/package.json
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/health.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/handlers/health.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
  apps/io-wallet-web-func/src/infra/http/handlers/health.ts
  packages/io-wallet-common/package.json
  packages/io-wallet-common/src/azure-health-check.ts
  packages/io-wallet-common/src/storage-queue.ts
  yarn.lock
Labels: internal, apps, changeset

split revokeUserWalletInstancesExceptOne in functions
  apps/io-wallet-web-func/src/wallet-instance.ts
Labels: apps

updated wallet-instance.ts function
  apps/io-wallet-user-func/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
  apps/io-wallet-web-func/src/wallet-instance.ts
Labels: apps

fix: Alignment with new technical rules
  apps/io-wallet-user-func/src/encoders/entity-configuration.ts
  apps/io-wallet-user-func/src/encoders/wallet-attestation.ts
  apps/io-wallet-user-func/src/wallet-attestation.ts
Labels: apps

fix: Alignment with new technical rules
  apps/io-wallet-user-func/src/encoders/entity-configuration.ts
  apps/io-wallet-user-func/src/encoders/wallet-attestation.ts
  apps/io-wallet-user-func/src/wallet-attestation.ts
Labels: apps

run changeset
  .changeset/selfish-coins-raise.md
Labels: changeset

updated local.settings.json.example web
  apps/io-wallet-web-func/local.settings.json.example
Labels: apps

feat: added createWalletInstance function
  .changeset/selfish-coins-raise.md
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
  apps/io-wallet-web-func/local.settings.json.example
  apps/io-wallet-web-func/src/app/main.ts
  apps/io-wallet-web-func/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-wallet-web-func/src/infra/azure/functions/create-wallet-instance.ts
  apps/io-wallet-web-func/src/infra/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-web-func/src/infra/handlers/create-wallet-instance.ts
  apps/io-wallet-web-func/src/infra/http/handlers/__test__/get-current-wallet-instance.status.spec.ts
  apps/io-wallet-web-func/src/wallet-instance.ts
Labels: apps, changeset

feat: added createWalletInstance function
  .changeset/selfish-coins-raise.md
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
  apps/io-wallet-web-func/local.settings.json.example
  apps/io-wallet-web-func/src/app/main.ts
  apps/io-wallet-web-func/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-wallet-web-func/src/infra/azure/functions/create-wallet-instance.ts
  apps/io-wallet-web-func/src/infra/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-web-func/src/infra/handlers/create-wallet-instance.ts
  apps/io-wallet-web-func/src/infra/http/handlers/__test__/get-current-wallet-instance.status.spec.ts
  apps/io-wallet-web-func/src/wallet-instance.ts
Labels: apps, changeset
