Repository pagopa/io-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, sd-jwt, apps, docs, ci, infra, changeset

updated openapi fn app
  apps/io-wallet-user-func/openapi.yaml
Labels: apps

updated openapi IO web APIM API
  infra/resources/_modules/apim/api/ioweb/_swagger.json
Labels: infra

fix APIM file path
  infra/resources/_modules/apim/apim.tf
Labels: infra

updated APIM policy endpoint
  infra/resources/_modules/apim/api/ioweb/_base_policy.xml
  infra/resources/_modules/apim/api/ioweb/_get_current_wallet_instance_status_policy.xml
  infra/resources/_modules/apim/api/ioweb/set_wallet_instance_status_policy.xml
  infra/resources/_modules/apim/apim.tf
Labels: infra

Add first batch
  apps/io-wallet-user-func/src/android-key-attestation.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-wallet-user-func/src/infra/azure/functions/check-wallet-instances-keys-revocation.ts
  apps/io-wallet-user-func/src/infra/handlers/check-wallet-instances-keys-revocation.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
Labels: apps

Add first batch
  apps/io-wallet-user-func/src/android-key-attestation.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-wallet-user-func/src/infra/azure/functions/check-wallet-instances-keys-revocation.ts
  apps/io-wallet-user-func/src/infra/handlers/check-wallet-instances-keys-revocation.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
Labels: apps

updated APIM endpoint policy
  infra/resources/_modules/apim/api/ioweb/_get_current_wallet_instance_status_policy.xml
  infra/resources/_modules/apim/api/ioweb/_set_wallet_instance_status_policy.xml
Labels: infra

Update android-key-attestation.ts
  apps/io-wallet-user-func/src/android-key-attestation.ts
Labels: apps

Update android-key-attestation.ts
  apps/io-wallet-user-func/src/android-key-attestation.ts
Labels: apps

Update main.ts
  apps/io-wallet-user-func/src/app/main.ts
Labels: apps

Update main.ts
  apps/io-wallet-user-func/src/app/main.ts
Labels: apps

Update android-key-attestation.ts
  apps/io-wallet-user-func/src/android-key-attestation.ts
Labels: apps

Update android-key-attestation.ts
  apps/io-wallet-user-func/src/android-key-attestation.ts
Labels: apps

updated set_wallet_instance_status_policy
  infra/resources/_modules/apim/api/ioweb/_set_wallet_instance_status_policy.xml
Labels: infra

Change to getAllValid
  apps/io-wallet-user-func/src/android-key-attestation.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-current-wallet-instance.status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-current-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
  packages/io-wallet-common/src/wallet-instance.ts
Labels: internal, apps

Change to getAllValid
  apps/io-wallet-user-func/src/android-key-attestation.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-current-wallet-instance.status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-current-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
  packages/io-wallet-common/src/wallet-instance.ts
Labels: internal, apps

add getAllValidWalletInstances function
  apps/io-wallet-user-func/src/android-key-attestation.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
Labels: apps

add getAllValidWalletInstances function
  apps/io-wallet-user-func/src/android-key-attestation.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
Labels: apps

add TODO comment
  infra/resources/_modules/apim/api/ioweb/_base_policy.xml
Labels: infra

Introduce AsyncIterator
  apps/io-wallet-user-func/src/android-key-attestation.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-current-wallet-instance.status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-current-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
Labels: apps

Introduce AsyncIterator
  apps/io-wallet-user-func/src/android-key-attestation.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-current-wallet-instance.status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-current-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
Labels: apps

Add changelog
  .changeset/chatty-islands-perform.md
  apps/io-wallet-user-func/src/app/main.ts
Labels: apps, changeset

Add changelog
  .changeset/chatty-islands-perform.md
  apps/io-wallet-user-func/src/app/main.ts
Labels: apps, changeset

Update android-key-attestation.ts
  apps/io-wallet-user-func/src/android-key-attestation.ts
Labels: apps

Update android-key-attestation.ts
  apps/io-wallet-user-func/src/android-key-attestation.ts
Labels: apps

Update android-key-attestation.ts
  apps/io-wallet-user-func/src/android-key-attestation.ts
Labels: apps

Update android-key-attestation.ts
  apps/io-wallet-user-func/src/android-key-attestation.ts
Labels: apps

chore: moved io-web jwt validation to APIM
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/openapi.yaml
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-current-wallet-instance.status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/health.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-current-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/handlers/health.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/jwt-validator.ts
  apps/io-wallet-user-func/src/infra/http/whitelisted-user.ts
  apps/io-wallet-user-func/src/infra/jwt-validator.ts
  apps/io-wallet-user-func/src/infra/trial-system/client.ts
  apps/io-wallet-user-func/src/infra/trial-system/health-check.ts
  apps/io-wallet-user-func/src/jwt-validator.ts
  apps/io-wallet-user-func/src/user.ts
  infra/resources/_modules/apim/api/ioweb/_base_policy.xml
  infra/resources/_modules/apim/api/ioweb/_get_current_wallet_instance_status_policy.xml
  infra/resources/_modules/apim/api/ioweb/_set_wallet_instance_status_policy.xml
  infra/resources/_modules/apim/api/ioweb/_swagger.json
  infra/resources/_modules/apim/api/ioweb/user-function/_base_policy.xml
  infra/resources/_modules/apim/apim.tf
  infra/resources/_modules/function_apps/locals.tf
Labels: apps, infra

chore: moved io-web jwt validation to APIM
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/openapi.yaml
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-current-wallet-instance.status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/health.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-current-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/handlers/health.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/jwt-validator.ts
  apps/io-wallet-user-func/src/infra/http/whitelisted-user.ts
  apps/io-wallet-user-func/src/infra/jwt-validator.ts
  apps/io-wallet-user-func/src/infra/trial-system/client.ts
  apps/io-wallet-user-func/src/infra/trial-system/health-check.ts
  apps/io-wallet-user-func/src/jwt-validator.ts
  apps/io-wallet-user-func/src/user.ts
  infra/resources/_modules/apim/api/ioweb/_base_policy.xml
  infra/resources/_modules/apim/api/ioweb/_get_current_wallet_instance_status_policy.xml
  infra/resources/_modules/apim/api/ioweb/_set_wallet_instance_status_policy.xml
  infra/resources/_modules/apim/api/ioweb/_swagger.json
  infra/resources/_modules/apim/api/ioweb/user-function/_base_policy.xml
  infra/resources/_modules/apim/apim.tf
  infra/resources/_modules/function_apps/locals.tf
Labels: apps, infra

run changeset
  .changeset/brave-islands-wave.md
Labels: changeset

[SIW-1479] run changeset (#269)
  .changeset/brave-islands-wave.md
Labels: changeset

[SIW-1479] run changeset (#269)
  .changeset/brave-islands-wave.md
Labels: changeset

add await
  apps/io-wallet-user-func/src/android-key-attestation.ts
Labels: apps

add await
  apps/io-wallet-user-func/src/android-key-attestation.ts
Labels: apps

Added getNotRevokedByDiffirentIdAndUserId() method and changed getUserValidWalletInstancesIdExceptOne() method, used in wallet instance creation
  apps/io-wallet-user-func/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
Labels: apps

Updating unit tests for the CreateWalletInstance
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
Labels: apps

Linting
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
Labels: apps

Updating unit tests
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-current-wallet-instance.status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-current-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-wallet-instance-status.spec.ts
Labels: apps

added new product and new API in APIM
  apps/io-wallet-user-func/openapi.yaml
  infra/resources/_modules/apim/api/pdnd/_base_policy.xml
  infra/resources/_modules/apim/api/pdnd/_swagger.json
  infra/resources/_modules/apim/apim.tf
  infra/resources/_modules/apim/product.tf
Labels: apps, infra

updated APIM path
  infra/resources/_modules/apim/apim.tf
Labels: infra

.github/labeler.yml:

internal: packages/**/*
sd-jwt: packages/sd-jwt/*
apps: apps/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*
