Repository pagopa/io-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, infra, changeset

.github/labeler.yml:

apps: apps/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*

updated migrateWalletInstances function
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/main.ts
Labels: apps

update
  apps/io-wallet-user-func/src/app/main.ts
Labels: apps

moved import
  apps/io-wallet-user-func/src/app/main.ts
Labels: apps

fix lint
  apps/io-wallet-user-func/src/app/main.ts
Labels: apps

revert slack config
  apps/io-wallet-user-func/src/app/config.ts
  infra/resources/prod/locals.tf
Labels: apps, infra

feat: added migrateWalletInstances function
  .changeset/whole-dancers-raise.md
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/functions/migrate-wallet-instances.ts
  apps/io-wallet-user-func/src/infra/handlers/migrate-wallet-instances.ts
Labels: apps, changeset

add png
  infra/resources/psn/prod/architecture.png
Labels: infra

Update architecture with DNS zones (#605)
  infra/resources/psn/prod/architecture.mmd
  infra/resources/psn/prod/architecture.png
Labels: infra

rename domain
  .github/workflows/api_wallet_io_pagopa_it.yaml
Labels: ci

rename and template of tls pipeline
  .github/workflows/api_wallet_io_pagopa_it.yaml
  .github/workflows/tls_certificate.yaml
Labels: ci

add env vars
  .github/workflows/api_wallet_io_pagopa_it.yaml
  .github/workflows/tls_certificate.yaml
Labels: ci

Replace old DNS with api.wallet.io.pagopa.it (#606)
  .github/workflows/api_wallet_io_pagopa_it.yaml
  .github/workflows/tls_certificate.yaml
Labels: ci

add workflow
  .github/workflows/wallet_io_pagopa_it.yaml
Labels: ci

add workflow
  .github/workflows/internal_api_wallet_io_pagopa_it.yaml
Labels: ci

add workflow
  .github/workflows/apim_internal_wallet_io_pagopa_it.yaml
Labels: ci

Add workflow for apim.internal.wallet.io.pagopa.it (#607)
  .github/workflows/apim_internal_wallet_io_pagopa_it.yaml
Labels: ci

stupid fix
  .github/workflows/apim_internal_wallet_io_pagopa_it.yaml
  .github/workflows/tls_certificate.yaml
Labels: ci

Fix to tls template workflow (#610)
  .github/workflows/apim_internal_wallet_io_pagopa_it.yaml
  .github/workflows/tls_certificate.yaml
Labels: ci

rename workflow
  .github/workflows/api_internal_wallet_io_pagopa_it.yaml
Labels: ci

fix var name
  .github/workflows/wallet_io_pagopa_it.yaml
Labels: ci

fix: remove imports, edit workflow
  .github/workflows/release_psn_infra.yaml
  .github/workflows/support_function_deploy_psn.yaml
  .github/workflows/user_function_deploy_psn.yaml
  .github/workflows/user_uat_function_deploy_psn.yaml
  .github/workflows/validate_psn_infra.yaml
  infra/bootstrapper/prod/secrets.tf
Labels: ci, infra

Add PSN GitHub environments and secrets with Managed Identities (#603)
  .github/workflows/release_psn_infra.yaml
  .github/workflows/support_function_deploy_psn.yaml
  .github/workflows/user_function_deploy_psn.yaml
  .github/workflows/user_uat_function_deploy_psn.yaml
  .github/workflows/validate_psn_infra.yaml
  infra/bootstrapper/prod/README.md
  infra/bootstrapper/prod/main.tf
  infra/bootstrapper/prod/secrets.tf
  infra/repository/locals.tf
  infra/repository/main.tf
  infra/repository/tfmodules.lock.json
Labels: ci, infra

Add workflow for wallet.io.pagopa.it (#609)
  .github/workflows/wallet_io_pagopa_it.yaml
Labels: ci

Add workflow for api.internal.wallet.io.pagopa.it certificates (#608)
  .github/workflows/api_internal_wallet_io_pagopa_it.yaml
Labels: ci

update apims apis
  infra/resources/_modules/function_apps/outputs.tf
  infra/resources/prod/README.md
  infra/resources/prod/apim_platform.tf
  infra/resources/prod/policies/product_base_policy.xml
  infra/resources/prod/policies/tfmodules.lock.json
  infra/resources/psn/prod/README.md
  infra/resources/psn/prod/apim_apis.tf
Labels: infra

Set APIs to both APIMs (#611)
  infra/resources/_modules/function_apps/outputs.tf
  infra/resources/prod/README.md
  infra/resources/prod/apim_platform.tf
  infra/resources/prod/policies/product_base_policy.xml
  infra/resources/prod/policies/tfmodules.lock.json
  infra/resources/psn/prod/README.md
  infra/resources/psn/prod/apim_apis.tf
Labels: infra

apim dns setup
  infra/resources/psn/prod/README.md
  infra/resources/psn/prod/apim.tf
  infra/resources/psn/prod/data.tf
  infra/resources/psn/prod/main.tf
Labels: infra

appgw setup
  infra/core/psn/hub/prod/appgw.tf
Labels: infra

setup networking
  infra/core/psn/hub/prod/README.md
  infra/core/psn/hub/prod/locals.tf
  infra/core/psn/hub/prod/networking.tf
  infra/core/psn/hub/prod/private_dns_zones.tf
Labels: infra

add dns configuration
  infra/resources/prod/dns.tf
Labels: infra

fix cert name
  infra/core/psn/hub/prod/appgw.tf
Labels: infra

rename probes
  infra/core/psn/hub/prod/appgw.tf
Labels: infra

add roles to apim
  infra/resources/psn/prod/README.md
  infra/resources/psn/prod/main.tf
Labels: infra

fix appgw routes
  infra/core/psn/hub/prod/appgw.tf
  infra/resources/psn/prod/architecture.mmd
  infra/resources/psn/prod/architecture.png
Labels: infra

replace cname with a record
  infra/resources/psn/prod/README.md
  infra/resources/psn/prod/apim.tf
Labels: infra

update cert name in appgw
  infra/core/psn/hub/prod/appgw.tf
Labels: infra

remove empty lines
  infra/core/psn/hub/prod/private_dns_zones.tf
Labels: infra

fix import
  infra/resources/psn/prod/apim.tf
Labels: infra

move definition
  infra/resources/prod/data.tf
  infra/resources/prod/dns.tf
Labels: infra

update diagram
  infra/resources/psn/prod/architecture.mmd
  infra/resources/psn/prod/architecture.png
Labels: infra
