Repository pagopa/io-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, infra, changeset

.github/labeler.yml:

apps: apps/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*

Remove workflow to renew wallet.io.pagopa.it TLS certificate (#690)
  .github/workflows/wallet_io_pagopa_it.yaml
Labels: ci

remove workflow
  .github/workflows/api_wallet_io_pagopa_it.yaml
Labels: ci

Remove api.wallet.io.pagopa.it TLS renewal workflow (#691)
  .github/workflows/api_wallet_io_pagopa_it.yaml
Labels: ci

removed old architecture files
  infra/resources/psn/prod/architecture.mmd
  infra/resources/psn/prod/architecture.png
Labels: infra

chore: updated architecture diagram
  README.md
  architecture/cloud_architecture.mmd
  architecture/cloud_architecture.png
  architecture/cloud_architecture.svg
  infra/resources/psn/prod/architecture.mmd
  infra/resources/psn/prod/architecture.png
Labels: infra

cleanup pagopa
  infra/resources/_modules/cdn/README.md
  infra/resources/_modules/cdn/alerts.tf
  infra/resources/_modules/cdn/cdn.tf
  infra/resources/_modules/cdn/locals.tf
  infra/resources/_modules/cdn/main.tf
  infra/resources/_modules/cdn/outputs.tf
  infra/resources/_modules/cdn/storage_account.tf
  infra/resources/_modules/cdn/variables.tf
  infra/resources/_modules/dns/README.md
  infra/resources/_modules/dns/variables.tf
  infra/resources/_modules/iam/README.md
  infra/resources/_modules/iam/admins.tf
  infra/resources/_modules/iam/cdn.tf
  infra/resources/_modules/iam/key_vaults.tf
  infra/resources/_modules/iam/variables.tf
  infra/resources/prod/README.md
  infra/resources/prod/data.tf
  infra/resources/prod/iam.tf
  infra/resources/prod/key_vault_secrets.tf
  infra/resources/prod/locals.tf
  infra/resources/prod/main.tf
  infra/resources/prod/moved.tf
  infra/resources/prod/tfmodules.lock.json
Labels: infra

updated APIM API
  infra/resources/_modules/apim/api/admin/_base_policy.xml
  infra/resources/_modules/apim/api/admin/_swagger.json
  infra/resources/_modules/apim/api/admin/swagger.yaml
  infra/resources/_modules/apim/api/app/_base_policy.xml
  infra/resources/_modules/apim/api/app/_swagger.json
  infra/resources/_modules/apim/api/app/swagger.yaml
  infra/resources/_modules/apim/api/ioweb/base_policy.xml
  infra/resources/_modules/apim/api/ioweb/get_current_wallet_instance_status_policy.xml
  infra/resources/_modules/apim/api/ioweb/is_fiscal_code_whitelisted.xml
  infra/resources/_modules/apim/api/ioweb/set_wallet_instance_status_policy.xml
  infra/resources/_modules/apim/api/pdnd/_set_wallet_instance_status_policy.xml
  infra/resources/_modules/apim/api/pdnd/_swagger.json
  infra/resources/_modules/apim/api/pdnd/base_policy.xml
  infra/resources/_modules/apim/api/pdnd/health_check_policy.xml
  infra/resources/_modules/apim/api/pdnd/swagger.yaml
  infra/resources/_modules/apim/apim.tf
  infra/resources/_modules/cosmos/alerts.tf
Labels: infra

remove useless moved block
  infra/resources/prod/moved.tf
Labels: infra

adapt config to common changes
  infra/resources/_modules/cosmos/alerts.tf
  infra/resources/_modules/iam/README.md
  infra/resources/_modules/iam/cicd.tf
  infra/resources/_modules/iam/key_vaults.tf
  infra/resources/_modules/iam/variables.tf
  infra/resources/psn/prod/README.md
  infra/resources/psn/prod/cdn.tf
  infra/resources/psn/prod/data.tf
  infra/resources/psn/prod/main.tf
Labels: infra

remove diagrams
  infra/resources/psn/prod/README.md
  infra/resources/psn/prod/architecture.mmd
  infra/resources/psn/prod/architecture.png
Labels: infra

fix format and lint
  infra/resources/_modules/apim/README.md
  infra/resources/_modules/apim/variables.tf
  infra/resources/_modules/function_apps/README.md
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/_modules/storage_accounts/README.md
  infra/resources/_modules/storage_accounts/outputs.tf
  infra/resources/_modules/storage_accounts/variables.tf
  infra/resources/prod/README.md
  infra/resources/prod/data.tf
  infra/resources/prod/main.tf
  infra/resources/psn/prod/main.tf
Labels: infra

fix tf fmt
  infra/resources/_modules/apim/README.md
  infra/resources/_modules/apim/variables.tf
  infra/resources/prod/main.tf
Labels: infra

updated io-web APIM API policy
  infra/resources/_modules/apim/api/ioweb/get_current_wallet_instance_status_policy.xml
  infra/resources/_modules/apim/api/ioweb/is_fiscal_code_whitelisted.xml
Labels: infra

set wallet action group to disabled
  infra/resources/_modules/monitoring/action_groups.tf
Labels: infra

infra: updated io-web APIM API policy
  infra/resources/_modules/apim/api/ioweb/get_current_wallet_instance_status_policy.xml
  infra/resources/_modules/apim/api/ioweb/is_fiscal_code_whitelisted.xml
  infra/resources/_modules/monitoring/action_groups.tf
Labels: infra

added user and user uat app gw swagger
  apps/io-wallet-user-func/openapi/user_uat_v1/swagger.yaml
  apps/io-wallet-user-func/openapi/user_v1/swagger.yaml
Labels: apps

renamed openapi directory
  apps/io-wallet-user-func/openapi-external/user_uat_v1/swagger.yaml
  apps/io-wallet-user-func/openapi-external/user_v1/swagger.yaml
Labels: apps

chore: Added user and user uat App gw swagger
  apps/io-wallet-user-func/openapi-external/user_uat_v1/swagger.yaml
  apps/io-wallet-user-func/openapi-external/user_v1/swagger.yaml
Labels: apps

run changeset
  .changeset/rare-ghosts-join.md
Labels: changeset

chore: run changeset
  .changeset/rare-ghosts-join.md
Labels: changeset

add try/catch for play integrity call
  .changeset/crisp-steaks-kneel.md
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/assertion.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/index.ts
Labels: apps, changeset

fix lint
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/index.ts
Labels: apps

added unit test
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
Labels: apps

fix: add try/catch for play integrity call
  .changeset/crisp-steaks-kneel.md
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/assertion.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/index.ts
Labels: apps, changeset

updated dependencies
  .changeset/ten-chairs-do.md
  apps/io-wallet-messages-func/package.json
  apps/io-wallet-support-func/package.json
  apps/io-wallet-user-func/package.json
  package.json
  packages/io-wallet-common/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: apps, changeset

downgrade some dependencies and runned lint
  apps/io-wallet-messages-func/package.json
  apps/io-wallet-support-func/package.json
  apps/io-wallet-support-func/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-wallet-user-func/package.json
  apps/io-wallet-user-func/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/whitelisted-fiscal-code.ts
  apps/io-wallet-user-func/src/infra/email.ts
  packages/io-wallet-common/package.json
  pnpm-lock.yaml
Labels: apps

updated lock file
  pnpm-lock.yaml
Labels: none

chore: updated dependencies
  .changeset/ten-chairs-do.md
  apps/io-wallet-messages-func/package.json
  apps/io-wallet-support-func/package.json
  apps/io-wallet-support-func/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-wallet-user-func/package.json
  apps/io-wallet-user-func/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/whitelisted-fiscal-code.ts
  apps/io-wallet-user-func/src/infra/email.ts
  package.json
  packages/io-wallet-common/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: apps, changeset

removed three function app deploy workflows
  .github/workflows/support_function_deploy.yaml
  .github/workflows/user_function_deploy.yaml
  .github/workflows/user_uat_function_deploy.yaml
Labels: ci

chore: removed three function app deploy workflows
  .github/workflows/support_function_deploy.yaml
  .github/workflows/user_function_deploy.yaml
  .github/workflows/user_uat_function_deploy.yaml
Labels: ci

updated vitest in function app workspaces and turbo
  apps/io-wallet-messages-func/package.json
  apps/io-wallet-support-func/package.json
  apps/io-wallet-user-func/package.json
  package.json
  pnpm-lock.yaml
Labels: apps

updated dependencies
  apps/io-wallet-messages-func/package.json
  apps/io-wallet-support-func/package.json
  apps/io-wallet-user-func/package.json
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/assertion.ts
  packages/io-wallet-common/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: apps

updated lock file
  pnpm-lock.yaml
Labels: none

readd comment
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/assertion.ts
Labels: apps

run changeset
  .changeset/eight-areas-learn.md
Labels: changeset

chore: updated dependencies
  .changeset/eight-areas-learn.md
  apps/io-wallet-messages-func/package.json
  apps/io-wallet-support-func/package.json
  apps/io-wallet-user-func/package.json
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/assertion.ts
  package.json
  packages/io-wallet-common/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: apps, changeset

Remove pnpm-plugin-pagopa
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

added endpoint wallet-attestations-1.3
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/functions/create-wallet-attestations.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestations.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestations.ts
  apps/io-wallet-user-func/src/trust-anchor.ts
  apps/io-wallet-user-func/src/wallet-app-attestation.ts
  apps/io-wallet-user-func/src/wallet-attestations.ts
  apps/io-wallet-user-func/src/wallet-unit-attestation.ts
Labels: apps

Remove pnpm-plugin-pagopa (#705)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

run changeset
  .changeset/thick-houses-stay.md
Labels: changeset
