Repository pagopa/io-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, sd-jwt, apps, docs, ci, infra, changeset

uploadFile now returns TaskEither<never,void>
  apps/io-wallet-messages-func/src/infra/azure/storage/blob.ts
Labels: apps

[SIW-2034] - add txt record to validate `cbor` and `proximity` namespaces on Maven (#383)
  infra/resources/_modules/cdn/dns.tf
Labels: infra

[SIW-2034] - add txt record to validate `cbor` and `proximity` namespaces on Maven (#383)
  infra/resources/_modules/cdn/dns.tf
Labels: infra

add visibilityTimeout
  apps/io-wallet-messages-func/host.json
Labels: apps

run changeset
  .changeset/green-llamas-behave.md
Labels: changeset

chore: add visibilityTimeout to messages function app
  .changeset/green-llamas-behave.md
  apps/io-wallet-messages-func/host.json
Labels: apps, changeset

chore: add visibilityTimeout to messages function app
  .changeset/green-llamas-behave.md
  apps/io-wallet-messages-func/host.json
Labels: apps, changeset

feat: added dns contributor to cd identity and refactored dns module
  infra/repository/tfmodules.lock.json
  infra/resources/_modules/apim/README.md
  infra/resources/_modules/cdn/README.md
  infra/resources/_modules/cdn/locals.tf
  infra/resources/_modules/cdn/outputs.tf
  infra/resources/_modules/dns/main.tf
  infra/resources/_modules/dns/recordsets.tf
  infra/resources/_modules/dns/variables.tf
  infra/resources/_modules/function_apps/README.md
  infra/resources/_modules/iam/README.md
  infra/resources/_modules/iam/cicd.tf
  infra/resources/_modules/iam/variables.tf
  infra/resources/prod/.terraform.lock.hcl
  infra/resources/prod/README.md
  infra/resources/prod/data.tf
  infra/resources/prod/locals.tf
  infra/resources/prod/main.tf
  infra/resources/prod/moved.tf
  infra/resources/prod/tfmodules.lock.json
Labels: infra

fix: add nat_gateway_resource_group_id in repository bootstrap
  infra/repository/main.tf
  infra/resources/_modules/dns/README.md
  infra/resources/_modules/dns/variables.tf
Labels: infra

fix: nat gateway rg name id
  infra/repository/main.tf
Labels: infra

[CES-742] Added DNS Contributor to CD identity and refactored dns module (#387)
  infra/repository/main.tf
  infra/repository/tfmodules.lock.json
  infra/resources/_modules/apim/README.md
  infra/resources/_modules/cdn/README.md
  infra/resources/_modules/cdn/locals.tf
  infra/resources/_modules/cdn/outputs.tf
  infra/resources/_modules/dns/README.md
  infra/resources/_modules/dns/main.tf
  infra/resources/_modules/dns/recordsets.tf
  infra/resources/_modules/dns/variables.tf
  infra/resources/_modules/function_apps/README.md
  infra/resources/_modules/iam/README.md
  infra/resources/_modules/iam/cicd.tf
  infra/resources/_modules/iam/variables.tf
  infra/resources/prod/.terraform.lock.hcl
  infra/resources/prod/README.md
  infra/resources/prod/data.tf
  infra/resources/prod/locals.tf
  infra/resources/prod/main.tf
  infra/resources/prod/moved.tf
  infra/resources/prod/tfmodules.lock.json
Labels: infra

[CES-742] Added DNS Contributor to CD identity and refactored dns module (#387)
  infra/repository/main.tf
  infra/repository/tfmodules.lock.json
  infra/resources/_modules/apim/README.md
  infra/resources/_modules/cdn/README.md
  infra/resources/_modules/cdn/locals.tf
  infra/resources/_modules/cdn/outputs.tf
  infra/resources/_modules/dns/README.md
  infra/resources/_modules/dns/main.tf
  infra/resources/_modules/dns/recordsets.tf
  infra/resources/_modules/dns/variables.tf
  infra/resources/_modules/function_apps/README.md
  infra/resources/_modules/iam/README.md
  infra/resources/_modules/iam/cicd.tf
  infra/resources/_modules/iam/variables.tf
  infra/resources/prod/.terraform.lock.hcl
  infra/resources/prod/README.md
  infra/resources/prod/data.tf
  infra/resources/prod/locals.tf
  infra/resources/prod/main.tf
  infra/resources/prod/moved.tf
  infra/resources/prod/tfmodules.lock.json
Labels: infra

fixed file name
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-current-wallet-instance-status.spec.ts
Labels: apps

Updating patch instead of major (yarn changest)
  .changeset/red-buses-greet.md
Labels: changeset

chore: removed the PUT /wallet-instances/current/status endpoint
  .changeset/red-buses-greet.md
  apps/io-wallet-user-func/openapi.yaml
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/functions/set-current-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-current-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-current-wallet-instance-status.ts
Labels: apps, changeset

chore: removed the PUT /wallet-instances/current/status endpoint
  .changeset/red-buses-greet.md
  apps/io-wallet-user-func/openapi.yaml
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/functions/set-current-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-current-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-current-wallet-instance-status.ts
Labels: apps, changeset

Added integrity error INTEGRITY_ERROR_UNKNOWN_APP_ORIGIN
  apps/io-wallet-user-func/src/attestation-service.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/index.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/errors.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/index.ts
  packages/io-wallet-common/src/infra/http/error.ts
Labels: internal, apps

Added integrity error INTEGRITY_ERROR_UNKNOWN_APP_ORIGIN
  apps/io-wallet-user-func/src/attestation-service.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/index.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/errors.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/index.ts
  packages/io-wallet-common/src/infra/http/error.ts
Labels: internal, apps

Added CompromisedOrEmulatedDeviceIntegrityCheckError() error
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/index.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/errors.ts
  packages/io-wallet-common/src/infra/http/error.ts
Labels: internal, apps

Added CompromisedOrEmulatedDeviceIntegrityCheckError() error
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/index.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/errors.ts
  packages/io-wallet-common/src/infra/http/error.ts
Labels: internal, apps

Removed useless consts
  apps/io-wallet-user-func/src/attestation-service.ts
Labels: apps

Removed useless consts
  apps/io-wallet-user-func/src/attestation-service.ts
Labels: apps

fix: fixed file name
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-current-wallet-instance-status.spec.ts
Labels: apps

fix: fixed file name
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-current-wallet-instance-status.spec.ts
Labels: apps

update roles
  infra/repository/.terraform.lock.hcl
  infra/repository/README.md
  infra/repository/locals.tf
  infra/repository/main.tf
  infra/repository/tfmodules.lock.json
Labels: infra

clean up
  infra/resources/_modules/function_apps/README.md
  infra/resources/_modules/function_apps/function_app_support.tf
  infra/resources/_modules/function_apps/function_app_user.tf
  infra/resources/prod/moved.tf
Labels: infra

Assign roles to new APIM instance (#391)
  infra/repository/.terraform.lock.hcl
  infra/repository/README.md
  infra/repository/locals.tf
  infra/repository/main.tf
  infra/repository/tfmodules.lock.json
  infra/resources/_modules/function_apps/README.md
  infra/resources/_modules/function_apps/function_app_support.tf
  infra/resources/_modules/function_apps/function_app_user.tf
  infra/resources/prod/moved.tf
Labels: infra

Assign roles to new APIM instance (#391)
  infra/repository/.terraform.lock.hcl
  infra/repository/README.md
  infra/repository/locals.tf
  infra/repository/main.tf
  infra/repository/tfmodules.lock.json
  infra/resources/_modules/function_apps/README.md
  infra/resources/_modules/function_apps/function_app_support.tf
  infra/resources/_modules/function_apps/function_app_user.tf
  infra/resources/prod/moved.tf
Labels: infra

remove weu apim
  infra/resources/prod/README.md
  infra/resources/prod/locals.tf
  infra/resources/prod/main.tf
Labels: infra

[CES-854] Remove APIM WEU references (#392)
  infra/resources/prod/README.md
  infra/resources/prod/locals.tf
  infra/resources/prod/main.tf
Labels: infra

[CES-854] Remove APIM WEU references (#392)
  infra/resources/prod/README.md
  infra/resources/prod/locals.tf
  infra/resources/prod/main.tf
Labels: infra

Change registry namespace and fix version constraints
  infra/repository/README.md
  infra/repository/main.tf
  infra/repository/tfmodules.lock.json
  infra/resources/_modules/apim/README.md
  infra/resources/_modules/function_apps/README.md
  infra/resources/_modules/function_apps/function_app_support.tf
  infra/resources/_modules/function_apps/function_app_user.tf
  infra/resources/_modules/iam/README.md
  infra/resources/_modules/iam/admins.tf
  infra/resources/_modules/iam/functions.tf
  infra/resources/_modules/storage_accounts/README.md
  infra/resources/_modules/storage_accounts/storage_accounts.tf
  infra/resources/prod/README.md
  infra/resources/prod/main.tf
  infra/resources/prod/tfmodules.lock.json
Labels: infra

Change registry namespace and fix version constraints (#393)
  infra/repository/README.md
  infra/repository/main.tf
  infra/repository/tfmodules.lock.json
  infra/resources/_modules/apim/README.md
  infra/resources/_modules/function_apps/README.md
  infra/resources/_modules/function_apps/function_app_support.tf
  infra/resources/_modules/function_apps/function_app_user.tf
  infra/resources/_modules/iam/README.md
  infra/resources/_modules/iam/admins.tf
  infra/resources/_modules/iam/functions.tf
  infra/resources/_modules/storage_accounts/README.md
  infra/resources/_modules/storage_accounts/storage_accounts.tf
  infra/resources/prod/README.md
  infra/resources/prod/main.tf
  infra/resources/prod/tfmodules.lock.json
Labels: infra

Change registry namespace and fix version constraints (#393)
  infra/repository/README.md
  infra/repository/main.tf
  infra/repository/tfmodules.lock.json
  infra/resources/_modules/apim/README.md
  infra/resources/_modules/function_apps/README.md
  infra/resources/_modules/function_apps/function_app_support.tf
  infra/resources/_modules/function_apps/function_app_user.tf
  infra/resources/_modules/iam/README.md
  infra/resources/_modules/iam/admins.tf
  infra/resources/_modules/iam/functions.tf
  infra/resources/_modules/storage_accounts/README.md
  infra/resources/_modules/storage_accounts/storage_accounts.tf
  infra/resources/prod/README.md
  infra/resources/prod/main.tf
  infra/resources/prod/tfmodules.lock.json
Labels: infra

changed auth profile function app name
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

updated auth profile function app name
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

updated auth profile function app name
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

Added PdndInteropClient and VoucherRepository
  apps/io-wallet-user-func/package.json
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/infra/pdnd-interop/client.ts
  apps/io-wallet-user-func/src/infra/voucher.ts
  yarn.lock
Labels: apps

Added PdndInteropClient and VoucherRepository
  apps/io-wallet-user-func/package.json
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/infra/pdnd-interop/client.ts
  apps/io-wallet-user-func/src/infra/voucher.ts
  yarn.lock
Labels: apps

updated createWalletAttestation to work without fiscal code
  apps/io-wallet-user-func/openapi.yaml
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/attestation-service.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-wallet-user-func/src/infra/azure/functions/add-wallet-instance-by-id.ts
  apps/io-wallet-user-func/src/infra/handlers/add-wallet-instance-by-id.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/delete-wallet-instances.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-current-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/index.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
Labels: apps

.github/labeler.yml:

internal: packages/**/*
sd-jwt: packages/sd-jwt/*
apps: apps/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*
