Repository pagopa/io-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, infra, changeset

Remove io-p-kv unused permission dependencies (#736)
  infra/resources/prod/README.md
  infra/resources/prod/data.tf
  infra/resources/prod/iam.tf
  infra/resources/prod/tfmodules.lock.json
Labels: infra

Give APIM permission to read secrets from a Key Vault
  infra/resources/psn/prod/README.md
  infra/resources/psn/prod/apim.tf
Labels: infra

Create write only secrets
  infra/resources/psn/prod/README.md
  infra/resources/psn/prod/data.tf
  infra/resources/psn/prod/key_vault_secrets.tf
Labels: infra

added kv permissions to ci and cd
  infra/resources/psn/prod/key_vault_secrets.tf
  infra/resources/psn/prod/main.tf
Labels: infra

infra: added kv permissions to ci and cd identities
  infra/resources/psn/prod/key_vault_secrets.tf
  infra/resources/psn/prod/main.tf
Labels: infra

remove CI Key Vault Secrets User role assignment
  infra/resources/psn/prod/main.tf
Labels: infra

Potential fix for pull request finding
  infra/resources/psn/prod/main.tf
Labels: infra

fix: removed CI Key Vault Secrets User role assignment
  infra/resources/psn/prod/main.tf
Labels: infra

revert azurerm_role_assignment apim_kv_infra_secrets description
  infra/resources/psn/prod/main.tf
Labels: infra

infra: revert azurerm_role_assignment apim_kv_infra_secrets description
  infra/resources/psn/prod/main.tf
Labels: infra

add automation environment
  infra/repository/README.md
  infra/repository/main.tf
Labels: infra

removed duplicated key vault secret
  infra/resources/psn/prod/key_vault_secrets.tf
Labels: infra

revert deletion
  infra/resources/psn/prod/data.tf
  infra/resources/psn/prod/key_vault_secrets.tf
Labels: infra

Get named values from Key Vault
  infra/resources/psn/prod/apim_apis.tf
  infra/resources/psn/prod/main.tf
Labels: infra

removed unused key vault secrets
  infra/resources/psn/prod/README.md
  infra/resources/psn/prod/data.tf
  infra/resources/psn/prod/key_vault_secrets.tf
Labels: infra

chore: removed unused key vault secrets
  infra/resources/psn/prod/README.md
  infra/resources/psn/prod/data.tf
  infra/resources/psn/prod/key_vault_secrets.tf
Labels: infra

add secrets
  infra/bootstrapper/prod/.terraform.lock.hcl
  infra/bootstrapper/prod/README.md
  infra/bootstrapper/prod/secrets.tf
Labels: infra

update workflow
  .github/workflows/tls_certificate.yaml
Labels: ci

replace deprecated property
  infra/bootstrapper/prod/secrets.tf
Labels: infra

update description
  .github/workflows/tls_certificate.yaml
Labels: ci

made PID issuer /revokeAll error silent in setWalletInstanceStatus
  .changeset/moody-clubs-joke.md
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-wallet-instance-status.ts
Labels: apps, changeset

updated handler
  apps/io-wallet-user-func/src/infra/http/handlers/set-wallet-instance-status.ts
Labels: apps

Switch TLS workflows to prod-automation environment (#741)
  .github/workflows/tls_certificate.yaml
  infra/bootstrapper/prod/.terraform.lock.hcl
  infra/bootstrapper/prod/README.md
  infra/bootstrapper/prod/secrets.tf
  infra/repository/README.md
  infra/repository/main.tf
Labels: ci, infra

chore: made PID issuer /revokeAll error silent in setWalletInstanceStatus
  .changeset/moody-clubs-joke.md
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-wallet-instance-status.ts
Labels: apps, changeset

updated PidIssuerApiRequestTimeout app setting value
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

chore: updated PidIssuerApiRequestTimeout app setting value
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

updated eslint related packages
  apps/io-wallet-messages-func/package.json
  apps/io-wallet-support-func/package.json
  apps/io-wallet-user-func/package.json
  package.json
  packages/io-wallet-common/package.json
  pnpm-lock.yaml
Labels: apps

updated pnpm dep
  apps/io-wallet-messages-func/package.json
  apps/io-wallet-support-func/package.json
  apps/io-wallet-user-func/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: apps

updated opex config
  apps/io-wallet-user-func/.opex/management/env/prod/config.yaml
Labels: apps

added action_groups property
  apps/io-wallet-user-func/.opex/management/env/prod/config.yaml
Labels: apps

added action_groups
  apps/io-wallet-user-func/.opex/management/env/prod/config.yaml
Labels: apps

fix: updated opex config yaml
  apps/io-wallet-user-func/.opex/management/env/prod/config.yaml
Labels: apps

replace application/jwt with text/plain
  apps/io-wallet-user-func/openapi-external/user_uat_v1/swagger.yaml
  apps/io-wallet-user-func/openapi-external/user_v1/swagger.yaml
  infra/resources/prod/apis/user_uat_v1/swagger.yaml
  infra/resources/prod/apis/user_v1/swagger.yaml
  infra/resources/psn/prod/apim/api/user-uat/swagger.yaml
  infra/resources/psn/prod/apim/api/user/swagger.yaml
Labels: apps, infra

chore: update user swagger OpenAPI spec
  apps/io-wallet-user-func/openapi-external/user_uat_v1/swagger.yaml
  apps/io-wallet-user-func/openapi-external/user_v1/swagger.yaml
  infra/resources/prod/apis/user_uat_v1/swagger.yaml
  infra/resources/prod/apis/user_v1/swagger.yaml
  infra/resources/psn/prod/apim/api/user-uat/swagger.yaml
  infra/resources/psn/prod/apim/api/user/swagger.yaml
Labels: apps, infra

updated opex dashboard config file
  apps/io-wallet-user-func/.opex/management/env/prod/config.yaml
  apps/io-wallet-user-func/openapi.yaml
  infra/resources/psn/prod/apim/api/user-uat/swagger.yaml
  infra/resources/psn/prod/apim/api/user/swagger.yaml
Labels: apps, infra

fix: updated opex dashboard config file
  apps/io-wallet-user-func/.opex/management/env/prod/config.yaml
  apps/io-wallet-user-func/openapi.yaml
  infra/resources/psn/prod/apim/api/user-uat/swagger.yaml
  infra/resources/psn/prod/apim/api/user/swagger.yaml
Labels: apps, infra

updated pnpm dep
  apps/io-wallet-messages-func/package.json
  apps/io-wallet-support-func/package.json
  apps/io-wallet-user-func/package.json
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  package.json
  packages/io-wallet-common/package.json
  pnpm-lock.yaml
Labels: apps

updated package manager
  package.json
Labels: none

renamed __test__ directory in __tests__
  apps/io-wallet-messages-func/src/infra/handlers/__tests__/send-messages.spec.ts
  apps/io-wallet-messages-func/src/infra/handlers/__tests__/split.spec.ts
  apps/io-wallet-support-func/src/infra/http/handlers/__tests__/get-current-wallet-instance-by-fiscal-code.spec.ts
  apps/io-wallet-support-func/src/infra/http/handlers/__tests__/health.spec.ts
  apps/io-wallet-user-func/src/__tests__/certificates.spec.ts
  apps/io-wallet-user-func/src/infra/crypto/__tests__/signer.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/create-wallet-instance-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/create-wallet-unit-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/generate-certificate-chain.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/get-current-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/get-nonce.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/get-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/health.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/is-fiscal-code-whitelisted.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/keys.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/set-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/__tests__/assertion.spec.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/__tests__/attestation.spec.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/__tests__/config.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/ios/__tests__/assertion.spec.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/ios/__tests__/attestation.spec.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/ios/__tests__/config.ts
  packages/io-wallet-common/src/__tests__/jwk.spec.ts
Labels: apps

remove flag --no-daemon from scripts
  package.json
Labels: none

.github/labeler.yml:

apps: apps/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*
