Repository pagopa/io-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, sd-jwt, apps, docs, ci, infra, changeset

Added APIM product and API for support API
  infra/resources/_modules/apim/api/support-function/_base_policy.xml
  infra/resources/_modules/apim/api/support-function/_swagger.json
  infra/resources/_modules/apim/apim.tf
  infra/resources/_modules/apim/product.tf
  infra/resources/_modules/apim/variables.tf
  infra/resources/_modules/function_apps/outputs.tf
  infra/resources/prod/main.tf
Labels: infra

updated vitest dependencies
  apps/io-wallet-support-func/package.json
  apps/io-wallet-support-func/vitest.config.mjs
  apps/io-wallet-user-func/package.json
  apps/io-wallet-user-func/vitest.config.mjs
  yarn.lock
Labels: apps

removed coverage.include
  apps/io-wallet-support-func/vitest.config.mjs
  apps/io-wallet-user-func/vitest.config.mjs
Labels: apps

chore: update vitest dependencies
  apps/io-wallet-support-func/package.json
  apps/io-wallet-user-func/package.json
  yarn.lock
Labels: apps

chore: update vitest dependencies
  apps/io-wallet-support-func/package.json
  apps/io-wallet-user-func/package.json
  yarn.lock
Labels: apps

enable automatic failover
  infra/resources/_modules/cosmos/cosmos_accounts.tf
  infra/resources/_modules/iam/variables.tf
  infra/resources/prod/.terraform.lock.hcl
  infra/resources/prod/README.md
Labels: infra

Enable automatic failover on Cosmos DB
  infra/resources/_modules/cosmos/cosmos_accounts.tf
  infra/resources/_modules/iam/variables.tf
  infra/resources/prod/.terraform.lock.hcl
  infra/resources/prod/README.md
Labels: infra

Enable automatic failover on Cosmos DB
  infra/resources/_modules/cosmos/cosmos_accounts.tf
  infra/resources/_modules/iam/variables.tf
  infra/resources/prod/.terraform.lock.hcl
  infra/resources/prod/README.md
Labels: infra

Add attestation errors
  .changeset/weak-turkeys-attack.md
  apps/io-wallet-user-func/src/infra/attestation-service/android/attestation.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/index.ts
  apps/io-wallet-user-func/src/infra/attestation-service/errors.ts
Labels: apps, changeset

feat: Add x509Chain on Android Attestation errors
  .changeset/weak-turkeys-attack.md
  apps/io-wallet-user-func/src/infra/attestation-service/android/attestation.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/index.ts
  apps/io-wallet-user-func/src/infra/attestation-service/errors.ts
Labels: apps, changeset

feat: Add x509Chain on Android Attestation errors
  .changeset/weak-turkeys-attack.md
  apps/io-wallet-user-func/src/infra/attestation-service/android/attestation.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/index.ts
  apps/io-wallet-user-func/src/infra/attestation-service/errors.ts
Labels: apps, changeset

add timemout in fetch and cosmosclient
  apps/io-wallet-support-func/local.settings.json.example
  apps/io-wallet-support-func/src/app/config.ts
  apps/io-wallet-support-func/src/app/main.ts
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/__test__/attestation.spec.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/attestation.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/index.ts
  apps/io-wallet-user-func/src/infra/attestation-service/index.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/health.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/health.ts
  apps/io-wallet-user-func/src/infra/jwt-validator.ts
  apps/io-wallet-user-func/src/infra/pdv-tokenizer/client.ts
  apps/io-wallet-user-func/src/infra/pdv-tokenizer/health-check.ts
  apps/io-wallet-user-func/src/infra/pid-issuer/client.ts
  apps/io-wallet-user-func/src/infra/trial-system/client.ts
  infra/resources/_modules/cosmos/outputs.tf
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/prod/main.tf
  packages/io-wallet-common/src/infra/azure/cosmos/config.ts
  packages/io-wallet-common/src/infra/http/config.ts
  packages/io-wallet-common/src/infra/pdv-tokenizer/client.ts
  packages/io-wallet-common/src/infra/pdv-tokenizer/config.ts
Labels: internal, apps, infra

add HttpRequestTimeout in env example in support func
  apps/io-wallet-support-func/local.settings.json.example
Labels: apps

refactor
  apps/io-wallet-user-func/src/app/config.ts
Labels: apps

run changeset
  .changeset/tame-ligers-bathe.md
Labels: changeset

fix: added timeout in fetch and CosmosClient
  .changeset/tame-ligers-bathe.md
  apps/io-wallet-support-func/local.settings.json.example
  apps/io-wallet-support-func/src/app/config.ts
  apps/io-wallet-support-func/src/app/main.ts
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/__test__/attestation.spec.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/attestation.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/index.ts
  apps/io-wallet-user-func/src/infra/attestation-service/index.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/health.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/health.ts
  apps/io-wallet-user-func/src/infra/jwt-validator.ts
  apps/io-wallet-user-func/src/infra/pdv-tokenizer/client.ts
  apps/io-wallet-user-func/src/infra/pdv-tokenizer/health-check.ts
  apps/io-wallet-user-func/src/infra/pid-issuer/client.ts
  apps/io-wallet-user-func/src/infra/trial-system/client.ts
  infra/resources/_modules/cosmos/outputs.tf
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/prod/main.tf
  packages/io-wallet-common/src/infra/azure/cosmos/config.ts
  packages/io-wallet-common/src/infra/http/config.ts
  packages/io-wallet-common/src/infra/pdv-tokenizer/client.ts
  packages/io-wallet-common/src/infra/pdv-tokenizer/config.ts
Labels: internal, apps, infra, changeset

fix: added timeout in fetch and CosmosClient
  .changeset/tame-ligers-bathe.md
  apps/io-wallet-support-func/local.settings.json.example
  apps/io-wallet-support-func/src/app/config.ts
  apps/io-wallet-support-func/src/app/main.ts
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/__test__/attestation.spec.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/attestation.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/index.ts
  apps/io-wallet-user-func/src/infra/attestation-service/index.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/health.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/health.ts
  apps/io-wallet-user-func/src/infra/jwt-validator.ts
  apps/io-wallet-user-func/src/infra/pdv-tokenizer/client.ts
  apps/io-wallet-user-func/src/infra/pdv-tokenizer/health-check.ts
  apps/io-wallet-user-func/src/infra/pid-issuer/client.ts
  apps/io-wallet-user-func/src/infra/trial-system/client.ts
  infra/resources/_modules/cosmos/outputs.tf
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/prod/main.tf
  packages/io-wallet-common/src/infra/azure/cosmos/config.ts
  packages/io-wallet-common/src/infra/http/config.ts
  packages/io-wallet-common/src/infra/pdv-tokenizer/client.ts
  packages/io-wallet-common/src/infra/pdv-tokenizer/config.ts
Labels: internal, apps, infra, changeset

add action group
  infra/repository/.terraform.lock.hcl
  infra/resources/_modules/function_apps/key_vault_secrets.tf
  infra/resources/_modules/monitoring/action_groups.tf
  infra/resources/_modules/monitoring/variables.tf
  infra/resources/prod/README.md
  infra/resources/prod/data.tf
  infra/resources/prod/main.tf
Labels: infra

rename identity datas
  infra/identity/prod/README.md
  infra/identity/prod/data.tf
  infra/identity/prod/main.tf
Labels: infra

remove opsgenie
  infra/resources/_modules/monitoring/action_groups.tf
  infra/resources/_modules/monitoring/outputs.tf
  infra/resources/_modules/monitoring/variables.tf
  infra/resources/prod/README.md
  infra/resources/prod/data.tf
  infra/resources/prod/main.tf
Labels: infra

update short name
  infra/resources/_modules/monitoring/action_groups.tf
Labels: infra

remove unused data
  infra/resources/prod/README.md
  infra/resources/prod/data.tf
Labels: infra

[CES-136] Create Action Group for Wallet domain (#218)
  infra/identity/prod/README.md
  infra/identity/prod/data.tf
  infra/identity/prod/main.tf
  infra/repository/.terraform.lock.hcl
  infra/resources/_modules/function_apps/key_vault_secrets.tf
  infra/resources/_modules/monitoring/action_groups.tf
  infra/resources/_modules/monitoring/outputs.tf
  infra/resources/_modules/monitoring/variables.tf
  infra/resources/prod/README.md
  infra/resources/prod/data.tf
  infra/resources/prod/main.tf
Labels: infra

[CES-136] Create Action Group for Wallet domain (#218)
  infra/identity/prod/README.md
  infra/identity/prod/data.tf
  infra/identity/prod/main.tf
  infra/repository/.terraform.lock.hcl
  infra/resources/_modules/function_apps/key_vault_secrets.tf
  infra/resources/_modules/monitoring/action_groups.tf
  infra/resources/_modules/monitoring/outputs.tf
  infra/resources/_modules/monitoring/variables.tf
  infra/resources/prod/README.md
  infra/resources/prod/data.tf
  infra/resources/prod/main.tf
Labels: infra

implemented CB on PDV
  apps/io-wallet-support-func/src/infra/http/handlers/__test__/get-current-wallet-instance-by-fiscal-code.spec.ts
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-current-wallet-instance.status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-user-by-fiscal-code.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-wallet-instance-status.spec.ts
  packages/io-wallet-common/package.json
  packages/io-wallet-common/src/__test__/jwk.spec.ts
  packages/io-wallet-common/src/error.ts
  packages/io-wallet-common/src/infra/azure/cosmos/config.ts
  packages/io-wallet-common/src/infra/env.ts
  packages/io-wallet-common/src/infra/http/config.ts
  packages/io-wallet-common/src/infra/http/error.ts
  packages/io-wallet-common/src/infra/pdv-tokenizer/client.ts
  packages/io-wallet-common/src/infra/pdv-tokenizer/config.ts
  packages/io-wallet-common/src/user.ts
  packages/io-wallet-common/tsconfig.json
  yarn.lock
Labels: internal, apps

implemented CB on PDV
  apps/io-wallet-support-func/src/infra/http/handlers/__test__/get-current-wallet-instance-by-fiscal-code.spec.ts
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-current-wallet-instance.status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-user-by-fiscal-code.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-wallet-instance-status.spec.ts
  packages/io-wallet-common/package.json
  packages/io-wallet-common/src/__test__/jwk.spec.ts
  packages/io-wallet-common/src/error.ts
  packages/io-wallet-common/src/infra/azure/cosmos/config.ts
  packages/io-wallet-common/src/infra/env.ts
  packages/io-wallet-common/src/infra/http/config.ts
  packages/io-wallet-common/src/infra/http/error.ts
  packages/io-wallet-common/src/infra/pdv-tokenizer/client.ts
  packages/io-wallet-common/src/infra/pdv-tokenizer/config.ts
  packages/io-wallet-common/src/user.ts
  packages/io-wallet-common/tsconfig.json
  yarn.lock
Labels: internal, apps

add cosmos alert
  infra/resources/_modules/cosmos/alerts.tf
  infra/resources/_modules/cosmos/variables.tf
  infra/resources/prod/README.md
  infra/resources/prod/data.tf
  infra/resources/prod/main.tf
Labels: infra

add action groups to storage account
  infra/resources/_modules/cdn/alerts.tf
  infra/resources/_modules/cdn/variables.tf
  infra/resources/prod/main.tf
Labels: infra

add alerts to functions
  infra/resources/_modules/function_apps/alerts.tf
  infra/resources/_modules/function_apps/function_app_support.tf
  infra/resources/_modules/function_apps/function_app_user.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/prod/main.tf
Labels: infra

update codeowners
  .github/CODEOWNERS
  CODEOWNERS
Labels: none

add 503 response in support endpoint
  apps/io-wallet-support-func/openapi.yaml
  apps/io-wallet-support-func/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-wallet-support-func/src/infra/http/handlers/__test__/get-current-wallet-instance-by-fiscal-code.spec.ts
Labels: apps

add 503 response in support endpoint
  apps/io-wallet-support-func/openapi.yaml
  apps/io-wallet-support-func/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-wallet-support-func/src/infra/http/handlers/__test__/get-current-wallet-instance-by-fiscal-code.spec.ts
Labels: apps

refactored PdvTokenizerClient
  packages/io-wallet-common/src/infra/pdv-tokenizer/client.ts
Labels: internal

refactored PdvTokenizerClient
  packages/io-wallet-common/src/infra/pdv-tokenizer/client.ts
Labels: internal

add timeout error in cosmos db queries
  apps/io-wallet-user-func/openapi.yaml
  apps/io-wallet-user-func/src/infra/azure/cosmos/nonce.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/wallet-instance.ts
Labels: apps

add timeout error in cosmos db queries
  apps/io-wallet-user-func/openapi.yaml
  apps/io-wallet-user-func/src/infra/azure/cosmos/nonce.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/wallet-instance.ts
Labels: apps

add 503 in io-web endpoint
  apps/io-wallet-user-func/openapi.yaml
  apps/io-wallet-user-func/src/infra/pid-issuer/client.ts
Labels: apps

add 503 in io-web endpoint
  apps/io-wallet-user-func/openapi.yaml
  apps/io-wallet-user-func/src/infra/pid-issuer/client.ts
Labels: apps

[CES-133] Add alerts on cloud resources (#219)
  .github/CODEOWNERS
  CODEOWNERS
  infra/resources/_modules/cdn/alerts.tf
  infra/resources/_modules/cdn/variables.tf
  infra/resources/_modules/cosmos/alerts.tf
  infra/resources/_modules/cosmos/variables.tf
  infra/resources/_modules/function_apps/alerts.tf
  infra/resources/_modules/function_apps/function_app_support.tf
  infra/resources/_modules/function_apps/function_app_user.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/prod/README.md
  infra/resources/prod/data.tf
  infra/resources/prod/main.tf
Labels: infra

[CES-133] Add alerts on cloud resources (#219)
  .github/CODEOWNERS
  CODEOWNERS
  infra/resources/_modules/cdn/alerts.tf
  infra/resources/_modules/cdn/variables.tf
  infra/resources/_modules/cosmos/alerts.tf
  infra/resources/_modules/cosmos/variables.tf
  infra/resources/_modules/function_apps/alerts.tf
  infra/resources/_modules/function_apps/function_app_support.tf
  infra/resources/_modules/function_apps/function_app_user.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/prod/README.md
  infra/resources/prod/data.tf
  infra/resources/prod/main.tf
Labels: infra

.github/labeler.yml:

internal: packages/**/*
sd-jwt: packages/sd-jwt/*
apps: apps/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*
