Repository pagopa/io-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, sd-jwt, apps, docs, ci, infra, changeset

.github/labeler.yml:

internal: packages/**/*
sd-jwt: packages/sd-jwt/*
apps: apps/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*

chore: add support for multiple bundle ids
  .changeset/new-hounds-sneeze.md
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/__test__/attestation.spec.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/assertion.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/attestation.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/index.ts
  apps/io-wallet-user-func/src/infra/attestation-service/index.ts
  apps/io-wallet-user-func/src/infra/attestation-service/ios/__test__/assertion.spec.ts
  apps/io-wallet-user-func/src/infra/attestation-service/ios/__test__/attestation.spec.ts
  apps/io-wallet-user-func/src/infra/attestation-service/ios/__test__/config.ts
  apps/io-wallet-user-func/src/infra/attestation-service/ios/assertion.ts
  apps/io-wallet-user-func/src/infra/attestation-service/ios/attestation.ts
  apps/io-wallet-user-func/src/infra/attestation-service/ios/index.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  infra/resources/_modules/function_apps/locals.tf
Labels: apps, infra, changeset

fix: Swagger updated
  infra/resources/_modules/apim/api/ioweb/user-function/_swagger.json
Labels: infra

fix: edited base policy with function secret
  infra/resources/_modules/apim/api/ioweb/user-function/_base_policy.xml
  infra/resources/_modules/apim/apim.tf
  infra/resources/_modules/apim/variables.tf
  infra/resources/prod/main.tf
Labels: infra

increase ru
  infra/resources/_modules/cosmos/locals.tf
Labels: infra

fix triggers
  .github/workflows/pr_infra.yaml
  .github/workflows/release_infra.yaml
Labels: ci

fix: Update infra pipelines trigger paths (#163)
  .github/workflows/pr_infra.yaml
  .github/workflows/release_infra.yaml
Labels: ci

fix: Update infra pipelines trigger paths (#163)
  .github/workflows/pr_infra.yaml
  .github/workflows/release_infra.yaml
Labels: ci

[SIW-1353] Increase maximum Cosmos RU in autoscale mode (#161)
  infra/resources/_modules/cosmos/locals.tf
Labels: infra

[SIW-1353] Increase maximum Cosmos RU in autoscale mode (#161)
  infra/resources/_modules/cosmos/locals.tf
Labels: infra

upgrade app service sku
  infra/resources/_modules/function_apps/function_app_user.tf
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

add ipzs /revokeAll call
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/health.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/health.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/ipzs/client.ts
  apps/io-wallet-user-func/src/user.ts
Labels: apps

add infra env var
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/prod/locals.tf
Labels: infra

added undici
  apps/io-wallet-user-func/package.json
  yarn.lock
Labels: apps

run changeset
  .changeset/dry-readers-mate.md
Labels: changeset

update workflow
  .github/workflows/user_function_deploy.yaml
Labels: ci

[SIW-1354] Upgrade App Service SKU to P1v3 (#162)
  .github/workflows/user_function_deploy.yaml
  infra/resources/_modules/function_apps/function_app_user.tf
  infra/resources/_modules/function_apps/locals.tf
Labels: ci, infra

[SIW-1354] Upgrade App Service SKU to P1v3 (#162)
  .github/workflows/user_function_deploy.yaml
  infra/resources/_modules/function_apps/function_app_user.tf
  infra/resources/_modules/function_apps/locals.tf
Labels: ci, infra

add handling error 404
  apps/io-wallet-user-func/src/infra/http/error.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/ipzs/client.ts
Labels: apps

fix: added revision and changed apim module name
  infra/resources/_modules/apim/apim.tf
  infra/resources/_modules/apim/outputs.tf
  infra/resources/_modules/apim/variables.tf
  infra/resources/prod/main.tf
Labels: infra

updated
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/health.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/health.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/ipzs-services/client.ts
Labels: apps

dix: removed FunctionKey flag in the swagger
  infra/resources/_modules/apim/api/ioweb/user-function/_swagger.json
Labels: infra

implemented apim resources
  infra/identity/prod/westeurope/.terraform.lock.hcl
  infra/resources/_modules/apim/api/ioweb/user-function/_base_policy.xml
  infra/resources/_modules/apim/api/ioweb/user-function/_swagger.json
  infra/resources/_modules/apim/apim.tf
  infra/resources/_modules/apim/main.tf
  infra/resources/_modules/apim/outputs.tf
  infra/resources/_modules/apim/variables.tf
  infra/resources/_modules/function_apps/outputs.tf
  infra/resources/prod/README.md
  infra/resources/prod/locals.tf
  infra/resources/prod/main.tf
Labels: infra

implemented apim resources
  infra/identity/prod/westeurope/.terraform.lock.hcl
  infra/resources/_modules/apim/api/ioweb/user-function/_base_policy.xml
  infra/resources/_modules/apim/api/ioweb/user-function/_swagger.json
  infra/resources/_modules/apim/apim.tf
  infra/resources/_modules/apim/main.tf
  infra/resources/_modules/apim/outputs.tf
  infra/resources/_modules/apim/variables.tf
  infra/resources/_modules/function_apps/outputs.tf
  infra/resources/prod/README.md
  infra/resources/prod/locals.tf
  infra/resources/prod/main.tf
Labels: infra

change service_url in API io web wallet
  infra/resources/_modules/apim/apim.tf
Labels: infra

updated
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/credential.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/health.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/health.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/whitelisted-user.ts
  apps/io-wallet-user-func/src/infra/ipzs-services/client.ts
  apps/io-wallet-user-func/src/infra/ipzs-services/health-check.ts
  apps/io-wallet-user-func/src/user.ts
Labels: apps

fix: change service_url in API IO web wallet in APIM
  infra/resources/_modules/apim/apim.tf
Labels: infra

fix: change service_url in API IO web wallet in APIM
  infra/resources/_modules/apim/apim.tf
Labels: infra

fix
  apps/io-wallet-user-func/src/infra/http/error.ts
Labels: apps

fix: changed func_app_user_staging_slot_to_kv_secrets with new check method
  infra/resources/_modules/iam/key_vault_iam.tf
Labels: infra

[SIW-1371 ] Fix role assignment for Function App User staging (#166)
  infra/resources/_modules/iam/key_vault_iam.tf
Labels: infra

[SIW-1371 ] Fix role assignment for Function App User staging (#166)
  infra/resources/_modules/iam/key_vault_iam.tf
Labels: infra

add prefix
  .github/workflows/user_function_deploy.yaml
Labels: ci

fix
  .github/workflows/user_function_deploy.yaml
Labels: ci

fix: add prefix
  .github/workflows/user_function_deploy.yaml
Labels: ci

fix: add prefix
  .github/workflows/user_function_deploy.yaml
Labels: ci

mv ipzs pid-issuer
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/health.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/health.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/pid-issuer/client.ts
  apps/io-wallet-user-func/src/infra/pid-issuer/health-check.ts
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/prod/locals.tf
Labels: apps, infra

fix: Change application/jwt to application/json
  apps/io-wallet-user-func/openapi.yaml
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation.ts
  apps/io-wallet-user-func/src/infra/http/response.ts
Labels: apps

fix: Change `application/jwt` to `application/json` content-type for `/token` endpoint
  apps/io-wallet-user-func/openapi.yaml
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation.ts
  apps/io-wallet-user-func/src/infra/http/response.ts
Labels: apps

fix: Change `application/jwt` to `application/json` content-type for `/token` endpoint
  apps/io-wallet-user-func/openapi.yaml
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation.ts
  apps/io-wallet-user-func/src/infra/http/response.ts
Labels: apps

Create ten-deers-teach.md
  .changeset/ten-deers-teach.md
Labels: changeset
