Repository pagopa/io-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, sd-jwt, apps, docs, ci, infra, changeset

added the two functions in createWalletAttestation
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation.ts
Labels: apps

fix test
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
Labels: apps

add leases collection
  infra/resources/_modules/cosmos/locals.tf
Labels: infra

added APIM
  infra/resources/_modules/apim/api/app/_base_policy.xml
  infra/resources/_modules/apim/api/app/_swagger.json
  infra/resources/_modules/apim/apim.tf
  infra/resources/_modules/apim/product.tf
Labels: infra

Applying the PdndInteropClient and VoucherRepository to SetWalletInstanceStatus and DeleteWalletInstances
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/credential.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/delete-wallet-instances.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/pdnd-interop/client.ts
  apps/io-wallet-user-func/src/infra/pid-issuer/client.ts
  apps/io-wallet-user-func/src/infra/voucher.ts
Labels: apps

Applying the PdndInteropClient and VoucherRepository to SetWalletInstanceStatus and DeleteWalletInstances
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/credential.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/delete-wallet-instances.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/pdnd-interop/client.ts
  apps/io-wallet-user-func/src/infra/pid-issuer/client.ts
  apps/io-wallet-user-func/src/infra/voucher.ts
Labels: apps

created createWalletAttestationv2 function
  apps/io-wallet-user-func/openapi.yaml
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-wallet-user-func/src/infra/azure/functions/add-wallet-instance-by-id.ts
  apps/io-wallet-user-func/src/infra/azure/functions/add-wallet-instance-user-id.ts
  apps/io-wallet-user-func/src/infra/azure/functions/create-wallet-attestation-v2.ts
  apps/io-wallet-user-func/src/infra/handlers/add-wallet-instance-by-id.ts
  apps/io-wallet-user-func/src/infra/handlers/add-wallet-instance-user-id.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation-v2.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/delete-wallet-instances.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-current-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation-v2.ts
  apps/io-wallet-user-func/src/infra/http/handlers/delete-wallet-instances.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
  infra/resources/_modules/apim/api/app/_swagger.json
Labels: apps, infra

updated terraform
  infra/resources/_modules/cosmos/locals.tf
Labels: infra

fix function addWalletInstanceUserId
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/handlers/add-wallet-instance-user-id.ts
Labels: apps

added commented insert in the second collection in the create wallet instance handler
  apps/io-wallet-user-func/src/infra/azure/cosmos/wallet-instance.ts
Labels: apps

updated swagger
  infra/resources/_modules/apim/api/app/_swagger.json
Labels: infra

updated openapi
  apps/io-wallet-user-func/openapi.yaml
Labels: apps

updated APIM swagger
  infra/resources/_modules/apim/api/app/_swagger.json
Labels: infra

set user_id not optional
  apps/io-wallet-user-func/src/attestation-service.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/index.ts
Labels: apps

changed domain storage account infra module
  infra/resources/prod/main.tf
Labels: infra

updated comment
  apps/io-wallet-user-func/src/app/main.ts
Labels: apps

run changeset
  .changeset/flat-cooks-taste.md
Labels: changeset

Update infra/resources/_modules/apim/apim.tf
  infra/resources/_modules/apim/apim.tf
Labels: infra

feat: created new createWalletAttestation to work without fiscal code (#395)
  .changeset/flat-cooks-taste.md
  apps/io-wallet-user-func/openapi.yaml
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-wallet-user-func/src/infra/azure/functions/add-wallet-instance-user-id.ts
  apps/io-wallet-user-func/src/infra/azure/functions/create-wallet-attestation-v2.ts
  apps/io-wallet-user-func/src/infra/handlers/add-wallet-instance-user-id.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation-v2.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/delete-wallet-instances.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-current-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation-v2.ts
  apps/io-wallet-user-func/src/infra/http/handlers/delete-wallet-instances.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-wallet-instance-status.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
  infra/resources/_modules/apim/api/app/_base_policy.xml
  infra/resources/_modules/apim/api/app/_swagger.json
  infra/resources/_modules/apim/apim.tf
  infra/resources/_modules/apim/product.tf
  infra/resources/_modules/cosmos/locals.tf
  infra/resources/prod/main.tf
Labels: apps, infra, changeset

feat: created new createWalletAttestation to work without fiscal code (#395)
  .changeset/flat-cooks-taste.md
  apps/io-wallet-user-func/openapi.yaml
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-wallet-user-func/src/infra/azure/functions/add-wallet-instance-user-id.ts
  apps/io-wallet-user-func/src/infra/azure/functions/create-wallet-attestation-v2.ts
  apps/io-wallet-user-func/src/infra/handlers/add-wallet-instance-user-id.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation-v2.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/delete-wallet-instances.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-current-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation-v2.ts
  apps/io-wallet-user-func/src/infra/http/handlers/delete-wallet-instances.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-wallet-instance-status.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
  infra/resources/_modules/apim/api/app/_base_policy.xml
  infra/resources/_modules/apim/api/app/_swagger.json
  infra/resources/_modules/apim/apim.tf
  infra/resources/_modules/apim/product.tf
  infra/resources/_modules/cosmos/locals.tf
  infra/resources/prod/main.tf
Labels: apps, infra, changeset

move state file
  .github/workflows/release_opex.yaml
  apps/io-wallet-user-func/.opex/management/env/prod/backend.tfvars
Labels: apps, ci

move state file
  .github/workflows/release_opex.yaml
  apps/io-wallet-user-func/.opex/management/env/prod/backend.tfvars
Labels: apps, ci

Added fiscal code Verification API; added CosmosDB container on terraform
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/openapi.yaml
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/fiscal-code.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/fiscal-code.ts
  apps/io-wallet-user-func/src/infra/azure/functions/check-fiscal-code.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/check-fiscal-code.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/check-fiscal-code.ts
  infra/resources/_modules/cosmos/locals.tf
Labels: apps, infra

updated messages function
  apps/io-wallet-messages-func/src/infra/azure/storage/blob.ts
Labels: apps

Renaming api, function and handler and general refactoring
  apps/io-wallet-user-func/openapi.yaml
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/fiscal-code.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/fiscal-code.ts
  apps/io-wallet-user-func/src/infra/azure/functions/check-fiscal-code.ts
  apps/io-wallet-user-func/src/infra/azure/functions/is-fiscal-code-whitelisted.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/is-fiscal-code-whitelisted.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/is-fiscal-code-whitelisted.ts
Labels: apps

fix: updated messages function
  apps/io-wallet-messages-func/src/infra/azure/storage/blob.ts
Labels: apps

Used this.#containerName.item().read() instead of a "direct" query
  apps/io-wallet-user-func/src/infra/azure/cosmos/fiscal-code.ts
Labels: apps

Renaming db container in "whitelisted-fiscal-codes"; updated the API URL from "fiscal-codes/{fiscalCode}" to "/whitelisted-fiscal-code/{fiscalCode}"
  apps/io-wallet-user-func/openapi.yaml
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/fiscal-code.ts
  apps/io-wallet-user-func/src/infra/http/handlers/is-fiscal-code-whitelisted.ts
  infra/resources/_modules/cosmos/locals.tf
Labels: apps, infra

From isFiscalCodeWhitelisted() to checkFiscalCodeWhitelist()
  apps/io-wallet-user-func/src/fiscal-code.ts
  apps/io-wallet-user-func/src/infra/http/handlers/is-fiscal-code-whitelisted.ts
Labels: apps

Handled new API responses appropriately
  apps/io-wallet-user-func/openapi.yaml
  apps/io-wallet-user-func/src/fiscal-code.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/fiscal-code.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/is-fiscal-code-whitelisted.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/is-fiscal-code-whitelisted.ts
Labels: apps

Used FiscalCode instead of NonEmptyString for fiscalCode passed in input to the new API; added 422 error in OpenAPI spec for the new API
  apps/io-wallet-user-func/openapi.yaml
  apps/io-wallet-user-func/src/fiscal-code.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/fiscal-code.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/is-fiscal-code-whitelisted.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/is-fiscal-code-whitelisted.ts
Labels: apps

General refactoring; fixes to the OpenAPI specification of the new API
  apps/io-wallet-user-func/openapi.yaml
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/fiscal-code.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/fiscal-code.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/is-fiscal-code-whitelisted.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/is-fiscal-code-whitelisted.ts
Labels: apps

Refactoring and yarn changeset
  .changeset/famous-laws-poke.md
  apps/io-wallet-user-func/openapi.yaml
  apps/io-wallet-user-func/src/infra/azure/cosmos/fiscal-code.ts
  apps/io-wallet-user-func/src/infra/http/fiscal-code.ts
  apps/io-wallet-user-func/src/infra/http/handlers/is-fiscal-code-whitelisted.ts
Labels: apps, changeset

Update .changeset/famous-laws-poke.md
  .changeset/famous-laws-poke.md
Labels: changeset

fix
  .github/workflows/release_opex.yaml
  apps/io-wallet-user-func/.opex/management/env/prod/backend.tfvars
Labels: apps, ci

Renamed files
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/whitelisted-fiscal-code.ts
  apps/io-wallet-user-func/src/infra/azure/functions/whitelisted-fiscal-code.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/whitelisted-fiscal-code.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/delete-wallet-instances.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-current-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/handlers/whitelisted-fiscal-code.ts
  apps/io-wallet-user-func/src/infra/http/whitelisted-fiscal-code.ts
  apps/io-wallet-user-func/src/whitelisted-fiscal-code.ts
Labels: apps

Move OPEX Terraform state file to proper Storage Account
  .github/workflows/release_opex.yaml
  apps/io-wallet-user-func/.opex/management/env/prod/backend.tfvars
Labels: apps, ci

Renamed io-wallet-user-func/src/infra/http/whitelisted-fiscal-code.ts
  apps/io-wallet-user-func/src/infra/http/fiscal-code.ts
  apps/io-wallet-user-func/src/infra/http/handlers/delete-wallet-instances.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-current-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/handlers/whitelisted-fiscal-code.ts
Labels: apps

Code linting
  apps/io-wallet-user-func/src/infra/http/handlers/get-wallet-instance-status.ts
Labels: apps

restore gh managed runner on opex workflows
  .github/workflows/release_opex.yaml
  apps/io-wallet-user-func/.opex/management/env/prod/backend.tfvars
Labels: apps, ci

.github/labeler.yml:

internal: packages/**/*
sd-jwt: packages/sd-jwt/*
apps: apps/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*
