Repository pagopa/io-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, infra, changeset

.github/labeler.yml:

apps: apps/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*

add missing file
  infra/resources/psn/prod/README.md
  infra/resources/psn/prod/cdn.tf
Labels: infra

remove custom domain from cdn
  infra/resources/_modules/cdn/cdn_hostname.tf
Labels: infra

Step 5 - Removal of custom domain from CDN (IO) (#626)
  infra/resources/_modules/cdn/cdn_hostname.tf
Labels: infra

add custom domain
  infra/resources/psn/prod/cdn.tf
Labels: infra

add txt record
  infra/resources/prod/README.md
  infra/resources/prod/dns.tf
Labels: infra

Step 6 - Add custom domain to Front Door (#627)
  infra/resources/prod/README.md
  infra/resources/prod/dns.tf
  infra/resources/psn/prod/cdn.tf
Labels: infra

Increase resources sizes (#633)
  infra/core/psn/hub/prod/appgw.tf
  infra/core/psn/spoke/prod/container_app_environment.tf
  infra/resources/_modules/cosmos/README.md
  infra/resources/_modules/cosmos/locals.tf
  infra/resources/_modules/cosmos/variables.tf
  infra/resources/psn/prod/apim.tf
  infra/resources/psn/prod/main.tf
Labels: infra

import resources
  infra/resources/psn/prod/cdn.tf
Labels: infra

Add missing index html to cdn (#637)
  infra/resources/psn/prod/README.md
  infra/resources/psn/prod/cdn.tf
Labels: infra

revert to managed identities
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
Labels: apps

remove double uat suffix
  infra/resources/prod/apim_platform.tf
Labels: infra

Remove double uat suffix from APIM api group (#639)
  infra/resources/prod/apim_platform.tf
Labels: infra

feat: Allign all resouces scaling
  infra/core/psn/hub/prod/appgw.tf
  infra/resources/psn/prod/apim.tf
  infra/resources/psn/prod/main.tf
Labels: infra

remove legacy api groups
  infra/resources/prod/README.md
  infra/resources/prod/apim_platform.tf
Labels: infra

Remove wallet legacy API groups from APIM platform (#641)
  infra/resources/prod/README.md
  infra/resources/prod/apim_platform.tf
Labels: infra

change support func route prefix
  apps/io-wallet-support-func/host.json
Labels: apps

changeset run
  .changeset/tired-crabs-see.md
Labels: changeset

Change support route prefix
  .changeset/tired-crabs-see.md
  apps/io-wallet-support-func/host.json
Labels: apps, changeset

Allign resouces size values (#640)
  infra/core/psn/hub/prod/appgw.tf
  infra/resources/psn/prod/apim.tf
  infra/resources/psn/prod/main.tf
Labels: infra

restore dns
  infra/resources/prod/README.md
  infra/resources/prod/dns.tf
  infra/resources/psn/prod/README.md
Labels: infra

update pep a record
  infra/core/pagopa/prod/README.md
  infra/core/pagopa/prod/data.tf
  infra/core/pagopa/prod/locals.tf
  infra/core/pagopa/prod/psn_integration.tf
Labels: infra

delete public dns records
  infra/resources/_modules/dns/README.md
  infra/resources/_modules/dns/recordsets.tf
  infra/resources/prod/README.md
  infra/resources/prod/dns.tf
Labels: infra

make appgw private with new psn rules
  infra/core/psn/hub/prod/README.md
  infra/core/psn/hub/prod/appgw.tf
  infra/core/psn/hub/prod/data.tf
  infra/core/psn/hub/prod/waf.tf
Labels: infra

wip
  infra/core/psn/hub/prod/appgw.tf
Labels: infra

Update AppGw configuration after recreation (#645)
  infra/core/pagopa/prod/README.md
  infra/core/pagopa/prod/data.tf
  infra/core/pagopa/prod/locals.tf
  infra/core/pagopa/prod/psn_integration.tf
  infra/core/psn/hub/prod/README.md
  infra/core/psn/hub/prod/appgw.tf
  infra/core/psn/hub/prod/data.tf
  infra/core/psn/hub/prod/waf.tf
  infra/resources/_modules/dns/README.md
  infra/resources/_modules/dns/recordsets.tf
  infra/resources/prod/README.md
  infra/resources/prod/dns.tf
  infra/resources/psn/prod/README.md
Labels: infra

add subscription to support apis
  infra/resources/prod/README.md
  infra/resources/prod/apim_platform.tf
Labels: infra

Add subscripiton key to Function App Support apis (#642)
  infra/resources/prod/README.md
  infra/resources/prod/apim_platform.tf
Labels: infra

add named value
  infra/resources/_modules/iam/key_vaults.tf
  infra/resources/_modules/iam/variables.tf
  infra/resources/psn/prod/apim_apis.tf
  infra/resources/psn/prod/main.tf
Labels: infra

remove kv ref
  infra/resources/psn/prod/README.md
  infra/resources/psn/prod/apim_apis.tf
Labels: infra

add named value
  infra/resources/psn/prod/README.md
  infra/resources/psn/prod/locals.tf
Labels: infra

remove useless role assignment
  infra/resources/_modules/iam/key_vaults.tf
  infra/resources/_modules/iam/variables.tf
  infra/resources/psn/prod/main.tf
Labels: infra

Add named value with function app support key to psn apim (#646)
  infra/resources/_modules/iam/key_vaults.tf
  infra/resources/psn/prod/README.md
  infra/resources/psn/prod/apim_apis.tf
  infra/resources/psn/prod/locals.tf
Labels: infra

updated function app health check paths
  infra/resources/_modules/function_apps/function_app_support.tf
  infra/resources/_modules/function_apps/function_app_user.tf
  infra/resources/_modules/function_apps/function_app_user_uat.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/prod/main.tf
  infra/resources/psn/prod/locals.tf
  infra/resources/psn/prod/main.tf
Labels: infra

add doc
  infra/core/pagopa/prod/README.md
Labels: infra

Apply suggestions from code review
  infra/core/pagopa/prod/README.md
Labels: infra

improve doc
  infra/core/pagopa/prod/README.md
Labels: infra

update dns route
  infra/core/pagopa/prod/psn_integration.tf
Labels: infra

fix rebase
  infra/core/pagopa/prod/psn_integration.tf
Labels: infra

Add documentation for setting up a private endpoint between IO and PSN AppGW (#602)
  infra/core/pagopa/prod/README.md
  infra/core/pagopa/prod/psn_integration.tf
Labels: infra

infra: updated function app health check paths
  infra/resources/_modules/function_apps/function_app_support.tf
  infra/resources/_modules/function_apps/function_app_user.tf
  infra/resources/_modules/function_apps/function_app_user_uat.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/prod/main.tf
  infra/resources/psn/prod/main.tf
Labels: infra
