Repository pagopa/io-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, sd-jwt, apps, docs, ci, infra, changeset

make private
  infra/resources/_modules/storage/storage_accounts.tf
Labels: infra

add trial system ff
  infra/resources/_modules/apim/api/ioweb/_base_policy.xml
  infra/resources/_modules/apim/apim.tf
Labels: infra

Changing the name of the getLastActiveWalletInstanceByUserId() method to the clearer name getActiveWalletInstanceByUserIdExcludingWalletInstanceId()
  apps/io-wallet-user-func/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-current-wallet-instance.status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-current-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
Labels: apps

Made the method name more readable
  apps/io-wallet-user-func/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-current-wallet-instance.status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-current-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
Labels: apps

Add usage of module
  infra/resources/_modules/storage/locals.tf
  infra/resources/_modules/storage/outputs.tf
  infra/resources/_modules/storage/storage_accounts.tf
  infra/resources/_modules/storage/storage_queue.tf
  infra/resources/_modules/storage/variables.tf
  infra/resources/prod/locals.tf
  infra/resources/prod/main.tf
Labels: infra

set app insights connection string as key vault value
  infra/resources/_modules/function_apps/function_app_support.tf
  infra/resources/_modules/function_apps/function_app_user.tf
  infra/resources/_modules/function_apps/key_vault_secrets.tf
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/prod/locals.tf
  infra/resources/prod/main.tf
Labels: infra

revert function app tiers
  infra/resources/_modules/function_apps/function_app_support.tf
  infra/resources/_modules/function_apps/function_app_user.tf
Labels: infra

add dx module
  infra/resources/_modules/storage/locals.tf
  infra/resources/_modules/storage/storage_accounts.tf
  infra/resources/_modules/storage/variables.tf
  infra/resources/prod/main.tf
Labels: infra

updated key vault secret name
  infra/resources/_modules/function_apps/key_vault_secrets.tf
Labels: infra

shorting st name
  infra/resources/prod/main.tf
Labels: infra

Update apps/io-wallet-user-func/src/wallet-instance.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
Labels: apps

Made the method name more readable (silvicir's advice)
  apps/io-wallet-user-func/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-current-wallet-instance.status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-current-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
Labels: apps

Code linting
  apps/io-wallet-user-func/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-current-wallet-instance.status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-current-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
Labels: apps

Removing old (useless) method name in unit tests
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
Labels: apps

removed TODO comment
  infra/resources/_modules/apim/api/ioweb/_base_policy.xml
Labels: infra

Using an appropriate name for WalletInstanceRepository in the unit tests
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
Labels: apps

add roles and refactoring
  infra/resources/_modules/iam/admins.tf
  infra/resources/_modules/iam/variables.tf
  infra/resources/_modules/storage/outputs.tf
  infra/resources/_modules/storage_accounts/locals.tf
  infra/resources/_modules/storage_accounts/main.tf
  infra/resources/_modules/storage_accounts/outputs.tf
  infra/resources/_modules/storage_accounts/storage_accounts.tf
  infra/resources/_modules/storage_accounts/storage_queue.tf
  infra/resources/_modules/storage_accounts/variables.tf
  infra/resources/prod/README.md
  infra/resources/prod/main.tf
Labels: infra

add roles to github identities
  infra/identity/prod/main.tf
Labels: infra

migrate gh runner
  infra/github-runner/prod/.terraform.lock.hcl
  infra/github-runner/prod/main.tf
Labels: infra

update gh action
  .github/workflows/pr_infra.yaml
Labels: ci

release workflow too
  .github/workflows/release_infra.yaml
Labels: ci

Add slack configuration
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  infra/resources/prod/locals.tf
Labels: apps, infra

Using walletInstanceRepositoryThatFails identifier instead of walletInstanceRepository
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
Labels: apps

Add slack notification
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/certificates.ts
  apps/io-wallet-user-func/src/user.ts
  apps/io-wallet-user-func/src/wallet-instance-revocation-process.ts
  packages/io-wallet-common/src/infra/slack/config.ts
  packages/io-wallet-common/src/infra/slack/notification.ts
  packages/io-wallet-common/src/notification.ts
Labels: internal, apps

Update certificates.ts
  apps/io-wallet-user-func/src/certificates.ts
Labels: apps

updated getCurrentWalletInstanceStatus function
  apps/io-wallet-user-func/openapi.yaml
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-current-wallet-instance.status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-current-wallet-instance-status.ts
  infra/resources/_modules/apim/api/ioweb/_get_current_wallet_instance_status_policy.xml
Labels: apps, infra

Add changeset
  .changeset/tricky-peas-protect.md
Labels: changeset

feat: Add slack message on wallet instance revocation
  .changeset/tricky-peas-protect.md
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/certificates.ts
  apps/io-wallet-user-func/src/user.ts
  apps/io-wallet-user-func/src/wallet-instance-revocation-process.ts
  infra/resources/prod/locals.tf
  packages/io-wallet-common/src/infra/slack/config.ts
  packages/io-wallet-common/src/infra/slack/notification.ts
  packages/io-wallet-common/src/notification.ts
Labels: internal, apps, infra, changeset

feat: Add slack message on wallet instance revocation
  .changeset/tricky-peas-protect.md
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/certificates.ts
  apps/io-wallet-user-func/src/user.ts
  apps/io-wallet-user-func/src/wallet-instance-revocation-process.ts
  infra/resources/prod/locals.tf
  packages/io-wallet-common/src/infra/slack/config.ts
  packages/io-wallet-common/src/infra/slack/notification.ts
  packages/io-wallet-common/src/notification.ts
Labels: internal, apps, infra, changeset

update pre commit
  .pre-commit-config.yaml
  .tflint.hcl
  .trivyignore
  infra/github-runner/prod/README.md
  infra/identity/prod/README.md
  infra/identity/prod/westeurope/.terraform.lock.hcl
  infra/repository/README.md
  infra/resources/_modules/apim/README.md
  infra/resources/_modules/cdn/README.md
  infra/resources/_modules/cosmos/README.md
  infra/resources/_modules/function_apps/README.md
  infra/resources/_modules/iam/README.md
  infra/resources/_modules/key_vaults/README.md
  infra/resources/_modules/monitoring/README.md
  infra/resources/_modules/storage_accounts/README.md
  infra/resources/_modules/storage_accounts/outputs.tf
  infra/resources/_modules/storage_accounts/storage_accounts.tf
  infra/resources/_modules/storage_accounts/variables.tf
  infra/resources/prod/README.md
  infra/resources/prod/main.tf
Labels: infra

update github runner providers
  infra/github-runner/README.md
  infra/github-runner/prod/.terraform.lock.hcl
  infra/github-runner/prod/README.md
  infra/github-runner/prod/main.tf
Labels: infra

Change value of storageaccount key
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
Labels: apps

Updating version(s)
  apps/io-wallet-support-func/CHANGELOG.md
  apps/io-wallet-support-func/package.json
  apps/io-wallet-user-func/CHANGELOG.md
  apps/io-wallet-user-func/package.json
  packages/io-wallet-common/CHANGELOG.md
  packages/io-wallet-common/package.json
Labels: internal, apps

Add AllowedDeveloperUsers to function
  infra/resources/prod/locals.tf
Labels: infra

[CES-499] Migrate Container App job to Italy North (#284)
  infra/github-runner/prod/.terraform.lock.hcl
  infra/github-runner/prod/main.tf
Labels: infra

[CES-499] Migrate Container App job to Italy North (#284)
  infra/github-runner/prod/.terraform.lock.hcl
  infra/github-runner/prod/main.tf
Labels: infra

Update locals.tf
  infra/resources/prod/locals.tf
Labels: infra

Update locals.tf
  infra/resources/prod/locals.tf
Labels: infra

Changing version
  .changeset/bright-chefs-film.md
  .changeset/tricky-peas-protect.md
  apps/io-wallet-support-func/CHANGELOG.md
  apps/io-wallet-support-func/package.json
  apps/io-wallet-user-func/CHANGELOG.md
  apps/io-wallet-user-func/package.json
  packages/io-wallet-common/CHANGELOG.md
  packages/io-wallet-common/package.json
Labels: internal, apps, changeset

Update locals.tf
  infra/resources/prod/locals.tf
Labels: infra

.github/labeler.yml:

internal: packages/**/*
sd-jwt: packages/sd-jwt/*
apps: apps/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*
