Repository pagopa/io-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, sd-jwt, apps, docs, ci, infra, changeset

.github/labeler.yml:

internal: packages/**/*
sd-jwt: packages/sd-jwt/*
apps: apps/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*

keyvault ref
  infra/resources/prod/main.tf
Labels: infra

add secret
  infra/resources/_modules/function_apps/data.tf
  infra/resources/_modules/function_apps/key_vault_secrets.tf
  infra/resources/_modules/function_apps/variables.tf
Labels: infra

add required roles to identity
  infra/identity/prod/westeurope/main.tf
Labels: infra

chore: tentative fix gh wf
  .github/workflows/release.yaml
Labels: ci

chore: tentative fix gh wf
  .github/workflows/release.yaml
Labels: ci

added createGithubReleases: false to gh wf
  .github/workflows/release.yaml
Labels: ci

added createGithubReleases: false to gh wf
  .github/workflows/release.yaml
Labels: ci

updated release workflow
  .github/workflows/release.yaml
Labels: ci

updated release workflow
  .github/workflows/release.yaml
Labels: ci

updated
  .github/workflows/release.yaml
Labels: ci

updated
  .github/workflows/release.yaml
Labels: ci

updated
  .github/workflows/release.yaml
Labels: ci

updated
  .github/workflows/release.yaml
Labels: ci

updated
  .github/workflows/release.yaml
Labels: ci

updated
  .github/workflows/release.yaml
Labels: ci

updated
  .github/workflows/release.yaml
Labels: ci

updated
  .github/workflows/release.yaml
Labels: ci

updated
  .github/workflows/release.yaml
Labels: ci

updated
  .github/workflows/release.yaml
Labels: ci

updated
  .github/workflows/release.yaml
Labels: ci

updated
  .github/workflows/release.yaml
Labels: ci

run changeset
  .changeset/dull-pillows-check.md
Labels: changeset

run changeset
  .changeset/dull-pillows-check.md
Labels: changeset

updated
  .github/workflows/release.yaml
Labels: ci

set fetch-depth: 0
  .github/workflows/release.yaml
Labels: ci

set fetch-depth: 0
  .github/workflows/release.yaml
Labels: ci

set master branch
  .github/workflows/release.yaml
Labels: ci

test
  .github/workflows/release.yaml
Labels: ci

reset fetch-depth: 0
  .github/workflows/release.yaml
Labels: ci

deleted NPM_TOKEN
  .github/workflows/release.yaml
Labels: ci

fix
  .github/workflows/release.yaml
Labels: ci

fix: updated release workflow
  .github/workflows/release.yaml
  apps/io-wallet-user-func/CHANGELOG.md
  apps/io-wallet-user-func/package.json
Labels: apps, ci

fix: updated release workflow
  .github/workflows/release.yaml
  apps/io-wallet-user-func/CHANGELOG.md
  apps/io-wallet-user-func/package.json
Labels: apps, ci

[SIW-1167] Add Function App User default key to keyvault (#87)
  infra/identity/prod/westeurope/main.tf
  infra/resources/_modules/function_apps/data.tf
  infra/resources/_modules/function_apps/key_vault_secrets.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/prod/main.tf
Labels: infra

[SIW-1167] Add Function App User default key to keyvault (#87)
  infra/identity/prod/westeurope/main.tf
  infra/resources/_modules/function_apps/data.tf
  infra/resources/_modules/function_apps/key_vault_secrets.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/prod/main.tf
Labels: infra

delete westeurope folder
  infra/identity/prod/.terraform.lock.hcl
  infra/identity/prod/README.md
  infra/identity/prod/locals.tf
  infra/identity/prod/main.tf
Labels: infra

add identity for app
  infra/identity/prod/westeurope/README.md
  infra/identity/prod/westeurope/main.tf
Labels: infra

create env for func
  infra/repository/data.tf
  infra/repository/github_environment_cd.tf
  infra/repository/locals.tf
Labels: infra

[EC-312] Add GitHub environment for Function App deployment and reviewers (#93)
  infra/identity/prod/.terraform.lock.hcl
  infra/identity/prod/README.md
  infra/identity/prod/locals.tf
  infra/identity/prod/main.tf
  infra/repository/data.tf
  infra/repository/github_environment_cd.tf
  infra/repository/locals.tf
Labels: infra

[EC-312] Add GitHub environment for Function App deployment and reviewers (#93)
  infra/identity/prod/.terraform.lock.hcl
  infra/identity/prod/README.md
  infra/identity/prod/locals.tf
  infra/identity/prod/main.tf
  infra/repository/data.tf
  infra/repository/github_environment_cd.tf
  infra/repository/locals.tf
Labels: infra
