Repository pagopa/io-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, infra, changeset

chore: removed /token endpoint
  .changeset/little-turkeys-leave.md
  apps/io-wallet-user-func/openapi.yaml
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/attestation-service.ts
  apps/io-wallet-user-func/src/encoders/wallet-attestation.ts
  apps/io-wallet-user-func/src/infra/azure/functions/create-wallet-attestation-v2.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation-v2.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation-v2.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation.ts
  apps/io-wallet-user-func/src/verifier.ts
  apps/io-wallet-user-func/src/wallet-attestation-request.ts
  apps/io-wallet-user-func/src/wallet-attestation.ts
Labels: apps, changeset

add label to runner
  .github/workflows/pr_infra.yaml
  .github/workflows/release_infra.yaml
  .github/workflows/support_function_deploy.yaml
  .github/workflows/user_function_deploy.yaml
  .github/workflows/user_uat_function_deploy.yaml
  infra/bootstrapper/prod/main.tf
Labels: ci, infra

fmt
  infra/bootstrapper/prod/README.md
  infra/bootstrapper/prod/locals.tf
Labels: infra

Add label "io" to GitHub self-hosted runner (#564)
  .github/workflows/pr_infra.yaml
  .github/workflows/release_infra.yaml
  .github/workflows/support_function_deploy.yaml
  .github/workflows/user_function_deploy.yaml
  .github/workflows/user_uat_function_deploy.yaml
  infra/bootstrapper/prod/README.md
  infra/bootstrapper/prod/locals.tf
  infra/bootstrapper/prod/main.tf
Labels: ci, infra

add bash profile
  .devcontainer/devcontainer.bashrc
  .devcontainer/devcontainer.json
Labels: none

add extensions to devcontainer
  .devcontainer/devcontainer.json
Labels: none

remove hashicrop.terraform
  .devcontainer/devcontainer.json
Labels: none

add psn hub resources
  infra/core/psn/hub/prod/.terraform.lock.hcl
  infra/core/psn/hub/prod/README.md
  infra/core/psn/hub/prod/appgw.tf
  infra/core/psn/hub/prod/data.tf
  infra/core/psn/hub/prod/locals.tf
  infra/core/psn/hub/prod/outputs.tf
  infra/core/psn/hub/prod/providers.tf
  infra/core/psn/hub/prod/resource_groups.tf
Labels: infra

update codeowners
  CODEOWNERS
Labels: none

add github
  CODEOWNERS
Labels: none

Update codeowners (#566)
  CODEOWNERS
Labels: none

add peering
  infra/core/psn/hub/prod/README.md
  infra/core/psn/hub/prod/networking.tf
Labels: infra

Import PSN Hub resources (#565)
  infra/core/psn/hub/prod/.terraform.lock.hcl
  infra/core/psn/hub/prod/README.md
  infra/core/psn/hub/prod/appgw.tf
  infra/core/psn/hub/prod/data.tf
  infra/core/psn/hub/prod/locals.tf
  infra/core/psn/hub/prod/networking.tf
  infra/core/psn/hub/prod/outputs.tf
  infra/core/psn/hub/prod/providers.tf
  infra/core/psn/hub/prod/resource_groups.tf
Labels: infra

decrease function app instances and decrease RU container
  infra/resources/_modules/cosmos/locals.tf
  infra/resources/_modules/function_apps/function_app_user.tf
Labels: infra

remove commented code
  infra/core/psn/spoke/prod/networking.tf
Labels: infra

update readme
  infra/core/psn/spoke/prod/README.md
Labels: infra

rename pep snet
  infra/core/psn/spoke/prod/networking.tf
Labels: infra

import spoke
  infra/core/psn/spoke/prod/.terraform.lock.hcl
  infra/core/psn/spoke/prod/alerts.tf
  infra/core/psn/spoke/prod/data.tf
  infra/core/psn/spoke/prod/iam.tf
  infra/core/psn/spoke/prod/locals.tf
  infra/core/psn/spoke/prod/networking.tf
  infra/core/psn/spoke/prod/outputs.tf
  infra/core/psn/spoke/prod/providers.tf
  infra/core/psn/spoke/prod/resource_groups.tf
  infra/core/psn/spoke/prod/storage_accounts.tf
Labels: infra

infra: decrease user function app instances and decrease RU container
  infra/resources/_modules/cosmos/locals.tf
  infra/resources/_modules/function_apps/function_app_user.tf
Labels: infra

Import PSN Spoke resources (#567)
  infra/core/psn/spoke/prod/.terraform.lock.hcl
  infra/core/psn/spoke/prod/README.md
  infra/core/psn/spoke/prod/alerts.tf
  infra/core/psn/spoke/prod/data.tf
  infra/core/psn/spoke/prod/iam.tf
  infra/core/psn/spoke/prod/locals.tf
  infra/core/psn/spoke/prod/networking.tf
  infra/core/psn/spoke/prod/outputs.tf
  infra/core/psn/spoke/prod/providers.tf
  infra/core/psn/spoke/prod/resource_groups.tf
  infra/core/psn/spoke/prod/storage_accounts.tf
Labels: infra

refactor ids module
  infra/resources/_modules/ids/README.md
  infra/resources/_modules/ids/main.tf
  infra/resources/_modules/ids/psn_identity.tf
  infra/resources/_modules/ids/variables.tf
  infra/resources/prod/data.tf
  infra/resources/prod/locals.tf
  infra/resources/prod/main.tf
Labels: infra

add id for psn
  infra/resources/_modules/ids/README.md
  infra/resources/_modules/ids/psn_identity.tf
  infra/resources/_modules/ids/variables.tf
  infra/resources/psn/prod/.terraform.lock.hcl
  infra/resources/psn/prod/README.md
  infra/resources/psn/prod/architecture.mmd
  infra/resources/psn/prod/architecture.png
  infra/resources/psn/prod/data.tf
  infra/resources/psn/prod/locals.tf
  infra/resources/psn/prod/main.tf
  infra/resources/psn/prod/providers.tf
  infra/resources/psn/prod/storage_accounts.tf
Labels: infra

delete file
  infra/resources/psn/prod/storage_accounts.tf
Labels: infra

rename ids module
  infra/resources/_modules/identities/README.md
  infra/resources/_modules/identities/main.tf
  infra/resources/_modules/identities/outputs.tf
  infra/resources/_modules/identities/psn_identity.tf
  infra/resources/_modules/identities/variables.tf
  infra/resources/prod/README.md
  infra/resources/prod/main.tf
  infra/resources/psn/prod/README.md
  infra/resources/psn/prod/main.tf
Labels: infra

Refactor and consume ids module from psn workspace (#569)
  infra/resources/_modules/identities/README.md
  infra/resources/_modules/identities/main.tf
  infra/resources/_modules/identities/outputs.tf
  infra/resources/_modules/identities/psn_identity.tf
  infra/resources/_modules/identities/variables.tf
  infra/resources/_modules/ids/variables.tf
  infra/resources/prod/README.md
  infra/resources/prod/data.tf
  infra/resources/prod/locals.tf
  infra/resources/prod/main.tf
  infra/resources/psn/prod/.terraform.lock.hcl
  infra/resources/psn/prod/README.md
  infra/resources/psn/prod/architecture.mmd
  infra/resources/psn/prod/architecture.png
  infra/resources/psn/prod/data.tf
  infra/resources/psn/prod/locals.tf
  infra/resources/psn/prod/main.tf
  infra/resources/psn/prod/providers.tf
Labels: infra

link p dns zones to spoke
  infra/core/psn/hub/prod/README.md
  infra/core/psn/hub/prod/locals.tf
  infra/core/psn/hub/prod/networking.tf
  infra/core/psn/hub/prod/private_dns_zones.tf
Labels: infra

Link Private Endpoints Private DNS Zones to Spoke VNET (#570)
  infra/core/psn/hub/prod/README.md
  infra/core/psn/hub/prod/locals.tf
  infra/core/psn/hub/prod/networking.tf
  infra/core/psn/hub/prod/private_dns_zones.tf
Labels: infra

rename cmk identity and update mmd
  infra/resources/psn/prod/architecture.mmd
  infra/resources/psn/prod/locals.tf
  infra/resources/psn/prod/main.tf
Labels: infra

remove empty value
  infra/resources/psn/prod/data.tf
Labels: infra

Rename CMK identity on PSN tenant (#571)
  infra/resources/psn/prod/architecture.mmd
  infra/resources/psn/prod/data.tf
  infra/resources/psn/prod/locals.tf
  infra/resources/psn/prod/main.tf
Labels: infra

add kv
  infra/resources/_modules/iam/README.md
  infra/resources/_modules/iam/key_vaults.tf
  infra/resources/_modules/iam/variables.tf
  infra/resources/_modules/key_vaults/README.md
  infra/resources/_modules/key_vaults/key_vault_certificates.tf
  infra/resources/_modules/key_vaults/key_vault_wallet.tf
  infra/resources/_modules/key_vaults/main.tf
  infra/resources/_modules/key_vaults/variables.tf
  infra/resources/prod/main.tf
  infra/resources/prod/tfmodules.lock.json
  infra/resources/psn/prod/README.md
  infra/resources/psn/prod/architecture.mmd
  infra/resources/psn/prod/architecture.png
  infra/resources/psn/prod/data.tf
  infra/resources/psn/prod/locals.tf
  infra/resources/psn/prod/main.tf
  infra/resources/psn/prod/providers.tf
Labels: infra

Update infra/resources/_modules/key_vaults/key_vault_wallet.tf
  infra/resources/_modules/key_vaults/key_vault_wallet.tf
Labels: infra

configure route on spoke
  infra/core/psn/spoke/prod/networking.tf
Labels: infra

add vpn setup in hub
  infra/core/psn/hub/prod/.terraform.lock.hcl
  infra/core/psn/hub/prod/README.md
  infra/core/psn/hub/prod/data.tf
  infra/core/psn/hub/prod/locals.tf
  infra/core/psn/hub/prod/networking.tf
  infra/core/psn/hub/prod/outputs.tf
  infra/core/psn/hub/prod/vpn.tf
Labels: infra

Add KeyVaults in PSN tenant (#572)
  infra/resources/_modules/iam/README.md
  infra/resources/_modules/iam/key_vaults.tf
  infra/resources/_modules/iam/variables.tf
  infra/resources/_modules/key_vaults/README.md
  infra/resources/_modules/key_vaults/key_vault_certificates.tf
  infra/resources/_modules/key_vaults/key_vault_wallet.tf
  infra/resources/_modules/key_vaults/main.tf
  infra/resources/_modules/key_vaults/variables.tf
  infra/resources/prod/main.tf
  infra/resources/prod/tfmodules.lock.json
  infra/resources/psn/prod/README.md
  infra/resources/psn/prod/architecture.mmd
  infra/resources/psn/prod/architecture.png
  infra/resources/psn/prod/data.tf
  infra/resources/psn/prod/locals.tf
  infra/resources/psn/prod/main.tf
  infra/resources/psn/prod/providers.tf
Labels: infra

update spoke pep cidr
  infra/core/psn/spoke/prod/networking.tf
Labels: infra

Update PSN spoke pep CIDR block (#574)
  infra/core/psn/spoke/prod/networking.tf
Labels: infra

add monitoring
  infra/resources/_modules/monitoring/README.md
  infra/resources/_modules/monitoring/action_groups.tf
  infra/resources/_modules/monitoring/variables.tf
  infra/resources/prod/main.tf
  infra/resources/psn/prod/README.md
  infra/resources/psn/prod/data.tf
  infra/resources/psn/prod/locals.tf
  infra/resources/psn/prod/main.tf
Labels: infra

Setup VPN on PSN tenant (#573)
  infra/core/psn/hub/prod/.terraform.lock.hcl
  infra/core/psn/hub/prod/README.md
  infra/core/psn/hub/prod/data.tf
  infra/core/psn/hub/prod/locals.tf
  infra/core/psn/hub/prod/networking.tf
  infra/core/psn/hub/prod/outputs.tf
  infra/core/psn/hub/prod/vpn.tf
  infra/core/psn/spoke/prod/networking.tf
Labels: infra

secure st connection
  infra/core/psn/spoke/prod/README.md
  infra/core/psn/spoke/prod/data.tf
  infra/core/psn/spoke/prod/locals.tf
  infra/core/psn/spoke/prod/providers.tf
  infra/core/psn/spoke/prod/storage_accounts.tf
Labels: infra

.github/labeler.yml:

apps: apps/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*
