Repository pagopa/io-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, sd-jwt, apps, docs, ci, infra, changeset

feat: added new function app to send messages
  .changeset/rude-brooms-matter.md
  .github/workflows/messages_function_deploy.yaml
  apps/io-wallet-messages-func/README.md
  apps/io-wallet-messages-func/eslint.config.mjs
  apps/io-wallet-messages-func/host.json
  apps/io-wallet-messages-func/local.settings.json.example
  apps/io-wallet-messages-func/package.json
  apps/io-wallet-messages-func/src/app/config.ts
  apps/io-wallet-messages-func/src/app/main.ts
  apps/io-wallet-messages-func/src/decoders/buffer.ts
  apps/io-wallet-messages-func/src/infra/azure/functions/insert-fiscal-codes-in-queue.ts
  apps/io-wallet-messages-func/src/infra/azure/functions/send-messages.ts
  apps/io-wallet-messages-func/src/infra/azure/storage/blob.ts
  apps/io-wallet-messages-func/src/infra/azure/storage/queue.ts
  apps/io-wallet-messages-func/src/infra/handlers/__test__/send-messages.spec.ts
  apps/io-wallet-messages-func/src/infra/handlers/__test__/split.spec.ts
  apps/io-wallet-messages-func/src/infra/handlers/insert-fiscal-codes-in-queue.ts
  apps/io-wallet-messages-func/src/infra/handlers/send-messages.ts
  apps/io-wallet-messages-func/src/infra/io-messages-api.ts
  apps/io-wallet-messages-func/src/message.ts
  apps/io-wallet-messages-func/tsconfig.json
  apps/io-wallet-messages-func/tsup.config.js
  apps/io-wallet-messages-func/vitest.config.mjs
  io-wallet.code-workspace
  yarn.lock
Labels: apps, ci, changeset

add boolean for staging slot in messages deploy pipeline
  .github/workflows/messages_function_deploy.yaml
Labels: ci

fix: Added staging slot flag in messages deploy pipeline
  .github/workflows/messages_function_deploy.yaml
Labels: ci

fix: Added staging slot flag in messages deploy pipeline
  .github/workflows/messages_function_deploy.yaml
Labels: ci

yarn changeset
  .changeset/tricky-lamps-cheat.md
Labels: changeset

move to rbac identity
  infra/repository/main.tf
  infra/resources/prod/main.tf
Labels: infra

[CES-589] Use Entra ID to log into Storage Account in Terraform configurations (#373)
  infra/repository/main.tf
  infra/resources/prod/main.tf
Labels: infra

[CES-589] Use Entra ID to log into Storage Account in Terraform configurations (#373)
  infra/repository/main.tf
  infra/resources/prod/main.tf
Labels: infra

Using the "resolutions" field in the correct package.json; removed dependencies only used by the @pagopa/io-functions-commons package
  apps/io-wallet-support-func/package.json
  apps/io-wallet-user-func/package.json
  package.json
  packages/io-wallet-common/package.json
  yarn.lock
Labels: internal, apps

Including io-wallet-message-func; adding some packages to the "resolutions" field in the package.json of the io-wallet-user-func
  apps/io-wallet-messages-func/package.json
  apps/io-wallet-user-func/package.json
Labels: apps

updated io-wallet dependencies
  apps/io-wallet-messages-func/package.json
  apps/io-wallet-support-func/package.json
  apps/io-wallet-user-func/package.json
  apps/io-wallet-user-func/src/infra/handlers/send-email-on-wallet-instance-creation.ts
  apps/io-wallet-user-func/src/infra/handlers/send-email-on-wallet-instance-revocation.ts
  package.json
  packages/io-wallet-common/package.json
  yarn.lock
Labels: internal, apps

updated io-wallet dependencies
  apps/io-wallet-messages-func/package.json
  apps/io-wallet-support-func/package.json
  apps/io-wallet-user-func/package.json
  apps/io-wallet-user-func/src/infra/handlers/send-email-on-wallet-instance-creation.ts
  apps/io-wallet-user-func/src/infra/handlers/send-email-on-wallet-instance-revocation.ts
  package.json
  packages/io-wallet-common/package.json
  yarn.lock
Labels: internal, apps

updated io-web link
  .changeset/strong-months-turn.md
  apps/io-wallet-user-func/src/infra/handlers/send-email-on-wallet-instance-creation.ts
  apps/io-wallet-user-func/src/infra/handlers/send-email-on-wallet-instance-revocation.ts
Labels: apps, changeset

fix: updated io-web link
  .changeset/strong-months-turn.md
  apps/io-wallet-user-func/src/infra/handlers/send-email-on-wallet-instance-creation.ts
  apps/io-wallet-user-func/src/infra/handlers/send-email-on-wallet-instance-revocation.ts
Labels: apps, changeset

fix: updated io-web link
  .changeset/strong-months-turn.md
  apps/io-wallet-user-func/src/infra/handlers/send-email-on-wallet-instance-creation.ts
  apps/io-wallet-user-func/src/infra/handlers/send-email-on-wallet-instance-revocation.ts
Labels: apps, changeset

Restoring old resolutions in package.json (monorepo)
  apps/io-wallet-messages-func/package.json
  apps/io-wallet-support-func/package.json
  apps/io-wallet-user-func/package.json
  package.json
  packages/io-wallet-common/package.json
Labels: internal, apps

Removing old resolutions in package.json
  package.json
Labels: none

changed message subject
  .changeset/dry-donuts-attend.md
  apps/io-wallet-messages-func/src/message.ts
Labels: apps, changeset

chore: changed wallet message subject
  .changeset/dry-donuts-attend.md
  apps/io-wallet-messages-func/src/message.ts
Labels: apps, changeset

chore: changed wallet message subject
  .changeset/dry-donuts-attend.md
  apps/io-wallet-messages-func/src/message.ts
Labels: apps, changeset

Try to fix Code Review / js_code_review.yaml github workflow
  .github/workflows/code-review.yaml
Labels: ci

Restore
  .github/workflows/code-review.yaml
Labels: ci

updated code-review github workflow
  .github/workflows/code-review.yaml
Labels: ci

Restore only old resolutions in corrected package.json
  apps/io-wallet-messages-func/package.json
  apps/io-wallet-support-func/package.json
  apps/io-wallet-user-func/package.json
  packages/io-wallet-common/package.json
Labels: internal, apps

removed "resolutions" in package.json
  .github/workflows/code-review.yaml
  apps/io-wallet-user-func/package.json
Labels: apps, ci

removed "resolutions" in package.json
  .github/workflows/code-review.yaml
  apps/io-wallet-user-func/package.json
Labels: apps, ci

feat: added txt record
  infra/resources/_modules/apim/README.md
  infra/resources/_modules/cdn/README.md
  infra/resources/_modules/cdn/dns.tf
  infra/resources/_modules/cdn/locals.tf
  infra/resources/_modules/function_apps/README.md
  infra/resources/_modules/iam/README.md
Labels: infra

[CES-742] Create new dns zone wallet.io.pagopa.it (#380)
  infra/resources/_modules/apim/README.md
  infra/resources/_modules/cdn/README.md
  infra/resources/_modules/cdn/dns.tf
  infra/resources/_modules/cdn/locals.tf
  infra/resources/_modules/function_apps/README.md
  infra/resources/_modules/iam/README.md
Labels: infra

[CES-742] Create new dns zone wallet.io.pagopa.it (#380)
  infra/resources/_modules/apim/README.md
  infra/resources/_modules/cdn/README.md
  infra/resources/_modules/cdn/dns.tf
  infra/resources/_modules/cdn/locals.tf
  infra/resources/_modules/function_apps/README.md
  infra/resources/_modules/iam/README.md
Labels: infra

feat: remove CNAME wallet before delegation
  infra/resources/_modules/cdn/README.md
  infra/resources/_modules/cdn/dns.tf
Labels: infra

feat: increase ttl for a wallet.pagopa.it
  infra/resources/_modules/cdn/dns.tf
Labels: infra

[CES-742] Remove CNAME wallet before delegation (#381)
  infra/resources/_modules/cdn/README.md
  infra/resources/_modules/cdn/dns.tf
Labels: infra

[CES-742] Remove CNAME wallet before delegation (#381)
  infra/resources/_modules/cdn/README.md
  infra/resources/_modules/cdn/dns.tf
Labels: infra

replace git refs
  infra/resources/_modules/apim/README.md
  infra/resources/_modules/function_apps/README.md
  infra/resources/_modules/function_apps/function_app_support.tf
  infra/resources/_modules/function_apps/function_app_user.tf
  infra/resources/_modules/iam/README.md
  infra/resources/_modules/iam/admins.tf
  infra/resources/_modules/iam/functions.tf
  infra/resources/_modules/iam/variables.tf
  infra/resources/_modules/storage_accounts/README.md
  infra/resources/_modules/storage_accounts/storage_accounts.tf
  infra/resources/prod/README.md
  infra/resources/prod/data.tf
  infra/resources/prod/main.tf
  infra/resources/prod/tfmodules.lock.json
Labels: infra

replace ref to tf st
  infra/repository/locals.tf
Labels: infra

[CES-747] Replace DX repository with Terraform registry references (#382)
  infra/repository/locals.tf
  infra/resources/_modules/apim/README.md
  infra/resources/_modules/function_apps/README.md
  infra/resources/_modules/function_apps/function_app_support.tf
  infra/resources/_modules/function_apps/function_app_user.tf
  infra/resources/_modules/iam/README.md
  infra/resources/_modules/iam/admins.tf
  infra/resources/_modules/iam/functions.tf
  infra/resources/_modules/iam/variables.tf
  infra/resources/_modules/storage_accounts/README.md
  infra/resources/_modules/storage_accounts/storage_accounts.tf
  infra/resources/prod/README.md
  infra/resources/prod/data.tf
  infra/resources/prod/main.tf
  infra/resources/prod/tfmodules.lock.json
Labels: infra

[CES-747] Replace DX repository with Terraform registry references (#382)
  infra/repository/locals.tf
  infra/resources/_modules/apim/README.md
  infra/resources/_modules/function_apps/README.md
  infra/resources/_modules/function_apps/function_app_support.tf
  infra/resources/_modules/function_apps/function_app_user.tf
  infra/resources/_modules/iam/README.md
  infra/resources/_modules/iam/admins.tf
  infra/resources/_modules/iam/functions.tf
  infra/resources/_modules/iam/variables.tf
  infra/resources/_modules/storage_accounts/README.md
  infra/resources/_modules/storage_accounts/storage_accounts.tf
  infra/resources/prod/README.md
  infra/resources/prod/data.tf
  infra/resources/prod/main.tf
  infra/resources/prod/tfmodules.lock.json
Labels: infra

chore: add dns txt record ns cbor and proximity verification
  infra/resources/_modules/cdn/dns.tf
Labels: infra

fix: record name
  infra/resources/_modules/cdn/dns.tf
Labels: infra

uploadFile now returns TaskEither<never,void>
  apps/io-wallet-messages-func/src/infra/azure/storage/blob.ts
Labels: apps

.github/labeler.yml:

internal: packages/**/*
sd-jwt: packages/sd-jwt/*
apps: apps/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*
