Repository pagopa/io-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, infra, changeset

updated addStatus function
  apps/io-wallet-user-func/src/wallet-instance.ts
Labels: apps

updated StatusListManager handler
  apps/io-wallet-user-func/src/use-cases/status-list-manager.ts
Labels: apps

updated status-list-manager use-cases
  apps/io-wallet-user-func/src/infra/azure/__tests__/status-list-allocation-conflict.spec.ts
  apps/io-wallet-user-func/src/infra/azure/applicationinsights/status-list-allocation-conflict.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/open-status-lists-policy.ts
  apps/io-wallet-user-func/src/infra/handlers/__tests__/status-list-manager.spec.ts
  apps/io-wallet-user-func/src/use-cases/__tests__/status-list-manager.spec.ts
  apps/io-wallet-user-func/src/use-cases/status-list-manager.ts
Labels: apps

updated status-list-manager use-cases
  apps/io-wallet-user-func/src/use-cases/__tests__/status-list-manager.spec.ts
  apps/io-wallet-user-func/src/use-cases/status-list-manager.ts
Labels: apps

updated status-list-manager use-cases unit tests
  apps/io-wallet-user-func/src/infra/handlers/__tests__/status-list-manager.spec.ts
  apps/io-wallet-user-func/src/infra/handlers/status-list-manager.ts
  apps/io-wallet-user-func/src/use-cases/__tests__/status-list-manager.spec.ts
Labels: apps

removed unused eslint-disable directive
  apps/io-wallet-user-func/src/use-cases/__tests__/status-list-manager.spec.ts
Labels: apps

add comment
  apps/io-wallet-user-func/src/infra/status-list-lifecycle.ts
Labels: apps

removed status-list-manager handler unit tests
  apps/io-wallet-user-func/src/infra/handlers/__tests__/status-list-manager.spec.ts
Labels: apps

removed unit tests files
  apps/io-wallet-user-func/src/infra/__tests__/status-list-allocator.spec.ts
  apps/io-wallet-user-func/src/infra/__tests__/status-list-lifecycle.spec.ts
Labels: apps

removed unit tests files
  apps/io-wallet-user-func/src/infra/azure/__tests__/status-list-allocation-conflict.spec.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/__tests__/status-list-catalog.spec.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/__tests__/status-list-pages.spec.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/__tests__/status-list-routing.spec.ts
Labels: apps

added comment and updated import from uuid
  apps/io-wallet-user-func/package.json
  apps/io-wallet-user-func/src/infra/azure/cosmos/open-status-lists-policy.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/status-list-catalog.ts
  pnpm-lock.yaml
Labels: apps

updated create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/create-wallet-instance.spec.ts
Labels: apps

updated local.settings.json.example file
  apps/io-wallet-user-func/local.settings.json.example
Labels: apps

updated config.ts
  apps/io-wallet-user-func/src/app/config.ts
Labels: apps

rename status list routing getter
  apps/io-wallet-user-func/src/infra/azure/cosmos/status-list-routing.ts
  apps/io-wallet-user-func/src/infra/status-list-allocator.ts
  apps/io-wallet-user-func/src/infra/status-list-lifecycle.ts
Labels: apps

updated status-list-catalog
  apps/io-wallet-user-func/src/infra/azure/cosmos/status-list-catalog.ts
Labels: apps

removed useless comments
  apps/io-wallet-user-func/src/infra/status-list-allocator.ts
Labels: apps

updated code and run changeset
  .changeset/fifty-ears-happen.md
  .changeset/nice-words-rhyme.md
  apps/io-wallet-user-func/src/infra/azure/cosmos/schemas.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/status-list-catalog.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/status-list-routing.ts
Labels: apps, changeset

updated statusListManager; added statusListPublicationDispatcher, statusListPublicationMonitor, statusListPublication and revokeWalletInstances
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/__tests__/token-status-list.spec.ts
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/__tests__/queue.spec.ts
  apps/io-wallet-user-func/src/infra/__tests__/status-list-publication.spec.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/status-list-catalog.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/status-list-pages.ts
  apps/io-wallet-user-func/src/infra/azure/functions/revoke-wallet-instances.ts
  apps/io-wallet-user-func/src/infra/azure/functions/status-list-publication-dispatcher.ts
  apps/io-wallet-user-func/src/infra/azure/functions/status-list-publication-monitor.ts
  apps/io-wallet-user-func/src/infra/azure/functions/status-list-publication.ts
  apps/io-wallet-user-func/src/infra/azure/storage/blob.ts
  apps/io-wallet-user-func/src/infra/azure/storage/queue.ts
  apps/io-wallet-user-func/src/infra/handlers/__tests__/revoke-wallet-instances.spec.ts
  apps/io-wallet-user-func/src/infra/handlers/__tests__/status-list-publication-dispatcher.spec.ts
  apps/io-wallet-user-func/src/infra/handlers/__tests__/status-list-publication-monitor.spec.ts
  apps/io-wallet-user-func/src/infra/handlers/__tests__/status-list-publication.spec.ts
  apps/io-wallet-user-func/src/infra/handlers/revoke-wallet-instances.ts
  apps/io-wallet-user-func/src/infra/handlers/status-list-publication-dispatcher.ts
  apps/io-wallet-user-func/src/infra/handlers/status-list-publication-monitor.ts
  apps/io-wallet-user-func/src/infra/handlers/status-list-publication.ts
  apps/io-wallet-user-func/src/infra/status-list-bit-revocation.ts
  apps/io-wallet-user-func/src/infra/status-list-lifecycle.ts
  apps/io-wallet-user-func/src/infra/status-list-publication.ts
  apps/io-wallet-user-func/src/status-list.ts
  apps/io-wallet-user-func/src/token-status-list.ts
  apps/io-wallet-user-func/src/url.ts
  apps/io-wallet-user-func/src/use-cases/__tests__/status-list-manager.spec.ts
  apps/io-wallet-user-func/src/use-cases/status-list-manager.ts
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/_modules/storage_accounts/outputs.tf
  infra/resources/_modules/storage_accounts/storage_queue.tf
  infra/resources/psn/prod/alerts.tf
  infra/resources/psn/prod/main.tf
Labels: apps, infra

fix lint
  apps/io-wallet-user-func/src/infra/handlers/__tests__/status-list-publication-monitor.spec.ts
Labels: apps

removed unit tests file
  apps/io-wallet-user-func/src/infra/__tests__/status-list-publication.spec.ts
Labels: apps

updated status property in WUA
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/create-wallet-unit-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-unit-attestation.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/assertion-request-validation.ts
  apps/io-wallet-user-func/src/wallet-unit-attestation.ts
Labels: apps

fix lint
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/assertion-request-validation.ts
Labels: apps

updated config
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
Labels: apps

updated createWUA handler
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-unit-attestation.ts
Labels: apps

updated
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/handlers/status-list-publication-monitor.ts
Labels: apps

fix lint
  apps/io-wallet-user-func/src/app/main.ts
Labels: apps

feat: implement TLS publication and WI revocation
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/__tests__/token-status-list.spec.ts
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/__tests__/queue.spec.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/status-list-catalog.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/status-list-pages.ts
  apps/io-wallet-user-func/src/infra/azure/functions/revoke-wallet-instances.ts
  apps/io-wallet-user-func/src/infra/azure/functions/status-list-publication-dispatcher.ts
  apps/io-wallet-user-func/src/infra/azure/functions/status-list-publication-monitor.ts
  apps/io-wallet-user-func/src/infra/azure/functions/status-list-publication.ts
  apps/io-wallet-user-func/src/infra/azure/storage/blob.ts
  apps/io-wallet-user-func/src/infra/azure/storage/queue.ts
  apps/io-wallet-user-func/src/infra/handlers/__tests__/revoke-wallet-instances.spec.ts
  apps/io-wallet-user-func/src/infra/handlers/__tests__/status-list-publication-dispatcher.spec.ts
  apps/io-wallet-user-func/src/infra/handlers/__tests__/status-list-publication-monitor.spec.ts
  apps/io-wallet-user-func/src/infra/handlers/__tests__/status-list-publication.spec.ts
  apps/io-wallet-user-func/src/infra/handlers/revoke-wallet-instances.ts
  apps/io-wallet-user-func/src/infra/handlers/status-list-publication-dispatcher.ts
  apps/io-wallet-user-func/src/infra/handlers/status-list-publication-monitor.ts
  apps/io-wallet-user-func/src/infra/handlers/status-list-publication.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__tests__/create-wallet-unit-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-unit-attestation.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/assertion-request-validation.ts
  apps/io-wallet-user-func/src/infra/status-list-bit-revocation.ts
  apps/io-wallet-user-func/src/infra/status-list-lifecycle.ts
  apps/io-wallet-user-func/src/infra/status-list-publication.ts
  apps/io-wallet-user-func/src/status-list.ts
  apps/io-wallet-user-func/src/token-status-list.ts
  apps/io-wallet-user-func/src/url.ts
  apps/io-wallet-user-func/src/use-cases/__tests__/status-list-manager.spec.ts
  apps/io-wallet-user-func/src/use-cases/status-list-manager.ts
  apps/io-wallet-user-func/src/wallet-unit-attestation.ts
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/_modules/storage_accounts/outputs.tf
  infra/resources/_modules/storage_accounts/storage_queue.tf
  infra/resources/psn/prod/alerts.tf
  infra/resources/psn/prod/main.tf
Labels: apps, infra

add uat cdn storage
  infra/repository/tfmodules.lock.json
  infra/resources/_modules/function_apps/README.md
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/_modules/iam/README.md
  infra/resources/_modules/iam/admins.tf
  infra/resources/_modules/iam/cdn.tf
  infra/resources/_modules/iam/functions.tf
  infra/resources/_modules/iam/variables.tf
  infra/resources/_modules/storage_accounts/README.md
  infra/resources/_modules/storage_accounts/outputs.tf
  infra/resources/_modules/storage_accounts/storage_containers.tf
  infra/resources/psn/prod/README.md
  infra/resources/psn/prod/cdn.tf
  infra/resources/psn/prod/main.tf
Labels: infra

removed unused variable
  infra/resources/_modules/function_apps/README.md
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/psn/prod/main.tf
Labels: infra

add status lists related app settings
  infra/resources/_modules/function_apps/README.md
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/psn/prod/README.md
  infra/resources/psn/prod/cdn.tf
  infra/resources/psn/prod/locals.tf
  infra/resources/psn/prod/main.tf
Labels: infra

infra: add uat cdn storage and updated functions app settings
  infra/repository/tfmodules.lock.json
  infra/resources/_modules/function_apps/README.md
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/_modules/iam/README.md
  infra/resources/_modules/iam/admins.tf
  infra/resources/_modules/iam/cdn.tf
  infra/resources/_modules/iam/functions.tf
  infra/resources/_modules/iam/variables.tf
  infra/resources/_modules/storage_accounts/README.md
  infra/resources/_modules/storage_accounts/outputs.tf
  infra/resources/_modules/storage_accounts/storage_containers.tf
  infra/resources/psn/prod/README.md
  infra/resources/psn/prod/cdn.tf
  infra/resources/psn/prod/locals.tf
  infra/resources/psn/prod/main.tf
Labels: infra

use dedicated status list queue trigger binding
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/main.ts
  infra/resources/_modules/function_apps/locals.tf
Labels: apps, infra

updated infra
  infra/resources/_modules/function_apps/README.md
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/_modules/storage_accounts/README.md
  infra/resources/psn/prod/README.md
  infra/resources/psn/prod/cdn.tf
  infra/resources/psn/prod/main.tf
Labels: infra

added terraform code for status list
  infra/resources/_modules/cosmos/README.md
  infra/resources/_modules/cosmos/locals.tf
  infra/resources/_modules/cosmos/variables.tf
  infra/resources/_modules/function_apps/README.md
  infra/resources/_modules/function_apps/function_app_user_uat.tf
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/_modules/storage_accounts/README.md
  infra/resources/_modules/storage_accounts/outputs.tf
  infra/resources/_modules/storage_accounts/storage_queue.tf
  infra/resources/psn/prod/README.md
  infra/resources/psn/prod/alerts.tf
  infra/resources/psn/prod/cdn.tf
  infra/resources/psn/prod/main.tf
Labels: infra

updated cosmos throughput variables
  infra/resources/_modules/cosmos/variables.tf
Labels: infra

infra: added terraform code for status list
  infra/resources/_modules/cosmos/README.md
  infra/resources/_modules/cosmos/locals.tf
  infra/resources/_modules/cosmos/variables.tf
  infra/resources/_modules/function_apps/README.md
  infra/resources/_modules/function_apps/function_app_user_uat.tf
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/_modules/storage_accounts/README.md
  infra/resources/_modules/storage_accounts/outputs.tf
  infra/resources/_modules/storage_accounts/storage_queue.tf
  infra/resources/psn/prod/README.md
  infra/resources/psn/prod/alerts.tf
  infra/resources/psn/prod/cdn.tf
  infra/resources/psn/prod/main.tf
Labels: infra

remove empty line
  infra/resources/psn/prod/cdn.tf
Labels: infra

updated changelog
  .changeset/nice-words-rhyme.md
Labels: changeset

align status list manager timing
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/applicationinsights/status-list-allocation-conflict.ts
Labels: apps

.github/labeler.yml:

apps: apps/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*
