Repository pagopa/io-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: internal, sd-jwt, apps, docs, ci, infra, changeset

.github/labeler.yml:

internal: packages/**/*
sd-jwt: packages/sd-jwt/*
apps: apps/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*

Update main.ts
  apps/io-wallet-user-func/src/app/main.ts
Labels: apps

Update locals.tf
  infra/resources/_modules/cosmos/locals.tf
Labels: infra

fix: Create leases container (#287)
  apps/io-wallet-user-func/src/app/main.ts
  infra/resources/_modules/cosmos/locals.tf
Labels: apps, infra

fix: Create leases container (#287)
  apps/io-wallet-user-func/src/app/main.ts
  infra/resources/_modules/cosmos/locals.tf
Labels: apps, infra

Remove old CosmosDbEndpoint
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

fix: remove CosmosDbEndpoint (#288)
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

fix: remove CosmosDbEndpoint (#288)
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

fix: remove CosmosDbEndpoint (#288)
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

fix: remove CosmosDbEndpoint (#288)
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

Add function permission
  infra/resources/_modules/iam/functions.tf
Labels: infra

Add function permission
  infra/resources/_modules/iam/functions.tf
Labels: infra

Add RevocationReason to support function
  apps/io-wallet-support-func/openapi.yaml
  apps/io-wallet-support-func/src/infra/http/encoders/wallet-instance.ts
  apps/io-wallet-support-func/src/infra/http/handlers/__test__/get-current-wallet-instance-by-fiscal-code.spec.ts
  infra/resources/_modules/apim/api/support-function/_swagger.json
Labels: apps, infra

Add changeset
  .changeset/many-bats-watch.md
Labels: changeset

run changeset
  .changeset/wild-trees-obey.md
Labels: changeset

chore: updated getCurrentWalletInstanceStatus and error handling in APIM policy
  .changeset/wild-trees-obey.md
  apps/io-wallet-user-func/openapi.yaml
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-current-wallet-instance.status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-current-wallet-instance-status.ts
  infra/resources/_modules/apim/api/ioweb/_base_policy.xml
  infra/resources/_modules/apim/api/ioweb/_get_current_wallet_instance_status_policy.xml
  infra/resources/_modules/apim/apim.tf
  infra/resources/_modules/function_apps/key_vault_secrets.tf
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/prod/locals.tf
  infra/resources/prod/main.tf
Labels: apps, infra, changeset

chore: updated getCurrentWalletInstanceStatus and error handling in APIM policy
  .changeset/wild-trees-obey.md
  apps/io-wallet-user-func/openapi.yaml
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-current-wallet-instance.status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-current-wallet-instance-status.ts
  infra/resources/_modules/apim/api/ioweb/_base_policy.xml
  infra/resources/_modules/apim/api/ioweb/_get_current_wallet_instance_status_policy.xml
  infra/resources/_modules/apim/apim.tf
  infra/resources/_modules/function_apps/key_vault_secrets.tf
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/prod/locals.tf
  infra/resources/prod/main.tf
Labels: apps, infra, changeset

feat: Add `RevocationReason` to support function
  .changeset/many-bats-watch.md
  apps/io-wallet-support-func/openapi.yaml
  apps/io-wallet-support-func/src/infra/http/encoders/wallet-instance.ts
  apps/io-wallet-support-func/src/infra/http/handlers/__test__/get-current-wallet-instance-by-fiscal-code.spec.ts
  infra/resources/_modules/apim/api/support-function/_swagger.json
Labels: apps, infra, changeset

feat: Add `RevocationReason` to support function
  .changeset/many-bats-watch.md
  apps/io-wallet-support-func/openapi.yaml
  apps/io-wallet-support-func/src/infra/http/encoders/wallet-instance.ts
  apps/io-wallet-support-func/src/infra/http/handlers/__test__/get-current-wallet-instance-by-fiscal-code.spec.ts
  infra/resources/_modules/apim/api/support-function/_swagger.json
Labels: apps, infra, changeset

Updating io-wallet dependencies
  apps/io-wallet-support-func/package.json
  apps/io-wallet-user-func/host.json
  apps/io-wallet-user-func/package.json
  package.json
  packages/io-wallet-common/package.json
  yarn.lock
Labels: internal, apps

added getWalletInstanceStatus endpoint
  apps/io-wallet-user-func/openapi.yaml
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/functions/get-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/encoders/wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/fiscal-code.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-current-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/wallet-instance.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
Labels: apps

updated APIM policy in getCurrentWalletInstanceStatus
  infra/resources/_modules/apim/api/ioweb/_get_current_wallet_instance_status_policy.xml
  infra/resources/_modules/apim/api/support/_base_policy.xml
  infra/resources/_modules/apim/api/support/_swagger.json
Labels: infra

run changeset
  .changeset/ten-seas-play.md
Labels: changeset

fix infra
  infra/resources/_modules/apim/apim.tf
Labels: infra

feat: added getWalletInstanceStatus endpoint
  .changeset/ten-seas-play.md
  apps/io-wallet-user-func/openapi.yaml
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/functions/get-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/encoders/wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/fiscal-code.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-current-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/wallet-instance.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
  infra/resources/_modules/apim/api/ioweb/_get_current_wallet_instance_status_policy.xml
  infra/resources/_modules/apim/api/support/_base_policy.xml
  infra/resources/_modules/apim/api/support/_swagger.json
  infra/resources/_modules/apim/apim.tf
Labels: apps, infra, changeset

feat: added getWalletInstanceStatus endpoint
  .changeset/ten-seas-play.md
  apps/io-wallet-user-func/openapi.yaml
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/functions/get-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/encoders/wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/fiscal-code.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-current-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/wallet-instance.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
  infra/resources/_modules/apim/api/ioweb/_get_current_wallet_instance_status_policy.xml
  infra/resources/_modules/apim/api/support/_base_policy.xml
  infra/resources/_modules/apim/api/support/_swagger.json
  infra/resources/_modules/apim/apim.tf
Labels: apps, infra, changeset

Using 4.7.4 TypeScript version instead of 5.6.3 (which causes warnings)
  apps/io-wallet-support-func/package.json
  apps/io-wallet-user-func/package.json
  packages/io-wallet-common/package.json
  yarn.lock
Labels: internal, apps

Better version for TypeScript
  apps/io-wallet-support-func/package.json
  apps/io-wallet-user-func/package.json
  packages/io-wallet-common/package.json
  yarn.lock
Labels: internal, apps

Updating lib option (tsconfig)
  apps/io-wallet-support-func/tsconfig.json
  apps/io-wallet-user-func/src/infra/attestation-service/android/attestation.ts
  apps/io-wallet-user-func/tsconfig.json
  packages/io-wallet-common/tsconfig.json
Labels: internal, apps

Updating both TypeScript and ESLint version
  apps/io-wallet-support-func/package.json
  apps/io-wallet-support-func/tsconfig.json
  apps/io-wallet-user-func/package.json
  apps/io-wallet-user-func/src/infra/attestation-service/android/attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/health.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-current-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/tsconfig.json
  packages/io-wallet-common/package.json
  packages/io-wallet-common/tsconfig.json
  yarn.lock
Labels: internal, apps

Updating turbo version
  package.json
  packages/io-wallet-common/package.json
  turbo.json
  yarn.lock
Labels: internal

Updating the googleapis package
  apps/io-wallet-user-func/package.json
  yarn.lock
Labels: apps

Enabling pid issuer healthcheck
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

Updating indirect dependencies (referenced by yarn.lock file)
  package.json
  yarn.lock
Labels: none

chore: enabling IPZS Healthcheck
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

chore: enabling IPZS Healthcheck
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

[CES-68] Added configuration for APIM migration to itn (#263)
  infra/resources/prod/README.md
  infra/resources/prod/locals.tf
  infra/resources/prod/main.tf
Labels: infra

[CES-68] Added configuration for APIM migration to itn (#263)
  infra/resources/prod/README.md
  infra/resources/prod/locals.tf
  infra/resources/prod/main.tf
Labels: infra

Remove unused algs
  .changeset/blue-coats-shout.md
  apps/io-wallet-user-func/src/infra/crypto/__test__/signer.spec.ts
  apps/io-wallet-user-func/src/infra/crypto/signer.ts
Labels: apps, changeset

chore: Remove unused algs (#297)
  .changeset/blue-coats-shout.md
  apps/io-wallet-user-func/src/infra/crypto/__test__/signer.spec.ts
  apps/io-wallet-user-func/src/infra/crypto/signer.ts
Labels: apps, changeset

chore: Remove unused algs (#297)
  .changeset/blue-coats-shout.md
  apps/io-wallet-user-func/src/infra/crypto/__test__/signer.spec.ts
  apps/io-wallet-user-func/src/infra/crypto/signer.ts
Labels: apps, changeset
