Repository pagopa/io-wallet, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, infra, changeset

update appgw with tls certificate
  infra/core/psn/hub/prod/README.md
  infra/core/psn/hub/prod/appgw.tf
  infra/core/psn/hub/prod/iam.tf
  infra/resources/psn/prod/README.md
  infra/resources/psn/prod/data.tf
  infra/resources/psn/prod/main.tf
Labels: infra

switch to https on io side
  infra/resources/prod/apim_platform.tf
Labels: infra

update address
  infra/resources/psn/prod/main.tf
Labels: infra

feat: Add all function deploy workflows, minor changes
  .github/workflows/release_psn_infra.yaml
  .github/workflows/support_function_deploy_psn.yaml
  .github/workflows/user_uat_function_deploy_psn.yaml
  .github/workflows/validate_psn_infra.yaml
Labels: ci

replace func url with apim
  infra/core/psn/hub/prod/appgw.tf
Labels: infra

Add Private Link to Application Gateway in PSN's Hub (#582)
  infra/core/psn/hub/prod/README.md
  infra/core/psn/hub/prod/appgw.tf
  infra/core/psn/hub/prod/iam.tf
  infra/core/psn/hub/prod/networking.tf
  infra/resources/prod/apim_platform.tf
  infra/resources/psn/prod/README.md
  infra/resources/psn/prod/architecture.mmd
  infra/resources/psn/prod/architecture.png
  infra/resources/psn/prod/data.tf
  infra/resources/psn/prod/main.tf
Labels: infra

Rename KeyVault from cdn-kv to infra-kv (#591)
  infra/resources/psn/prod/README.md
  infra/resources/psn/prod/architecture.mmd
  infra/resources/psn/prod/architecture.png
  infra/resources/psn/prod/main.tf
  infra/resources/psn/prod/providers.tf
Labels: infra

Add APIM to PSN'Spoke (#583)
  infra/core/psn/hub/prod/README.md
  infra/core/psn/hub/prod/locals.tf
  infra/core/psn/hub/prod/private_dns_zones.tf
  infra/core/psn/spoke/prod/networking.tf
  infra/core/psn/spoke/prod/resource_groups.tf
  infra/resources/psn/prod/README.md
  infra/resources/psn/prod/apim.tf
  infra/resources/psn/prod/architecture.mmd
  infra/resources/psn/prod/architecture.png
  infra/resources/psn/prod/data.tf
Labels: infra

Fix CDN configuration (#588)
  infra/resources/psn/prod/cdn.tf
  infra/resources/psn/prod/main.tf
Labels: infra

Update PSN architecture diagram (#590)
  infra/resources/psn/prod/architecture.mmd
  infra/resources/psn/prod/architecture.png
Labels: infra

Add Private Link to Application Gateway in PSN's Hub (#582)
  infra/core/psn/hub/prod/README.md
  infra/core/psn/hub/prod/appgw.tf
  infra/core/psn/hub/prod/iam.tf
  infra/core/psn/hub/prod/networking.tf
  infra/resources/prod/apim_platform.tf
  infra/resources/psn/prod/README.md
  infra/resources/psn/prod/architecture.mmd
  infra/resources/psn/prod/architecture.png
  infra/resources/psn/prod/data.tf
  infra/resources/psn/prod/main.tf
Labels: infra

restore first version
  .github/workflows/le_renew_ssl_certificate_acme_tiny.py
  .github/workflows/le_renew_ssl_certificate_python_requirements.txt
  .github/workflows/psn_internal_io_pagopa_it.yaml
Labels: ci

fix: comments
  .github/workflows/release_psn_infra.yaml
  .github/workflows/validate_psn_infra.yaml
Labels: ci

add workflow
  .github/workflows/le_renew_ssl_certificate_acme_tiny.py
  .github/workflows/le_renew_ssl_certificate_generate_csr.py
  .github/workflows/le_renew_ssl_certificate_python_requirements.txt
  .github/workflows/psn_internal_io_pagopa_it.yaml
Labels: ci

Add workflow to generate and renew IO AppGw TLS certificate (#593)
  .github/workflows/le_renew_ssl_certificate_acme_tiny.py
  .github/workflows/le_renew_ssl_certificate_generate_csr.py
  .github/workflows/le_renew_ssl_certificate_python_requirements.txt
  .github/workflows/psn_internal_io_pagopa_it.yaml
Labels: ci

Add workflows for PSN terraform validate/release and functions deploy (#592)
  .github/workflows/release_psn_infra.yaml
  .github/workflows/support_function_deploy_psn.yaml
  .github/workflows/user_function_deploy_psn.yaml
  .github/workflows/user_uat_function_deploy_psn.yaml
  .github/workflows/validate_psn_infra.yaml
Labels: ci

added APPLICATIONINSIGHTS_CONNECTION_STRING uat app setting
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

fix: added APPLICATIONINSIGHTS_CONNECTION_STRING uat app setting
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

feat: Add Container App Environment resources
  infra/core/psn/spoke/prod/README.md
  infra/core/psn/spoke/prod/container_app_environment.tf
  infra/core/psn/spoke/prod/monitoring.tf
  infra/core/psn/spoke/prod/networking.tf
  infra/core/psn/spoke/prod/resource_groups.tf
Labels: infra

fix: changed log analytics for cae, removed non used one
  infra/core/psn/spoke/prod/README.md
  infra/core/psn/spoke/prod/container_app_environment.tf
  infra/core/psn/spoke/prod/monitoring.tf
Labels: infra

Add Container App Environment Terraform resources (#596)
  infra/core/psn/spoke/prod/README.md
  infra/core/psn/spoke/prod/container_app_environment.tf
  infra/core/psn/spoke/prod/networking.tf
  infra/core/psn/spoke/prod/resource_groups.tf
Labels: infra

feat: Add Container App Job for Self Hosted Runner
  infra/core/psn/spoke/prod/README.md
  infra/core/psn/spoke/prod/container_app_environment.tf
  infra/core/psn/spoke/prod/data.tf
  infra/core/psn/spoke/prod/locals.tf
Labels: infra

fix: secret reference
  infra/core/psn/spoke/prod/container_app_environment.tf
Labels: infra

fix: minor
  infra/core/psn/spoke/prod/container_app_environment.tf
Labels: infra

fix: Update diagram
  infra/resources/psn/prod/architecture.mmd
  infra/resources/psn/prod/architecture.png
Labels: infra

Add Container App Job for Self Hosted Runner (#597)
  infra/core/psn/spoke/prod/README.md
  infra/core/psn/spoke/prod/container_app_environment.tf
  infra/core/psn/spoke/prod/data.tf
  infra/core/psn/spoke/prod/locals.tf
  infra/resources/psn/prod/architecture.mmd
  infra/resources/psn/prod/architecture.png
Labels: infra

added migrateWalletInstances function
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/functions/migrate-wallet-instances.ts
  apps/io-wallet-user-func/src/infra/handlers/migrate-wallet-instances.ts
  infra/resources/prod/locals.tf
Labels: apps, infra

run changeset
  .changeset/whole-dancers-raise.md
Labels: changeset

changed env var name
  apps/io-wallet-user-func/local.settings.json.example
Labels: apps

add iam module and various func app fixes
  infra/resources/_modules/function_apps/README.md
  infra/resources/_modules/function_apps/function_app_support.tf
  infra/resources/_modules/function_apps/function_app_user.tf
  infra/resources/_modules/function_apps/function_app_user_uat.tf
  infra/resources/_modules/function_apps/key_vault_secrets.tf
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/outputs.tf
  infra/resources/_modules/iam/README.md
  infra/resources/_modules/iam/admins.tf
  infra/resources/_modules/iam/cicd.tf
  infra/resources/_modules/iam/functions.tf
  infra/resources/_modules/iam/key_vaults.tf
  infra/resources/_modules/iam/variables.tf
  infra/resources/_modules/storage_accounts/storage_accounts.tf
  infra/resources/prod/README.md
  infra/resources/prod/key_vault_secrets.tf
  infra/resources/prod/locals.tf
  infra/resources/prod/main.tf
  infra/resources/prod/moved.tf
  infra/resources/prod/tfmodules.lock.json
  infra/resources/psn/prod/README.md
  infra/resources/psn/prod/data.tf
  infra/resources/psn/prod/key_vault_secrets.tf
  infra/resources/psn/prod/locals.tf
  infra/resources/psn/prod/main.tf
Labels: infra

Add missing IAM roles to functions in PSN (#599)
  infra/resources/_modules/function_apps/README.md
  infra/resources/_modules/function_apps/function_app_support.tf
  infra/resources/_modules/function_apps/function_app_user.tf
  infra/resources/_modules/function_apps/function_app_user_uat.tf
  infra/resources/_modules/function_apps/key_vault_secrets.tf
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/outputs.tf
  infra/resources/_modules/iam/README.md
  infra/resources/_modules/iam/admins.tf
  infra/resources/_modules/iam/cicd.tf
  infra/resources/_modules/iam/functions.tf
  infra/resources/_modules/iam/key_vaults.tf
  infra/resources/_modules/iam/variables.tf
  infra/resources/_modules/storage_accounts/storage_accounts.tf
  infra/resources/prod/README.md
  infra/resources/prod/key_vault_secrets.tf
  infra/resources/prod/locals.tf
  infra/resources/prod/main.tf
  infra/resources/prod/moved.tf
  infra/resources/prod/tfmodules.lock.json
  infra/resources/psn/prod/README.md
  infra/resources/psn/prod/data.tf
  infra/resources/psn/prod/key_vault_secrets.tf
  infra/resources/psn/prod/locals.tf
  infra/resources/psn/prod/main.tf
Labels: infra

feat: Add PEP for IO Cosmos in PSN spoke vnet
  infra/resources/psn/prod/README.md
  infra/resources/psn/prod/data.tf
  infra/resources/psn/prod/main.tf
  infra/resources/psn/prod/providers.tf
Labels: infra

dns proposal
  infra/resources/psn/prod/architecture.mmd
Labels: infra

fix: Use hardcoded id for cosmos instead of data
  infra/resources/psn/prod/README.md
  infra/resources/psn/prod/data.tf
  infra/resources/psn/prod/main.tf
  infra/resources/psn/prod/providers.tf
Labels: infra

Add Private Endpoint for IO Cosmos in PSN (#600)
  infra/resources/psn/prod/README.md
  infra/resources/psn/prod/main.tf
Labels: infra

feat: Add Private Endpoint for io auth profile function
  infra/resources/psn/prod/README.md
  infra/resources/psn/prod/main.tf
Labels: infra

Add Private Endpoint for `io-p-itn-auth-profile-func-01` (#601)
  infra/resources/psn/prod/README.md
  infra/resources/psn/prod/main.tf
Labels: infra

feat: Add PSN github environments
  infra/repository/README.md
  infra/repository/locals.tf
  infra/repository/main.tf
  infra/repository/tfmodules.lock.json
Labels: infra

feat: Add managed identities with federation and environment secrets
  infra/bootstrapper/prod/README.md
  infra/bootstrapper/prod/main.tf
  infra/bootstrapper/prod/secrets.tf
Labels: infra

fix: minor
  infra/repository/README.md
  infra/repository/main.tf
Labels: infra

.github/labeler.yml:

apps: apps/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*
