Repository pagopa/io-wallet, pull requests merged in 2023-06, with the labels that each got.

#1 Scaffolding
  .github/labeler.yml
  .github/pull_request_template.md
  .github/workflows/code-review.yaml
  .github/workflows/label.yaml
  .github/workflows/release.yaml
  .gitignore
  .node-version
  .nvmrc
  .pre-commit-config.yaml
  .terraform-version
  .yarn/plugins/@yarnpkg/plugin-version.cjs
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-3.3.0.cjs
  README.md
  apps/.keep
  infra/env/prod/backend.ini
  infra/env/prod/backend.tfvars
  infra/env/prod/terraform.tfvars
  infra/src/README.md
  infra/src/main.tf
  infra/terraform.sh
  package.json
  packages/.keep
  tsconfig.json
  turbo.json
  yarn.lock
Labels: ci, infra

#2 Create scaffolding for `io-func-wallet-solution-backend` azure function
  .github/workflows/code-review.yaml
  .gitignore
  .node-version
  .yarn/plugins/@yarnpkg/plugin-version.cjs
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-3.3.0.cjs
  apps/.keep
  apps/io-func-wallet-solution-backend/.eslintrc.js
  apps/io-func-wallet-solution-backend/.prettierignore
  apps/io-func-wallet-solution-backend/Info/function.json
  apps/io-func-wallet-solution-backend/host.json
  apps/io-func-wallet-solution-backend/local.settings.json.example
  apps/io-func-wallet-solution-backend/package.json
  apps/io-func-wallet-solution-backend/src/app/main.ts
  apps/io-func-wallet-solution-backend/src/infra/azure/functions/info.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/info.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/info.ts
  apps/io-func-wallet-solution-backend/src/infra/http/utils.ts
  apps/io-func-wallet-solution-backend/tsconfig.json
  apps/io-func-wallet-solution-backend/tsup.config.js
  io-wallet.code-workspace
  package.json
  turbo.json
  yarn.lock
Labels: ci, apps

#3 [SIW-224] Scaffold sd-jwt package
  .github/labeler.yml
  packages/.keep
  packages/sd-jwt/.eslintrc.js
  packages/sd-jwt/.prettierignore
  packages/sd-jwt/README.md
  packages/sd-jwt/index.js
  packages/sd-jwt/package.json
  packages/sd-jwt/src/__test__/index.test.ts
  packages/sd-jwt/src/index.ts
  packages/sd-jwt/tsconfig.json
  packages/sd-jwt/vitest.config.ts
  yarn.lock
Labels: internal, sd-jwt

#5 [SIW-236] Support asymmetric algorithms only
  packages/sd-jwt/__tests__/verify.test.ts
  packages/sd-jwt/src/types.ts
  packages/sd-jwt/src/verify.ts
Labels: internal
