Repository pagopa/io-wallet, pull requests merged in 2023-08, with the labels that each got.

#22 feat: Add trust anchor interface
  apps/io-func-wallet-solution-backend/src/infra/trust-anchor/index.ts
  apps/io-func-wallet-solution-backend/src/jwk.ts
  apps/io-func-wallet-solution-backend/src/trust-anchor.ts
  apps/io-func-wallet-solution-backend/src/wallet-instance-attestation.ts
  apps/io-func-wallet-solution-backend/tsconfig.json
Labels: apps, feat

#24 [SIW-411] Remove trailing slashes on URLs
  apps/io-func-wallet-solution-backend/src/encoders/entity-configuration.ts
  apps/io-func-wallet-solution-backend/src/encoders/wallet-instance-attestation.ts
  apps/io-func-wallet-solution-backend/src/entity-configuration.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/create-wallet-instance-attestation.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/trust-anchor/index.ts
  apps/io-func-wallet-solution-backend/src/url.ts
  apps/io-func-wallet-solution-backend/src/wallet-instance-attestation.ts
Labels: apps

#26 test: Fix unit test
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/create-wallet-instance-attestation.spec.ts
Labels: apps

#23 feat: [SIW-387] Add trust chain to Wallet Instance Attestation
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/create-wallet-instance-attestation.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/trust-anchor/index.ts
  apps/io-func-wallet-solution-backend/src/trust-anchor.ts
  apps/io-func-wallet-solution-backend/src/wallet-instance-attestation.ts
  turbo.json
Labels: apps, feat

#25 chore: Add removeTrailingSlash to other fields
  apps/io-func-wallet-solution-backend/src/encoders/entity-configuration.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/create-wallet-instance-attestation.spec.ts
  apps/io-func-wallet-solution-backend/src/wallet-provider.ts
Labels: apps, chore

#27 chore: [SIW-418] Build package script
  .yarn/releases/yarn-3.6.3.cjs
  .yarnrc.yml
  README.md
  apps/io-func-wallet-solution-backend/package.json
  package.json
  turbo.json
  yarn.lock
Labels: apps, chore
