Repository pagopa/io-wallet, pull requests merged in 2023-07, with the labels that each got.

#4 [SIW-229] Verify token is a valid SD-JWT
  packages/sd-jwt/README.md
  packages/sd-jwt/__tests__/.keys/a-and-b.jwks.json
  packages/sd-jwt/__tests__/.keys/generate-key-pair.sh
  packages/sd-jwt/__tests__/.keys/just-b.jwks.json
  packages/sd-jwt/__tests__/.keys/keyA-private.pem
  packages/sd-jwt/__tests__/.keys/keyA-public.pem
  packages/sd-jwt/__tests__/.keys/keyB-private.pem
  packages/sd-jwt/__tests__/.keys/keyB-public.pem
  packages/sd-jwt/__tests__/verify.test.ts
  packages/sd-jwt/package.json
  packages/sd-jwt/src/index.ts
  packages/sd-jwt/src/types.ts
  packages/sd-jwt/src/verify.ts
  yarn.lock
Labels: internal, sd-jwt

#6 [SIW-237] Verify disclosures
  packages/sd-jwt/README.md
  packages/sd-jwt/__tests__/verify.test.ts
  packages/sd-jwt/src/lib/crypto.ts
  packages/sd-jwt/src/types.ts
  packages/sd-jwt/src/verify.ts
Labels: internal, sd-jwt

#10 Remove package `sd-jwt`
  packages/.keep
  packages/sd-jwt/.eslintrc.js
  packages/sd-jwt/.prettierignore
  packages/sd-jwt/README.md
  packages/sd-jwt/__tests__/.keys/a-and-b.jwks.json
  packages/sd-jwt/__tests__/.keys/generate-key-pair.sh
  packages/sd-jwt/__tests__/.keys/just-b.jwks.json
  packages/sd-jwt/__tests__/.keys/keyA-private.pem
  packages/sd-jwt/__tests__/.keys/keyA-public.pem
  packages/sd-jwt/__tests__/.keys/keyB-private.pem
  packages/sd-jwt/__tests__/.keys/keyB-public.pem
  packages/sd-jwt/__tests__/verify.test.ts
  packages/sd-jwt/index.js
  packages/sd-jwt/package.json
  packages/sd-jwt/src/__test__/index.test.ts
  packages/sd-jwt/src/index.ts
  packages/sd-jwt/src/lib/crypto.ts
  packages/sd-jwt/src/types.ts
  packages/sd-jwt/src/verify.ts
  packages/sd-jwt/tsconfig.json
  packages/sd-jwt/vitest.config.ts
  yarn.lock
Labels: internal, sd-jwt

#8 [SIW-247] Scaffold EUDIW PID package for React Native
  packages/react-native-eudiw-pid/.eslintrc.js
  packages/react-native-eudiw-pid/.prettierignore
  packages/react-native-eudiw-pid/README.md
  packages/react-native-eudiw-pid/index.js
  packages/react-native-eudiw-pid/package.json
  packages/react-native-eudiw-pid/src/__test__/index.test.ts
  packages/react-native-eudiw-pid/src/index.ts
  packages/react-native-eudiw-pid/tsconfig.json
  packages/react-native-eudiw-pid/vitest.config.ts
Labels: internal

#9 feat: [SIW-200] Add federation metadata endpoint
  apps/io-func-wallet-solution-backend/GetEntityConfiguration/function.json
  apps/io-func-wallet-solution-backend/host.json
  apps/io-func-wallet-solution-backend/local.settings.json.example
  apps/io-func-wallet-solution-backend/package.json
  apps/io-func-wallet-solution-backend/src/__test__/jwk.spec.ts
  apps/io-func-wallet-solution-backend/src/app/config.ts
  apps/io-func-wallet-solution-backend/src/app/main.ts
  apps/io-func-wallet-solution-backend/src/encoders/entity-configuration.ts
  apps/io-func-wallet-solution-backend/src/entity-configuration.ts
  apps/io-func-wallet-solution-backend/src/infra/azure/functions/get-entity-configuration.ts
  apps/io-func-wallet-solution-backend/src/infra/crypto/__test__/signer.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/crypto/signer.ts
  apps/io-func-wallet-solution-backend/src/infra/env.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/get-entity-configuration.ts
  apps/io-func-wallet-solution-backend/src/jwk.ts
  apps/io-func-wallet-solution-backend/src/signer.ts
  apps/io-func-wallet-solution-backend/src/validation.ts
  apps/io-func-wallet-solution-backend/src/wallet-provider.ts
  yarn.lock
Labels: apps, feat

#11 [SIW-250] PID data model
  io-wallet.code-workspace
  packages/react-native-eudiw-pid/README.md
  packages/react-native-eudiw-pid/package.json
  packages/react-native-eudiw-pid/src/index.ts
  packages/react-native-eudiw-pid/src/sd-jwt/index.ts
  packages/react-native-eudiw-pid/src/sd-jwt/types.ts
  yarn.lock
Labels: internal

#13 [SIW-267] PID decode
  packages/react-native-eudiw-pid/README.md
  packages/react-native-eudiw-pid/package.json
  packages/react-native-eudiw-pid/src/lib/base64.ts
  packages/react-native-eudiw-pid/src/sd-jwt/__tests__/index.test.ts
  packages/react-native-eudiw-pid/src/sd-jwt/__tests__/types.test.ts
  packages/react-native-eudiw-pid/src/sd-jwt/converters.ts
  packages/react-native-eudiw-pid/src/sd-jwt/index.ts
  packages/react-native-eudiw-pid/src/sd-jwt/types.ts
  yarn.lock
Labels: internal

#16 chore: Change JWT content-type
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/create-wallet-instance-attestation.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/get-entity-configuration.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/utils.ts
Labels: apps, chore

#18 chore: Change content type
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/create-wallet-instance-attestation.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/get-entity-configuration.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/utils.ts
Labels: apps, chore

#20 chore: Fix wallet instance key binding
  apps/io-func-wallet-solution-backend/src/encoders/wallet-instance-attestation.ts
  apps/io-func-wallet-solution-backend/src/wallet-instance-attestation.ts
Labels: apps, chore
