Repository pagopa/io-wallet, pull requests merged in 2024-07, with the labels that each got.

#135 fix: Fix GooglePublicKey parsing
  apps/io-wallet-user-func/src/app/config.ts
Labels: apps, fix

#136 fix: Fix Apple public key env
  apps/io-wallet-user-func/src/app/config.ts
Labels: apps, fix

#138 fix: Change Android bundle identifier
  .changeset/hot-bananas-end.md
  apps/io-wallet-user-func/src/app/config.ts
  infra/resources/_modules/function_apps/locals.tf
Labels: infra, apps, changeset, fix

#140 chore: [SIW-1016] updated trial system integration
  .changeset/lucky-fireants-cheat.md
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-user-by-fiscal-code.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-user-by-fiscal-code.ts
  apps/io-wallet-user-func/src/infra/http/jwt-validator.ts
  apps/io-wallet-user-func/src/infra/http/whitelisted-user.ts
  apps/io-wallet-user-func/src/infra/trial-system/client.ts
  apps/io-wallet-user-func/src/user.ts
Labels: apps, chore, changeset

#142 chore: Added environment variables
  .changeset/strong-lizards-cry.md
  apps/io-wallet-user-func/src/app/config.ts
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/prod/locals.tf
Labels: infra, apps, chore, changeset

#144 chore: [SIW-1340] Updated header to trial system HTTP requests
  .changeset/many-bats-melt.md
  apps/io-wallet-user-func/src/infra/trial-system/client.ts
  infra/resources/_modules/function_apps/locals.tf
Labels: infra, apps, chore, changeset

#146 fix: Fix https fetch
  .changeset/warm-pillows-sniff.md
  apps/io-wallet-user-func/src/infra/trust-anchor/index.ts
Labels: apps, changeset, fix

#148 fix: Remove trust anchor
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/encoders/entity-configuration.ts
  apps/io-wallet-user-func/src/entity-configuration.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/trust-anchor.ts
  apps/io-wallet-user-func/src/infra/trust-anchor/index.ts
  apps/io-wallet-user-func/src/wallet-attestation.ts
  infra/resources/_modules/function_apps/locals.tf
Labels: infra, apps, fix

#149 changeset: Add changeset for remove Trust Anchor
  .changeset/thick-eggs-marry.md
Labels: changeset

#151 fix: updated env var
  infra/resources/_modules/function_apps/locals.tf
Labels: infra, fix

#152 chore: [SIW-1346] public keys in base64
  apps/io-wallet-user-func/src/app/config.ts
  infra/resources/_modules/function_apps/locals.tf
Labels: infra, apps, chore

#153 Run changeset
  .changeset/few-fireants-tap.md
  .changeset/metal-penguins-visit.md
Labels: changeset

#156 fix: Fix unit-test for base64 env vars
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/__test__/attestation.spec.ts
  apps/io-wallet-user-func/src/infra/attestation-service/ios/__test__/attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
Labels: apps, fix

#155 updated trial system client
  .changeset/fast-ways-approve.md
  apps/io-wallet-user-func/src/infra/trial-system/client.ts
Labels: apps, changeset

#159 chore: Add support for multiple bundle ids
  .changeset/new-hounds-sneeze.md
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/__test__/attestation.spec.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/assertion.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/attestation.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/index.ts
  apps/io-wallet-user-func/src/infra/attestation-service/index.ts
  apps/io-wallet-user-func/src/infra/attestation-service/ios/__test__/assertion.spec.ts
  apps/io-wallet-user-func/src/infra/attestation-service/ios/__test__/attestation.spec.ts
  apps/io-wallet-user-func/src/infra/attestation-service/ios/__test__/config.ts
  apps/io-wallet-user-func/src/infra/attestation-service/ios/assertion.ts
  apps/io-wallet-user-func/src/infra/attestation-service/ios/attestation.ts
  apps/io-wallet-user-func/src/infra/attestation-service/ios/index.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  infra/resources/_modules/function_apps/locals.tf
Labels: infra, apps, chore, changeset

#163 fix: Update infra pipelines trigger paths
  .github/workflows/pr_infra.yaml
  .github/workflows/release_infra.yaml
Labels: ci, fix

#161 [SIW-1353] Increase maximum Cosmos RU in autoscale mode
  infra/resources/_modules/cosmos/locals.tf
Labels: infra

#162 [SIW-1354] Upgrade App Service SKU to P1v3
  .github/workflows/user_function_deploy.yaml
  infra/resources/_modules/function_apps/function_app_user.tf
  infra/resources/_modules/function_apps/locals.tf
Labels: ci, infra

#158 [SIW-1334] Implemented apim resources
  infra/identity/prod/westeurope/.terraform.lock.hcl
  infra/resources/_modules/apim/api/ioweb/user-function/_base_policy.xml
  infra/resources/_modules/apim/api/ioweb/user-function/_swagger.json
  infra/resources/_modules/apim/apim.tf
  infra/resources/_modules/apim/main.tf
  infra/resources/_modules/apim/outputs.tf
  infra/resources/_modules/apim/variables.tf
  infra/resources/_modules/function_apps/outputs.tf
  infra/resources/prod/README.md
  infra/resources/prod/locals.tf
  infra/resources/prod/main.tf
Labels: infra

#165 fix: change service_url in API IO web wallet in APIM
  infra/resources/_modules/apim/apim.tf
Labels: infra, fix

#166 [SIW-1371 ] Fix role assignment for Function App User staging
  infra/resources/_modules/iam/key_vault_iam.tf
Labels: infra

#167 fix: add prefix
  .github/workflows/user_function_deploy.yaml
Labels: ci, fix

#168 fix: Change `application/jwt` to `application/json` content-type for `/token` endpoint
  apps/io-wallet-user-func/openapi.yaml
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation.ts
  apps/io-wallet-user-func/src/infra/http/response.ts
Labels: apps, fix

#169 Add changeset
  .changeset/ten-deers-teach.md
Labels: changeset

#171 fix: [SIW-1388] updated APIM base policy API IO Web Wallet
  infra/resources/_modules/apim/api/ioweb/user-function/_base_policy.xml
Labels: infra, fix

#172 chore: updated OpenAPI
  .changeset/unlucky-cheetahs-turn.md
  apps/io-wallet-user-func/openapi.yaml
  apps/io-wallet-user-func/src/infra/azure/functions/create-wallet-attestation.ts
Labels: apps, chore, changeset

#174 chore: Enable `allowDevelopmentEnvironment` env var
  infra/resources/_modules/function_apps/locals.tf
Labels: infra, chore

#164 chore: [SIW-1342] Added ipzs /revokeAll call
  .changeset/dry-readers-mate.md
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/package.json
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/credential.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/health.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/health.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/whitelisted-user.ts
  apps/io-wallet-user-func/src/infra/pid-issuer/client.ts
  apps/io-wallet-user-func/src/infra/pid-issuer/health-check.ts
  apps/io-wallet-user-func/src/user.ts
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/prod/locals.tf
  yarn.lock
Labels: infra, apps, chore, changeset

#176 fix: fix ipzs call
  .changeset/wild-forks-love.md
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/pid-issuer/client.ts
Labels: apps, changeset, fix

#179 fix: [SIW-1432] Updated revoke WI when creating a new one
  .changeset/tricky-geese-carry.md
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
Labels: apps, changeset, fix
