Repository pagopa/io-wallet, pull requests merged in 2024-05, with the labels that each got.

#46 chore: [SIW-1075] Refactor tests
  apps/io-func-wallet-solution-backend/src/__test__/jwk.spec.ts
  apps/io-func-wallet-solution-backend/src/__test__/verifier.spec.ts
  apps/io-func-wallet-solution-backend/src/entity-configuration.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/android/__test__/assertion.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/android/__test__/attestation.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/ios/__test__/assertion.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/ios/__test__/attestation.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/crypto/__test__/signer.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/crypto/signer.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/get-nonce.spec.ts
  apps/io-func-wallet-solution-backend/src/signer.ts
  apps/io-func-wallet-solution-backend/src/wallet-attestation.ts
Labels: apps, chore

#47 feat: [SIW-1078] Updated authLevel in functions configuration
  apps/io-func-wallet-solution-backend/src/app/main.ts
Labels: apps, feat

#48 chore: [SIW-456] Add device registration
  apps/io-func-wallet-solution-backend/openapi.yaml
  apps/io-func-wallet-solution-backend/src/app/main.ts
  apps/io-func-wallet-solution-backend/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-func-wallet-solution-backend/src/infra/azure/functions/get-user-by-fiscal-code.ts
  apps/io-func-wallet-solution-backend/src/infra/azure/functions/get-user-id-by-fiscal-code.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/get-user-by-fiscal-code.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/get-user-by-fiscal-code.ts
  apps/io-func-wallet-solution-backend/src/infra/pdv-tokenizer/client.ts
  apps/io-func-wallet-solution-backend/src/user.ts
  apps/io-func-wallet-solution-backend/src/wallet-instance.ts
Labels: apps, chore

#50 chore: updated code-review workflow
  .github/workflows/code-review.yaml
Labels: ci

#51 chore: Updated handler-kit dependencies
  apps/io-func-wallet-solution-backend/package.json
  yarn.lock
Labels: apps, chore

#52 chore: Upgrade node version
  .github/workflows/code-review.yaml
  .node-version
Labels: ci, chore

#53 fix: updated @pagopa/handler-kit-azure-func dependency
  apps/io-func-wallet-solution-backend/package.json
  yarn.lock
Labels: apps, fix

#54 chore: [SIW-1126] Replaced JWK jose type with JWKPublicKey type
  apps/io-func-wallet-solution-backend/src/__test__/jwk.spec.ts
  apps/io-func-wallet-solution-backend/src/attestation-service.ts
  apps/io-func-wallet-solution-backend/src/entity-configuration.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/android/__test__/assertion.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/android/assertion.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/android/index.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/ios/__test__/config.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/ios/assertion.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/ios/index.ts
  apps/io-func-wallet-solution-backend/src/infra/crypto/__test__/signer.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/get-entity-configuration.ts
  apps/io-func-wallet-solution-backend/src/jwk.ts
  apps/io-func-wallet-solution-backend/src/wallet-attestation.ts
  apps/io-func-wallet-solution-backend/src/wallet-instance.ts
Labels: apps, chore

#55 feat: [SIW-970] Add Wallet Attestation creation integrated with assertion validation
  apps/io-func-wallet-solution-backend/openapi.yaml
  apps/io-func-wallet-solution-backend/src/app/config.ts
  apps/io-func-wallet-solution-backend/src/app/main.ts
  apps/io-func-wallet-solution-backend/src/attestation-service.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/android/assertion.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/android/attestation.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/android/index.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/index.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/ios/__test__/assertion.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/ios/assertion.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/ios/attestation.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/ios/index.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/create-wallet-attestation.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/utils.ts
  apps/io-func-wallet-solution-backend/src/wallet-attestation-request.ts
  apps/io-func-wallet-solution-backend/src/wallet-attestation.ts
  apps/io-func-wallet-solution-backend/src/wallet-provider.ts
Labels: apps, feat

#58 fix: fix OpenAPI
  apps/io-func-wallet-solution-backend/openapi.yaml
  apps/io-func-wallet-solution-backend/src/app/main.ts
Labels: apps, fix

#57 GitHub federated identity
  .terraform-version
  infra/identity/prod/westeurope/README.md
  infra/identity/prod/westeurope/locals.tf
  infra/identity/prod/westeurope/main.tf
Labels: infra

#61 chore: Upgrade @pagopa/handler-kit-azure-func
  apps/io-func-wallet-solution-backend/package.json
  yarn.lock
Labels: apps, chore

#62 [EC-294] Add repository settings Terraform definition
  .pre-commit-config.yaml
  CODEOWNERS
  infra/repository/data.tf
  infra/repository/github_branch_rules.tf
  infra/repository/github_environment_cd.tf
  infra/repository/github_environment_ci.tf
  infra/repository/github_repo_secrets.tf
  infra/repository/github_repository.tf
  infra/repository/locals.tf
  infra/repository/main.tf
  infra/src/README.md
  infra/src/main.tf
Labels: infra

#63 [EC-295] Add infra workflows
  .github/workflows/pr_infra.yaml
  .github/workflows/release_infra.yaml
Labels: ci

#65 [SIW-990] Add KeyVault for IO Wallet
  .github/workflows/release_infra.yaml
  .gitignore
  .pre-commit-config.yaml
  infra/identity/prod/westeurope/.terraform.lock.hcl
  infra/repository/.terraform.lock.hcl
  infra/resources/_modules/key_vaults/key_vault_wallet.tf
  infra/resources/_modules/key_vaults/main.tf
  infra/resources/_modules/key_vaults/outputs.tf
  infra/resources/_modules/key_vaults/variables.tf
  infra/resources/prod/.terraform.lock.hcl
  infra/resources/prod/README.md
  infra/resources/prod/data.tf
  infra/resources/prod/locals.tf
  infra/resources/prod/main.tf
Labels: ci, infra

#66 [SIW-985] Add subnet for Wallet Function App
  infra/resources/_modules/networking/main.tf
  infra/resources/_modules/networking/outputs.tf
  infra/resources/_modules/networking/subnet_wallet.tf
  infra/resources/_modules/networking/variables.tf
  infra/resources/prod/README.md
  infra/resources/prod/data.tf
  infra/resources/prod/main.tf
Labels: infra

#67 chore: updated OpenAPI
  apps/io-func-wallet-solution-backend/openapi.yaml
Labels: apps, chore

#70 chore: added UserDetailView in openapi.yaml
  apps/io-func-wallet-solution-backend/openapi.yaml
Labels: apps, chore

#72 chore: updated OpenAPI
  apps/io-func-wallet-solution-backend/openapi.yaml
Labels: apps, chore

#74 chore: Fix date validation
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/android/attestation.ts
Labels: apps, chore

#75 chore: updated openapi
  apps/io-func-wallet-solution-backend/openapi.yaml
Labels: apps, chore

#78 Fix typo in workflow name
  .github/workflows/release_gh_runner.yaml
Labels: ci

#80 chore: run changeset
  .changeset/metal-penguins-visit.md
Labels: chore, changeset

#81 chore: update api title
  .changeset/two-hotels-brush.md
  apps/io-wallet-user-func/openapi.yaml
Labels: apps, chore, changeset

#79 [SIW-984] Add Function App
  infra/resources/_modules/cosmos/outputs.tf
  infra/resources/_modules/function_apps/function_app_user.tf
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/main.tf
  infra/resources/_modules/function_apps/outputs.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/_modules/iam/cosmos_iam.tf
  infra/resources/_modules/iam/key_vault_iam.tf
  infra/resources/_modules/iam/main.tf
  infra/resources/_modules/iam/variables.tf
  infra/resources/_modules/key_vaults/variables.tf
  infra/resources/_modules/networking/outputs.tf
  infra/resources/_modules/networking/subnet_wallet.tf
  infra/resources/_modules/networking/variables.tf
  infra/resources/prod/.terraform.lock.hcl
  infra/resources/prod/README.md
  infra/resources/prod/data.tf
  infra/resources/prod/main.tf
Labels: infra

#83 chore: updated createWalletAttestation status code on success
  apps/io-wallet-user-func/openapi.yaml
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/utils.ts
Labels: apps, chore

#86 fix: [SIW-1169] Fix `client_data` attributes
  apps/io-wallet-user-func/src/infra/attestation-service/index.ts
Labels: apps, fix

#88 chore: updated GitHub workflows
  .github/workflows/release.yaml
  .github/workflows/user_function_deploy.yaml
Labels: ci, chore

#85 [SIW-989] Add CDN for static files
  .pre-commit-config.yaml
  infra/resources/_modules/cdn/alerts.tf
  infra/resources/_modules/cdn/cdn.tf
  infra/resources/_modules/cdn/cdn_hostname.tf
  infra/resources/_modules/cdn/dns.tf
  infra/resources/_modules/cdn/locals.tf
  infra/resources/_modules/cdn/main.tf
  infra/resources/_modules/cdn/outputs.tf
  infra/resources/_modules/cdn/storage_account.tf
  infra/resources/_modules/cdn/variables.tf
  infra/resources/_modules/iam/cdn_storage_account.tf
  infra/resources/_modules/iam/variables.tf
  infra/resources/prod/README.md
  infra/resources/prod/data.tf
  infra/resources/prod/main.tf
Labels: infra

#89 [SIW-989] Delete Cloud Defender resource for CDN Storage Account
  infra/resources/_modules/cdn/storage_account.tf
Labels: infra

#90 chore: tentative fix gh wf
  .github/workflows/release.yaml
Labels: ci, chore

#91 fix: updated release workflow
  .github/workflows/release.yaml
  apps/io-wallet-user-func/CHANGELOG.md
  apps/io-wallet-user-func/package.json
Labels: ci, apps, fix

#87 [SIW-1167] Add Function App User default key to keyvault
  infra/identity/prod/westeurope/main.tf
  infra/resources/_modules/function_apps/data.tf
  infra/resources/_modules/function_apps/key_vault_secrets.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/prod/main.tf
Labels: infra

#93 [EC-312] Add GitHub environment for Function App deployment and reviewers
  infra/identity/prod/.terraform.lock.hcl
  infra/identity/prod/README.md
  infra/identity/prod/locals.tf
  infra/identity/prod/main.tf
  infra/repository/data.tf
  infra/repository/github_environment_cd.tf
  infra/repository/locals.tf
Labels: infra

#95 [SIW-1167] Move Function App default key to weu-common Key Vault
  infra/resources/prod/README.md
  infra/resources/prod/data.tf
  infra/resources/prod/main.tf
Labels: infra

#94 chore: Disable deployment on Function App staging slot
  .github/workflows/user_function_deploy.yaml
Labels: ci, chore

#96 fix: add function route prefix
  .changeset/grumpy-numbers-return.md
  apps/io-wallet-user-func/host.json
Labels: apps, changeset, fix

#98 chore: user_function_deploy.yaml workflow
  .github/workflows/user_function_deploy.yaml
Labels: ci, chore

#99 chore: renamed coverage script as test:coverage
  .changeset/green-otters-roll.md
  apps/io-wallet-user-func/package.json
Labels: apps, chore, changeset

#102 chore: Set KeyVault admins io-p-adgroup-developers
  infra/identity/prod/README.md
  infra/identity/prod/data.tf
  infra/identity/prod/main.tf
  infra/resources/prod/README.md
  infra/resources/prod/data.tf
  infra/resources/prod/main.tf
Labels: infra, chore
