Repository pagopa/io-wallet, pull requests merged in 2024-04, with the labels that each got.

#34 feat: [SIW-956] Add key attestation validation on iOS
  apps/io-func-wallet-solution-backend/package.json
  apps/io-func-wallet-solution-backend/src/app/config.ts
  apps/io-func-wallet-solution-backend/src/app/main.ts
  apps/io-func-wallet-solution-backend/src/attestation-service.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/android.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/index.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/ios/__test__/assertion.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/ios/__test__/attestation.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/ios/__test__/config.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/ios/assertion.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/ios/attestation.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/ios/index.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-func-wallet-solution-backend/src/wallet-instance-request.ts
  apps/io-func-wallet-solution-backend/src/wallet-instance.ts
  yarn.lock
Labels: apps, feat

#35 chore: [SIW-1015] Added Azure function programming model v4
  apps/io-func-wallet-solution-backend/CreateWalletInstance/function.json
  apps/io-func-wallet-solution-backend/CreateWalletInstanceAttestation/function.json
  apps/io-func-wallet-solution-backend/GetEntityConfiguration/function.json
  apps/io-func-wallet-solution-backend/Info/function.json
  apps/io-func-wallet-solution-backend/package.json
  apps/io-func-wallet-solution-backend/src/__test__/verifier.spec.ts
  apps/io-func-wallet-solution-backend/src/app/main.ts
  apps/io-func-wallet-solution-backend/src/encoders/wallet-attestation.ts
  apps/io-func-wallet-solution-backend/src/infra/azure/functions/create-wallet-attestation.ts
  apps/io-func-wallet-solution-backend/src/infra/azure/functions/create-wallet-instance-attestation.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/create-wallet-instance-attestation.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/create-wallet-attestation.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/create-wallet-instance-attestation.ts
  apps/io-func-wallet-solution-backend/src/wallet-attestation-request.ts
  apps/io-func-wallet-solution-backend/src/wallet-attestation.ts
  yarn.lock
Labels: apps, chore

#36 chore: [SIW-1014] Repo updates
  .changeset/README.md
  .changeset/config.json
  .changeset/wise-rice-tap.md
  .github/workflows/code-review.yaml
  apps/io-func-wallet-solution-backend/package.json
  apps/io-func-wallet-solution-backend/src/app/main.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  package.json
  turbo.json
  yarn.lock
Labels: ci, apps, chore, changeset

#40 chore: [SIW-1017] Upgrade typescript and ES version
  .changeset/nasty-spiders-scream.md
  apps/io-func-wallet-solution-backend/package.json
  apps/io-func-wallet-solution-backend/tsconfig.json
  yarn.lock
Labels: apps, chore, changeset

#43 feat: [SIW-1023] Add Android Integrity assertion validation
  .changeset/few-days-love.md
  apps/io-func-wallet-solution-backend/local.settings.json.example
  apps/io-func-wallet-solution-backend/package.json
  apps/io-func-wallet-solution-backend/src/app/config.ts
  apps/io-func-wallet-solution-backend/src/attestation-service.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/android/__test__/assertion.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/android/__test__/attestation.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/android/__test__/config.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/android/assertion.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/android/index.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/index.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/ios/__test__/assertion.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/ios/__test__/attestation.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/ios/__test__/config.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/ios/assertion.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/ios/index.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  yarn.lock
Labels: apps, feat, changeset

#37 feat: [SIW-944, SIW-1023] Add android assertion and attestation validation
  .changeset/few-days-love.md
  .changeset/hip-ligers-sin.md
  apps/io-func-wallet-solution-backend/local.settings.json.example
  apps/io-func-wallet-solution-backend/package.json
  apps/io-func-wallet-solution-backend/src/app/config.ts
  apps/io-func-wallet-solution-backend/src/attestation-service.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/android.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/android/__test__/assertion.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/android/__test__/attestation.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/android/__test__/config.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/android/assertion.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/android/attestation.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/android/index.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/index.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/ios/__test__/assertion.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/ios/__test__/attestation.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/ios/__test__/config.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/ios/assertion.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/ios/attestation.ts
  apps/io-func-wallet-solution-backend/src/infra/attestation-service/ios/index.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  yarn.lock
Labels: apps, feat, changeset, integrity

#42 feat: [SIW-953] Add nonce endpoint
  apps/io-func-wallet-solution-backend/local.settings.json.example
  apps/io-func-wallet-solution-backend/openapi.yaml
  apps/io-func-wallet-solution-backend/package.json
  apps/io-func-wallet-solution-backend/src/app/config.ts
  apps/io-func-wallet-solution-backend/src/app/main.ts
  apps/io-func-wallet-solution-backend/src/infra/azure/cosmos/health-check.ts
  apps/io-func-wallet-solution-backend/src/infra/azure/cosmos/nonce.ts
  apps/io-func-wallet-solution-backend/src/infra/azure/functions/get-nonce.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/get-nonce.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/info.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/get-nonce.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/info.ts
  apps/io-func-wallet-solution-backend/src/nonce.ts
  apps/io-func-wallet-solution-backend/tsconfig.json
  apps/io-func-wallet-solution-backend/vitest.config.mjs
  yarn.lock
Labels: apps, feat

#44 chore: [SIW-964] Add nonce validation
  apps/io-func-wallet-solution-backend/openapi.yaml
  apps/io-func-wallet-solution-backend/src/app/main.ts
  apps/io-func-wallet-solution-backend/src/infra/azure/cosmos/nonce.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/__test__/get-nonce.spec.ts
  apps/io-func-wallet-solution-backend/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-func-wallet-solution-backend/src/nonce.ts
  apps/io-func-wallet-solution-backend/src/wallet-instance-request.ts
  apps/io-func-wallet-solution-backend/src/wallet-instance.ts
  yarn.lock
Labels: apps, chore
