Repository pagopa/io-wallet, pull requests merged in 2024-10, with the labels that each got.

#218 [CES-136] Create Action Group for Wallet domain
  infra/identity/prod/README.md
  infra/identity/prod/data.tf
  infra/identity/prod/main.tf
  infra/repository/.terraform.lock.hcl
  infra/resources/_modules/function_apps/key_vault_secrets.tf
  infra/resources/_modules/monitoring/action_groups.tf
  infra/resources/_modules/monitoring/outputs.tf
  infra/resources/_modules/monitoring/variables.tf
  infra/resources/prod/README.md
  infra/resources/prod/data.tf
  infra/resources/prod/main.tf
Labels: infra

#219 [CES-133] Add alerts on cloud resources
  .github/CODEOWNERS
  CODEOWNERS
  infra/resources/_modules/cdn/alerts.tf
  infra/resources/_modules/cdn/variables.tf
  infra/resources/_modules/cosmos/alerts.tf
  infra/resources/_modules/cosmos/variables.tf
  infra/resources/_modules/function_apps/alerts.tf
  infra/resources/_modules/function_apps/function_app_support.tf
  infra/resources/_modules/function_apps/function_app_user.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/prod/README.md
  infra/resources/prod/data.tf
  infra/resources/prod/main.tf
Labels: infra

#220 feat: [SIW-1697] Added setCurrentWalletInstanceStatus endpoint
  .changeset/red-countries-grow.md
  apps/io-wallet-support-func/openapi.yaml
  apps/io-wallet-support-func/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-wallet-support-func/src/infra/http/handlers/__test__/get-current-wallet-instance-by-fiscal-code.spec.ts
  apps/io-wallet-user-func/host.json
  apps/io-wallet-user-func/openapi.yaml
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/nonce.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-wallet-user-func/src/infra/azure/functions/set-current-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-current-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-current-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/pid-issuer/client.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
  packages/io-wallet-common/src/__test__/jwk.spec.ts
  packages/io-wallet-common/src/error.ts
  packages/io-wallet-common/src/infra/azure/cosmos/config.ts
  packages/io-wallet-common/src/infra/env.ts
  packages/io-wallet-common/src/infra/http/config.ts
  packages/io-wallet-common/src/infra/http/error.ts
  packages/io-wallet-common/src/infra/pdv-tokenizer/client.ts
  packages/io-wallet-common/tsconfig.json
Labels: apps, internal, feat, changeset

#227 fix: Remove SkipChainValidation and fix bug
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/__test__/attestation.spec.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/attestation.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/index.ts
  apps/io-wallet-user-func/src/infra/attestation-service/index.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  infra/resources/_modules/function_apps/locals.tf
Labels: infra, apps, fix

#221 [CES-150] Create new Function App User instance
  .github/workflows/user_function_deploy.yaml
  apps/io-wallet-user-func/openapi.yaml
  infra/resources/_modules/function_apps/function_app_user.tf
  infra/resources/_modules/function_apps/nat_gateways.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/prod/main.tf
Labels: ci, infra, apps

#230 [CES-150] Add IAM roles to Function App User 02
  infra/resources/_modules/function_apps/outputs.tf
  infra/resources/_modules/iam/functions.tf
  infra/resources/_modules/iam/variables.tf
  infra/resources/prod/main.tf
Labels: infra

#229 chore: [SIW-1706] Removed PDV service
  .changeset/happy-parrots-happen.md
  apps/io-wallet-support-func/local.settings.json.example
  apps/io-wallet-support-func/src/app/config.ts
  apps/io-wallet-support-func/src/app/main.ts
  apps/io-wallet-support-func/src/infra/http/handlers/__test__/get-current-wallet-instance-by-fiscal-code.spec.ts
  apps/io-wallet-support-func/src/infra/http/handlers/__test__/health.spec.ts
  apps/io-wallet-support-func/src/infra/http/handlers/get-current-wallet-instance-by-fiscal-code.ts
  apps/io-wallet-support-func/src/infra/http/handlers/health.ts
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/openapi.yaml
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/functions/get-user-by-fiscal-code.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-current-wallet-instance.status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-user-by-fiscal-code.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/health.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-current-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-current-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-user-by-fiscal-code.ts
  apps/io-wallet-user-func/src/infra/http/handlers/health.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-current-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/user-id-header-validator.ts
  apps/io-wallet-user-func/src/infra/http/whitelisted-user.ts
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/prod/locals.tf
  infra/resources/prod/main.tf
  packages/io-wallet-common/src/infra/pdv-tokenizer/client.ts
  packages/io-wallet-common/src/infra/pdv-tokenizer/config.ts
  packages/io-wallet-common/src/infra/pdv-tokenizer/health-check.ts
  packages/io-wallet-common/src/user.ts
  packages/io-wallet-common/src/wallet-instance.ts
Labels: infra, apps, internal, chore, changeset

#232 fix: update APIM IO Web Wallet API service url
  infra/resources/prod/main.tf
Labels: infra, fix

#234 fix: Update key_vault function key
  infra/resources/_modules/function_apps/data.tf
Labels: infra, fix

#235 feat: [SIW-1717] Add allowed developer users
  .changeset/curly-spoons-bake.md
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/attestation-service.ts
  apps/io-wallet-user-func/src/infra/attestation-service/index.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation.ts
  apps/io-wallet-user-func/src/wallet-instance-request.ts
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/prod/locals.tf
Labels: infra, apps, feat, changeset

#236 feat: [SIW-1672] Add load-test integration with test users
  .changeset/thick-tomatoes-itch.md
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-wallet-user-func/src/user.ts
  infra/resources/_modules/function_apps/locals.tf
Labels: infra, apps, feat, changeset

#238 fix: Use PEM format for Hardware Test Key
  .changeset/chilly-buses-flow.md
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  infra/resources/_modules/function_apps/locals.tf
Labels: infra, apps, changeset, fix

#240 fix: Increase security on test attestation
  .changeset/breezy-cows-taste.md
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation.ts
Labels: apps, changeset, fix

#242 fix: Fix bug on test attestation
  .changeset/curly-cows-arrive.md
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation.ts
Labels: apps, changeset, fix

#245 [CES-132] Add Opex Dashboard for User Function App
  .github/workflows/pr_opex.yaml
  .github/workflows/release_opex.yaml
  apps/io-wallet-user-func/.opex/management/env/prod/backend.ini
  apps/io-wallet-user-func/.opex/management/env/prod/backend.tfvars
  apps/io-wallet-user-func/.opex/management/env/prod/config.yaml
  apps/io-wallet-user-func/.opex/management/env/prod/terraform.tfvars
  infra/identity/prod/README.md
  infra/identity/prod/main.tf
  infra/repository/.terraform.lock.hcl
  infra/repository/data.tf
  infra/repository/github_environment_cd.tf
  infra/repository/github_environment_ci.tf
  infra/repository/github_repository.tf
  infra/repository/locals.tf
  infra/repository/main.tf
Labels: ci, infra

#247 [CES-193] Increase Function App User SKU and tune its autoscaler
  infra/resources/_modules/cosmos/locals.tf
  infra/resources/_modules/function_apps/function_app_user.tf
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

#243 feat: [SIW-1402] Added appinsights exceptions
  .changeset/gentle-elephants-return.md
  apps/io-wallet-support-func/local.settings.json.example
  apps/io-wallet-support-func/package.json
  apps/io-wallet-support-func/src/app/config.ts
  apps/io-wallet-support-func/src/app/main.ts
  apps/io-wallet-support-func/src/infra/azure/appinsights/start.ts
  apps/io-wallet-support-func/src/infra/http/handlers/__test__/get-current-wallet-instance-by-fiscal-code.spec.ts
  apps/io-wallet-support-func/src/infra/http/handlers/get-current-wallet-instance-by-fiscal-code.ts
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/package.json
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/appinsights/start.ts
  apps/io-wallet-user-func/src/infra/handlers/generate-entity-configuration.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-current-wallet-instance.status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-nonce.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-current-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-current-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-nonce.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-current-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-wallet-instance-status.ts
  apps/io-wallet-user-func/src/telemetry.ts
  infra/resources/_modules/function_apps/function_app_support.tf
  infra/resources/_modules/function_apps/function_app_user.tf
  infra/resources/_modules/function_apps/locals.tf
  packages/io-wallet-common/package.json
  packages/io-wallet-common/src/infra/azure/appinsights/config.ts
  packages/io-wallet-common/src/infra/azure/appinsights/telemetry.ts
  yarn.lock
Labels: infra, apps, internal, feat, changeset

#249 chore: [SIW-1402] Update appinsights exceptions telemetry
  .changeset/seven-bugs-run.md
  apps/io-wallet-user-func/src/infra/azure/appinsights/start.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/nonce.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-wallet-user-func/src/infra/handlers/generate-entity-configuration.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-current-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-nonce.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-current-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/pid-issuer/client.ts
  apps/io-wallet-user-func/src/telemetry.ts
Labels: apps, chore, changeset

#252 chore: update applicationinsights setting
  .changeset/gorgeous-gifts-yawn.md
  apps/io-wallet-user-func/src/infra/azure/appinsights/start.ts
Labels: apps, chore, changeset

#254 chore: Increase integrity error logs
  .changeset/rude-bags-jump.md
  apps/io-wallet-user-func/src/infra/attestation-service/android/assertion.ts
Labels: apps, chore, changeset

#258 fix: [SIW-1774] Added app insights handler wrapper
  .changeset/six-windows-explode.md
  apps/io-wallet-user-func/package.json
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/appinsights/start.ts
  apps/io-wallet-user-func/src/infra/azure/appinsights/wrapper-handler.ts
  apps/io-wallet-user-func/src/infra/pid-issuer/client.ts
  yarn.lock
Labels: apps, changeset, fix

#261 [SIW-1760] Add runbook link to alerts description
  infra/resources/_modules/cdn/alerts.tf
  infra/resources/_modules/cosmos/alerts.tf
  infra/resources/_modules/function_apps/alerts.tf
Labels: infra
