Repository pagopa/io-wallet, pull requests merged in 2024-12, with the labels that each got.

#323 [SIW-1879] Changed trial-system-feature-flag value
  infra/resources/_modules/apim/apim.tf
Labels: infra

#324 feat: [SIW-1895] Add multiple Android CRLs
  .changeset/cold-yaks-bake.md
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/__test__/certificates.spec.ts
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/certificates.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/index.ts
  apps/io-wallet-user-func/src/infra/attestation-service/index.ts
  apps/io-wallet-user-func/src/wallet-instance-revocation-process.ts
  infra/resources/_modules/function_apps/locals.tf
Labels: infra, apps, changeset

#326 set PidIssuerHealthCheckEnabled to false
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

#328 [SIW-1907] Removed trial system call in APIM
  infra/resources/_modules/apim/api/ioweb/_base_policy.xml
  infra/resources/_modules/apim/apim.tf
Labels: infra

#330 [#IOPID-2542] Allow 'account.ioapp.it' subdomain
  infra/resources/_modules/apim/api/ioweb/_base_policy.xml
Labels: infra

#331 chore: [SIW-1708] Async call to PID issuer
  apps/io-wallet-user-func/.opex/management/env/prod/config.yaml
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/functions/call-pid-issuer-revoke-api.ts
  apps/io-wallet-user-func/src/infra/azure/storage/queue.ts
  apps/io-wallet-user-func/src/infra/azure/storage/wallet-instance-revocation.ts
  apps/io-wallet-user-func/src/infra/handlers/__test__/call-pid-issuer-revoke-api.spec.ts
  apps/io-wallet-user-func/src/infra/handlers/call-pid-issuer-revoke-api.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-current-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-current-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/pid-issuer/client.ts
  infra/resources/_modules/apim/apim.tf
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/_modules/storage_accounts/outputs.tf
  infra/resources/_modules/storage_accounts/storage_queue.tf
  infra/resources/prod/main.tf
Labels: infra, apps, feat

#332 run changeset
  .changeset/khaki-tools-pretend.md
Labels: changeset

#329 [SIW-1560] Add queue triggered function for email sender
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/storage/wallet-instance-revocation.ts
  apps/io-wallet-user-func/src/infra/handlers/send-email-on-wallet-instance-creation.ts
  apps/io-wallet-user-func/src/templates/wallet-instance-activation/index.html.ts
  apps/io-wallet-user-func/src/wallet-instance-revocation-process.ts
  infra/resources/_modules/function_apps/locals.tf
Labels: enhancement, infra, apps

#334 chore: [SIW-1026] Added request to auth profile to get user email
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/email-notification-service.ts
  apps/io-wallet-user-func/src/email.ts
  apps/io-wallet-user-func/src/infra/email-notification-service/index.ts
  apps/io-wallet-user-func/src/infra/email.ts
  apps/io-wallet-user-func/src/infra/handlers/send-email-on-wallet-instance-creation.ts
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/prod/locals.tf
Labels: infra, apps, chore

#336 chore: Revert to sync call to PID issuer
  .changeset/silent-cherries-help.md
  apps/io-wallet-user-func/.opex/management/env/prod/config.yaml
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/functions/call-pid-issuer-revoke-api.ts
  apps/io-wallet-user-func/src/infra/handlers/__test__/call-pid-issuer-revoke-api.spec.ts
  apps/io-wallet-user-func/src/infra/handlers/call-pid-issuer-revoke-api.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-current-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-current-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-wallet-instance-status.ts
Labels: apps, chore, changeset

#335 [CES-590] Update TF modules to azurerm v4 and import Cosmos 02
  .terraform-version
  infra/github-runner/prod/.terraform.lock.hcl
  infra/github-runner/prod/README.md
  infra/github-runner/prod/locals.tf
  infra/github-runner/prod/main.tf
  infra/identity/prod/.terraform.lock.hcl
  infra/identity/prod/README.md
  infra/identity/prod/main.tf
  infra/resources/_modules/apim/README.md
  infra/resources/_modules/apim/apim.tf
  infra/resources/_modules/apim/product.tf
  infra/resources/_modules/cdn/README.md
  infra/resources/_modules/cdn/storage_account.tf
  infra/resources/_modules/cosmos/README.md
  infra/resources/_modules/cosmos/alerts.tf
  infra/resources/_modules/cosmos/cosmos_accounts.tf
  infra/resources/_modules/cosmos/cosmos_containers.tf
  infra/resources/_modules/cosmos/cosmos_databases.tf
  infra/resources/_modules/cosmos/locals.tf
  infra/resources/_modules/cosmos/networking.tf
  infra/resources/_modules/cosmos/outputs.tf
  infra/resources/_modules/cosmos/variables.tf
  infra/resources/_modules/function_apps/README.md
  infra/resources/_modules/iam/README.md
  infra/resources/_modules/iam/admins.tf
  infra/resources/_modules/iam/functions.tf
  infra/resources/_modules/iam/variables.tf
  infra/resources/_modules/storage_accounts/README.md
  infra/resources/_modules/storage_accounts/storage_accounts.tf
  infra/resources/_modules/storage_accounts/storage_containers.tf
  infra/resources/prod/.terraform.lock.hcl
  infra/resources/prod/README.md
  infra/resources/prod/cosmos_moved.tf
  infra/resources/prod/data.tf
  infra/resources/prod/import.tf
  infra/resources/prod/main.tf
Labels: infra

#338 [SIW-1932] Updated terraform config
  infra/github-runner/prod/.terraform.lock.hcl
  infra/resources/_modules/apim/README.md
  infra/resources/_modules/function_apps/README.md
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/_modules/iam/README.md
  infra/resources/_modules/storage_accounts/README.md
  infra/resources/_modules/storage_accounts/outputs.tf
  infra/resources/_modules/storage_accounts/storage_queue.tf
  infra/resources/prod/main.tf
Labels: infra

#322 [SIW-1560] Send an email when the Wallet Instance is created by the user
  .changeset/dull-rice-wash.md
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/package.json
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/email.ts
  apps/io-wallet-user-func/src/infra/azure/functions/send-email-on-wallet-instance-creation.ts
  apps/io-wallet-user-func/src/infra/azure/storage/wallet-instance-revocation.ts
  apps/io-wallet-user-func/src/infra/email.ts
  apps/io-wallet-user-func/src/infra/handlers/send-email-on-wallet-instance-creation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-wallet-user-func/src/wallet-instance-revocation-process.ts
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/_modules/storage_accounts/outputs.tf
  infra/resources/_modules/storage_accounts/storage_queue.tf
  infra/resources/prod/locals.tf
  infra/resources/prod/main.tf
  package.json
  yarn.lock
Labels: enhancement, infra, apps, changeset

#342 chore: Added fiscal code whitelist for WI creation email
  .changeset/perfect-yaks-smell.md
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
Labels: apps, chore, changeset

#348 fix: fixed email wallet instance creation title
  .changeset/old-wasps-promise.md
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/infra/handlers/send-email-on-wallet-instance-creation.ts
Labels: apps, changeset, fix

#346 feat: removed check on fiscal codes when sending email after wallet instance creation
  .changeset/witty-hornets-sort.md
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  infra/resources/_modules/function_apps/locals.tf
Labels: infra, apps, feat, changeset
