Repository pagopa/io-wallet, pull requests merged in 2024-09, with the labels that each got.

#193 fix: add removeTrailingSlash to basepath
  .changeset/lemon-apples-raise.md
  apps/io-wallet-user-func/src/infra/pid-issuer/client.ts
Labels: apps, changeset, fix

#195 fix: updated user_function_deploy github workflow
  .github/workflows/user_function_deploy.yaml
Labels: ci

#196 fix: [SIW-1481] added magic link jwt validation
  .changeset/unlucky-wolves-accept.md
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-current-wallet-instance.status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/jwt-validator.ts
  apps/io-wallet-user-func/src/infra/http/whitelisted-user.ts
  apps/io-wallet-user-func/src/infra/jwt-validator.ts
  apps/io-wallet-user-func/src/jwt-validator.ts
  infra/resources/_modules/function_apps/locals.tf
Labels: infra, apps, changeset, fix

#192 fix: updated deploy github workflow
  .github/workflows/user_function_deploy.yaml
  .yarn/releases/yarn-3.6.3.cjs
  .yarn/releases/yarn-4.4.1.cjs
  .yarnrc.yml
  apps/io-wallet-user-func/package.json
  infra/resources/_modules/function_apps/locals.tf
  package.json
  yarn.lock
Labels: ci, infra, apps, fix

#204 feat: [SIW-1490] Added getCurrentWalletInstanceByFiscalCode function
  .changeset/mighty-mice-melt.md
  apps/io-wallet-support-func/openapi.yaml
  apps/io-wallet-support-func/package.json
  apps/io-wallet-support-func/src/app/main.ts
  apps/io-wallet-support-func/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-wallet-support-func/src/infra/azure/functions/get-current-wallet-instance-by-fiscal-code.ts
  apps/io-wallet-support-func/src/infra/http/encoders/wallet-instance.ts
  apps/io-wallet-support-func/src/infra/http/handlers/__test__/get-current-wallet-instance-by-fiscal-code.spec.ts
  apps/io-wallet-support-func/src/infra/http/handlers/get-current-wallet-instance-by-fiscal-code.ts
  apps/io-wallet-support-func/src/wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/encoders/wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-current-wallet-instance.status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-current-wallet-instance-status.ts
  yarn.lock
Labels: apps, feat, changeset

#206 Removed function app support autoscaler
  infra/resources/_modules/function_apps/function_app_support.tf
Labels: infra

#207 Add function app support autoscaler
  infra/resources/_modules/function_apps/function_app_support.tf
Labels: infra

#208 Added deploy pipeline for support function app and support env vars
  .github/workflows/support_function_deploy.yaml
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/prod/locals.tf
  infra/resources/prod/main.tf
Labels: ci, infra

#209 [SIW-1490] Update support function app roles and env vars
  apps/io-wallet-support-func/package.json
  infra/resources/_modules/cdn/outputs.tf
  infra/resources/_modules/cosmos/outputs.tf
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/outputs.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/_modules/iam/admins.tf
  infra/resources/_modules/iam/cdn_storage_account.tf
  infra/resources/_modules/iam/cosmos_iam.tf
  infra/resources/_modules/iam/functions.tf
  infra/resources/_modules/iam/key_vault_iam.tf
  infra/resources/_modules/iam/variables.tf
  infra/resources/prod/.terraform.lock.hcl
  infra/resources/prod/main.tf
Labels: infra, apps

#211 [SIW-1490] Created key vault secret for Function App default key
  infra/resources/_modules/function_apps/data.tf
  infra/resources/_modules/function_apps/key_vault_secrets.tf
  infra/resources/_modules/function_apps/variables.tf
Labels: infra

#212 chore: update vitest dependencies
  apps/io-wallet-support-func/package.json
  apps/io-wallet-user-func/package.json
  yarn.lock
Labels: apps, chore

#213 [CES-123] Enable automatic failover on Cosmos DB
  infra/resources/_modules/cosmos/cosmos_accounts.tf
  infra/resources/_modules/iam/variables.tf
  infra/resources/prod/.terraform.lock.hcl
  infra/resources/prod/README.md
Labels: infra

#214 feat: Add x509Chain on Android Attestation errors
  .changeset/weak-turkeys-attack.md
  apps/io-wallet-user-func/src/infra/attestation-service/android/attestation.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/index.ts
  apps/io-wallet-user-func/src/infra/attestation-service/errors.ts
Labels: apps, feat, changeset

#216 fix: [SIW-1676] Added timeout in fetch and CosmosClient
  .changeset/tame-ligers-bathe.md
  apps/io-wallet-support-func/local.settings.json.example
  apps/io-wallet-support-func/src/app/config.ts
  apps/io-wallet-support-func/src/app/main.ts
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/__test__/attestation.spec.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/attestation.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/index.ts
  apps/io-wallet-user-func/src/infra/attestation-service/index.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/health.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/health.ts
  apps/io-wallet-user-func/src/infra/jwt-validator.ts
  apps/io-wallet-user-func/src/infra/pdv-tokenizer/client.ts
  apps/io-wallet-user-func/src/infra/pdv-tokenizer/health-check.ts
  apps/io-wallet-user-func/src/infra/pid-issuer/client.ts
  apps/io-wallet-user-func/src/infra/trial-system/client.ts
  infra/resources/_modules/cosmos/outputs.tf
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/prod/main.tf
  packages/io-wallet-common/src/infra/azure/cosmos/config.ts
  packages/io-wallet-common/src/infra/http/config.ts
  packages/io-wallet-common/src/infra/pdv-tokenizer/client.ts
  packages/io-wallet-common/src/infra/pdv-tokenizer/config.ts
Labels: infra, apps, internal, changeset, fix
