Repository pagopa/io-wallet, pull requests merged in 2024-06, with the labels that each got.

#105 chore: Add IAM roles to 'io-p-adgroup-admin'
  infra/resources/_modules/iam/cdn_storage_account.tf
  infra/resources/prod/.terraform.lock.hcl
  infra/resources/prod/README.md
  infra/resources/prod/data.tf
  infra/resources/prod/main.tf
Labels: infra, chore

#106 chore: Add 'Role Based Access Control Administrator' role to CD identity
  infra/identity/prod/main.tf
  infra/resources/_modules/iam/cdn_storage_account.tf
  infra/resources/_modules/iam/key_vault_iam.tf
Labels: infra, chore

#101 [SIW-1171] Add Function App env variables
  infra/resources/_modules/cosmos/cosmos_containers.tf
  infra/resources/_modules/cosmos/locals.tf
  infra/resources/_modules/cosmos/outputs.tf
  infra/resources/_modules/function_apps/function_app_user.tf
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/prod/locals.tf
  infra/resources/prod/main.tf
Labels: infra

#107 feat!: [SIW-1000] Updated getEntityConfiguration function
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/openapi.yaml
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/functions/generate-entity-configuration.ts
  apps/io-wallet-user-func/src/infra/azure/functions/get-entity-configuration.ts
  apps/io-wallet-user-func/src/infra/handlers/generate-entity-configuration.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-entity-configuration.ts
  apps/io-wallet-user-func/src/wallet-attestation.ts
Labels: apps, feat, breaking-change

#108 chore: Updated @pagopa/ts-commons
  .changeset/stupid-ears-sell.md
  apps/io-wallet-user-func/package.json
  yarn.lock
Labels: apps, chore, changeset

#109 [SIW-1197] Remove CMK from Cosmos Account
  infra/resources/_modules/cosmos/cosmos_accounts.tf
  infra/resources/_modules/cosmos/rbac.tf
  infra/resources/_modules/cosmos/variables.tf
  infra/resources/_modules/iam/key_vault_iam.tf
  infra/resources/prod/main.tf
Labels: infra

#111 chore: [SIW-1199] Removed cosmos and storage account connection strings
  .changeset/lovely-tomatoes-lie.md
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/package.json
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/prod/main.tf
  yarn.lock
Labels: infra, apps, chore, changeset

#115 fix: Add EntityConfigurationStorageContainerName env var
  infra/resources/_modules/function_apps/locals.tf
Labels: infra, fix

#116 feat: [SIW-1204] Updated createWalletAttestation error status codes
  apps/io-wallet-user-func/openapi.yaml
  apps/io-wallet-user-func/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/utils.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
Labels: apps, feat

#117 fix: [SIW-1205] add /wallet path
  .changeset/rotten-jokes-act.md
  apps/io-wallet-user-func/host.json
  infra/resources/_modules/function_apps/function_app_user.tf
Labels: infra, apps, changeset, fix

#119 fix: Change iOS team identifier
  infra/resources/_modules/function_apps/locals.tf
Labels: infra, fix

#121 fix: [SIW-1206] Update getUserByFiscalCode function
  .changeset/wild-lions-brake.md
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-user-by-fiscal-code.spec.ts
  apps/io-wallet-user-func/src/infra/pdv-tokenizer/client.ts
  apps/io-wallet-user-func/src/user.ts
Labels: apps, changeset, fix

#120 chore: [SIW-1209] Use base64url for iOS integrity keys
  .changeset/moody-bees-rescue.md
  apps/io-wallet-user-func/src/infra/attestation-service/ios/__test__/config.ts
  apps/io-wallet-user-func/src/infra/attestation-service/ios/attestation.ts
Labels: apps, chore, changeset

#125 feat: [SIW-1258] Added getCurrentWalletInstanceStatus function
  apps/io-wallet-user-func/package.json
  apps/io-wallet-user-func/src/__test__/jwk.spec.ts
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/attestation-service.ts
  apps/io-wallet-user-func/src/encoders/entity-configuration.ts
  apps/io-wallet-user-func/src/encoders/wallet-attestation.ts
  apps/io-wallet-user-func/src/entity-configuration.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/__test__/assertion.spec.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/assertion.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/index.ts
  apps/io-wallet-user-func/src/infra/attestation-service/ios/__test__/config.ts
  apps/io-wallet-user-func/src/infra/attestation-service/ios/assertion.ts
  apps/io-wallet-user-func/src/infra/attestation-service/ios/index.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-wallet-user-func/src/infra/crypto/__test__/signer.spec.ts
  apps/io-wallet-user-func/src/infra/crypto/signer.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-user-by-fiscal-code.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/keys.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-nonce.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-user-by-fiscal-code.ts
  apps/io-wallet-user-func/src/infra/http/handlers/health.ts
  apps/io-wallet-user-func/src/infra/http/handlers/utils.ts
  apps/io-wallet-user-func/src/infra/trust-anchor/index.ts
  apps/io-wallet-user-func/src/signer.ts
  apps/io-wallet-user-func/src/trust-anchor.ts
  apps/io-wallet-user-func/src/user.ts
  apps/io-wallet-user-func/src/validation.ts
  apps/io-wallet-user-func/src/verifier.ts
  apps/io-wallet-user-func/src/wallet-attestation-request.ts
  apps/io-wallet-user-func/src/wallet-attestation.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
  apps/io-wallet-web-func/.eslintrc.js
  apps/io-wallet-web-func/eslint.config.mjs
  apps/io-wallet-web-func/package.json
  apps/io-wallet-web-func/src/app/config.ts
  apps/io-wallet-web-func/src/app/main.ts
  apps/io-wallet-web-func/src/encoders/wallet-instance.ts
  apps/io-wallet-web-func/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-wallet-web-func/src/infra/azure/functions/get-current-wallet-instance-status.ts
  apps/io-wallet-web-func/src/infra/azure/functions/health.ts
  apps/io-wallet-web-func/src/infra/http/handlers/__test__/get-current-wallet-instance.status.spec.ts
  apps/io-wallet-web-func/src/infra/http/handlers/get-current-wallet-instance-status.ts
  apps/io-wallet-web-func/src/infra/http/handlers/health.ts
  apps/io-wallet-web-func/src/wallet-instance.ts
  package.json
  packages/io-wallet-common/package.json
  packages/io-wallet-common/src/index.ts
  packages/io-wallet-common/src/jwk.ts
  packages/io-wallet-common/src/user.ts
  packages/io-wallet-common/tsconfig.json
  packages/io-wallet-common/tsup.config.js
  turbo.json
  yarn.lock
Labels: apps, internal, feat

#129 [EC-335] Add rule engine on CDN to expose ".well-known" path
  infra/resources/_modules/cdn/cdn.tf
  infra/resources/_modules/cdn/dns.tf
  infra/resources/_modules/cdn/locals.tf
  infra/resources/_modules/cdn/storage_account.tf
Labels: infra

#128 chore: [SIW-1263] Updated createWalletInstance function
  .changeset/violet-coins-check.md
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/package.json
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/health.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/handlers/health.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
  apps/io-wallet-web-func/src/infra/http/handlers/health.ts
  packages/io-wallet-common/package.json
  packages/io-wallet-common/src/azure-health-check.ts
  packages/io-wallet-common/src/storage-queue.ts
  yarn.lock
Labels: apps, internal, chore, changeset

#131 fix: [SIW-1279] Alignment with new technical rules
  apps/io-wallet-user-func/src/encoders/entity-configuration.ts
  apps/io-wallet-user-func/src/encoders/wallet-attestation.ts
  apps/io-wallet-user-func/src/wallet-attestation.ts
Labels: apps, fix

#130 feat: [SIW-1259] Added createWalletInstance function
  .changeset/selfish-coins-raise.md
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
  apps/io-wallet-web-func/local.settings.json.example
  apps/io-wallet-web-func/src/app/main.ts
  apps/io-wallet-web-func/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-wallet-web-func/src/infra/azure/functions/create-wallet-instance.ts
  apps/io-wallet-web-func/src/infra/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-web-func/src/infra/handlers/create-wallet-instance.ts
  apps/io-wallet-web-func/src/infra/http/handlers/__test__/get-current-wallet-instance.status.spec.ts
  apps/io-wallet-web-func/src/wallet-instance.ts
Labels: apps, feat, changeset
