Repository pagopa/io-wallet, pull requests merged in 2024-08, with the labels that each got.

#178 Add autoscaler rules for User Function App
  infra/resources/_modules/function_apps/function_app_user.tf
Labels: infra

#186 fix: fix error concatenation
  .changeset/perfect-carrots-itch.md
  apps/io-wallet-user-func/src/infra/attestation-service/index.ts
Labels: apps, changeset, fix

#184 [SIW-1418] Add application insight configuration for Function App User
  infra/resources/_modules/function_apps/function_app_user.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/prod/main.tf
Labels: infra

#188 feat: Add pid issuer health check toggler
  .changeset/funny-dryers-pretend.md
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/infra/pid-issuer/client.ts
  infra/resources/_modules/function_apps/locals.tf
Labels: infra, apps, feat, changeset

#190 [SIW-1418] Add application insight configuration for Function App User v2
  CODEOWNERS
  infra/resources/_modules/function_apps/locals.tf
Labels: infra
