Repository pagopa/io-wallet, pull requests merged in 2024-11, with the labels that each got.

#262 chore: [SIW-1796] Relax integrity check requirement by allowing users returning "unknown package"
  infra/resources/_modules/function_apps/locals.tf
Labels: infra, chore

#264 fix: Android Attestation Validation
  .changeset/breezy-lions-battle.md
  apps/io-wallet-user-func/src/infra/attestation-service/android/__test__/attestation.spec.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/__test__/config.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/attestation.ts
Labels: apps, changeset, fix

#268 chore: [SIW-1479] Moved io-web jwt validation to APIM
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/openapi.yaml
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-current-wallet-instance.status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/health.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-current-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/handlers/health.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/jwt-validator.ts
  apps/io-wallet-user-func/src/infra/http/whitelisted-user.ts
  apps/io-wallet-user-func/src/infra/jwt-validator.ts
  apps/io-wallet-user-func/src/infra/trial-system/client.ts
  apps/io-wallet-user-func/src/infra/trial-system/health-check.ts
  apps/io-wallet-user-func/src/jwt-validator.ts
  apps/io-wallet-user-func/src/user.ts
  infra/resources/_modules/apim/api/ioweb/_base_policy.xml
  infra/resources/_modules/apim/api/ioweb/_get_current_wallet_instance_status_policy.xml
  infra/resources/_modules/apim/api/ioweb/_set_wallet_instance_status_policy.xml
  infra/resources/_modules/apim/api/ioweb/_swagger.json
  infra/resources/_modules/apim/api/ioweb/user-function/_base_policy.xml
  infra/resources/_modules/apim/apim.tf
  infra/resources/_modules/function_apps/locals.tf
Labels: infra, apps, chore

#269 [SIW-1479] run changeset
  .changeset/brave-islands-wave.md
Labels: changeset

#273 [SIW-1479] Added APIM policies
  infra/resources/_modules/apim/api/pdnd/_swagger.json
  infra/resources/_modules/apim/apim.tf
Labels: infra

#274 fix: [SIW-1479] Updated policy resource name
  infra/resources/_modules/apim/apim.tf
Labels: infra, fix

#276 chore: Refactor to use ValidationResult
  .changeset/hot-taxis-kiss.md
  apps/io-wallet-user-func/src/infra/attestation-service/android/__test__/assertion.spec.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/__test__/attestation.spec.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/assertion.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/attestation.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/index.ts
  apps/io-wallet-user-func/src/infra/attestation-service/errors.ts
  apps/io-wallet-user-func/src/infra/attestation-service/index.ts
  apps/io-wallet-user-func/src/infra/attestation-service/ios/__test__/assertion.spec.ts
  apps/io-wallet-user-func/src/infra/attestation-service/ios/__test__/attestation.spec.ts
  apps/io-wallet-user-func/src/infra/attestation-service/ios/assertion.ts
  apps/io-wallet-user-func/src/infra/attestation-service/ios/attestation.ts
  apps/io-wallet-user-func/src/infra/attestation-service/ios/index.ts
Labels: apps, chore, changeset

#278 chore: Remove infra dependencies from attestation-service
  .changeset/wise-stingrays-join.md
  apps/io-wallet-user-func/src/__test__/certificates.spec.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/attestation-service.ts
  apps/io-wallet-user-func/src/certificates.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/__test__/attestation.spec.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/__test__/config.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/assertion.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/attestation.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/index.ts
  apps/io-wallet-user-func/src/infra/attestation-service/errors.ts
  apps/io-wallet-user-func/src/infra/attestation-service/index.ts
  apps/io-wallet-user-func/src/infra/attestation-service/ios/assertion.ts
  apps/io-wallet-user-func/src/infra/attestation-service/ios/attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
Labels: apps, chore, changeset

#275 feat: [SIW-1817] Add Wallet Instance attested key validation event based
  .changeset/bright-chefs-film.md
  apps/io-wallet-support-func/local.settings.json.example
  apps/io-wallet-user-func/host.json
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/package.json
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/certificates.ts
  apps/io-wallet-user-func/src/infra/attestation-service/android/index.ts
  apps/io-wallet-user-func/src/infra/azure/functions/add-wallet-instance-to-validation-queue.ts
  apps/io-wallet-user-func/src/infra/azure/functions/validate-wallet-instance-attested-key.ts
  apps/io-wallet-user-func/src/infra/azure/queue/wallet-instance-revocation.ts
  apps/io-wallet-user-func/src/infra/handlers/add-wallet-instance-to-validation-queue.ts
  apps/io-wallet-user-func/src/infra/handlers/validate-wallet-instance-attested-key.ts
  apps/io-wallet-user-func/src/wallet-instance-revocation-process.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/_modules/storage/main.tf
  infra/resources/_modules/storage/outputs.tf
  infra/resources/_modules/storage/storage_accounts.tf
  infra/resources/_modules/storage/storage_queue.tf
  infra/resources/_modules/storage/variables.tf
  infra/resources/prod/README.md
  infra/resources/prod/locals.tf
  infra/resources/prod/main.tf
  packages/io-wallet-common/src/infra/azure/cosmos/config.ts
  packages/io-wallet-common/src/wallet-instance.ts
  yarn.lock
Labels: infra, apps, internal, feat, changeset

#283 feat: Add slack message on wallet instance revocation
  .changeset/tricky-peas-protect.md
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/certificates.ts
  apps/io-wallet-user-func/src/user.ts
  apps/io-wallet-user-func/src/wallet-instance-revocation-process.ts
  infra/resources/prod/locals.tf
  packages/io-wallet-common/src/infra/slack/config.ts
  packages/io-wallet-common/src/infra/slack/notification.ts
  packages/io-wallet-common/src/notification.ts
Labels: infra, apps, internal, feat, changeset

#284 [CES-499] Migrate Container App job to Italy North
  infra/github-runner/prod/.terraform.lock.hcl
  infra/github-runner/prod/main.tf
Labels: infra

#271 chore: [SIW-1445] Update WalletInstanceRepository
  .changeset/bright-chefs-film.md
  .changeset/tricky-peas-protect.md
  apps/io-wallet-support-func/CHANGELOG.md
  apps/io-wallet-support-func/package.json
  apps/io-wallet-user-func/CHANGELOG.md
  apps/io-wallet-user-func/package.json
  apps/io-wallet-user-func/src/infra/azure/cosmos/wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-current-wallet-instance.status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-current-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
  packages/io-wallet-common/CHANGELOG.md
  packages/io-wallet-common/package.json
Labels: good first issue, apps, internal, chore, changeset

#281 chore: make storage private
  .github/workflows/pr_infra.yaml
  .github/workflows/release_infra.yaml
  .pre-commit-config.yaml
  .tflint.hcl
  .trivyignore
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  infra/github-runner/README.md
  infra/github-runner/prod/README.md
  infra/identity/prod/README.md
  infra/identity/prod/main.tf
  infra/identity/prod/westeurope/.terraform.lock.hcl
  infra/repository/README.md
  infra/resources/_modules/apim/README.md
  infra/resources/_modules/cdn/README.md
  infra/resources/_modules/cosmos/README.md
  infra/resources/_modules/function_apps/README.md
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/iam/README.md
  infra/resources/_modules/iam/admins.tf
  infra/resources/_modules/iam/variables.tf
  infra/resources/_modules/key_vaults/README.md
  infra/resources/_modules/monitoring/README.md
  infra/resources/_modules/storage/outputs.tf
  infra/resources/_modules/storage/storage_accounts.tf
  infra/resources/_modules/storage/variables.tf
  infra/resources/_modules/storage_accounts/README.md
  infra/resources/_modules/storage_accounts/locals.tf
  infra/resources/_modules/storage_accounts/main.tf
  infra/resources/_modules/storage_accounts/outputs.tf
  infra/resources/_modules/storage_accounts/storage_accounts.tf
  infra/resources/_modules/storage_accounts/storage_queue.tf
  infra/resources/_modules/storage_accounts/variables.tf
  infra/resources/prod/README.md
  infra/resources/prod/locals.tf
  infra/resources/prod/main.tf
Labels: ci, infra, apps, chore

#285 [CES-505] Move Cosmos DB secondary region to Spain Central
  infra/resources/prod/locals.tf
Labels: infra

#286 feat: Add revocation reason to Revoked Wallet Instance
  .changeset/light-experts-repair.md
  apps/io-wallet-user-func/src/certificates.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-current-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-wallet-instance-status.ts
  apps/io-wallet-user-func/src/wallet-instance-revocation-process.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
  packages/io-wallet-common/src/wallet-instance.ts
Labels: apps, internal, feat, changeset

#287 fix: Create leases container
  apps/io-wallet-user-func/src/app/main.ts
  infra/resources/_modules/cosmos/locals.tf
Labels: infra, apps, fix

#288 fix: remove CosmosDbEndpoint
  infra/resources/_modules/function_apps/locals.tf
Labels: infra, fix

#282 [SIW-1820] Updated error handling in APIM policy
  .changeset/wild-trees-obey.md
  apps/io-wallet-user-func/openapi.yaml
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-current-wallet-instance.status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-current-wallet-instance-status.ts
  infra/resources/_modules/apim/api/ioweb/_base_policy.xml
  infra/resources/_modules/apim/api/ioweb/_get_current_wallet_instance_status_policy.xml
  infra/resources/_modules/apim/apim.tf
  infra/resources/_modules/function_apps/key_vault_secrets.tf
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/prod/locals.tf
  infra/resources/prod/main.tf
Labels: infra, apps, changeset

#290 feat: Add `RevocationReason` to support function
  .changeset/many-bats-watch.md
  apps/io-wallet-support-func/openapi.yaml
  apps/io-wallet-support-func/src/infra/http/encoders/wallet-instance.ts
  apps/io-wallet-support-func/src/infra/http/handlers/__test__/get-current-wallet-instance-by-fiscal-code.spec.ts
  infra/resources/_modules/apim/api/support-function/_swagger.json
Labels: infra, apps, feat, changeset

#293 feat: [SIW-1775] Added getWalletInstanceStatus endpoint
  .changeset/ten-seas-play.md
  apps/io-wallet-user-func/openapi.yaml
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/functions/get-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/encoders/wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/fiscal-code.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-current-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/handlers/get-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/wallet-instance.ts
  apps/io-wallet-user-func/src/wallet-instance.ts
  infra/resources/_modules/apim/api/ioweb/_get_current_wallet_instance_status_policy.xml
  infra/resources/_modules/apim/api/support/_base_policy.xml
  infra/resources/_modules/apim/api/support/_swagger.json
  infra/resources/_modules/apim/apim.tf
Labels: infra, apps, feat, changeset

#296 chore: [SIW-1836] Enabling IPZS Healthcheck
  infra/resources/_modules/function_apps/locals.tf
Labels: infra, chore

#263 [CES-68] Added configuration for APIM migration to itn
  infra/resources/prod/README.md
  infra/resources/prod/locals.tf
  infra/resources/prod/main.tf
Labels: infra

#297 chore: Remove unused algs
  .changeset/blue-coats-shout.md
  apps/io-wallet-user-func/src/infra/crypto/__test__/signer.spec.ts
  apps/io-wallet-user-func/src/infra/crypto/signer.ts
Labels: apps, chore, changeset

#299 [CES-526] Add user-assigned managed identity to federate with PSN
  infra/resources/_modules/ids/README.md
  infra/resources/_modules/ids/main.tf
  infra/resources/_modules/ids/outputs.tf
  infra/resources/_modules/ids/psn_identity.tf
  infra/resources/_modules/ids/variables.tf
  infra/resources/prod/README.md
  infra/resources/prod/main.tf
Labels: infra

#300 [CES-526] Add lock to Id federated with PSN and update Id name
  infra/resources/_modules/apim/README.md
  infra/resources/_modules/function_apps/README.md
  infra/resources/_modules/ids/README.md
  infra/resources/_modules/ids/psn_identity.tf
Labels: infra

#301 [CES-529] Add database and containers to Cosmos 02
  infra/resources/_modules/cosmos/README.md
  infra/resources/_modules/cosmos/cosmos_accounts.tf
  infra/resources/_modules/cosmos/cosmos_containers.tf
  infra/resources/_modules/cosmos/cosmos_databases.tf
  infra/resources/_modules/cosmos/locals.tf
  infra/resources/_modules/cosmos/networking.tf
  infra/resources/_modules/cosmos/variables.tf
  infra/resources/_modules/ids/README.md
  infra/resources/_modules/ids/outputs.tf
  infra/resources/prod/main.tf
Labels: infra

#295 chore: [SIW-1822] Updating IO Wallet Dependencies
  apps/io-wallet-support-func/package.json
  apps/io-wallet-user-func/host.json
  apps/io-wallet-user-func/package.json
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/health.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-current-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-wallet-instance-status.spec.ts
  package.json
  packages/io-wallet-common/package.json
  turbo.json
  yarn.lock
Labels: apps, internal, dependencies, chore

#303 [CES-538] Create leases container only for cosno-01
  infra/resources/_modules/cosmos/README.md
  infra/resources/_modules/cosmos/cosmos_containers.tf
  infra/resources/_modules/cosmos/locals.tf
  infra/resources/prod/cosmos_moved.tf
Labels: infra

#304 [SIW-1857] Run changeset
  .changeset/fuzzy-garlics-design.md
Labels: changeset

#307 fix: updated yarn lock file
  yarn.lock
Labels: fix

#309 fix: updated turbo.json file
  turbo.json
Labels: fix

#310 chore: removed createLeaseCollectionIfNotExists property
  .changeset/hip-rockets-fry.md
  apps/io-wallet-user-func/src/app/main.ts
Labels: apps, chore, changeset

#312 [CES-550] Add IAM roles and alerts on cosmos 02
  infra/resources/_modules/cosmos/alerts.tf
  infra/resources/_modules/cosmos/cosmos_containers.tf
  infra/resources/_modules/cosmos/cosmos_databases.tf
  infra/resources/_modules/cosmos/locals.tf
  infra/resources/_modules/cosmos/outputs.tf
  infra/resources/_modules/iam/admins.tf
  infra/resources/_modules/iam/functions.tf
  infra/resources/_modules/iam/variables.tf
  infra/resources/prod/main.tf
Labels: infra

#314 [SIW-1857] Change cosmosdb var
  .changeset/sharp-shrimps-float.md
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/main.ts
  infra/resources/_modules/function_apps/locals.tf
Labels: infra, apps, changeset

#316 [CES-556] Replicate queue storage to process Cosmos 02 change feed
  infra/resources/_modules/storage_accounts/README.md
  infra/resources/_modules/storage_accounts/outputs.tf
  infra/resources/_modules/storage_accounts/storage_queue.tf
Labels: infra

#317 [CES-557] Add new lease container to Cosmos 02
  infra/resources/_modules/cosmos/README.md
  infra/resources/_modules/cosmos/cosmos_containers.tf
  infra/resources/_modules/iam/README.md
Labels: infra

#313 chore: [SIW-1857] Removed migrateWalletInstances function
  .changeset/empty-doors-juggle.md
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/functions/migrate-wallet-instances.ts
  apps/io-wallet-user-func/src/infra/handlers/migrate-wallet-instances.ts
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/prod/locals.tf
  infra/resources/prod/main.tf
Labels: infra, apps, chore, changeset

#319 [SIW-1857] Disable functions in staging slot
  infra/resources/_modules/function_apps/function_app_user.tf
  infra/resources/_modules/function_apps/locals.tf
Labels: infra

#320 fix: changed lease container name in addWalletInstanceToValidationQueue function
  .changeset/weak-yaks-report.md
  apps/io-wallet-user-func/src/app/main.ts
Labels: apps, changeset, fix
