Repository pagopa/io-wallet, pull requests merged in 2025-10, with the labels that each got.

#512 fix: [SIW-2920] Updated wallet instance schema
  .changeset/curly-birds-eat.md
  apps/io-wallet-support-func/host.json
  apps/io-wallet-support-func/openapi.yaml
  apps/io-wallet-support-func/src/infra/http/encoders/wallet-instance.ts
  apps/io-wallet-support-func/src/infra/http/handlers/__test__/get-current-wallet-instance-by-fiscal-code.spec.ts
  apps/io-wallet-user-func/host.json
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-current-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/get-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/index.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/index.ts
  packages/io-wallet-common/src/device-details.ts
  packages/io-wallet-common/src/wallet-instance.ts
Labels: apps, internal, changeset, fix

#516 fix: updated deploy github workflows
  .github/workflows/support_function_deploy.yaml
  .github/workflows/user_function_deploy.yaml
Labels: ci, fix

#517 fix: updated sha commit in deploy github workflows
  .github/workflows/support_function_deploy.yaml
  .github/workflows/user_function_deploy.yaml
Labels: ci, fix

#519 Update appsvc workflow
  .github/workflows/support_function_deploy.yaml
  .github/workflows/user_function_deploy.yaml
Labels: ci

#520 Change tf state location
  infra/bootstrapper/prod/main.tf
  infra/repository/.terraform.lock.hcl
  infra/repository/README.md
  infra/repository/providers.tf
  infra/repository/tfmodules.lock.json
Labels: infra

#522 chore: Added uat deploy workflow
  .github/workflows/user_uat_function_deploy.yaml
  apps/io-wallet-support-func/package.json
  apps/io-wallet-user-func/package.json
  yarn.lock
Labels: ci, apps, chore

#521 chore: [SIW-3078] Migrated from yarn to pnpm
  .changeset/major-hands-switch.md
  .github/workflows/code-review.yaml
  .github/workflows/support_function_deploy.yaml
  .github/workflows/user_function_deploy.yaml
  .github/workflows/user_uat_function_deploy.yaml
  .gitignore
  .node-version
  .yarn/releases/yarn-4.4.1.cjs
  .yarnrc.yml
  README.md
  apps/io-wallet-messages-func/README.md
  apps/io-wallet-messages-func/package.json
  apps/io-wallet-support-func/README.md
  apps/io-wallet-support-func/package.json
  apps/io-wallet-user-func/README.md
  apps/io-wallet-user-func/package.json
  package.json
  packages/io-wallet-common/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/whitelist-fiscal-code-script/README.md
  yarn.lock
Labels: ci, apps, internal, chore, changeset
