Repository pagopa/io-wallet, pull requests merged in 2025-04, with the labels that each got.

#399 fix: updated messages function
  apps/io-wallet-messages-func/src/infra/azure/storage/blob.ts
Labels: apps, fix

#402 Move OPEX Terraform state file to proper Storage Account
  .github/workflows/release_opex.yaml
  apps/io-wallet-user-func/.opex/management/env/prod/backend.tfvars
Labels: ci

#403 Fix authentication with Storage Account for Opex TF state file
  .github/workflows/release_opex.yaml
  apps/io-wallet-user-func/.opex/management/env/prod/backend.tfvars
Labels: ci

#400 [SIW-2188] Added the GET /whitelisted-fiscal-codes/{fiscalCode} endpoint to check if the fiscal code is whitelisted
  .changeset/famous-laws-poke.md
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/openapi.yaml
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/whitelisted-fiscal-code.ts
  apps/io-wallet-user-func/src/infra/azure/functions/whitelisted-fiscal-code.ts
  apps/io-wallet-user-func/src/infra/http/fiscal-code.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/whitelisted-fiscal-code.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/whitelisted-fiscal-code.ts
  apps/io-wallet-user-func/src/whitelisted-fiscal-code.ts
  infra/resources/_modules/cosmos/locals.tf
Labels: enhancement, infra, apps, changeset

#406 fix: fix isFiscalCodeWhitelisted operationId in openapi spec
  .changeset/sweet-tips-kiss.md
  apps/io-wallet-user-func/openapi.yaml
Labels: apps, changeset, fix

#409 [SIW-2188] Added the 503 status code to the GET /whitelisted-fiscal-code/{fiscalCode} API
  .changeset/thirty-rice-brush.md
  apps/io-wallet-user-func/openapi.yaml
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/is-fiscal-code-whitelisted.spec.ts
Labels: apps, chore, changeset
