Repository pagopa/io-wallet, pull requests merged in 2025-01, with the labels that each got.

#353 [SIW-1936] Send an email when the Wallet Instance is revoked
  .changeset/fresh-masks-beam.md
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/package.json
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/functions/send-email-on-wallet-instance-revocation.ts
  apps/io-wallet-user-func/src/infra/handlers/send-email-on-wallet-instance-creation.ts
  apps/io-wallet-user-func/src/infra/handlers/send-email-on-wallet-instance-revocation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-current-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-current-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-wallet-instance-status.ts
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/_modules/storage_accounts/outputs.tf
  infra/resources/_modules/storage_accounts/storage_queue.tf
  infra/resources/prod/main.tf
  yarn.lock
Labels: enhancement, infra, apps, changeset

#356 fix: updated turbo dependency
  package.json
  turbo.json
  yarn.lock
Labels: fix

#357 [SIW-1936] Bug fix: the revocation time in the email appears without considering the timezone
  .changeset/spicy-nails-fix.md
  apps/io-wallet-user-func/package.json
  apps/io-wallet-user-func/src/datetime.ts
  apps/io-wallet-user-func/src/infra/handlers/send-email-on-wallet-instance-revocation.ts
  apps/io-wallet-user-func/tsconfig.json
  yarn.lock
Labels: bug, apps, changeset

#360 [SIW-1936] Removing fiscalcodes check for sending WI revocation email
  .changeset/wet-cougars-appear.md
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-current-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-current-wallet-instance-status.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-wallet-instance-status.ts
Labels: apps, chore, changeset

#362 fix: fix main imports
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/__test__/assertion.spec.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/__test__/attestation.spec.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/__test__/config.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/assertion.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/attestation.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/android/index.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/errors.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/index.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/ios/__test__/assertion.spec.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/ios/__test__/attestation.spec.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/ios/__test__/config.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/ios/assertion.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/ios/attestation.ts
  apps/io-wallet-user-func/src/infra/mobile-attestation-service/ios/index.ts
Labels: apps, fix

#354 [CES-589] IAM: replace io-p-adgroup-developers with io-p-adgroup-wallet-admins
  .github/workflows/pr_gh_runner.yaml
  .github/workflows/pr_infra.yaml
  .github/workflows/release_gh_runner.yaml
  .github/workflows/release_infra.yaml
  infra/github-runner/prod/.terraform.lock.hcl
  infra/github-runner/prod/README.md
  infra/github-runner/prod/locals.tf
  infra/github-runner/prod/main.tf
  infra/github-runner/prod/outputs.tf
  infra/repository/.terraform.lock.hcl
  infra/repository/README.md
  infra/repository/data.tf
  infra/repository/github_branch_rules.tf
  infra/repository/github_environment_cd.tf
  infra/repository/github_environment_ci.tf
  infra/repository/github_repo_secrets.tf
  infra/repository/github_repository.tf
  infra/repository/import.tf
  infra/repository/locals.tf
  infra/repository/main.tf
  infra/resources/_modules/apim/README.md
  infra/resources/_modules/function_apps/README.md
  infra/resources/_modules/iam/README.md
  infra/resources/_modules/storage_accounts/README.md
  infra/resources/prod/.terraform.lock.hcl
  infra/resources/prod/README.md
  infra/resources/prod/data.tf
  infra/resources/prod/import.tf
  infra/resources/prod/main.tf
Labels: ci, infra

#366 [CES-589] Clean up Terraform configs after migration to new module
  infra/identity/prod/.terraform.lock.hcl
  infra/identity/prod/README.md
  infra/identity/prod/data.tf
  infra/identity/prod/locals.tf
  infra/identity/prod/main.tf
  infra/repository/import.tf
  infra/repository/locals.tf
  infra/repository/main.tf
Labels: infra
