Repository pagopa/io-wallet, pull requests merged in 2025-06, with the labels that each got.

#437 added key vault access policy to ci infra pipeline
  infra/resources/_modules/cdn/cdn_hostname.tf
  infra/resources/_modules/cdn/variables.tf
  infra/resources/_modules/iam/cicd.tf
  infra/resources/_modules/iam/variables.tf
  infra/resources/_modules/key_vaults/key_vault_certificates.tf
  infra/resources/_modules/key_vaults/variables.tf
  infra/resources/prod/main.tf
Labels: infra

#439 fix subscription_id var value
  infra/resources/_modules/iam/cicd.tf
  infra/resources/_modules/iam/variables.tf
  infra/resources/prod/main.tf
Labels: infra

#441 fix: fix /wallet-attestations endpoint
  .changeset/giant-turkeys-trade.md
  apps/io-wallet-user-func/openapi.yaml
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/certificates.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation-v2.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation-v2.ts
  apps/io-wallet-user-func/src/wallet-attestation.ts
  infra/resources/_modules/cosmos/locals.tf
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/key_vaults/key_vault_certificates.tf
Labels: infra, apps, chore, changeset, fix

#436 fix: revert temp CRL fix
  .changeset/ready-cases-switch.md
  apps/io-wallet-user-func/src/certificates.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation-v2.spec.ts
Labels: apps, changeset, fix

#444 chore: removed from wallet attestation header
  .changeset/fruity-grapes-fall.md
  apps/io-wallet-user-func/src/encoders/wallet-attestation.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation-v2.spec.ts
  apps/io-wallet-user-func/src/wallet-attestation.ts
Labels: apps, chore, changeset

#446 chore: Remove custom crl
  apps/io-wallet-user-func/local.settings.json.example
  infra/resources/_modules/function_apps/locals.tf
Labels: infra, apps, chore

#449 fix wallet attestation sd jwt
  .changeset/fluffy-walls-live.md
  apps/io-wallet-user-func/src/wallet-attestation.ts
Labels: apps, changeset, fix

#448 infra: [SIW-2499] created user pre-prod function app
  .pre-commit-config.yaml
  infra/repository/tfmodules.lock.json
  infra/resources/_modules/apim/README.md
  infra/resources/_modules/cdn/README.md
  infra/resources/_modules/cdn/variables.tf
  infra/resources/_modules/cosmos/README.md
  infra/resources/_modules/cosmos/cosmos_containers.tf
  infra/resources/_modules/cosmos/cosmos_databases.tf
  infra/resources/_modules/cosmos/locals.tf
  infra/resources/_modules/cosmos/outputs.tf
  infra/resources/_modules/function_apps/README.md
  infra/resources/_modules/function_apps/function_app_user_uat.tf
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/variables.tf
  infra/resources/_modules/iam/README.md
  infra/resources/_modules/key_vaults/README.md
  infra/resources/_modules/storage_accounts/README.md
  infra/resources/_modules/storage_accounts/locals.tf
  infra/resources/_modules/storage_accounts/storage_accounts.tf
  infra/resources/_modules/storage_accounts/variables.tf
  infra/resources/prod/.terraform.lock.hcl
  infra/resources/prod/README.md
  infra/resources/prod/locals.tf
  infra/resources/prod/main.tf
  infra/resources/prod/tfmodules.lock.json
Labels: infra

#451 infra: [SIW-2499] added role assignments to uat function app
  infra/resources/_modules/function_apps/locals.tf
  infra/resources/_modules/function_apps/outputs.tf
  infra/resources/_modules/iam/functions.tf
  infra/resources/_modules/iam/variables.tf
  infra/resources/prod/main.tf
  infra/resources/prod/tfmodules.lock.json
Labels: infra

#447 feat: [SIW-2374] added mdoc cbor wallet attestation
  .changeset/heavy-icons-flow.md
  apps/io-wallet-user-func/package.json
  apps/io-wallet-user-func/src/infra/crypto/hashing.ts
  apps/io-wallet-user-func/src/infra/crypto/random.ts
  apps/io-wallet-user-func/src/infra/crypto/signer.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation-v2.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/keys.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation-v2.ts
  apps/io-wallet-user-func/src/signer.ts
  apps/io-wallet-user-func/src/wallet-attestation-mdoc.ts
  apps/io-wallet-user-func/src/wallet-attestation.ts
  yarn.lock
Labels: apps, feat, changeset
