Repository pagopa/io-wallet, pull requests merged in 2025-02, with the labels that each got.

#367 feat: [SIW-1988] Added new function app to send messages
  .changeset/rude-brooms-matter.md
  .github/workflows/messages_function_deploy.yaml
  apps/io-wallet-messages-func/README.md
  apps/io-wallet-messages-func/eslint.config.mjs
  apps/io-wallet-messages-func/host.json
  apps/io-wallet-messages-func/local.settings.json.example
  apps/io-wallet-messages-func/package.json
  apps/io-wallet-messages-func/src/app/config.ts
  apps/io-wallet-messages-func/src/app/main.ts
  apps/io-wallet-messages-func/src/decoders/buffer.ts
  apps/io-wallet-messages-func/src/infra/azure/functions/insert-fiscal-codes-in-queue.ts
  apps/io-wallet-messages-func/src/infra/azure/functions/send-messages.ts
  apps/io-wallet-messages-func/src/infra/azure/storage/blob.ts
  apps/io-wallet-messages-func/src/infra/azure/storage/queue.ts
  apps/io-wallet-messages-func/src/infra/handlers/__test__/send-messages.spec.ts
  apps/io-wallet-messages-func/src/infra/handlers/__test__/split.spec.ts
  apps/io-wallet-messages-func/src/infra/handlers/insert-fiscal-codes-in-queue.ts
  apps/io-wallet-messages-func/src/infra/handlers/send-messages.ts
  apps/io-wallet-messages-func/src/infra/io-messages-api.ts
  apps/io-wallet-messages-func/src/message.ts
  apps/io-wallet-messages-func/tsconfig.json
  apps/io-wallet-messages-func/tsup.config.js
  apps/io-wallet-messages-func/vitest.config.mjs
  io-wallet.code-workspace
  yarn.lock
Labels: ci, apps, feat, changeset

#370 fix: Added staging slot flag in messages deploy pipeline
  .github/workflows/messages_function_deploy.yaml
Labels: ci, fix

#373 [CES-589] Use Entra ID to log into Storage Account in Terraform configurations
  infra/repository/main.tf
  infra/resources/prod/main.tf
Labels: infra

#358 [SIW-1984] Updating io-wallet dependencies
  apps/io-wallet-messages-func/package.json
  apps/io-wallet-support-func/package.json
  apps/io-wallet-user-func/package.json
  apps/io-wallet-user-func/src/infra/handlers/send-email-on-wallet-instance-creation.ts
  apps/io-wallet-user-func/src/infra/handlers/send-email-on-wallet-instance-revocation.ts
  package.json
  packages/io-wallet-common/package.json
  yarn.lock
Labels: apps, internal, chore

#374 fix: updated io-web link
  .changeset/strong-months-turn.md
  apps/io-wallet-user-func/src/infra/handlers/send-email-on-wallet-instance-creation.ts
  apps/io-wallet-user-func/src/infra/handlers/send-email-on-wallet-instance-revocation.ts
Labels: apps, changeset, fix

#376 chore: Changed wallet message subject
  .changeset/dry-donuts-attend.md
  apps/io-wallet-messages-func/src/message.ts
Labels: apps, chore, changeset

#378 [chore] Removing "resolutions" in package.json
  .github/workflows/code-review.yaml
  apps/io-wallet-user-func/package.json
Labels: ci, apps, dependencies, chore

#380 [CES-742] Create new dns zone wallet.io.pagopa.it
  infra/resources/_modules/apim/README.md
  infra/resources/_modules/cdn/README.md
  infra/resources/_modules/cdn/dns.tf
  infra/resources/_modules/cdn/locals.tf
  infra/resources/_modules/function_apps/README.md
  infra/resources/_modules/iam/README.md
Labels: infra

#381 [CES-742] Remove CNAME wallet before delegation
  infra/resources/_modules/cdn/README.md
  infra/resources/_modules/cdn/dns.tf
Labels: infra

#382 [CES-747] Replace DX repository with Terraform registry references
  infra/repository/locals.tf
  infra/resources/_modules/apim/README.md
  infra/resources/_modules/function_apps/README.md
  infra/resources/_modules/function_apps/function_app_support.tf
  infra/resources/_modules/function_apps/function_app_user.tf
  infra/resources/_modules/iam/README.md
  infra/resources/_modules/iam/admins.tf
  infra/resources/_modules/iam/functions.tf
  infra/resources/_modules/iam/variables.tf
  infra/resources/_modules/storage_accounts/README.md
  infra/resources/_modules/storage_accounts/storage_accounts.tf
  infra/resources/prod/README.md
  infra/resources/prod/data.tf
  infra/resources/prod/main.tf
  infra/resources/prod/tfmodules.lock.json
Labels: infra

#383 [SIW-2034] - add txt record to validate `cbor` and `proximity` namespaces on Maven
  infra/resources/_modules/cdn/dns.tf
Labels: infra

#385 chore: add visibilityTimeout to messages function app
  .changeset/green-llamas-behave.md
  apps/io-wallet-messages-func/host.json
Labels: apps, chore, changeset

#387 [CES-742] Added DNS Contributor to CD identity and refactored dns module
  infra/repository/main.tf
  infra/repository/tfmodules.lock.json
  infra/resources/_modules/apim/README.md
  infra/resources/_modules/cdn/README.md
  infra/resources/_modules/cdn/locals.tf
  infra/resources/_modules/cdn/outputs.tf
  infra/resources/_modules/dns/README.md
  infra/resources/_modules/dns/main.tf
  infra/resources/_modules/dns/recordsets.tf
  infra/resources/_modules/dns/variables.tf
  infra/resources/_modules/function_apps/README.md
  infra/resources/_modules/iam/README.md
  infra/resources/_modules/iam/cicd.tf
  infra/resources/_modules/iam/variables.tf
  infra/resources/prod/.terraform.lock.hcl
  infra/resources/prod/README.md
  infra/resources/prod/data.tf
  infra/resources/prod/locals.tf
  infra/resources/prod/main.tf
  infra/resources/prod/moved.tf
  infra/resources/prod/tfmodules.lock.json
Labels: infra
