Repository pagopa/io-wallet, pull requests merged in 2025-05, with the labels that each got.

#408 feat: [SIW-2168] update entity configuration
  .changeset/wide-readers-slide.md
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/package.json
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/encoders/entity-configuration.ts
  apps/io-wallet-user-func/src/entity-configuration.ts
  apps/io-wallet-user-func/src/infra/azure/storage/blob.ts
  apps/io-wallet-user-func/src/infra/handlers/generate-entity-configuration.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation-v2.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/trust-anchor.ts
  apps/io-wallet-user-func/src/infra/pid-issuer/client.ts
  apps/io-wallet-user-func/src/wallet-attestation.ts
  infra/resources/_modules/function_apps/locals.tf
  yarn.lock
Labels: infra, apps, feat, changeset

#413 chore: removed cdn storage account connection string
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  infra/resources/_modules/function_apps/locals.tf
Labels: infra, apps, chore

#414 chore: run changeset
  .changeset/smart-papers-sleep.md
Labels: chore, changeset

#417 feat: [SIW-2091] updated /wallet-attestation endpoint
  .changeset/neat-dots-kneel.md
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/attestation-service.ts
  apps/io-wallet-user-func/src/encoders/wallet-attestation.ts
  apps/io-wallet-user-func/src/entity-configuration.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation-v2.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation-v2.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-attestation.ts
  apps/io-wallet-user-func/src/verifier.ts
  apps/io-wallet-user-func/src/wallet-attestation-request.ts
  apps/io-wallet-user-func/src/wallet-attestation.ts
  apps/io-wallet-user-func/src/wallet-provider.ts
  infra/resources/_modules/function_apps/locals.tf
Labels: infra, apps, feat, changeset

#419 fix: updated openapi
  apps/io-wallet-user-func/openapi.yaml
Labels: apps, fix

#424 chore: removed addWalletInstanceUserIdFunction
  .changeset/lucky-pens-bake.md
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/cosmos/wallet-instance.ts
Labels: apps, chore, changeset

#427 feat: added in metadata.federation_entity.contacts in EC
  .changeset/fast-pots-bow.md
  apps/io-wallet-user-func/local.settings.json.example
  apps/io-wallet-user-func/src/app/config.ts
  apps/io-wallet-user-func/src/encoders/entity-configuration.ts
  apps/io-wallet-user-func/src/entity-configuration.ts
  apps/io-wallet-user-func/src/infra/handlers/generate-entity-configuration.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation-v2.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-attestation.spec.ts
  apps/io-wallet-user-func/src/wallet-attestation.ts
  infra/resources/_modules/function_apps/locals.tf
Labels: infra, apps, feat, changeset

#431 chore: added wallet-instances-user-id collection
  .changeset/breezy-sides-spend.md
  apps/io-wallet-user-func/src/app/main.ts
  infra/resources/_modules/cosmos/locals.tf
  infra/resources/_modules/function_apps/locals.tf
Labels: infra, apps, chore, changeset

#416 [SIW-2324] Script to add fiscal codes to the whitelist
  .gitignore
  scripts/whitelist-fiscal-code-script/.env.example
  scripts/whitelist-fiscal-code-script/README.md
  scripts/whitelist-fiscal-code-script/eslint.config.mjs
  scripts/whitelist-fiscal-code-script/fiscalcodes.csv.example
  scripts/whitelist-fiscal-code-script/package.json
  scripts/whitelist-fiscal-code-script/src/__test__/insert-fiscal-codes.spec.ts
  scripts/whitelist-fiscal-code-script/src/__test__/parse-fiscal-codes.spec.ts
  scripts/whitelist-fiscal-code-script/src/app/__test__/config.spec.ts
  scripts/whitelist-fiscal-code-script/src/app/config.ts
  scripts/whitelist-fiscal-code-script/src/app/main.ts
  scripts/whitelist-fiscal-code-script/src/get-argv-param.ts
  scripts/whitelist-fiscal-code-script/src/get-logger.ts
  scripts/whitelist-fiscal-code-script/src/infra/azure/cosmos/__test__/cosmos.spec.ts
  scripts/whitelist-fiscal-code-script/src/infra/azure/cosmos/cosmos.ts
  scripts/whitelist-fiscal-code-script/src/insert-fiscal-codes.ts
  scripts/whitelist-fiscal-code-script/src/parse-fiscal-codes.ts
  scripts/whitelist-fiscal-code-script/tsconfig.json
  scripts/whitelist-fiscal-code-script/vitest.config.ts
  scripts/whitelist-fiscal-code-script/yarn.lock
Labels: enhancement
