Repository pagopa/io-wallet, pull requests merged in 2025-09, with the labels that each got.

#475 infra: updated azure-function-app tf module
  infra/repository/tfmodules.lock.json
  infra/resources/_modules/function_apps/function_app_user.tf
  infra/resources/_modules/function_apps/function_app_user_uat.tf
  infra/resources/prod/tfmodules.lock.json
Labels: infra

#479 chore: [SIW-2935] Updated `vct` wallet attestation
  .changeset/open-dogs-glow.md
  apps/io-wallet-user-func/src/wallet-attestation.ts
Labels: apps, chore, changeset

#489 feat: [SIW-2982] Disabled email for whitelisted fiscal codes
  .changeset/metal-bats-cover.md
  apps/io-wallet-user-func/src/app/main.ts
  apps/io-wallet-user-func/src/infra/azure/functions/whitelisted-fiscal-code.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/create-wallet-instance.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/is-fiscal-code-whitelisted.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/__test__/set-wallet-instance-status.spec.ts
  apps/io-wallet-user-func/src/infra/http/handlers/create-wallet-instance.ts
  apps/io-wallet-user-func/src/infra/http/handlers/is-fiscal-code-whitelisted.ts
  apps/io-wallet-user-func/src/infra/http/handlers/set-wallet-instance-status.ts
Labels: apps, feat, changeset

#488 [SIW-2355] Removed ioperror ag from some alert rules
  infra/resources/_modules/function_apps/alerts.tf
  infra/resources/_modules/function_apps/function_app_user_uat.tf
Labels: infra

#494 fix: [SIW-2982] Added uat container and updated dependencies
  .changeset/giant-poems-train.md
  apps/io-wallet-messages-func/package.json
  apps/io-wallet-messages-func/src/infra/handlers/insert-fiscal-codes-in-queue.ts
  apps/io-wallet-support-func/package.json
  apps/io-wallet-user-func/package.json
  infra/resources/_modules/cosmos/locals.tf
  packages/io-wallet-common/package.json
  yarn.lock
Labels: infra, apps, internal, changeset, fix

#496 fix: add `secrets: inherit` to deploy workflows
  .github/workflows/support_function_deploy.yaml
  .github/workflows/user_function_deploy.yaml
Labels: ci, fix

#500 chore(ci): updated user deploy GitHub workflow
  .github/workflows/user_function_deploy.yaml
Labels: ci, chore

#510 Update bootstrapper
  .devcontainer/devcontainer.json
  .terraform-version
  infra/bootstrapper/prod/.terraform.lock.hcl
  infra/bootstrapper/prod/README.md
  infra/bootstrapper/prod/locals.tf
  infra/bootstrapper/prod/main.tf
  infra/bootstrapper/prod/tfmodules.lock.json
  infra/repository/.terraform.lock.hcl
  infra/repository/locals.tf
  infra/repository/main.tf
  infra/repository/outputs.tf
  infra/repository/providers.tf
Labels: infra

#511 chore: [SIW-3059] Updated enviornment value in deploy workflows
  .github/workflows/support_function_deploy.yaml
  .github/workflows/user_function_deploy.yaml
Labels: ci, chore
